In [1]:
print('avijit')

avijit

In [2]:
import pandas as pd

In [9]:
df=pd.read_csv("D:\Downloads\MW-Pre-Open-Market-08-Dec-2023.csv")

In [8]:
df.head()

,SYMBOL \n,PREV. CLOSE \n,IEP \n,CHNG \n,%CHNG \n,FINAL \n,FINAL QUANTITY \n,VALUE \n (₹ Crores),FFM CAP \n (₹ Crores),NM 52W H \n,NM 52W L \n
0,ORCHPHARMA,566.10,674.00,107.90,19.06,674.00,"24,033",1.62,-,634.80,332.75
1,BALKRISHNA,37.65,43.60,5.95,15.80,43.60,"38,125",0.17,-,50.80,23.45
2,AAKASH,10.65,11.95,1.30,12.21,11.95,"1,94,928",0.23,-,10.65,5.70
3,NAGREEKEXP,70.30,77.85,7.55,10.74,77.85,"54,365",0.42,-,70.30,28.30
4,ARSHIYA,4.85,5.30,0.45,9.28,5.30,"41,511",0.02,-,11.00,3.45

In [10]:
df.columns

Index(['SYMBOL \n', 'PREV. CLOSE \n', 'IEP \n', 'CHNG \n', '%CHNG \n',
       'FINAL \n', 'FINAL QUANTITY \n', 'VALUE \n (₹ Crores)',
       'FFM CAP \n (₹ Crores)', 'NM 52W H \n', 'NM 52W L \n'],
      dtype='object')

In [12]:
j=[]
for i in df.columns:
    j.append(i)

In [13]:
print(j)

['SYMBOL \n', 'PREV. CLOSE \n', 'IEP \n', 'CHNG \n', '%CHNG \n', 'FINAL \n', 'FINAL QUANTITY \n', 'VALUE \n (₹ Crores)', 'FFM CAP \n (₹ Crores)', 'NM 52W H \n', 'NM 52W L \n']

In [16]:
k=[]
for i in j:
    k.append(i.replace('\n','').replace(' ',''))

In [17]:
print(k)

['SYMBOL', 'PREV.CLOSE', 'IEP', 'CHNG', '%CHNG', 'FINAL', 'FINALQUANTITY', 'VALUE(₹Crores)', 'FFMCAP(₹Crores)', 'NM52WH', 'NM52WL']

In [18]:
df.columns=k

In [19]:
df.head(5)

,SYMBOL,PREV.CLOSE,IEP,CHNG,%CHNG,FINAL,FINALQUANTITY,VALUE(₹Crores),FFMCAP(₹Crores),NM52WH,NM52WL
0,ORCHPHARMA,566.10,674.00,107.90,19.06,674.00,"24,033",1.62,-,634.80,332.75
1,BALKRISHNA,37.65,43.60,5.95,15.80,43.60,"38,125",0.17,-,50.80,23.45
2,AAKASH,10.65,11.95,1.30,12.21,11.95,"1,94,928",0.23,-,10.65,5.70
3,NAGREEKEXP,70.30,77.85,7.55,10.74,77.85,"54,365",0.42,-,70.30,28.30
4,ARSHIYA,4.85,5.30,0.45,9.28,5.30,"41,511",0.02,-,11.00,3.45

In [20]:
df.shape

(1721, 11)

In [21]:
df['PREV.CLOSE'].max()

'999.70'

In [22]:
df['PREV.CLOSE'].min()

'0.40'

In [26]:
df.sort_values(by="PREV.CLOSE",ascending=False)

,SYMBOL,PREV.CLOSE,IEP,CHNG,%CHNG,FINAL,FINALQUANTITY,VALUE(₹Crores),FFMCAP(₹Crores),NM52WH,NM52WL
238,NETWEB,999.70,"1,015.00",15.30,1.53,"1,015.00",719,0.07,-,"1,020.00",738.60
1597,ICICIBANK,999.00,994.50,-4.50,-0.45,994.50,"81,768",8.13,-,"1,016.25",796.00
1405,GROBTEA,996.80,996.80,-,-,996.80,101,0.01,-,"1,044.90",669.90
503,TEGA,996.35,"1,004.50",8.15,0.82,"1,004.50",26,-,-,"1,110.00",532.00
585,SPANDANA,991.00,997.95,6.95,0.70,997.95,44,-,-,"1,070.45",470.00
...,...,...,...,...,...,...,...,...,...,...,...
1430,SETUINFRA,0.90,0.95,-,-,-,-,-,-,1.90,0.55
1718,VIVIDHA,0.90,0.85,-0.05,-5.56,0.85,"8,640",-,-,1.50,0.75
1439,SITINET,0.85,0.85,-,-,0.85,"38,926",-,-,2.65,0.60
10,FCONSUMER,0.80,0.85,0.05,6.25,0.85,"12,171",-,-,1.70,0.40
1426,EXCEL,0.40,0.40,-,-,0.40,"7,34,006",0.03,-,0.70,0.30

In [25]:
df.isnull().sum()

SYMBOL             0
PREV.CLOSE         0
IEP                0
CHNG               0
%CHNG              0
FINAL              0
FINALQUANTITY      0
VALUE(₹Crores)     0
FFMCAP(₹Crores)    0
NM52WH             0
NM52WL             0
dtype: int64

In [28]:
df.drop(columns="FFMCAP(₹Crores)",axis=1,inplace=True)

In [29]:
df.head(5)

,SYMBOL,PREV.CLOSE,IEP,CHNG,%CHNG,FINAL,FINALQUANTITY,VALUE(₹Crores),NM52WH,NM52WL
0,ORCHPHARMA,566.10,674.00,107.90,19.06,674.00,"24,033",1.62,634.80,332.75
1,BALKRISHNA,37.65,43.60,5.95,15.80,43.60,"38,125",0.17,50.80,23.45
2,AAKASH,10.65,11.95,1.30,12.21,11.95,"1,94,928",0.23,10.65,5.70
3,NAGREEKEXP,70.30,77.85,7.55,10.74,77.85,"54,365",0.42,70.30,28.30
4,ARSHIYA,4.85,5.30,0.45,9.28,5.30,"41,511",0.02,11.00,3.45

In [30]:
df.sort_values(by="PREV.CLOSE",ascending=False)

,SYMBOL,PREV.CLOSE,IEP,CHNG,%CHNG,FINAL,FINALQUANTITY,VALUE(₹Crores),NM52WH,NM52WL
238,NETWEB,999.70,"1,015.00",15.30,1.53,"1,015.00",719,0.07,"1,020.00",738.60
1597,ICICIBANK,999.00,994.50,-4.50,-0.45,994.50,"81,768",8.13,"1,016.25",796.00
1405,GROBTEA,996.80,996.80,-,-,996.80,101,0.01,"1,044.90",669.90
503,TEGA,996.35,"1,004.50",8.15,0.82,"1,004.50",26,-,"1,110.00",532.00
585,SPANDANA,991.00,997.95,6.95,0.70,997.95,44,-,"1,070.45",470.00
...,...,...,...,...,...,...,...,...,...,...
1430,SETUINFRA,0.90,0.95,-,-,-,-,-,1.90,0.55
1718,VIVIDHA,0.90,0.85,-0.05,-5.56,0.85,"8,640",-,1.50,0.75
1439,SITINET,0.85,0.85,-,-,0.85,"38,926",-,2.65,0.60
10,FCONSUMER,0.80,0.85,0.05,6.25,0.85,"12,171",-,1.70,0.40
1426,EXCEL,0.40,0.40,-,-,0.40,"7,34,006",0.03,0.70,0.30

In [31]:
df.count()

SYMBOL            1721
PREV.CLOSE        1721
IEP               1721
CHNG              1721
%CHNG             1721
FINAL             1721
FINALQUANTITY     1721
VALUE(₹Crores)    1721
NM52WH            1721
NM52WL            1721
dtype: int64

In [32]:
df.isnull().sum()

SYMBOL            0
PREV.CLOSE        0
IEP               0
CHNG              0
%CHNG             0
FINAL             0
FINALQUANTITY     0
VALUE(₹Crores)    0
NM52WH            0
NM52WL            0
dtype: int64

In [33]:
df.isna().sum()

SYMBOL            0
PREV.CLOSE        0
IEP               0
CHNG              0
%CHNG             0
FINAL             0
FINALQUANTITY     0
VALUE(₹Crores)    0
NM52WH            0
NM52WL            0
dtype: int64

In [34]:
df.dtypes

SYMBOL            object
PREV.CLOSE        object
IEP               object
CHNG              object
%CHNG             object
FINAL             object
FINALQUANTITY     object
VALUE(₹Crores)    object
NM52WH            object
NM52WL            object
dtype: object

In [55]:
df["PREV.CLOSE"]=df["PREV.CLOSE"].astype("float")

TypeError: float() argument must be a string or a real number, not 'method'

In [56]:
df.dtypes

SYMBOL            object
PREV.CLOSE        object
IEP               object
CHNG              object
%CHNG             object
FINAL             object
FINALQUANTITY     object
VALUE(₹Crores)    object
NM52WH            object
NM52WL            object
dtype: object

In [57]:
df

,SYMBOL,PREV.CLOSE,IEP,CHNG,%CHNG,FINAL,FINALQUANTITY,VALUE(₹Crores),NM52WH,NM52WL
0,ORCHPHARMA,<bound method _coerce_method.<locals>.wrapper ...,674.00,107.90,19.06,674.00,"24,033",1.62,634.80,332.75
1,BALKRISHNA,<bound method _coerce_method.<locals>.wrapper ...,43.60,5.95,15.80,43.60,"38,125",0.17,50.80,23.45
2,AAKASH,<bound method _coerce_method.<locals>.wrapper ...,11.95,1.30,12.21,11.95,"1,94,928",0.23,10.65,5.70
3,NAGREEKEXP,<bound method _coerce_method.<locals>.wrapper ...,77.85,7.55,10.74,77.85,"54,365",0.42,70.30,28.30
4,ARSHIYA,<bound method _coerce_method.<locals>.wrapper ...,5.30,0.45,9.28,5.30,"41,511",0.02,11.00,3.45
...,...,...,...,...,...,...,...,...,...,...
1716,ANTGRAPHIC,<bound method _coerce_method.<locals>.wrapper ...,0.90,-0.05,-5.26,0.90,"60,511",0.01,1.30,0.55
1717,PRAJIND,<bound method _coerce_method.<locals>.wrapper ...,575.00,-32.50,-5.35,575.00,"36,322",2.09,650.50,298.65
1718,VIVIDHA,<bound method _coerce_method.<locals>.wrapper ...,0.85,-0.05,-5.56,0.85,"8,640",-,1.50,0.75
1719,BAJAJHIND,<bound method _coerce_method.<locals>.wrapper ...,27.45,-1.70,-5.83,27.45,"10,98,275",3.01,35.85,11.45
1720,RENUKA,<bound method _coerce_method.<locals>.wrapper ...,45.00,-2.90,-6.05,45.00,"5,36,175",2.41,65.60,39.40

In [54]:
len(df["PREV.CLOSE"][0])

TypeError: object of type 'method' has no len()

In [58]:
a="avijit biswas"

In [59]:
a.split(" ")

['avijit', 'biswas']

In [60]:
dtype

NameError: name 'dtype' is not defined

In [61]:
import numpy as np

In [62]:
import seaborn as sns
import matplotlib.pyplot as plt

In [69]:
df["PREV.CLOSE"][0].replace("\n","")

AttributeError: 'function' object has no attribute 'replace'

In [70]:
df["PREV.CLOSE"][0]

<bound method _coerce_method.<locals>.wrapper of 0       566.10
1        37.65
2        10.65
3        70.30
4         4.85
         ...
1716      0.95
1717    607.50
1718      0.90
1719     29.15
1720     47.90
Name: PREV.CLOSE, Length: 1721, dtype: object>

In [76]:
df["IEP"].replace(",","", inplace=True)

In [78]:
df["IEP"].astype("float").

ValueError: could not convert string to float: '1,230.00'

In [1]:
print('avijit')

avijit

In [ ]:
def fetch_stock_data(symbol, start_date, end_date):
    try:
        # Download data for the symbol
        df = yf.download(symbol, start=start_date, end=end_date, interval="1d")

        # Calculate daily returns
        df['Daily_Return'] = df['Close'].pct_change()

        return df[['Close', 'Daily_Return']]
    except Exception as e:
        print(f"Error fetching data for {symbol}: {e}")
        return pd.DataFrame()

# Example usage
symbols = ['AAPL', 'GOOGL', 'MSFT']  # Add more symbols as needed
start_date = "2022-01-01"
end_date = "2023-01-01"

all_stock_returns = pd.DataFrame()

for symbol in symbols:
    stock_data = fetch_stock_data(symbol, start_date, end_date)

    if not stock_data.empty:
        all_stock_returns[symbol] = stock_data['Daily_Return']

# Example: Printing the resulting DataFrame
print(all_stock_returns)