In [20]:
from nselib import capital_market as cm

In [21]:
import nselib as ns

In [22]:
import nselib.derivatives as de

In [23]:
hcal=ns.trading_holiday_calendar()

In [5]:
nifty50=cm.nifty50_equity_list()

In [6]:
data=cm.bhav_copy_equities("03-05-2024")

In [7]:
SBIN=cm.price_volume_and_deliverable_position_data("SBIN",period="1Y")

In [8]:
data

,SYMBOL,SERIES,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES
0,1018GS2026,GS,110.15,113.00,110.15,112.10,113.00,112.92,32,3.587500e+03,03-MAY-2024,4
1,182D031024,TB,96.75,96.80,96.75,96.80,96.80,97.50,1100,1.064300e+05,03-MAY-2024,3
2,182D040724,TB,98.44,98.44,98.42,98.42,98.42,98.42,500,4.921200e+04,03-MAY-2024,2
3,182D050924,TB,97.20,97.68,97.20,97.60,97.60,97.72,3200,3.115520e+05,03-MAY-2024,5
4,182D130624,TB,99.01,99.08,99.01,99.08,99.08,98.77,700,6.933400e+04,03-MAY-2024,4
...,...,...,...,...,...,...,...,...,...,...,...,...
2735,ZOTA,EQ,487.95,492.00,484.55,488.40,489.85,485.60,10346,5.043006e+06,03-MAY-2024,637
2736,ZUARI,EQ,194.20,195.70,189.00,189.40,189.20,194.10,161587,3.091666e+07,03-MAY-2024,4503
2737,ZUARIIND,EQ,345.35,348.00,325.15,327.65,329.00,341.80,125261,4.167983e+07,03-MAY-2024,6927
2738,ZYDUSLIFE,EQ,994.45,999.75,978.30,997.40,990.05,988.00,1408142,1.393937e+09,03-MAY-2024,79474
2739,ZYDUSWELL,EQ,1671.05,1694.95,1661.75,1670.50,1674.00,1671.00,26504,4.454192e+07,03-MAY-2024,3633

In [9]:
de.expiry_dates_option_index()

{'NIFTY': ['09-May-2024',
  '16-May-2024',
  '23-May-2024',
  '30-May-2024',
  '06-Jun-2024',
  '27-Jun-2024',
  '25-Jul-2024',
  '26-Sep-2024',
  '26-Dec-2024',
  '27-Mar-2025',
  '26-Jun-2025',
  '24-Dec-2025',
  '25-Jun-2026',
  '31-Dec-2026',
  '24-Jun-2027',
  '30-Dec-2027',
  '29-Jun-2028',
  '28-Dec-2028'],
 'FINNIFTY': ['07-May-2024',
  '14-May-2024',
  '21-May-2024',
  '28-May-2024',
  '04-Jun-2024',
  '25-Jun-2024',
  '30-Jul-2024'],
 'BANKNIFTY': ['08-May-2024',
  '15-May-2024',
  '22-May-2024',
  '29-May-2024',
  '05-Jun-2024',
  '26-Jun-2024',
  '31-Jul-2024',
  '25-Sep-2024',
  '24-Dec-2024',
  '26-Mar-2025']}

In [10]:
hcal

,Product,tradingDate,weekDay,description,Sr_no
0,Corporate Bonds,22-Jan-2024,Monday,Special Holiday,1
1,Corporate Bonds,26-Jan-2024,Friday,Republic Day,2
2,Corporate Bonds,19-Feb-2024,Monday,Chatrapati Shivaji Maharaj Jayanti,3
3,Corporate Bonds,08-Mar-2024,Friday,Mahashivratri,4
4,Corporate Bonds,25-Mar-2024,Monday,Holi,5
...,...,...,...,...,...
16,Securities Lending & Borrowing Schemes,12-Oct-2024,Saturday,Dussehra,17
17,Securities Lending & Borrowing Schemes,01-Nov-2024,Friday,Diwali Laxmi Pujan*,18
18,Securities Lending & Borrowing Schemes,02-Nov-2024,Saturday,Diwali-Balipratipada,19
19,Securities Lending & Borrowing Schemes,15-Nov-2024,Friday,Gurunanak Jayanti,20
20,Securities Lending & Borrowing Schemes,25-Dec-2024,Wednesday,Christmas,21

In [11]:
data

,SYMBOL,SERIES,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES
0,1018GS2026,GS,110.15,113.00,110.15,112.10,113.00,112.92,32,3.587500e+03,03-MAY-2024,4
1,182D031024,TB,96.75,96.80,96.75,96.80,96.80,97.50,1100,1.064300e+05,03-MAY-2024,3
2,182D040724,TB,98.44,98.44,98.42,98.42,98.42,98.42,500,4.921200e+04,03-MAY-2024,2
3,182D050924,TB,97.20,97.68,97.20,97.60,97.60,97.72,3200,3.115520e+05,03-MAY-2024,5
4,182D130624,TB,99.01,99.08,99.01,99.08,99.08,98.77,700,6.933400e+04,03-MAY-2024,4
...,...,...,...,...,...,...,...,...,...,...,...,...
2735,ZOTA,EQ,487.95,492.00,484.55,488.40,489.85,485.60,10346,5.043006e+06,03-MAY-2024,637
2736,ZUARI,EQ,194.20,195.70,189.00,189.40,189.20,194.10,161587,3.091666e+07,03-MAY-2024,4503
2737,ZUARIIND,EQ,345.35,348.00,325.15,327.65,329.00,341.80,125261,4.167983e+07,03-MAY-2024,6927
2738,ZYDUSLIFE,EQ,994.45,999.75,978.30,997.40,990.05,988.00,1408142,1.393937e+09,03-MAY-2024,79474
2739,ZYDUSWELL,EQ,1671.05,1694.95,1661.75,1670.50,1674.00,1671.00,26504,4.454192e+07,03-MAY-2024,3633

In [12]:
data.head()

,SYMBOL,SERIES,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES
0,1018GS2026,GS,110.15,113.00,110.15,112.10,113.00,112.92,32,3587.5,03-MAY-2024,4
1,182D031024,TB,96.75,96.80,96.75,96.80,96.80,97.50,1100,106430.0,03-MAY-2024,3
2,182D040724,TB,98.44,98.44,98.42,98.42,98.42,98.42,500,49212.0,03-MAY-2024,2
3,182D050924,TB,97.20,97.68,97.20,97.60,97.60,97.72,3200,311552.0,03-MAY-2024,5
4,182D130624,TB,99.01,99.08,99.01,99.08,99.08,98.77,700,69334.0,03-MAY-2024,4

In [13]:
data.shape

(2740, 12)

In [14]:
data.tail()

,SYMBOL,SERIES,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES
2735,ZOTA,EQ,487.95,492.00,484.55,488.40,489.85,485.6,10346,5.043006e+06,03-MAY-2024,637
2736,ZUARI,EQ,194.20,195.70,189.00,189.40,189.20,194.1,161587,3.091666e+07,03-MAY-2024,4503
2737,ZUARIIND,EQ,345.35,348.00,325.15,327.65,329.00,341.8,125261,4.167983e+07,03-MAY-2024,6927
2738,ZYDUSLIFE,EQ,994.45,999.75,978.30,997.40,990.05,988.0,1408142,1.393937e+09,03-MAY-2024,79474
2739,ZYDUSWELL,EQ,1671.05,1694.95,1661.75,1670.50,1674.00,1671.0,26504,4.454192e+07,03-MAY-2024,3633

In [15]:
data.drop("TIMESTAMP",axis=1,inplace=True)

In [16]:
data

,SYMBOL,SERIES,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TOTALTRADES
0,1018GS2026,GS,110.15,113.00,110.15,112.10,113.00,112.92,32,3.587500e+03,4
1,182D031024,TB,96.75,96.80,96.75,96.80,96.80,97.50,1100,1.064300e+05,3
2,182D040724,TB,98.44,98.44,98.42,98.42,98.42,98.42,500,4.921200e+04,2
3,182D050924,TB,97.20,97.68,97.20,97.60,97.60,97.72,3200,3.115520e+05,5
4,182D130624,TB,99.01,99.08,99.01,99.08,99.08,98.77,700,6.933400e+04,4
...,...,...,...,...,...,...,...,...,...,...,...
2735,ZOTA,EQ,487.95,492.00,484.55,488.40,489.85,485.60,10346,5.043006e+06,637
2736,ZUARI,EQ,194.20,195.70,189.00,189.40,189.20,194.10,161587,3.091666e+07,4503
2737,ZUARIIND,EQ,345.35,348.00,325.15,327.65,329.00,341.80,125261,4.167983e+07,6927
2738,ZYDUSLIFE,EQ,994.45,999.75,978.30,997.40,990.05,988.00,1408142,1.393937e+09,79474
2739,ZYDUSWELL,EQ,1671.05,1694.95,1661.75,1670.50,1674.00,1671.00,26504,4.454192e+07,3633

In [17]:
data.sort_values("TOTALTRADES",ascending=False).head(50)

,SYMBOL,SERIES,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TOTALTRADES
327,BAJFINANCE,EQ,7329.00,7400.00,6906.95,6931.50,6927.00,6882.70,6818601,4.870077e+10,620830
393,BHEL,EQ,296.00,318.30,294.10,305.00,304.95,292.70,130758171,4.040995e+10,577746
520,COFORGE,EQ,4487.15,4720.90,4460.05,4482.55,4485.60,4985.70,4992728,2.275069e+10,455626
2008,RECLTD,EQ,558.00,567.15,553.35,557.80,558.90,553.90,45105471,2.525817e+10,431139
1358,KOTAKBANK,EQ,1583.00,1587.90,1543.85,1546.70,1550.30,1575.65,16123589,2.512350e+10,396109
516,COALINDIA,EQ,457.90,475.80,449.40,474.60,475.50,453.90,51071947,2.382072e+10,371497
2020,RELIANCE,EQ,2942.00,2949.90,2832.30,2868.00,2871.00,2933.10,8613479,2.477471e+10,358280
1446,LT,EQ,3610.00,3622.00,3488.45,3499.80,3500.00,3599.50,4079696,1.438476e+10,336644
1058,ICICIBANK,EQ,1141.30,1157.40,1135.45,1142.05,1139.90,1139.45,19933604,2.277107e+10,335319
391,BHARTIARTL,EQ,1306.00,1310.50,1258.15,1277.40,1278.00,1304.05,11290875,1.443502e+10,319299
2467,TATASTEEL,EQ,168.95,170.75,165.15,166.50,166.50,167.35,62573586,1.052040e+10,311958
935,HDFCBANK,EQ,1533.25,1540.60,1507.20,1519.60,1515.65,1532.25,15932621,2.423550e+10,309946
1210,ITC,EQ,440.05,440.05,431.35,436.45,436.00,439.00,22904276,9.980474e+09,301064
1064,IDEA,EQ,13.30,13.50,13.00,13.20,13.15,13.20,844184176,1.118492e+10,300263
2139,SBIN,EQ,834.80,836.20,820.00,831.45,831.00,830.05,22667634,1.876932e+10,299662
2464,TATAMOTORS,EQ,1038.00,1040.20,996.00,1013.40,1014.50,1027.80,11871773,1.208450e+10,294136
1161,INFY,EQ,1422.10,1424.80,1403.20,1416.30,1415.75,1414.45,8842345,1.248863e+10,275760
1761,NTPC,EQ,372.30,380.40,360.35,364.95,364.05,369.05,26844664,9.928792e+09,262586
1903,POWERGRID,EQ,312.00,316.10,308.25,310.85,310.40,313.60,27074447,8.448977e+09,244109
2717,YESBANK,EQ,24.85,25.85,24.25,24.95,24.95,25.45,960652538,2.364439e+10,243695
933,HCLTECH,EQ,1370.00,1370.00,1333.55,1348.05,1347.20,1360.70,5964228,8.041750e+09,235234
1713,NHPC,EQ,98.80,101.35,97.30,99.25,99.10,98.00,113971395,1.131731e+10,231314
322,BAJAJFINSV,EQ,1650.20,1725.00,1618.00,1627.30,1622.90,1615.45,5227529,8.677786e+09,217266
1858,PFC,EQ,471.00,485.50,468.15,480.45,481.60,467.85,28996180,1.389018e+10,216776
1251,JIOFIN,EQ,380.55,385.85,374.35,375.90,375.80,379.65,21862922,8.300105e+09,204926
1463,M&M,EQ,2210.00,2210.00,2172.35,2193.00,2193.15,2185.15,3859227,8.451229e+09,200650
1793,ONGC,EQ,284.00,292.95,284.00,286.10,286.10,282.80,28913016,8.348814e+09,198726
300,AXISBANK,EQ,1150.90,1163.25,1134.10,1141.50,1140.40,1149.85,9993632,1.144055e+10,193809
2478,TCS,EQ,3890.15,3893.60,3797.60,3843.40,3838.00,3863.30,2962234,1.137452e+10,193038
153,AJANTPHARM,EQ,2540.00,2540.00,2360.05,2383.85,2372.00,2234.00,2771320,6.711225e+09,176777
989,HINDZINC,EQ,438.20,478.40,438.20,470.10,473.20,432.10,10396501,4.770502e+09,174197
1521,MARUTI,EQ,12817.95,12830.00,12411.40,12492.15,12479.00,12805.35,834990,1.049948e+10,169996
1190,IRFC,EQ,159.80,160.50,155.15,157.00,157.10,158.90,31288231,4.937291e+09,168289
1749,NMDC,EQ,258.50,269.90,258.15,268.95,269.00,258.50,38974667,1.034551e+10,167897
636,DLF,EQ,903.90,903.90,862.80,878.20,878.50,896.45,5271160,4.638767e+09,167302
2734,ZOMATO,EQ,196.80,200.35,193.10,197.25,197.15,195.45,37882274,7.465543e+09,165211
939,HDFCLIFE,EQ,581.80,581.80,565.25,565.90,565.90,576.35,8574215,4.882507e+09,163787
987,HINDUNILVR,EQ,2232.00,2235.65,2204.00,2217.05,2213.95,2226.30,2595307,5.748338e+09,163501
2466,TATAPOWER,EQ,461.60,464.20,448.50,454.75,455.50,457.85,16825776,7.702339e+09,161092
980,HINDALCO,EQ,655.05,655.05,638.40,647.10,646.10,641.45,10633995,6.878039e+09,159113
2094,SAIL,EQ,167.10,170.95,164.60,167.95,167.30,165.45,71734933,1.209307e+10,155188
2523,TITAN,EQ,3595.00,3599.00,3492.00,3533.90,3514.75,3568.45,1681592,5.945561e+09,150832
2627,VEDL,EQ,415.00,420.00,404.40,415.65,415.85,410.80,14324148,5.929763e+09,148602
1177,IOC,EQ,174.80,174.90,169.40,170.75,170.85,173.40,30968452,5.315118e+09,144827
1686,NESTLEIND,EQ,2515.10,2523.05,2436.25,2456.10,2456.00,2512.30,1128730,2.783958e+09,143532
1073,IFCI,EQ,52.00,55.05,51.70,52.50,52.50,50.05,93147890,4.992400e+09,142522
257,ASIANPAINT,EQ,2983.05,2997.00,2909.25,2929.75,2930.00,2975.40,1594445,4.692985e+09,141235
372,BEL,EQ,237.10,238.00,231.15,234.10,234.40,234.75,15782582,3.704561e+09,133087
836,GMDCLTD,EQ,422.50,452.95,419.75,448.65,448.90,420.65,11637133,5.128355e+09,132299
1887,PNB,EQ,139.15,139.30,134.25,135.80,136.05,138.05,61353686,8.387778e+09,130113

In [18]:
data[((data["HIGH"]-data["LOW"])>0)].sort_values("data["HIGH"]-data["LOW"]",ascending=False).head(50)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2932831534.py, line 1)

In [ ]:
data.to_csv("20240503.csv",index=False)

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("20240503.csv")

In [ ]:
df

In [ ]:
df.tail(50)

In [ ]:
df["SERIES"].value_counts()

In [ ]:
df["SYMBOL"]

In [ ]:
df["DPROFIT"]=df["OPEN"]-df["CLOSE"]

In [ ]:
df["PERINC"]=((((df["CLOSE"]-df["OPEN"])/df["OPEN"])*100).round(2))

In [ ]:
df.drop("TOTTRDVAL",axis=1,inplace=True)

In [ ]:
df[(df["CLOSE"]-df["OPEN"])>0]

In [ ]:
df[(df["HIGH"]-df["OPEN"])>0]

In [ ]:
df["HO"]=(((df["HIGH"]-df["OPEN"])/df["OPEN"])*100).round(2)

In [ ]:
df

In [ ]:
df["OL"]=(((df["OPEN"]- df["LOW"])/df["OPEN"])*100).round(2)

In [ ]:
df[]

In [ ]:
str="aaaaaaaammmmmmeinadfhkdskdfjnsdfgjlajflajknsdglakjsfgl"
dfdic={}
for i in str:
    if i in dfdic:
        dfdic[i]=dfdic[i]+1
    else:
        dfdic[i]=1

In [ ]:
dfdic

In [ ]:
df["SYMBOL"]

In [ ]:
import pandas as pd
import yfinance as yf
df=pd.read_csv(r"D:\Pyn\online learning\FINAL_DATA\SCRNER_DATA\onlynifty500a.csv")
tiker_name=[]
for i in df.Tiker_name:
    tiker_name.append(i+".NS")
df_sh = {}
for symbol in tiker_name:
    try:
        df_sh[symbol] = yf.download(symbol,start="2021-02-15",end="2024-04-11",interval="1d")
        df_sh[symbol]['Daily_Return'] = ((df_sh[symbol]['High']-df_sh[symbol]['Low'])/df_sh[symbol]['Open'])*100
    except:
        pass
all_stock_returns = pd.DataFrame()
for symbol in df_sh.keys():
    all_stock_returns[symbol] = df_sh[symbol]['Daily_Return']
all_stock_returns.to_csv("highlow20240411.csv")

In [ ]:
dfdata={}
for i in df["SYMBOL"][500:].head(10):
    try:
        dfdata[i]=cm.price_volume_and_deliverable_position_data(i,period="1Y")
    except:
        pass
# CLEDUCATE=cm.price_volume_and_deliverable_position_data("CLEDUCATE",period="1Y")

In [ ]:
sbi=cm.price_volume_and_deliverable_position_data("SBI",period="1Y")

In [ ]:
for i in df["SYMBOL"][500:].head(10):
    print(i)

In [ ]:
182D031024=cm.price_volume_and_deliverable_position_data("182D031024",period="1Y")

In [ ]:
sbi

In [ ]:
SBIN=cm.price_volume_and_deliverable_position_data("SBIN",period="1Y")

In [ ]:
SBIN

In [ ]:
CLEDUCATE=cm.price_volume_and_deliverable_position_data("CLEDUCATE",period="1Y")

In [ ]:
CLEDUCATE

In [ ]:
df_sh = {}
for symbol in df["SYMBOL"][500:].head(10):
    try:
        df_sh[symbol] = yf.download(symbol,start="2021-02-15",end="2024-04-11",interval="1d")
        df_sh[symbol]['Daily_Return'] = ((df_sh[symbol]['High']-df_sh[symbol]['Low'])/df_sh[symbol]['Open'])*100
    except:
        pass
all_stock_returns = pd.DataFrame()
for symbol in df_sh.keys():
    all_stock_returns[symbol] = df_sh[symbol]['Daily_Return']

In [19]:
df["SYMBOL"][500:].head(10)

NameError: name 'df' is not defined

In [ ]:
CLEDUCATE["Symbol"].unique()

In [ ]:
CLEDUCATE.drop("Symbol",axis=1,inplace=True)

In [ ]:
CLEDUCATE["Series"].unique()

In [ ]:
CLEDUCATE["ClosePrice"][::-1].plot.line

In [ ]:
CLEDUCATE[["Date","ClosePrice"]].set_index("Date").plot.line()

In [ ]:
CLEDUCATE

In [ ]:
CLEDUCATE=cm.price_volume_and_deliverable_position_data("CLEDUCATE",period="1Y")

In [ ]:
CLEDUCATE.columns

In [ ]:
CLEDUCATE

In [ ]:
p