In [1]:
import pandas as pd

In [72]:
newdata1=pd.read_csv("newdata1.csv")
newdata2=pd.read_csv("newdata2.csv")
newdata3=pd.read_csv("newdata3.csv")

In [3]:
newdata1

,Name,quantity,per_unit,total
0,1 HE im 19'' Rack,2000,65000,13000
1,"IP-Netz (159.100.29.0/24, 212.224.86.0/24, 212...",8000,154500,123600
2,Remote Hands - Service Dienstleistung,1000,45000,4500
3,Remote Hands - Service Dienstleistung,3000,45000,13500
4,Remote Hands - Service Dienstleistung,1000,45000,4500
...,...,...,...,...
72,1/1 Colocation Rack: R3/3.17,1000,0,0
73,Power Feeds for 5KW Colocation Racks,1000,0,0
74,Fiber Uplinks for 5KW Colocation Racks,1000,0,0
75,Network Switch: Juniper QFX5100-48T,1000,0,0
76,Remotehands Kruppstraße,3000,45000,13500

In [4]:
newdata2

,Name,quantity,per_unit,total
0,1 HE im 19'' Rack,2000,65000,13000
1,"IP-Netz (159.100.29.0/24, 212.224.86.0/24, 212...",9000,154500,139050
2,Remote Hands - Service Dienstleistung,1000,45000,4500
3,Remote Hands - Service Dienstleistung,1000,45000,4500
4,Remote Hands - Service Dienstleistung,1000,45000,4500
...,...,...,...,...
85,Hardware: X520-DA2,2000,10000,2000
86,Dedicated Server - FC-37113,1000,258000,25800
87,Dedicated Server - Ulta100,24000,63200,151680
88,Dedicated Server - FC-36850,1000,84800,8480
89,Hardware: 3.84TB PM893,2000,9600,1920

In [5]:
newdata3

,Name,quantity,per_unit,total
0,Dedicated Server - FC-37113,1000,258000,25800
1,Dedicated Server - Ulta100,24000,63200,151680
2,Dedicated Server - FC-36850,1000,84800,8480
3,Hardware: 3.84TB PM893,2000,9600,1920
4,1 HE im 19'' Rack,2000,65000,13000
...,...,...,...,...
83,Dedicated Server: FC-36865,1000,105000,10500
84,Dedicated Server - AMD 7763,1000,177000,17700
85,Dedicated Server - AMD 7352,4000,100000,40000
86,Hardware: 1.92 TB SSD Samsung PM893 MZ7L31T9HBLT,4000,5800,2320
87,Hardware: X520-DA2,2000,10000,2000

In [6]:
onlydata1=[]
for i in newdata2["Name"]:
    if i in newdata1["Name"]:
        onlydata1.append(i)

In [7]:
onlydata1

[]

In [8]:
newdata2["Name"]

0                                     1 HE im 19'' Rack
1     IP-Netz (159.100.29.0/24, 212.224.86.0/24, 212...
2                 Remote Hands - Service Dienstleistung
3                 Remote Hands - Service Dienstleistung
4                 Remote Hands - Service Dienstleistung
                            ...
85                                   Hardware: X520-DA2
86                          Dedicated Server - FC-37113
87                           Dedicated Server - Ulta100
88                          Dedicated Server - FC-36850
89                               Hardware: 3.84TB PM893
Name: Name, Length: 90, dtype: object

In [9]:
merged_data = pd.merge(newdata2, newdata1, on="Name", how="inner")

In [10]:
onlydata5 = merged_data["Name"].tolist()

In [11]:
onlydata5

["1 HE im 19'' Rack",
 'IP-Netz (159.100.29.0/24, 212.224.86.0/24, 212.224.88.0/24,',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Network Card extension + cabling (FC-24908)',
 'Hardware: Samsung PM883 3840GB (FC-24821, FC-24995)',
 'Hardware: Samsung PM883 1920GB (FC-25256)',
 'Hardware: RAM-Upgrade AMD7452-1 (FC-25362)',
 "19'' Rack inkl. Klima (M8)",
 'Stromleistung je kW/h Mindestabnahme',
 'Mietgerät: Network Switch Juniper EX4300-48T (FC-213814D,',
 'Mietserver Ulta AX160-NVMe 32 Core (lease-purchase) (FC-23943)',
 'Mietserver Ulta AX160-NVMe 24 Core (lease-purchase) (FC-23944-57',
 'Mietserver Ulta100 Xeon SSD (lease-purchase) (FC-23958-62)',
 'Mietserver Ulta100 Xeon No-SSD (lease-purchase) (FC-23963-67)',
 'Stromleistung je kW/h zusätzlich: gesamt',
 'Stromleistung je kW/h auf Stromkreis: UV2/11F9',
 'Stromleistung je kW/h auf Stromkreis: UV2/11F10',
 'Mietserver Private Company Server (Ulta AX160-NVMe 24',
 'Hardware: Samsung 970 EVO M.2 with 2TB (FC-25684)',
 'Mietserver [KS] Ulta AX160-NVMe 24 Core (AMD7402-15,',
 'Mietserver [KS] Ulta100 Xeon NVMe SSD (E-2276G-11 E-2276G-12)',
 'Hardware: RAM-Upgrade 128 GB AMD 7402-11 (FC-26693)',
 'Hardware: Server-Upgrade (2x 960 GB PM883) (FC-26713)',
 'Shared Housing Ultahost-A3',
 'Hardware: Server-Upgrade: SSD (FC-29004)',
 'Hardware: Server-Upgrade: RAM (FC-29004)',
 '1G Uplink Ultahost-A3 (FC-30128)',
 'Hardware: 64 GB RAM Ultahost-A1 (FC-29564)',
 'Hardware: Server-Upgrade AMD 7451-1 (FC-31437)',
 'DDoS Protection Arbor Lite (FC-31602)',
 'Mietserver Dell Server Hardware (FC-31772)',
 'Hardware: Server-Upgrade E-2276G-1 (FC-32269)',
 'Hardware: Server-Upgrade AMD7402-5 (FC-32606)',
 'Hardware: Serverupgrade A2 (FC-32852)',
 'Hardware: FC-33801',
 '1/1 Rack (R1/3.16)',
 'Power Feeds Rack R1/3.16',
 'Uplinks Rack R1/3.16',
 'Mietgerät: Juniper QFX5100-48T (FC-2291D2A, FC-2291EB8)',
 'Mietserver Ulta 100-Xeon no SSD (FC-33243-57)',
 'Mietserver: VPS Host (FC-33262-64)',
 'Hardware Components',
 'Storage-Upgrade ',
 'Hardware: Intel X540-T2 (Dual 10GbE)',
 'IP-Netz (159.100.30.0/24, 212.224.107.0/24)',
 '1TB SSD for server AMD7402-16',
 'Dedicated Server: VPS Host (NVMe based)',
 '3U Supermicro Server - Modification',
 'Dedicated Server FC-35348, FC-35624',
 'Dedicated Server FC-35349',
 'Serverupgrade 276G-1',
 'LSI 9560-16i Raid Controller',
 '92TB PM983 Samsung NVMe SSD',
 '1x 960GB PM893 SSD',
 'Dedicated Server FC-35865',
 'Mietserver [KS] Ulta100 Xeon No-SSD (lease purchase) (E-2276G-13',
 'Stromleistung Standort Kruppstraße je kW/h zusätzlich',
 'Dedicated Server: FC-36099',
 'Dedicated Server: FC-36067, FC-36068',
 'Dedicated Server: FC-36035',
 'Hardware: 960GB M.2 PM983 NVMe',
 '1/1 Colocation Rack: R3/3.17',
 'Power Feeds for 5KW Colocation Racks',
 'Fiber Uplinks for 5KW Colocation Racks',
 'Network Switch: Juniper QFX5100-48T']

In [12]:
# merged_data["Name"]!=newdata1["Name"]

In [13]:
merged_data[~merged_data["Name"].isin(newdata1["Name"])]

Empty DataFrame
Columns: [Name, quantity_x, per_unit_x, total_x, quantity_y, per_unit_y, total_y]
Index: []

In [14]:
merged_data1 = pd.merge(newdata2, newdata1, on="Name", how="outer", indicator=True)
filtered_data = merged_data1[~merged_data1["Name"].isin(newdata1["Name"])]

In [15]:
filtered_data

,Name,quantity_x,per_unit_x,total_x,quantity_y,per_unit_y,total_y,_merge
62,Stromleistung je kW/h auf Stromkreis: UV-RZ-Va...,48000.0,0.0,0.0,NaN,NaN,NaN,left_only
63,Stromleistung je kW/h auf Stromkreis: UV-RZ-Va...,2145000.0,0.0,0.0,NaN,NaN,NaN,left_only
64,Stromleistung je kW/h auf Stromkreis: UV-RZ-Va...,58000.0,0.0,0.0,NaN,NaN,NaN,left_only
65,Stromleistung je kW/h auf Stromkreis: UV-RZ-Va...,2042000.0,0.0,0.0,NaN,NaN,NaN,left_only
74,Traffic Flatrate 6 Gbit,1000.0,2650000.0,265000.0,NaN,NaN,NaN,left_only
106,Dedicated Server FC-35583 bis FC-35597,15000.0,49290.0,73935.0,NaN,NaN,NaN,left_only
118,84TB Samsung Enterprise SDD PM893,10000.0,13100.0,13100.0,NaN,NaN,NaN,left_only
119,Hardware: 1.92TB Samsung PM983 NVMe,1000.0,11500.0,1150.0,NaN,NaN,NaN,left_only
120,"Dedicted Server - VPS Host: FC-35579, FC-35580...",3000.0,705000.0,211500.0,NaN,NaN,NaN,left_only
121,Hardware: 960GB PM893 SS,1000.0,4700.0,470.0,NaN,NaN,NaN,left_only
122,"/24 Subnet 212.224.93.0/24, 159.100.13.0/24",2000.0,154500.0,30900.0,NaN,NaN,NaN,left_only
123,Dedicated Server: FC-36865,1000.0,105000.0,10500.0,NaN,NaN,NaN,left_only
124,Dedicated Server - AMD 7763,1000.0,177000.0,17700.0,NaN,NaN,NaN,left_only
125,Dedicated Server - AMD 7352,4000.0,100000.0,40000.0,NaN,NaN,NaN,left_only
126,Hardware: 1.92 TB SSD Samsung PM893 MZ7L31T9HBLT,4000.0,5800.0,2320.0,NaN,NaN,NaN,left_only
127,Hardware: X520-DA2,2000.0,10000.0,2000.0,NaN,NaN,NaN,left_only
128,Dedicated Server - FC-37113,1000.0,258000.0,25800.0,NaN,NaN,NaN,left_only
129,Dedicated Server - Ulta100,24000.0,63200.0,151680.0,NaN,NaN,NaN,left_only
130,Dedicated Server - FC-36850,1000.0,84800.0,8480.0,NaN,NaN,NaN,left_only
131,Hardware: 3.84TB PM893,2000.0,9600.0,1920.0,NaN,NaN,NaN,left_only

In [16]:
merged_data

,Name,quantity_x,per_unit_x,total_x,quantity_y,per_unit_y,total_y
0,1 HE im 19'' Rack,2000,65000,13000,2000,65000,13000
1,"IP-Netz (159.100.29.0/24, 212.224.86.0/24, 212...",9000,154500,139050,8000,154500,123600
2,Remote Hands - Service Dienstleistung,1000,45000,4500,1000,45000,4500
3,Remote Hands - Service Dienstleistung,1000,45000,4500,3000,45000,13500
4,Remote Hands - Service Dienstleistung,1000,45000,4500,1000,45000,4500
...,...,...,...,...,...,...,...
107,Hardware: 960GB M.2 PM983 NVMe,5000,4250,2125,5000,4250,2125
108,1/1 Colocation Rack: R3/3.17,1000,495000,49500,1000,0,0
109,Power Feeds for 5KW Colocation Racks,1000,160000,16000,1000,0,0
110,Fiber Uplinks for 5KW Colocation Racks,1000,129000,12900,1000,0,0
111,Network Switch: Juniper QFX5100-48T,1000,175000,17500,1000,0,0

In [17]:
testdata1 = {'Name': ['A', 'B', 'C', 'D']}
newdata1 = pd.DataFrame(testdata1)

In [18]:
newdata1["Name"]

0    A
1    B
2    C
3    D
Name: Name, dtype: object

In [19]:
list=[8,9,6,8,5,7,8,9,6,3,22,5]

In [20]:
tes={"data":list}
ne=pd.DataFrame(tes)

In [21]:
ne

    data
0      8
1      9
2      6
3      8
4      5
5      7
6      8
7      9
8      6
9      3
10    22
11     5

In [22]:
list1=[]
for i in merged_data["Name"]:
    list1.append(i)

In [23]:
nlist1=[]
for i in newdata1["Name"]:
    nlist1.append(i)

In [24]:
list1

["1 HE im 19'' Rack",
 'IP-Netz (159.100.29.0/24, 212.224.86.0/24, 212.224.88.0/24,',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Network Card extension + cabling (FC-24908)',
 'Hardware: Samsung PM883 3840GB (FC-24821, FC-24995)',
 'Hardware: Samsung PM883 1920GB (FC-25256)',
 'Hardware: RAM-Upgrade AMD7452-1 (FC-25362)',
 "19'' Rack inkl. Klima (M8)",
 'Stromleistung je kW/h Mindestabnahme',
 'Mietgerät: Network Switch Juniper EX4300-48T (FC-213814D,',
 'Mietserver Ulta AX160-NVMe 32 Core (lease-purchase) (FC-23943)',
 'Mietserver Ulta AX160-NVMe 24 Core (lease-purchase) (FC-23944-57',
 'Mietserver Ulta100 Xeon SSD (lease-purchase) (FC-23958-62)',
 'Mietserver Ulta100 Xeon No-SSD (lease-purchase) (FC-23963-67)',
 'Stromleistung je kW/h zusätzlich: gesamt',
 'Stromleistung je kW/h auf Stromkreis: UV2/11F9',
 'Stromleistung je kW/h auf Stromkreis: UV2/11F10',
 'Mietserver Private Company Server (Ulta AX160-NVMe 24',
 'Hardware: Samsung 970 EVO M.2 with 2TB (FC-25684)',
 'Mietserver [KS] Ulta AX160-NVMe 24 Core (AMD7402-15,',
 'Mietserver [KS] Ulta100 Xeon NVMe SSD (E-2276G-11 E-2276G-12)',
 'Hardware: RAM-Upgrade 128 GB AMD 7402-11 (FC-26693)',
 'Hardware: Server-Upgrade (2x 960 GB PM883) (FC-26713)',
 'Shared Housing Ultahost-A3',
 'Hardware: Server-Upgrade: SSD (FC-29004)',
 'Hardware: Server-Upgrade: RAM (FC-29004)',
 '1G Uplink Ultahost-A3 (FC-30128)',
 'Hardware: 64 GB RAM Ultahost-A1 (FC-29564)',
 'Hardware: Server-Upgrade AMD 7451-1 (FC-31437)',
 'DDoS Protection Arbor Lite (FC-31602)',
 'Mietserver Dell Server Hardware (FC-31772)',
 'Hardware: Server-Upgrade E-2276G-1 (FC-32269)',
 'Hardware: Server-Upgrade AMD7402-5 (FC-32606)',
 'Hardware: Serverupgrade A2 (FC-32852)',
 'Hardware: FC-33801',
 '1/1 Rack (R1/3.16)',
 'Power Feeds Rack R1/3.16',
 'Uplinks Rack R1/3.16',
 'Mietgerät: Juniper QFX5100-48T (FC-2291D2A, FC-2291EB8)',
 'Mietserver Ulta 100-Xeon no SSD (FC-33243-57)',
 'Mietserver: VPS Host (FC-33262-64)',
 'Hardware Components',
 'Storage-Upgrade ',
 'Hardware: Intel X540-T2 (Dual 10GbE)',
 'IP-Netz (159.100.30.0/24, 212.224.107.0/24)',
 '1TB SSD for server AMD7402-16',
 'Dedicated Server: VPS Host (NVMe based)',
 '3U Supermicro Server - Modification',
 'Dedicated Server FC-35348, FC-35624',
 'Dedicated Server FC-35349',
 'Serverupgrade 276G-1',
 'LSI 9560-16i Raid Controller',
 '92TB PM983 Samsung NVMe SSD',
 '1x 960GB PM893 SSD',
 'Dedicated Server FC-35865',
 'Mietserver [KS] Ulta100 Xeon No-SSD (lease purchase) (E-2276G-13',
 'Stromleistung Standort Kruppstraße je kW/h zusätzlich',
 'Dedicated Server: FC-36099',
 'Dedicated Server: FC-36067, FC-36068',
 'Dedicated Server: FC-36035',
 'Hardware: 960GB M.2 PM983 NVMe',
 '1/1 Colocation Rack: R3/3.17',
 'Power Feeds for 5KW Colocation Racks',
 'Fiber Uplinks for 5KW Colocation Racks',
 'Network Switch: Juniper QFX5100-48T']

In [25]:
nlist1

['A', 'B', 'C', 'D']

In [26]:
len(list1)

112

In [27]:
len(nlist1)

4

In [28]:
telist1=[]
for i in list1:
    if i in nlist1:
        telist1.append(i)

In [29]:
telist1

[]

In [30]:
nlist2=[]
for i in newdata2["Name"]:
    nlist2.append(i)

In [31]:
nlist2

["1 HE im 19'' Rack",
 'IP-Netz (159.100.29.0/24, 212.224.86.0/24, 212.224.88.0/24,',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Network Card extension + cabling (FC-24908)',
 'Hardware: Samsung PM883 3840GB (FC-24821, FC-24995)',
 'Hardware: Samsung PM883 1920GB (FC-25256)',
 'Hardware: RAM-Upgrade AMD7452-1 (FC-25362)',
 "19'' Rack inkl. Klima (M8)",
 'Stromleistung je kW/h Mindestabnahme',
 'Mietgerät: Network Switch Juniper EX4300-48T (FC-213814D,',
 'Mietserver Ulta AX160-NVMe 32 Core (lease-purchase) (FC-23943)',
 'Mietserver Ulta AX160-NVMe 24 Core (lease-purchase) (FC-23944-57',
 'Mietserver Ulta100 Xeon SSD (lease-purchase) (FC-23958-62)',
 'Mietserver Ulta100 Xeon No-SSD (lease-purchase) (FC-23963-67)',
 'Stromleistung je kW/h zusätzlich: gesamt',
 'Stromleistung je kW/h auf Stromkreis: UV-RZ-Vario-B/F2.4',
 'Stromleistung je kW/h auf Stromkreis: UV-RZ-Vario-B/F1.8',
 'Stromleistung je kW/h auf Stromkreis: UV-RZ-Vario-A/F2.4',
 'Stromleistung je kW/h auf Stromkreis: UV-RZ-Vario-A/F1.8',
 'Stromleistung je kW/h auf Stromkreis: UV2/11F9',
 'Stromleistung je kW/h auf Stromkreis: UV2/11F10',
 'Mietserver Private Company Server (Ulta AX160-NVMe 24',
 'Hardware: Samsung 970 EVO M.2 with 2TB (FC-25684)',
 'Mietserver [KS] Ulta AX160-NVMe 24 Core (AMD7402-15,',
 'Mietserver [KS] Ulta100 Xeon NVMe SSD (E-2276G-11 E-2276G-12)',
 'Hardware: RAM-Upgrade 128 GB AMD 7402-11 (FC-26693)',
 'Hardware: Server-Upgrade (2x 960 GB PM883) (FC-26713)',
 'Traffic Flatrate 6 Gbit',
 'Shared Housing Ultahost-A3',
 'Hardware: Server-Upgrade: SSD (FC-29004)',
 'Hardware: Server-Upgrade: RAM (FC-29004)',
 '1G Uplink Ultahost-A3 (FC-30128)',
 'Hardware: 64 GB RAM Ultahost-A1 (FC-29564)',
 'Hardware: Server-Upgrade AMD 7451-1 (FC-31437)',
 'DDoS Protection Arbor Lite (FC-31602)',
 'Mietserver Dell Server Hardware (FC-31772)',
 'Hardware: Server-Upgrade E-2276G-1 (FC-32269)',
 'Hardware: Server-Upgrade AMD7402-5 (FC-32606)',
 'Hardware: Serverupgrade A2 (FC-32852)',
 'Hardware: FC-33801',
 '1/1 Rack (R1/3.16)',
 'Power Feeds Rack R1/3.16',
 'Uplinks Rack R1/3.16',
 'Mietgerät: Juniper QFX5100-48T (FC-2291D2A, FC-2291EB8)',
 'Mietserver Ulta 100-Xeon no SSD (FC-33243-57)',
 'Mietserver: VPS Host (FC-33262-64)',
 'Hardware Components',
 'Storage-Upgrade ',
 'Hardware: Intel X540-T2 (Dual 10GbE)',
 'IP-Netz (159.100.30.0/24, 212.224.107.0/24)',
 '1TB SSD for server AMD7402-16',
 'Dedicated Server: VPS Host (NVMe based)',
 '3U Supermicro Server - Modification',
 'Dedicated Server FC-35348, FC-35624',
 'Dedicated Server FC-35349',
 'Serverupgrade 276G-1',
 'LSI 9560-16i Raid Controller',
 '92TB PM983 Samsung NVMe SSD',
 '1x 960GB PM893 SSD',
 'Dedicated Server FC-35583 bis FC-35597',
 'Dedicated Server FC-35865',
 'Mietserver [KS] Ulta100 Xeon No-SSD (lease purchase) (E-2276G-13',
 'Stromleistung Standort Kruppstraße je kW/h zusätzlich',
 'Dedicated Server: FC-36099',
 'Dedicated Server: FC-36067, FC-36068',
 'Dedicated Server: FC-36035',
 'Hardware: 960GB M.2 PM983 NVMe',
 '1/1 Colocation Rack: R3/3.17',
 'Power Feeds for 5KW Colocation Racks',
 'Fiber Uplinks for 5KW Colocation Racks',
 'Network Switch: Juniper QFX5100-48T',
 '84TB Samsung Enterprise SDD PM893',
 'Hardware: 1.92TB Samsung PM983 NVMe',
 'Dedicted Server - VPS Host: FC-35579, FC-35580, FC-35581',
 'Hardware: 960GB PM893 SS',
 '/24 Subnet 212.224.93.0/24, 159.100.13.0/24',
 'Dedicated Server: FC-36865',
 'Dedicated Server - AMD 7763',
 'Dedicated Server - AMD 7352',
 'Hardware: 1.92 TB SSD Samsung PM893 MZ7L31T9HBLT',
 'Hardware: X520-DA2',
 'Dedicated Server - FC-37113',
 'Dedicated Server - Ulta100',
 'Dedicated Server - FC-36850',
 'Hardware: 3.84TB PM893']

In [32]:
telist2=[]
for i in nlist2:
    if i not in nlist1:
        telist2.append(i)

In [33]:
telist2 # only telist2 have this items

["1 HE im 19'' Rack",
 'IP-Netz (159.100.29.0/24, 212.224.86.0/24, 212.224.88.0/24,',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Remote Hands - Service Dienstleistung',
 'Network Card extension + cabling (FC-24908)',
 'Hardware: Samsung PM883 3840GB (FC-24821, FC-24995)',
 'Hardware: Samsung PM883 1920GB (FC-25256)',
 'Hardware: RAM-Upgrade AMD7452-1 (FC-25362)',
 "19'' Rack inkl. Klima (M8)",
 'Stromleistung je kW/h Mindestabnahme',
 'Mietgerät: Network Switch Juniper EX4300-48T (FC-213814D,',
 'Mietserver Ulta AX160-NVMe 32 Core (lease-purchase) (FC-23943)',
 'Mietserver Ulta AX160-NVMe 24 Core (lease-purchase) (FC-23944-57',
 'Mietserver Ulta100 Xeon SSD (lease-purchase) (FC-23958-62)',
 'Mietserver Ulta100 Xeon No-SSD (lease-purchase) (FC-23963-67)',
 'Stromleistung je kW/h zusätzlich: gesamt',
 'Stromleistung je kW/h auf Stromkreis: UV-RZ-Vario-B/F2.4',
 'Stromleistung je kW/h auf Stromkreis: UV-RZ-Vario-B/F1.8',
 'Stromleistung je kW/h auf Stromkreis: UV-RZ-Vario-A/F2.4',
 'Stromleistung je kW/h auf Stromkreis: UV-RZ-Vario-A/F1.8',
 'Stromleistung je kW/h auf Stromkreis: UV2/11F9',
 'Stromleistung je kW/h auf Stromkreis: UV2/11F10',
 'Mietserver Private Company Server (Ulta AX160-NVMe 24',
 'Hardware: Samsung 970 EVO M.2 with 2TB (FC-25684)',
 'Mietserver [KS] Ulta AX160-NVMe 24 Core (AMD7402-15,',
 'Mietserver [KS] Ulta100 Xeon NVMe SSD (E-2276G-11 E-2276G-12)',
 'Hardware: RAM-Upgrade 128 GB AMD 7402-11 (FC-26693)',
 'Hardware: Server-Upgrade (2x 960 GB PM883) (FC-26713)',
 'Traffic Flatrate 6 Gbit',
 'Shared Housing Ultahost-A3',
 'Hardware: Server-Upgrade: SSD (FC-29004)',
 'Hardware: Server-Upgrade: RAM (FC-29004)',
 '1G Uplink Ultahost-A3 (FC-30128)',
 'Hardware: 64 GB RAM Ultahost-A1 (FC-29564)',
 'Hardware: Server-Upgrade AMD 7451-1 (FC-31437)',
 'DDoS Protection Arbor Lite (FC-31602)',
 'Mietserver Dell Server Hardware (FC-31772)',
 'Hardware: Server-Upgrade E-2276G-1 (FC-32269)',
 'Hardware: Server-Upgrade AMD7402-5 (FC-32606)',
 'Hardware: Serverupgrade A2 (FC-32852)',
 'Hardware: FC-33801',
 '1/1 Rack (R1/3.16)',
 'Power Feeds Rack R1/3.16',
 'Uplinks Rack R1/3.16',
 'Mietgerät: Juniper QFX5100-48T (FC-2291D2A, FC-2291EB8)',
 'Mietserver Ulta 100-Xeon no SSD (FC-33243-57)',
 'Mietserver: VPS Host (FC-33262-64)',
 'Hardware Components',
 'Storage-Upgrade ',
 'Hardware: Intel X540-T2 (Dual 10GbE)',
 'IP-Netz (159.100.30.0/24, 212.224.107.0/24)',
 '1TB SSD for server AMD7402-16',
 'Dedicated Server: VPS Host (NVMe based)',
 '3U Supermicro Server - Modification',
 'Dedicated Server FC-35348, FC-35624',
 'Dedicated Server FC-35349',
 'Serverupgrade 276G-1',
 'LSI 9560-16i Raid Controller',
 '92TB PM983 Samsung NVMe SSD',
 '1x 960GB PM893 SSD',
 'Dedicated Server FC-35583 bis FC-35597',
 'Dedicated Server FC-35865',
 'Mietserver [KS] Ulta100 Xeon No-SSD (lease purchase) (E-2276G-13',
 'Stromleistung Standort Kruppstraße je kW/h zusätzlich',
 'Dedicated Server: FC-36099',
 'Dedicated Server: FC-36067, FC-36068',
 'Dedicated Server: FC-36035',
 'Hardware: 960GB M.2 PM983 NVMe',
 '1/1 Colocation Rack: R3/3.17',
 'Power Feeds for 5KW Colocation Racks',
 'Fiber Uplinks for 5KW Colocation Racks',
 'Network Switch: Juniper QFX5100-48T',
 '84TB Samsung Enterprise SDD PM893',
 'Hardware: 1.92TB Samsung PM983 NVMe',
 'Dedicted Server - VPS Host: FC-35579, FC-35580, FC-35581',
 'Hardware: 960GB PM893 SS',
 '/24 Subnet 212.224.93.0/24, 159.100.13.0/24',
 'Dedicated Server: FC-36865',
 'Dedicated Server - AMD 7763',
 'Dedicated Server - AMD 7352',
 'Hardware: 1.92 TB SSD Samsung PM893 MZ7L31T9HBLT',
 'Hardware: X520-DA2',
 'Dedicated Server - FC-37113',
 'Dedicated Server - Ulta100',
 'Dedicated Server - FC-36850',
 'Hardware: 3.84TB PM893']

In [34]:
telist3=[]
for i in nlist1:
    if i not in nlist2:
        telist3.append(i)

In [35]:
telist4=[]
for i in nlist1:
    for j in nlist2:
        if i==j:
            telist4.append(i)

In [36]:
telist4

[]

In [37]:
len(telist4)

0

In [38]:
telist3

['A', 'B', 'C', 'D']

In [39]:
# newdata2[newdata2['Name'].isin(telist2)].to_csv("")

In [40]:
newdata2[newdata2['Name'].isin(telist2)]["total"].sum()

2900057

In [41]:
newdata1[newdata1['Name'].isin(telist3)]

  Name
0    A
1    B
2    C
3    D

In [42]:
# newdata1[newdata1['Name'].isin(telist3)]["total"].sum()

In [43]:
merged_data.sort_values("per_unit_x",ascending=False) # service become higher

,Name,quantity_x,per_unit_x,total_x,quantity_y,per_unit_y,total_y
54,19'' Rack inkl. Klima (M8),1000,752850,75285,1000,752850,75285
77,Mietserver Dell Server Hardware (FC-31772),1000,698000,69800,1000,698000,69800
93,Dedicated Server: VPS Host (NVMe based),1000,618000,61800,1000,618000,61800
108,1/1 Colocation Rack: R3/3.17,1000,495000,49500,1000,0,0
82,1/1 Rack (R1/3.16),1000,495000,49500,1000,0,0
...,...,...,...,...,...,...,...
61,Stromleistung je kW/h zusätzlich: gesamt,6942000,570,395694,2106000,570,120042
103,Stromleistung Standort Kruppstraße je kW/h zus...,2221000,570,126597,1987000,570,113259
55,Stromleistung je kW/h Mindestabnahme,1000000,550,55000,1000000,550,55000
62,Stromleistung je kW/h auf Stromkreis: UV2/11F9,1736000,0,0,1539000,0,0
63,Stromleistung je kW/h auf Stromkreis: UV2/11F10,1913000,0,0,1567000,0,0

In [44]:
## compair 2 and 3

In [45]:
merged_data1 = pd.merge(newdata3, newdata2, on="Name", how="inner")

In [46]:
merged_data1[""]

,Name,quantity_x,per_unit_x,total_x,quantity_y,per_unit_y,total_y
0,Dedicated Server - FC-37113,1000,258000,25800,1000,258000,25800
1,Dedicated Server - Ulta100,24000,63200,151680,24000,63200,151680
2,Dedicated Server - FC-36850,1000,84800,8480,1000,84800,8480
3,Hardware: 3.84TB PM893,2000,9600,1920,2000,9600,1920
4,1 HE im 19'' Rack,2000,65000,13000,2000,65000,13000
...,...,...,...,...,...,...,...
56,Dedicated Server: FC-36865,1000,105000,10500,1000,105000,10500
57,Dedicated Server - AMD 7763,1000,177000,17700,1000,177000,17700
58,Dedicated Server - AMD 7352,4000,100000,40000,4000,100000,40000
59,Hardware: 1.92 TB SSD Samsung PM893 MZ7L31T9HBLT,4000,5800,2320,4000,5800,2320
60,Hardware: X520-DA2,2000,10000,2000,2000,10000,2000

In [54]:
merged_data1[merged_data1["per_unit_x"]!=merged_data1["per_unit_y"]].to_csv("increase2month.csv",index=False)

In [55]:
merged_data1

,Name,quantity_x,per_unit_x,total_x,quantity_y,per_unit_y,total_y
0,Dedicated Server - FC-37113,1000,258000,25800,1000,258000,25800
1,Dedicated Server - Ulta100,24000,63200,151680,24000,63200,151680
2,Dedicated Server - FC-36850,1000,84800,8480,1000,84800,8480
3,Hardware: 3.84TB PM893,2000,9600,1920,2000,9600,1920
4,1 HE im 19'' Rack,2000,65000,13000,2000,65000,13000
...,...,...,...,...,...,...,...
56,Dedicated Server: FC-36865,1000,105000,10500,1000,105000,10500
57,Dedicated Server - AMD 7763,1000,177000,17700,1000,177000,17700
58,Dedicated Server - AMD 7352,4000,100000,40000,4000,100000,40000
59,Hardware: 1.92 TB SSD Samsung PM893 MZ7L31T9HBLT,4000,5800,2320,4000,5800,2320
60,Hardware: X520-DA2,2000,10000,2000,2000,10000,2000

In [66]:
merged_data3 = pd.merge(merged_data1, newdata1, on="Name", how="inner")

In [68]:
merged_data3

Empty DataFrame
Columns: [Name, quantity_x, per_unit_x, total_x, quantity_y, per_unit_y, total_y]
Index: []

In [63]:
merged_data2[merged_data2["per_unit_y"]!=merged_data2["per_unit"]]

KeyError: 'per_unit'

In [74]:
merged_data3=pd.merge(newdata1, newdata2, on="Name", how="inner")

In [75]:
merged_data3

,Name,quantity_x,per_unit_x,total_x,quantity_y,per_unit_y,total_y
0,1 HE im 19'' Rack,2000,65000,13000,2000,65000,13000
1,"IP-Netz (159.100.29.0/24, 212.224.86.0/24, 212...",8000,154500,123600,9000,154500,139050
2,Remote Hands - Service Dienstleistung,1000,45000,4500,1000,45000,4500
3,Remote Hands - Service Dienstleistung,1000,45000,4500,1000,45000,4500
4,Remote Hands - Service Dienstleistung,1000,45000,4500,1000,45000,4500
...,...,...,...,...,...,...,...
107,Hardware: 960GB M.2 PM983 NVMe,5000,4250,2125,5000,4250,2125
108,1/1 Colocation Rack: R3/3.17,1000,0,0,1000,495000,49500
109,Power Feeds for 5KW Colocation Racks,1000,0,0,1000,160000,16000
110,Fiber Uplinks for 5KW Colocation Racks,1000,0,0,1000,129000,12900
111,Network Switch: Juniper QFX5100-48T,1000,0,0,1000,175000,17500

In [76]:
merged_data3=pd.merge(merged_data3, newdata3, on="Name", how="inner")

In [81]:
merged_data3[merged_data3["per_unit_x"]!=merged_data3["per_unit"]].to_csv("uue.csv",index=False)

In [83]:
merged_data3.to_csv("uuqe.csv",index=False)

In [84]:
newdata3.value_counts()

Name                                                       quantity  per_unit  total
Remote Hands - Service fee                                 1000      35000     3500      4
/24 Subnet 212.224.93.0/24, 159.100.13.0/24                2000      128000    25600     1
Network Card extension + cabling (FC-24908)                5000      11000     5500      1
Stromleistung Standort Kruppstraße je kW/h zusätzlich      2183000   570       124431    1
Storage-Upgrade                                            1000      15000     1500      1
                                                                                        ..
Fiber Uplinks for 5KW Colocation Racks                     1000      129000    12900     1
Dedicted Server - VPS Host: FC-35579, FC-35580, FC-35581,  4000      705000    282000    1
Dedicated Server: VPS Host (NVMe based)                    1000      618000    61800     1
Dedicated Server: FC-36865                                 1000      105000    10500     1
rental server [KS] Ulta100 Xeon No-SSD (lease purchase)    5000      48530     24265     1
Name: count, Length: 85, dtype: int64