In [1]:
import pandas as pd

In [1]:
import re
from pdfminer.high_level import extract_pages, extract_text

In [2]:
for page_layout in extract_pages("New Invoice last July.pdf"):
    for element in page_layout:
        print(element)

<LTTextBoxHorizontal(0) 31.190,714.312,89.836,728.312 'Invoice\n'>
<LTTextBoxHorizontal(1) 59.530,680.007,117.292,689.007 'UltaHost, inc\n'>
<LTTextBoxHorizontal(2) 59.530,665.827,124.267,674.827 'Elin Doughous\n'>
<LTTextBoxHorizontal(3) 59.530,651.657,182.425,660.657 '651 N Broad St. Suite 206.\n'>
<LTTextBoxHorizontal(4) 59.530,637.487,192.001,646.487 'Middletown/Delaware, 19709\n'>
<LTTextBoxHorizontal(5) 59.530,623.307,72.274,632.307 'US\n'>
<LTTextBoxHorizontal(6) 5.670,549.211,18.382,556.211 '----\n'>
<LTTextBoxHorizontal(7) 48.190,541.107,87.538,550.107 'Product\n'>
<LTTextBoxHorizontal(8) 34.520,521.774,166.094,529.774 '1. Dedicated Server - FC-37113\n'>
<LTTextBoxHorizontal(9) 48.190,510.941,137.720,517.941 '01.07.2023 - 31.07.2023\n'>
<LTTextBoxHorizontal(10) 34.520,482.591,158.110,501.424 '2. Dedicated Server - Ulta100\n01.07.2023 - 31.07.2023\n'>
<LTTextBoxHorizontal(11) 34.520,465.074,166.094,473.074 '3. Dedicated Server - FC-36850\n'>
<LTTextBoxHorizontal(12) 48.190,454.251,137.720,461.251 '01.07.2023 - 31.07.2023\n'>
<LTTextBoxHorizontal(13) 34.520,425.901,151.630,444.734 '4. Hardware: 3.84TB PM893\n01.07.2023 - 31.07.2023\n'>
<LTTextBoxHorizontal(14) 34.520,408.384,119.334,416.384 "5. 1 HE im 19'' Rack\n">
<LTTextBoxHorizontal(15) 48.190,397.551,137.720,404.551 '01.07.2023 - 31.07.2023\n'>
<LTTextBoxHorizontal(16) 385.510,765.554,487.870,799.064 'firstcolo GmbH\nKruppstraße 105\n60388 Frankfurt am Main\nGermany\n'>
<LTTextBoxHorizontal(17) 385.510,731.534,491.038,756.544 'Tel: +49-69-120069-0\nFax: +49-69-120069-30\nMail: billing@first-colo.net\n'>
<LTTextBoxHorizontal(18) 385.510,680.007,444.478,689.007 'Customer id:\n'>
<LTTextBoxHorizontal(19) 385.510,665.827,433.633,674.827 'Invoice id:\n'>
<LTTextBoxHorizontal(20) 385.510,651.657,457.294,660.657 'Date of invoice:\n'>
<LTTextBoxHorizontal(21) 502.270,717.760,559.370,727.760 'Page 1 of 7\n'>
<LTTextBoxHorizontal(22) 529.800,680.007,558.420,689.007 '10618\n'>
<LTTextBoxHorizontal(23) 506.910,665.827,558.426,674.827 '230749996\n'>
<LTTextBoxHorizontal(24) 506.080,651.657,558.424,660.657 '05.07.2023\n'>
<LTTextBoxHorizontal(25) 385.510,608.731,418.046,615.731 'Location:\n'>
<LTTextBoxHorizontal(26) 454.030,604.481,558.429,619.991 'Hanauer Landstr. 291b\n60314 Frankfurt am Main, DE\n'>
<LTTextBoxHorizontal(27) 330.550,541.107,374.173,550.107 'Quantity\n'>
<LTTextBoxHorizontal(28) 407.160,541.107,447.876,550.107 'per Unit\n'>
<LTTextBoxHorizontal(29) 496.060,541.107,521.575,550.107 'Total\n'>
<LTTextBoxHorizontal(30) 535.590,541.107,555.588,550.107 'VAT\n'>
<LTTextBoxHorizontal(31) 350.910,521.774,374.174,529.774 '1,000\n'>
<LTTextBoxHorizontal(32) 406.530,521.774,447.874,529.774 '258,000 €\n'>
<LTTextBoxHorizontal(33) 345.820,493.424,374.172,501.424 '24,000\n'>
<LTTextBoxHorizontal(34) 411.620,493.424,447.876,501.424 '63,200 €\n'>
<LTTextBoxHorizontal(35) 350.910,465.074,374.174,473.074 '1,000\n'>
<LTTextBoxHorizontal(36) 411.620,465.074,447.876,473.074 '84,800 €\n'>
<LTTextBoxHorizontal(37) 350.910,436.734,374.174,444.734 '2,000\n'>
<LTTextBoxHorizontal(38) 416.710,436.734,447.878,444.734 '9,600 €\n'>
<LTTextBoxHorizontal(39) 350.910,408.384,374.174,416.384 '2,000\n'>
<LTTextBoxHorizontal(40) 411.620,408.384,447.876,416.384 '65,000 €\n'>
<LTTextBoxHorizontal(41) 484.210,510.941,521.576,529.774 '258,00 €\n(+ 0,00 €)\n'>
<LTTextBoxHorizontal(42) 477.320,482.591,521.576,501.424 '1.516,80 €\n(+ 0,00 €)\n'>
<LTTextBoxHorizontal(43) 484.210,454.251,521.578,473.074 '84,80 €\n(+ 0,00 €)\n'>
<LTTextBoxHorizontal(44) 484.210,425.901,521.578,444.734 '19,20 €\n(+ 0,00 €)\n'>
<LTTextBoxHorizontal(45) 484.210,397.551,521.576,416.384 '130,00 €\n(+ 0,00 €)\n'>
<LTTextBoxHorizontal(46) 543.610,510.941,555.594,517.941 '0%\n'>
<LTTextBoxHorizontal(47) 543.610,482.591,555.594,489.591 '0%\n'>
<LTTextBoxHorizontal(48) 543.610,454.251,555.594,461.251 '0%\n'>
<LTTextBoxHorizontal(49) 543.610,425.901,555.594,432.901 '0%\n'>
<LTTextBoxHorizontal(50) 543.610,397.551,555.594,404.551 '0%\n'>
<LTTextBoxHorizontal(51) 34.520,380.034,299.742,388.034 '6. IP-Net (159.100.29.0/24, 212.224.86.0/24, 212.224.88.0/24,\n'>
<LTTextBoxHorizontal(52) 350.910,380.034,374.174,388.034 '9,000\n'>
<LTTextBoxHorizontal(53) 406.530,380.034,447.874,388.034 '128,000 €\n'>
<LTTextBoxHorizontal(54) 477.320,380.034,521.576,388.034 '1.152,00 €\n'>
<LTTextBoxHorizontal(55) 48.190,365.864,321.278,373.864 '31.172.80.0/24, 31.172.83.0/24, 79.133.41.0/24, 79.133.51.0/24,\n'>
<LTTextBoxHorizontal(56) 48.190,340.861,190.430,359.694 '79.133.56.0/24, 159.100.9.0/24)\naccounting for 01.07.2023 - 31.07.2023\n'>
<LTTextBoxHorizontal(57) 34.520,323.344,160.878,331.344 '7. Remote Hands - Service fee\n'>
<LTTextBoxHorizontal(58) 48.190,312.511,214.433,319.511 'you order from ticket #FC-37568 - 02.06.2023\n'>
<LTTextBoxHorizontal(59) 34.520,295.004,160.878,303.004 '8. Remote Hands - Service fee\n'>
<LTTextBoxHorizontal(60) 48.190,284.171,214.433,291.171 'you order from ticket #FC-37816 - 15.06.2023\n'>
<LTTextBoxHorizontal(61) 34.520,266.654,160.878,274.654 '9. Remote Hands - Service fee\n'>
<LTTextBoxHorizontal(62) 48.190,255.821,214.433,262.821 'you order from ticket #FC-37138 - 23.06.2023\n'>
<LTTextBoxHorizontal(63) 29.430,238.304,160.878,246.304 '10. Remote Hands - Service fee\n'>
<LTTextBoxHorizontal(64) 48.190,227.471,214.433,234.471 'you order from ticket #FC-37568 - 02.06.2023\n'>
<LTTextBoxHorizontal(65) 350.910,323.344,374.174,331.344 '1,000\n'>
<LTTextBoxHorizontal(66) 411.620,323.344,447.876,331.344 '35,000 €\n'>
<LTTextBoxHorizontal(67) 350.910,295.004,374.174,303.004 '1,000\n'>
<LTTextBoxHorizontal(68) 411.620,295.004,447.876,303.004 '35,000 €\n'>
<LTTextBoxHorizontal(69) 350.910,266.654,374.174,274.654 '1,000\n'>
<LTTextBoxHorizontal(70) 411.620,266.654,447.876,274.654 '35,000 €\n'>
<LTTextBoxHorizontal(71) 350.910,238.304,374.174,246.304 '1,000\n'>
<LTTextBoxHorizontal(72) 411.620,238.304,447.876,246.304 '35,000 €\n'>
<LTTextBoxHorizontal(73) 29.430,209.964,234.742,217.964 '11. Network Card extension + cabling (FC-24908)\n'>
<LTTextBoxHorizontal(74) 350.910,209.964,374.174,217.964 '5,000\n'>
<LTTextBoxHorizontal(75) 411.620,209.964,447.876,217.964 '11,000 €\n'>
<LTTextBoxHorizontal(76) 48.190,199.131,137.720,206.131 '01.07.2023 - 31.07.2023\n'>
<LTTextBoxHorizontal(77) 484.210,340.861,521.576,347.861 '(+ 0,00 €)\n'>
<LTTextBoxHorizontal(78) 543.610,340.861,555.594,347.861 '0%\n'>
<LTTextBoxHorizontal(79) 484.210,312.511,521.578,331.344 '35,00 €\n(+ 0,00 €)\n'>
<LTTextBoxHorizontal(80) 484.210,284.171,521.578,303.004 '35,00 €\n(+ 0,00 €)\n'>
<LTTextBoxHorizontal(81) 484.210,255.821,521.578,274.654 '35,00 €\n(+ 0,00 €)\n'>
<LTTextBoxHorizontal(82) 484.210,227.471,521.578,246.304 '35,00 €\n(+ 0,00 €)\n'>
<LTTextBoxHorizontal(83) 484.210,199.131,521.578,217.964 '55,00 €\n(+ 0,00 €)\n'>
<LTTextBoxHorizontal(84) 543.610,312.511,555.594,319.511 '0%\n'>
<LTTextBoxHorizontal(85) 543.610,284.171,555.594,291.171 '0%\n'>
<LTTextBoxHorizontal(86) 543.610,255.821,555.594,262.821 '0%\n'>
<LTTextBoxHorizontal(87) 543.610,227.471,555.594,234.471 '0%\n'>
<LTTextBoxHorizontal(88) 543.610,199.131,555.594,206.131 '0%\n'>
<LTTextBoxHorizontal(89) 135.310,42.714,289.134,76.224 'Account Holder: firstcolo GmbH\nBank Name: Sparkasse Rhein-Nahe\nBIC: MALADE51KRE\nIBAN: DE06 5605 0180 0017 1137 21\n'>
<LTTextBoxHorizontal(90) 306.140,42.714,518.020,76.224 'VAT id: DE314364770\nRegister id: HRB 113867, Frankfurt am Main\nManaging director: Jerome Evans, Nicolaj Kamensek\nWebsite: https://first-colo.net\n'>
<LTFigure(I1) 28.350,757.110,158.740,799.370 matrix=[130.39,0.00,0.00,42.26, (28.35,757.11)]>
<LTLine 28.350,711.500,558.430,711.500>
<LTLine 28.350,538.580,558.430,538.580>
<LTTextBoxHorizontal(0) 31.190,714.312,89.836,728.312 'Invoice\n'>
<LTTextBoxHorizontal(1) 502.270,717.760,559.370,727.760 'Page 2 of 7\n'>
<LTTextBoxHorizontal(2) 385.510,765.554,487.870,799.064 'firstcolo GmbH\nKruppstraße 105\n60388 Frankfurt am Main\nGermany\n'>
<LTTextBoxHorizontal(3) 385.510,731.534,491.038,756.544 'Tel: +49-69-120069-0\nFax: +49-69-120069-30\nMail: billing@first-colo.net\n'>
<LTTextBoxHorizontal(4) 29.430,637.994,289.558,645.994 '12. Hardware: Samsung PM883 3840GB (FC-24821, FC-24995)\n'>
<LTTextBoxHorizontal(5) 350.910,637.994,374.174,645.994 '4,000\n'>
<LTTextBoxHorizontal(6) 411.620,637.994,447.876,645.994 '22,000 €\n'>
<LTTextBoxHorizontal(7) 48.190,627.161,137.720,634.161 '01.07.2023 - 31.07.2023\n'>
<LTTextBoxHorizontal(8) 29.430,609.644,244.574,617.644 '13. Hardware: Samsung PM883 1920GB (FC-25256)\n'>
<LTTextBoxHorizontal(9) 350.910,609.644,374.174,617.644 '1,000\n'>
<LTTextBoxHorizontal(10) 411.620,609.644,447.876,617.644 '12,500 €\n'>
<LTTextBoxHorizontal(11) 48.190,598.811,137.720,605.811 '01.07.2023 - 31.07.2023\n'>
<LTTextBoxHorizontal(12) 29.430,581.294,248.206,589.294 '14. Hardware: RAM-Upgrade AMD7452-1 (FC-25362)\n'>
<LTTextBoxHorizontal(13) 350.910,581.294,374.174,589.294 '1,000\n'>
<LTTextBoxHorizontal(14) 411.620,581.294,447.876,589.294 '91,500 €\n'>
<LTTextBoxHorizontal(15) 48.190,570.471,137.720,577.471 '01.07.2023 - 31.07.2023\n'>
<LTTextBoxHorizontal(16) 29.430,542.121,151.918,560.954 "15. 19'' Rack inkl. Klima (M8)\n01.07.2023 - 31.07.2023\n">
<LTTextBoxHorizontal(17) 29.430,524.604,144.686,532.604 '16. commited power usage \n'>
<LTTextBoxHorizontal(18) 48.190,513.771,314.505,520.771 'accounting for 01.07.2023 - 31.07.2023 - incl. USV, Generator and Cooling\n'>
<LTTextBoxHorizontal(19) 350.910,552.954,374.174,560.954 '1,000\n'>
<LTTextBoxHorizontal(20) 406.530,552.954,447.874,560.954 '752,850 €\n'>
<LTTextBoxHorizontal(21) 332.740,524.604,374.180,532.604 '1.000,000\n'>
<LTTextBoxHorizontal(22) 416.710,524.604,447.878,532.604 '0,550 €\n'>
<LTTextBoxHorizontal(23) 484.210,627.161,521.578,645.994 '88,00 €\n(+ 0,00 €)\n'>
<LTTextBoxHorizontal(24) 484.210,598.811,521.578,617.644 '12,50 €\n(+ 0,00 €)\n'>
<LTTextBoxHorizontal(25) 484.210,570.471,521.578,589.294 '91,50 €\n(+ 0,00 €)\n'>
<LTTextBoxHorizontal(26) 484.210,542.121,521.576,560.954 '752,85 €\n(+ 0,00 €)\n'>
<LTTextBoxHorizontal(27) 484.210,513.771,521.576,532.604 '550,00 €\n(+ 0,00 €)\n'>
<LTTextBoxHorizontal(28) 543.610,627.161,555.594,634.161 '0%\n'>
<LTTextBoxHorizontal(29) 543.610,598.811,555.594,605.811 '0%\n'>
<LTTextBoxHorizontal(30) 543.610,570.471,555.594,577.471 '0%\n'>
<LTTextBoxHorizontal(31) 543.610,542.121,555.594,549.121 '0%\n'>
<LTTextBoxHorizontal(32) 543.610,513.771,555.594,520.771 '0%\n'>
<LTTextBoxHorizontal(33) 29.430,496.264,327.822,504.264 '17. rental equipment: Network Switch Juniper EX4300-48T (FC-213814D\n'>
<LTTextBoxHorizontal(34) 350.910,496.264,374.174,504.264 '2,000\n'>
<LTTextBoxHorizontal(35) 411.620,496.264,447.876,504.264 '55,590 €\n'>
<LTTextBoxHorizontal(36) 485.320,496.264,521.576,504.264 '111,18 €\n'>
<LTTextBoxHorizontal(37) 48.190,471.251,190.430,490.084 ', FC-2137599)\naccounting for 01.07.2023 - 31.07.2023\n'>
<LTTextBoxHorizontal(38) 29.430,453.744,328.758,461.744 '18. rental server Ulta AX160-NVMe 32 Core (lease-purchase) (FC-23943)\n'>
<LTTextBoxHorizontal(39) 350.910,453.744,374.174,461.744 '1,000\n'>
<LTTextBoxHorizontal(40) 406.530,453.744,447.874,461.744 '151,270 €\n'>
<LTTextBoxHorizontal(41) 48.190,442.911,190.430,449.911 'accounting for 01.07.2023 - 31.07.2023\n'>
<LTTextBoxHorizontal(42) 484.210,471.251,521.576,478.251 '(+ 0,00 €)\n'>
<LTTextBoxHorizontal(43) 543.610,471.251,555.594,478.251 '0%\n'>
<LTTextBoxHorizontal(44) 484.210,442.911,521.576,461.744 '151,27 €\n(+ 0,00 €)\n'>
<LTTextBoxHorizontal(45) 543.610,442.911,555.594,449.911 '0%\n'>
<LTTextBoxHorizontal(46) 29.430,425.394,279.422,433.394 '19. rental server Ulta AX160-NVMe 24 Core (lease-purchase)\n'>
<LTTextBoxHorizontal(47) 345.820,425.394,374.172,433.394 '14,000\n'>
<LTTextBoxHorizontal(48) 406.530,425.394,447.874,433.394 '110,540 €\n'>
<LTTextBoxHorizontal(49) 477.320,425.394,521.576,433.394 '1.547,56 €\n'>
<LTTextBoxHorizontal(50) 48.190,400.391,190.430,419.224 '(FC-23944-57)\naccounting for 01.07.2023 - 31.07.2023\n'>
<LTTextBoxHorizontal(51) 29.430,382.874,310.678,390.874 '20. rental server Ulta100 Xeon SSD (lease-purchase) (FC-23958-62)\n'>
<LTTextBoxHorizontal(52) 350.910,382.874,374.174,390.874 '5,000\n'>
<LTTextBoxHorizontal(53) 411.620,382.874,447.876,390.874 '59,800 €\n'>
<LTTextBoxHorizontal(54) 48.190,372.041,190.430,379.041 'accounting for 01.07.2023 - 31.07.2023\n'>
<LTTextBoxHorizontal(55) 29.430,354.524,325.150,362.524 '21. rental server Ulta100 Xeon No-SSD (lease-purchase) (FC-23963-67)\n'>
<LTTextBoxHorizontal(56) 350.910,354.524,374.174,362.524 '5,000\n'>
<LTTextBoxHorizontal(57) 411.620,354.524,447.876,362.524 '48,530 €\n'>
<LTTextBoxHorizontal(58) 48.190,343.691,190.430,350.691 'accounting for 01.07.2023 - 31.07.2023\n'>
<LTTextBoxHorizontal(59) 29.430,326.184,206.166,334.184 '22. power usage per kW/h additional: total\n'>
<LTTextBoxHorizontal(60) 332.740,326.184,374.180,334.184 '8.269,000\n'>
<LTTextBoxHorizontal(61) 416.710,326.184,447.878,334.184 '0,570 €\n'>
<LTTextBoxHorizontal(62) 48.190,315.351,315.002,322.351 'accounting for 01.06.2023 - 30.06.2023 - inkl. USV, Generator and Cooling\n'>
<LTTextBoxHorizontal(63) 29.430,297.834,266.678,305.834 '23. power usage per kW/h on circuit: UV-RZ-Vario-B/F2.4\n'>
<LTTextBoxHorizontal(64) 340.740,297.834,374.180,305.834 '348,000\n'>
<LTTextBoxHorizontal(65) 416.710,297.834,447.878,305.834 '0,000 €\n'>
<LTTextBoxHorizontal(66) 48.190,287.001,314.505,294.001 'accounting for 01.06.2023 - 30.06.2023 - incl. USV, Generator and Cooling\n'>
<LTTextBoxHorizontal(67) 29.430,269.484,266.678,277.484 '24. power usage per kW/h on circuit: UV-RZ-Vario-B/F1.8\n'>
<LTTextBoxHorizontal(68) 332.740,269.484,374.180,277.484 '2.428,000\n'>
<LTTextBoxHorizontal(69) 416.710,269.484,447.878,277.484 '0,000 €\n'>
<LTTextBoxHorizontal(70) 48.190,258.651,314.505,265.651 'accounting for 01.06.2023 - 30.06.2023 - incl. USV, Generator and Cooling\n'>
<LTTextBoxHorizontal(71) 29.430,241.144,266.662,249.144 '25. power usage per kW/h on circuit: UV-RZ-Vario-A/F1.8\n'>
<LTTextBoxHorizontal(72) 332.740,241.144,374.180,249.144 '2.341,000\n'>
<LTTextBoxHorizontal(73) 416.710,241.144,447.878,249.144 '0,000 €\n'>
<LTTextBoxHorizontal(74) 48.190,230.311,314.505,237.311 'accounting for 01.06.2023 - 30.06.2023 - incl. USV, Generator and Cooling\n'>
<LTTextBoxHorizontal(75) 29.430,212.794,266.662,220.794 '26. power usage per kW/h on circuit: UV-RZ-Vario-A/F2.4\n'>
<LTTextBoxHorizontal(76) 340.740,212.794,374.180,220.794 '379,000\n'>
<LTTextBoxHorizontal(77) 416.710,212.794,447.878,220.794 '0,000 €\n'>
<LTTextBoxHorizontal(78) 48.190,201.961,314.505,208.961 'accounting for 01.06.2023 - 30.06.2023 - incl. USV, Generator and Cooling\n'>
<LTTextBoxHorizontal(79) 484.210,400.391,521.576,407.391 '(+ 0,00 €)\n'>
<LTTextBoxHorizontal(80) 543.610,400.391,555.594,407.391 '0%\n'>
<LTTextBoxHorizontal(81) 484.210,372.041,521.576,390.874 '299,00 €\n(+ 0,00 €)\n'>
<LTTextBoxHorizontal(82) 484.210,343.691,521.576,362.524 '242,65 €\n(+ 0,00 €)\n'>
<LTTextBoxHorizontal(83) 477.320,315.351,521.576,334.184 '4.713,33 €\n(+ 0,00 €)\n'>
<LTTextBoxHorizontal(84) 484.210,287.001,521.580,305.834 '0,00 €\n(+ 0,00 €)\n'>
<LTTextBoxHorizontal(85) 484.210,258.651,521.580,277.484 '0,00 €\n(+ 0,00 €)\n'>
<LTTextBoxHorizontal(86) 484.210,230.311,521.580,249.144 '0,00 €\n(+ 0,00 €)\n'>
<LTTextBoxHorizontal(87) 484.210,201.961,521.580,220.794 '0,00 €\n(+ 0,00 €)\n'>
<LTTextBoxHorizontal(88) 543.610,372.041,555.594,379.041 '0%\n'>
<LTTextBoxHorizontal(89) 543.610,343.691,555.594,350.691 '0%\n'>
<LTTextBoxHorizontal(90) 543.610,315.351,555.594,322.351 '0%\n'>
<LTTextBoxHorizontal(91) 543.610,287.001,555.594,294.001 '0%\n'>
<LTTextBoxHorizontal(92) 543.610,258.651,555.594,265.651 '0%\n'>
<LTTextBoxHorizontal(93) 543.610,230.311,555.594,237.311 '0%\n'>
<LTTextBoxHorizontal(94) 543.610,201.961,555.594,208.961 '0%\n'>
<LTTextBoxHorizontal(95) 135.310,42.714,289.134,76.224 'Account Holder: firstcolo GmbH\nBank Name: Sparkasse Rhein-Nahe\nBIC: MALADE51KRE\nIBAN: DE06 5605 0180 0017 1137 21\n'>
<LTTextBoxHorizontal(96) 306.140,42.714,518.020,76.224 'VAT id: DE314364770\nRegister id: HRB 113867, Frankfurt am Main\nManaging director: Jerome Evans, Nicolaj Kamensek\nWebsite: https://first-colo.net\n'>
<LTFigure(I1) 28.350,757.110,158.740,799.370 matrix=[130.39,0.00,0.00,42.26, (28.35,757.11)]>
<LTLine 28.350,711.500,558.430,711.500>
<LTTextBoxHorizontal(0) 31.190,714.312,89.836,728.312 'Invoice\n'>
<LTTextBoxHorizontal(1) 502.270,717.760,559.370,727.760 'Page 3 of 7\n'>
<LTTextBoxHorizontal(2) 385.510,765.554,487.870,799.064 'firstcolo GmbH\nKruppstraße 105\n60388 Frankfurt am Main\nGermany\n'>
<LTTextBoxHorizontal(3) 385.510,731.534,491.038,756.544 'Tel: +49-69-120069-0\nFax: +49-69-120069-30\nMail: billing@first-colo.net\n'>
<LTTextBoxHorizontal(4) 29.430,637.994,225.774,645.994 '27. power usage per kW/h on circuit: UV2/11F9\n'>
<LTTextBoxHorizontal(5) 332.740,637.994,374.180,645.994 '1.818,000\n'>
<LTTextBoxHorizontal(6) 416.710,637.994,447.878,645.994 '0,000 €\n'>
<LTTextBoxHorizontal(7) 48.190,627.161,314.505,634.161 'accounting for 01.06.2023 - 30.06.2023 - incl. USV, Generator and Cooling\n'>
<LTTextBoxHorizontal(8) 29.430,609.644,230.862,617.644 '28. power usage per kW/h on circuit: UV2/11F10\n'>
<LTTextBoxHorizontal(9) 332.740,609.644,374.180,617.644 '1.955,000\n'>
<LTTextBoxHorizontal(10) 416.710,609.644,447.878,617.644 '0,000 €\n'>
<LTTextBoxHorizontal(11) 48.190,598.811,314.505,605.811 'accounting for 01.06.2023 - 30.06.2023 - incl. USV, Generator and Cooling\n'>
<LTTextBoxHorizontal(12) 484.210,627.161,521.580,645.994 '0,00 €\n(+ 0,00 €)\n'>
<LTTextBoxHorizontal(13) 484.210,598.811,521.580,617.644 '0,00 €\n(+ 0,00 €)\n'>
<LTTextBoxHorizontal(14) 543.610,627.161,555.594,634.161 '0%\n'>
<LTTextBoxHorizontal(15) 543.610,598.811,555.594,605.811 '0%\n'>
<LTTextBoxHorizontal(16) 29.430,581.294,278.502,589.294 '29. rental server Private Company Server (Ulta AX160-NVMe\n'>
<LTTextBoxHorizontal(17) 350.910,581.294,374.174,589.294 '1,000\n'>
<LTTextBoxHorizontal(18) 406.530,581.294,447.874,589.294 '110,540 €\n'>
<LTTextBoxHorizontal(19) 485.320,581.294,521.576,589.294 '110,54 €\n'>
<LTTextBoxHorizontal(20) 48.190,556.291,190.430,575.124 '24 Core) (FC-25599)\naccounting for 01.07.2023 - 31.07.2023\n'>
<LTTextBoxHorizontal(21) 29.430,538.774,273.438,546.774 '30. Hardware: Samsung 970 EVO M.2 with 2TB (FC-25684)\n'>
<LTTextBoxHorizontal(22) 350.910,538.774,374.174,546.774 '9,000\n'>
<LTTextBoxHorizontal(23) 411.620,538.774,447.876,546.774 '12,500 €\n'>
<LTTextBoxHorizontal(24) 48.190,527.951,137.720,534.951 '01.07.2023 - 31.07.2023\n'>
<LTTextBoxHorizontal(25) 484.210,556.291,521.576,563.291 '(+ 0,00 €)\n'>
<LTTextBoxHorizontal(26) 543.610,556.291,555.594,563.291 '0%\n'>
<LTTextBoxHorizontal(27) 484.210,527.951,521.576,546.774 '112,50 €\n(+ 0,00 €)\n'>
<LTTextBoxHorizontal(28) 543.610,527.951,555.594,534.951 '0%\n'>
<LTTextBoxHorizontal(29) 29.430,510.434,291.566,518.434 '31. rental server [KS] Ulta AX160-NVMe 24 Core (AMD7402-15,\n'>
<LTTextBoxHorizontal(30) 350.910,510.434,374.174,518.434 '3,000\n'>
<LTTextBoxHorizontal(31) 406.530,510.434,447.874,518.434 '123,520 €\n'>
<LTTextBoxHorizontal(32) 485.320,510.434,521.576,518.434 '370,56 €\n'>
<LTTextBoxHorizontal(33) 48.190,485.431,190.430,504.264 'AMD7402-16, AMD7402-17)\naccounting for 01.07.2023 - 31.07.2023\n'>
<LTTextBoxHorizontal(34) 484.210,485.431,521.576,492.431 '(+ 0,00 €)\n'>
<LTTextBoxHorizontal(35) 543.610,485.431,555.594,492.431 '0%\n'>
<LTTextBoxHorizontal(36) 29.430,467.914,279.054,475.914 '32. rental server [KS] Ulta100 Xeon NVMe SSD (E-2276G-11\n'>
<LTTextBoxHorizontal(37) 350.910,467.914,374.174,475.914 '2,000\n'>
<LTTextBoxHorizontal(38) 411.620,467.914,447.876,475.914 '59,630 €\n'>
<LTTextBoxHorizontal(39) 485.320,467.914,521.576,475.914 '119,26 €\n'>
<LTTextBoxHorizontal(40) 48.190,442.911,190.430,461.744 'E-2276G-12)\naccounting for 01.07.2023 - 31.07.2023\n'>

In [3]:
text=extract_text("New Invoice last July.pdf")
print(text)

Invoice

UltaHost, inc

Elin Doughous

651 N Broad St. Suite 206.

Middletown/Delaware, 19709

US

----

Product

1. Dedicated Server - FC-37113

01.07.2023 - 31.07.2023

2. Dedicated Server - Ulta100
01.07.2023 - 31.07.2023

3. Dedicated Server - FC-36850

01.07.2023 - 31.07.2023

4. Hardware: 3.84TB PM893
01.07.2023 - 31.07.2023

5. 1 HE im 19'' Rack

01.07.2023 - 31.07.2023

firstcolo GmbH
Kruppstraße 105
60388 Frankfurt am Main
Germany

Tel: +49-69-120069-0
Fax: +49-69-120069-30
Mail: billing@first-colo.net

Customer id:

Invoice id:

Date of invoice:

Page 1 of 7

10618

230749996

05.07.2023

Location:

Hanauer Landstr. 291b
60314 Frankfurt am Main, DE

Quantity

per Unit

Total

VAT

1,000

258,000 €

24,000

63,200 €

1,000

84,800 €

2,000

9,600 €

2,000

65,000 €

258,00 €
(+ 0,00 €)

1.516,80 €
(+ 0,00 €)

84,80 €
(+ 0,00 €)

19,20 €
(+ 0,00 €)

130,00 €
(+ 0,00 €)

0%

0%

0%

0%

0%

6. IP-Net (159.100.29.0/24, 212.224.86.0/24, 212.224.88.0/24,

9,000

128,000 €

1.152,00 €

31.172.80.0/24, 31.172.83.0/24, 79.133.41.0/24, 79.133.51.0/24,

79.133.56.0/24, 159.100.9.0/24)
accounting for 01.07.2023 - 31.07.2023

7. Remote Hands - Service fee

you order from ticket #FC-37568 - 02.06.2023

8. Remote Hands - Service fee

you order from ticket #FC-37816 - 15.06.2023

9. Remote Hands - Service fee

you order from ticket #FC-37138 - 23.06.2023

10. Remote Hands - Service fee

you order from ticket #FC-37568 - 02.06.2023

1,000

35,000 €

1,000

35,000 €

1,000

35,000 €

1,000

35,000 €

11. Network Card extension + cabling (FC-24908)

5,000

11,000 €

01.07.2023 - 31.07.2023

(+ 0,00 €)

0%

35,00 €
(+ 0,00 €)

35,00 €
(+ 0,00 €)

35,00 €
(+ 0,00 €)

35,00 €
(+ 0,00 €)

55,00 €
(+ 0,00 €)

0%

0%

0%

0%

0%

Account Holder: firstcolo GmbH
Bank Name: Sparkasse Rhein-Nahe
BIC: MALADE51KRE
IBAN: DE06 5605 0180 0017 1137 21

VAT id: DE314364770
Register id: HRB 113867, Frankfurt am Main
Managing director: Jerome Evans, Nicolaj Kamensek
Website: https://first-colo.net

Invoice

Page 2 of 7

firstcolo GmbH
Kruppstraße 105
60388 Frankfurt am Main
Germany

Tel: +49-69-120069-0
Fax: +49-69-120069-30
Mail: billing@first-colo.net

12. Hardware: Samsung PM883 3840GB (FC-24821, FC-24995)

4,000

22,000 €

01.07.2023 - 31.07.2023

13. Hardware: Samsung PM883 1920GB (FC-25256)

1,000

12,500 €

01.07.2023 - 31.07.2023

14. Hardware: RAM-Upgrade AMD7452-1 (FC-25362)

1,000

91,500 €

01.07.2023 - 31.07.2023

15. 19'' Rack inkl. Klima (M8)
01.07.2023 - 31.07.2023

16. commited power usage

accounting for 01.07.2023 - 31.07.2023 - incl. USV, Generator and Cooling

1,000

752,850 €

1.000,000

0,550 €

88,00 €
(+ 0,00 €)

12,50 €
(+ 0,00 €)

91,50 €
(+ 0,00 €)

752,85 €
(+ 0,00 €)

550,00 €
(+ 0,00 €)

0%

0%

0%

0%

0%

17. rental equipment: Network Switch Juniper EX4300-48T (FC-213814D

2,000

55,590 €

111,18 €

, FC-2137599)
accounting for 01.07.2023 - 31.07.2023

18. rental server Ulta AX160-NVMe 32 Core (lease-purchase) (FC-23943)

1,000

151,270 €

accounting for 01.07.2023 - 31.07.2023

(+ 0,00 €)

0%

151,27 €
(+ 0,00 €)

0%

19. rental server Ulta AX160-NVMe 24 Core (lease-purchase)

14,000

110,540 €

1.547,56 €

(FC-23944-57)
accounting for 01.07.2023 - 31.07.2023

20. rental server Ulta100 Xeon SSD (lease-purchase) (FC-23958-62)

5,000

59,800 €

accounting for 01.07.2023 - 31.07.2023

21. rental server Ulta100 Xeon No-SSD (lease-purchase) (FC-23963-67)

5,000

48,530 €

accounting for 01.07.2023 - 31.07.2023

22. power usage per kW/h additional: total

8.269,000

0,570 €

accounting for 01.06.2023 - 30.06.2023 - inkl. USV, Generator and Cooling

23. power usage per kW/h on circuit: UV-RZ-Vario-B/F2.4

348,000

0,000 €

accounting for 01.06.2023 - 30.06.2023 - incl. USV, Generator and Cooling

24. power usage per kW/h on circuit: UV-RZ-Vario-B/F1.8

2.428,000

0,000 €

accounting for 01.06.2023 - 30.06.2023 - incl. USV, Generator and Cooling

25. power usage per kW/h on circuit: UV-RZ-Vario-A/F1.8

2.341,000

0,000 €

accounting for 01.06.2023 - 30.06.2023 - incl. USV, Generator and Cooling

26. power usage per kW/h on circuit: UV-RZ-Vario-A/F2.4

379,000

0,000 €

accounting for 01.06.2023 - 30.06.2023 - incl. USV, Generator and Cooling

(+ 0,00 €)

0%

299,00 €
(+ 0,00 €)

242,65 €
(+ 0,00 €)

4.713,33 €
(+ 0,00 €)

0,00 €
(+ 0,00 €)

0,00 €
(+ 0,00 €)

0,00 €
(+ 0,00 €)

0,00 €
(+ 0,00 €)

0%

0%

0%

0%

0%

0%

0%

Account Holder: firstcolo GmbH
Bank Name: Sparkasse Rhein-Nahe
BIC: MALADE51KRE
IBAN: DE06 5605 0180 0017 1137 21

VAT id: DE314364770
Register id: HRB 113867, Frankfurt am Main
Managing director: Jerome Evans, Nicolaj Kamensek
Website: https://first-colo.net

Invoice

Page 3 of 7

firstcolo GmbH
Kruppstraße 105
60388 Frankfurt am Main
Germany

Tel: +49-69-120069-0
Fax: +49-69-120069-30
Mail: billing@first-colo.net

27. power usage per kW/h on circuit: UV2/11F9

1.818,000

0,000 €

accounting for 01.06.2023 - 30.06.2023 - incl. USV, Generator and Cooling

28. power usage per kW/h on circuit: UV2/11F10

1.955,000

0,000 €

accounting for 01.06.2023 - 30.06.2023 - incl. USV, Generator and Cooling

0,00 €
(+ 0,00 €)

0,00 €
(+ 0,00 €)

0%

0%

29. rental server Private Company Server (Ulta AX160-NVMe

1,000

110,540 €

110,54 €

24 Core) (FC-25599)
accounting for 01.07.2023 - 31.07.2023

30. Hardware: Samsung 970 EVO M.2 with 2TB (FC-25684)

9,000

12,500 €

01.07.2023 - 31.07.2023

(+ 0,00 €)

0%

112,50 €
(+ 0,00 €)

0%

31. rental server [KS] Ulta AX160-NVMe 24 Core (AMD7402-15,

3,000

123,520 €

370,56 €

AMD7402-16, AMD7402-17)
accounting for 01.07.2023 - 31.07.2023

(+ 0,00 €)

0%

32. rental server [KS] Ulta100 Xeon NVMe SSD (E-2276G-11

2,000

59,630 €

119,26 €

E-2276G-12)
accounting for 01.07.2023 - 31.07.2023

33. Hardware: RAM-Upgrade 128 GB AMD 7402-11 (FC-26693)

1,000

30,500 €

01.07.2023 - 31.07.2023

34. Hardware: Server-Upgrade (2x 960 GB PM883) (FC-26713)

2,000

11,270 €

01.07.2023 - 31.07.2023

35. Traffic Flatrate 6 Gbit

accounting for 01.07.2023 - 31.07.2023

36. Shared Housing Ultahost-A3
01.07.2023 - 31.07.2023

1,000

2.650,000 €

1,000

65,000 €

37. Hardware: Server-Upgrade: SSD (FC-29004)

1,000

415,000 €

01.07.2023 - 31.07.2023

38. Hardware: Server-Upgrade: RAM (FC-29004)

1,000

399,000 €

01.07.2023 - 31.07.2023

39. 1G Uplink Ultahost-A3 (FC-30128)

01.07.2023 - 31.07.2023

1,000

10,000 €

40. Hardware: 64 GB RAM Ultahost-A1 (FC-29564)

1,000

27,000 €

01.07.2023 - 31.07.2023

(+ 0,00 €)

0%

30,50 €
(+ 0,00 €)

22,54 €
(+ 0,00 €)

2.650,00 €
(+ 0,00 €)

65,00 €
(+ 0,00 €)

415,00 €
(+ 0,00 €)

399,00 €
(+ 0,00 €)

10,00 €
(+ 0,00 €)

27,00 €
(+ 0,00 €)

0%

0%

0%

0%

0%

0%

0%

0%

Account Holder: firstcolo GmbH
Bank Name: Sparkasse Rhein-Nahe
BIC: MALADE51KRE
IBAN: DE06 5605 0180 0017 1137 21

VAT id: DE314364770
Register id: HRB 113867, Frankfurt am Main
Managing director: Jerome Evans, Nicolaj Kamensek
Website: https://first-colo.net

Invoice

Page 4 of 7

firstcolo GmbH
Kruppstraße 105
60388 Frankfurt am Main
Germany

Tel: +49-69-120069-0
Fax: +49-69-120069-30
Mail: billing@first-colo.net

41. Hardware: Server-Upgrade AMD 7451-1 (FC-31437)

1,000

90,000 €

01.07.2023 - 31.07.2023

42. DDoS Protection Arbor Lite (FC-31602)
accounting for 01.07.2023 - 31.07.2023

1,000

99,000 €

43. rental server Dell Server Hardware (FC-31772)

1,000

698,000 €

accounting for 01.07.2023 - 31.07.2023

44. Hardware: Server-Upgrade E-2276G-1 (FC-32269)

1,000

130,000 €

01.07.2023 - 31.07.2023

45. Hardware: Server-Upgrade AMD7402-5 (FC-32606)

1,000

13,600 €

01.07.2023 - 31.07.2023

46. Hardware: Serverupgrade A2 (FC-32852)

1,000

374,000 €

01.07.2023 - 31.07.2023

47. Hardware: FC-33801

01.07.2023 - 31.07.2023

48. 1/1 Rack (R1/3.16)

01.07.2023 - 31.07.2023

49. Power Feeds Rack R1/3.16
01.07.2023 - 31.07.2023

50. Uplinks Rack R1/3.16
01.07.2023 - 31.07.2023

1,000

172,800 €

1,000

495,000 €

1,000

160,000 €

1,000

129,000 €

51. rental equipment: Juniper QFX5100-48T (FC-2291D2A, FC-2291EB8)

2,000

175,000 €

accounting for 01.07.2023 - 31.07.2023

52. rental server Ulta 100-Xeon no SSD (FC-33243-57)

15,000

49,000 €

accounting for 01.07.2023 - 31.07.2023

53. Mietserver: VPS Host (FC-33262-64)

01.07.2023 - 31.07.2023

54. Hardware Components
01.07.2023 - 31.07.2023

55. Storage-Upgrade

01.07.2023 - 31.07.2023

1,000

433,000 €

1,000

323,000 €

1,000

15,000 €

56. Hardware: Intel X540-T2 (Dual 10GbE)

2,000

24,000 €

01.07.2023 - 31.07.2023

90,00 €
(+ 0,00 €)

99,00 €
(+ 0,00 €)

698,00 €
(+ 0,00 €)

130,00 €
(+ 0,00 €)

13,60 €
(+ 0,00 €)

374,00 €
(+ 0,00 €)

172,80 €
(+ 0,00 €)

495,00 €
(+ 0,00 €)

160,00 €
(+ 0,00 €)

129,00 €
(+ 0,00 €)

350,00 €
(+ 0,00 €)

735,00 €
(+ 0,00 €)

433,00 €
(+ 0,00 €)

323,00 €
(+ 0,00 €)

15,00 €
(+ 0,00 €)

48,00 €
(+ 0,00 €)

0%

0%

0%

0%

0%

0%

0%

0%

0%

0%

0%

0%

0%

0%

0%

0%

Account Holder: firstcolo GmbH
Bank Name: Sparkasse Rhein-Nahe
BIC: MALADE51KRE
IBAN: DE06 5605 0180 0017 1137 21

VAT id: DE314364770
Register id: HRB 113867, Frankfurt am Main
Managing director: Jerome Evans, Nicolaj Kamensek
Website: https://first-colo.net

Invoice

Page 5 of 7

firstcolo GmbH
Kruppstraße 105
60388 Frankfurt am Main
Germany

Tel: +49-69-120069-0
Fax: +49-69-120069-30
Mail: billing@first-colo.net

57. IP-Net (159.100.30.0/24, 212.224.107.0/24)

2,000

128,000 €

accounting for 01.07.2023 - 31.07.2023

58. 1TB SSD for server AMD7402-16

01.07.2023 - 31.07.2023

1,000

5,000 €

59. Dedicated Server: VPS Host (NVMe based)

1,000

618,000 €

01.07.2023 - 31.07.2023

60. 3U Supermicro Server - Modification

01.07.2023 - 31.07.2023

1,000

204,650 €

61. Dedicated Server FC-35348, FC-35624

2,000

130,000 €

01.07.2023 - 31.07.2023

62. Dedicated Server FC-35349
01.07.2023 - 31.07.2023

63. Serverupgrade 276G-1
01.07.2023 - 31.07.2023

64. LSI 9560-16i Raid Controller
01.07.2023 - 31.07.2023

65. 1.92TB PM983 Samsung NVMe SSD

01.07.2023 - 31.07.2023

66. 1x 960GB PM893 SSD
01.07.2023 - 31.07.2023

1,000

140,000 €

1,000

33,450 €

1,000

45,000 €

1,000

8,300 €

1,000

5,500 €

67. Dedicated Server FC-35583 bis FC-35597

15,000

49,290 €

01.07.2023 - 31.07.2023

68. Dedicated Server FC-35865
01.07.2023 - 31.07.2023

1,000

88,000 €

256,00 €
(+ 0,00 €)

5,00 €
(+ 0,00 €)

618,00 €
(+ 0,00 €)

204,65 €
(+ 0,00 €)

260,00 €
(+ 0,00 €)

140,00 €
(+ 0,00 €)

33,45 €
(+ 0,00 €)

45,00 €
(+ 0,00 €)

8,30 €
(+ 0,00 €)

5,50 €
(+ 0,00 €)

739,35 €
(+ 0,00 €)

88,00 €
(+ 0,00 €)

0%

0%

0%

0%

0%

0%

0%

0%

0%

0%

0%

0%

69. rental server [KS] Ulta100 Xeon No-SSD (lease purchase)

5,000

48,530 €

242,65 €

(E-2276G-13, E-2276G-14, E-2276G-15, E-2276G-16, E-2276G-17)
accounting for 01.07.2023 - 31.07.2023

70. Stromleistung Standort Kruppstraße je kW/h zusätzlich

2.183,000

0,570 €

01.07.2023 - 31.07.2023

71. Dedicated Server: FC-36099
01.07.2023 - 31.07.2023

1,000

130,000 €

(+ 0,00 €)

0%

1.244,31 €
(+ 0,00 €)

130,00 €
(+ 0,00 €)

0%

0%

Account Holder: firstcolo GmbH
Bank Name: Sparkasse Rhein-Nahe
BIC: MALADE51KRE
IBAN: DE06 5605 0180 0017 1137 21

VAT id: DE314364770
Register id: HRB 113867, Frankfurt am Main
Managing director: Jerome Evans, Nicolaj Kamensek
Website: https://first-colo.net

Invoice

Page 6 of 7

firstcolo GmbH
Kruppstraße 105
60388 Frankfurt am Main
Germany

Tel: +49-69-120069-0
Fax: +49-69-120069-30
Mail: billing@first-colo.net

72. Dedicated Server: FC-36067, FC-36068

2,000

125,000 €

01.07.2023 - 31.07.2023

73. Dedicated Server: FC-36035
01.07.2023 - 31.07.2023

74. Hardware: 960GB M.2 PM983 NVMe

01.07.2023 - 31.07.2023

75. 1/1 Colocation Rack: R3/3.17

01.07.2023 - 31.07.2023

1,000

140,000 €

5,000

4,250 €

1,000

495,000 €

76. Power Feeds for 5KW Colocation Racks

1,000

160,000 €

01.07.2023 - 31.07.2023

77. Fiber Uplinks for 5KW Colocation Racks

1,000

129,000 €

01.07.2023 - 31.07.2023

78. Network Switch: Juniper QFX5100-48T

1,000

175,000 €

01.07.2023 - 31.07.2023

79. 3.84TB Samsung Enterprise SDD PM893

10,000

13,100 €

01.07.2023 - 31.07.2023

80. Hardware: 1.92TB Samsung PM983 NVMe

1,000

11,500 €

01.07.2023 - 31.07.2023

250,00 €
(+ 0,00 €)

140,00 €
(+ 0,00 €)

21,25 €
(+ 0,00 €)

495,00 €
(+ 0,00 €)

160,00 €
(+ 0,00 €)

129,00 €
(+ 0,00 €)

175,00 €
(+ 0,00 €)

131,00 €
(+ 0,00 €)

11,50 €
(+ 0,00 €)

0%

0%

0%

0%

0%

0%

0%

0%

0%

81. Dedicted Server - VPS Host: FC-35579, FC-35580, FC-35581,

4,000

705,000 €

2.820,00 €

FC-35582
01.07.2023 - 31.07.2023

82. Hardware: 960GB PM893 SS
01.07.2023 - 31.07.2023

1,000

4,700 €

83. /24 Subnet 212.224.93.0/24, 159.100.13.0/24

2,000

128,000 €

01.07.2023 - 31.07.2023

84. Dedicated Server: FC-36865
01.07.2023 - 31.07.2023

85. Dedicated Server - AMD 7763

01.07.2023 - 31.07.2023

86. Dedicated Server - AMD 7352

01.07.2023 - 31.07.2023

1,000

105,000 €

1,000

177,000 €

4,000

100,000 €

(+ 0,00 €)

0%

4,70 €
(+ 0,00 €)

256,00 €
(+ 0,00 €)

105,00 €
(+ 0,00 €)

177,00 €
(+ 0,00 €)

400,00 €
(+ 0,00 €)

0%

0%

0%

0%

0%

Account Holder: firstcolo GmbH
Bank Name: Sparkasse Rhein-Nahe
BIC: MALADE51KRE
IBAN: DE06 5605 0180 0017 1137 21

VAT id: DE314364770
Register id: HRB 113867, Frankfurt am Main
Managing director: Jerome Evans, Nicolaj Kamensek
Website: https://first-colo.net

firstcolo GmbH
Kruppstraße 105
60388 Frankfurt am Main
Germany

Tel: +49-69-120069-0
Fax: +49-69-120069-30
Mail: billing@first-colo.net

Invoice

87. Hardware: 1.92 TB SSD Samsung PM893 MZ7L31T9HBLT

4,000

5,800 €

01.07.2023 - 31.07.2023

88. Hardware: X520-DA2
01.07.2023 - 31.07.2023

2,000

10,000 €

Page 7 of 7

23,20 €
(+ 0,00 €)

20,00 €
(+ 0,00 €)

0%

0%

Contains Exempted transactions pursuant to German §13b UStG.

invoice amount:

29.851,80 €

subtotal:

29.851,80 €

The invoice amount is due immediately without deduction. Please transfer this to the account listed below.

The recipient is liable for VAT under the reverse charge mechnism!

Account Holder: firstcolo GmbH
Bank Name: Sparkasse Rhein-Nahe
BIC: MALADE51KRE
IBAN: DE06 5605 0180 0017 1137 21

VAT id: DE314364770
Register id: HRB 113867, Frankfurt am Main
Managing director: Jerome Evans, Nicolaj Kamensek
Website: https://first-colo.net

In [ ]:
import fitz
import PIL.Image
import io

In [ ]:
import tabula

In [2]:
import tabula
# Read pdf into a list of DataFrame
dfs = tabula.read_pdf("New Invoice last July.pdf", pages='all')

Failed to import jpype dependencies. Fallback to subprocess.
No module named 'jpype'

JavaNotFoundError: `java` command is not found from this Python process.Please ensure Java is installed and PATH is set for `java`

In [ ]:
# Read remote pdf into a list of DataFrame
dfs2 = tabula.read_pdf("https://github.com/tabulapdf/tabula-java/raw/master/src/test/resources/technology/tabula/arabic.pdf")

# convert PDF into CSV
tabula.convert_into("test.pdf", "output.csv", output_format="csv", pages='all')

# convert all PDFs in a directory
tabula.convert_into_by_batch("input_directory", output_format='csv', pages='all')

In [ ]:
import pandas as pd

In [3]:
df1=pd.read_excel(r"D:\Pyn\online learning\INURAN_DATA\FSDS_September\TEST_WORK\NEW WORK\New Invoice last July.xlsx")

In [4]:
df1

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,firstcolo GmbH\nKruppstraße 105\n60388 Frankfu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tel: +49-69-120069-0\nFax: +49-69-120069-30\nM...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"UltaHost, inc",NaN,Customer id:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10618,NaN,NaN
3,Elin Doughous,NaN,Invoice id:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,230749996,NaN,NaN
4,651 N Broad St. Suite 206.,NaN,Date of invoice:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05.07.2023,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,Contains Exempted transactions pursuant to Ger...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,invoice amount:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"29.851,80 €",NaN,NaN,NaN,NaN
228,The invoice amount is due immediately without ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230,Account Holder: firstcolo GmbH\nBank Name: Spa...,NaN,NaN,"VAT id: DE314364770\nRegister id: HRB 113867, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
import numpy as np

In [8]:
df1[(df1["Unnamed: 1"]!="NaN")==True]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,firstcolo GmbH\nKruppstraße 105\n60388 Frankfu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tel: +49-69-120069-0\nFax: +49-69-120069-30\nM...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"UltaHost, inc",NaN,Customer id:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10618,NaN,NaN
3,Elin Doughous,NaN,Invoice id:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,230749996,NaN,NaN
4,651 N Broad St. Suite 206.,NaN,Date of invoice:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05.07.2023,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,Contains Exempted transactions pursuant to Ger...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,invoice amount:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"29.851,80 €",NaN,NaN,NaN,NaN
228,The invoice amount is due immediately without ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230,Account Holder: firstcolo GmbH\nBank Name: Spa...,NaN,NaN,"VAT id: DE314364770\nRegister id: HRB 113867, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df1file=df1[df1["Unnamed: 1"].notna()]

In [20]:
for i in df1file.columns[df1file.isna().sum() > 180].tolist():
    df1file.drop(i,axis=1,inplace=True)

C:\Users\aviji\AppData\Local\Temp\ipykernel_11188\653511370.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1file.drop(i,axis=1,inplace=True)
C:\Users\aviji\AppData\Local\Temp\ipykernel_11188\653511370.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1file.drop(i,axis=1,inplace=True)
C:\Users\aviji\AppData\Local\Temp\ipykernel_11188\653511370.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1file.drop(i,axis=1,inplace=True)
C:\Users\aviji\AppData\Local\Temp\ipykernel_11188\653511370.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1file.drop(i,axis=1,inplace=True)

In [22]:
df1file.isna().sum()

Unnamed: 0      96
Unnamed: 1       0
Unnamed: 4     167
Unnamed: 5     156
Unnamed: 6     152
Unnamed: 7     166
Unnamed: 8     168
Unnamed: 9     109
Unnamed: 11      9
Unnamed: 13    170
Unnamed: 14    107
dtype: int64

In [29]:
for i in df1file.iloc[:, -2:].columns:
    df1file.drop(i,axis=1,inplace=True)

C:\Users\aviji\AppData\Local\Temp\ipykernel_11188\2251335916.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1file.drop(i,axis=1,inplace=True)
C:\Users\aviji\AppData\Local\Temp\ipykernel_11188\2251335916.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1file.drop(i,axis=1,inplace=True)

In [31]:
dfile1=df1file.copy()

In [33]:
df1file.isna().sum()

Unnamed: 0      96
Unnamed: 1       0
Unnamed: 4     167
Unnamed: 5     156
Unnamed: 6     152
Unnamed: 7     166
Unnamed: 8     168
Unnamed: 9     109
Unnamed: 11      9
dtype: int64

In [32]:
df1file

,Unnamed: 0,Unnamed: 1,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 11
9,NaN,Product,NaN,Quantity,NaN,NaN,NaN,per Unit,Total
10,1.,Dedicated Server - FC-37113,NaN,"1,000",NaN,NaN,NaN,"258,000 €","258,00 €"
11,NaN,01.07.2023 - 31.07.2023,NaN,NaN,NaN,NaN,NaN,NaN,"(+ 0,00 €)"
12,2,Dedicated Server - Ulta100,NaN,"24,000",NaN,NaN,NaN,"63,200 €","1.516,80 €"
13,NaN,01.07.2023 - 31.07.2023,NaN,NaN,NaN,NaN,NaN,NaN,"(+ 0,00 €)"
...,...,...,...,...,...,...,...,...,...
211,NaN,01.07.2023 - 31.07.2023,NaN,NaN,NaN,NaN,NaN,NaN,"(+ 0,00 €)"
212,85,Dedicated Server - AMD 7763,"1,000",NaN,NaN,NaN,NaN,"177,000 €","177,00 €"
213,NaN,01.07.2023 - 31.07.2023,NaN,NaN,NaN,NaN,NaN,NaN,"(+ 0,00 €)"
214,86,Dedicated Server - AMD 7352,"4,000",NaN,NaN,NaN,NaN,"100,000 €","400,00 €"
215,NaN,01.07.2023 - 31.07.2023,NaN,NaN,NaN,NaN,NaN,NaN,"(+ 0,00 €)"

In [36]:
df1file[df1file["Unnamed: 0"].notna()]

,Unnamed: 0,Unnamed: 1,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 11
10,1.,Dedicated Server - FC-37113,NaN,"1,000",NaN,NaN,NaN,"258,000 €","258,00 €"
12,2,Dedicated Server - Ulta100,NaN,"24,000",NaN,NaN,NaN,"63,200 €","1.516,80 €"
14,3,Dedicated Server - FC-36850,NaN,"1,000",NaN,NaN,NaN,"84,800 €","84,80 €"
16,4,Hardware: 3.84TB PM893,NaN,"2,000",NaN,NaN,NaN,"9,600 €","19,20 €"
18,5,1 HE im 19'' Rack,NaN,"2,000",NaN,NaN,NaN,"65,000 €","130,00 €"
...,...,...,...,...,...,...,...,...,...
206,82,Hardware: 960GB PM893 SS,"1,000",NaN,NaN,NaN,NaN,"4,700 €","4,70 €"
208,83,"/24 Subnet 212.224.93.0/24, 159.100.13.0/24","2,000",NaN,NaN,NaN,NaN,"128,000 €","256,00 €"
210,84,Dedicated Server: FC-36865,"1,000",NaN,NaN,NaN,NaN,"105,000 €","105,00 €"
212,85,Dedicated Server - AMD 7763,"1,000",NaN,NaN,NaN,NaN,"177,000 €","177,00 €"
214,86,Dedicated Server - AMD 7352,"4,000",NaN,NaN,NaN,NaN,"100,000 €","400,00 €"

In [ ]:
df1file.fillna(method='ffill', axis=1)

In [39]:
df1file.iloc[:,2:4].fillna(method='ffill', axis=1)

    Unnamed: 4 Unnamed: 5
9          NaN   Quantity
10         NaN      1,000
11         NaN        NaN
12         NaN     24,000
13         NaN        NaN
..         ...        ...
211        NaN        NaN
212      1,000      1,000
213        NaN        NaN
214      4,000      4,000
215        NaN        NaN

[182 rows x 2 columns]

In [48]:
df1file[df1file["Unnamed: 0"].notnull()]

,Unnamed: 0,Unnamed: 1,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 11
10,1.,Dedicated Server - FC-37113,NaN,"1,000",NaN,NaN,NaN,"258,000 €","258,00 €"
12,2,Dedicated Server - Ulta100,NaN,"24,000",NaN,NaN,NaN,"63,200 €","1.516,80 €"
14,3,Dedicated Server - FC-36850,NaN,"1,000",NaN,NaN,NaN,"84,800 €","84,80 €"
16,4,Hardware: 3.84TB PM893,NaN,"2,000",NaN,NaN,NaN,"9,600 €","19,20 €"
18,5,1 HE im 19'' Rack,NaN,"2,000",NaN,NaN,NaN,"65,000 €","130,00 €"
...,...,...,...,...,...,...,...,...,...
206,82,Hardware: 960GB PM893 SS,"1,000",NaN,NaN,NaN,NaN,"4,700 €","4,70 €"
208,83,"/24 Subnet 212.224.93.0/24, 159.100.13.0/24","2,000",NaN,NaN,NaN,NaN,"128,000 €","256,00 €"
210,84,Dedicated Server: FC-36865,"1,000",NaN,NaN,NaN,NaN,"105,000 €","105,00 €"
212,85,Dedicated Server - AMD 7763,"1,000",NaN,NaN,NaN,NaN,"177,000 €","177,00 €"
214,86,Dedicated Server - AMD 7352,"4,000",NaN,NaN,NaN,NaN,"100,000 €","400,00 €"

In [7]:
dfpdf=pd.read_excel(r"Book3.xlsx")

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (__init__.py, line 1187)

In [16]:
df1=pd.read_csv(r"Book4.csv", encoding='latin-1')

In [25]:
df1=df1[df1["numer"].isna()!=True]

In [26]:
df1

,numer,name,quantity,per_unit,TOTAL
0,1.0,Dedicated Server - FC-37113,"1,000","258,000 Û","258,00 Û"
2,2.0,Dedicated Server - Ulta100,"24,000","63,200 Û","1.516,80 Û"
4,3.0,Dedicated Server - FC-36850,"1,000","84,800 Û","84,80 Û"
6,4.0,Hardware: 3.84TB PM893,"2,000","9,600 Û","19,20 Û"
8,5.0,1 HE im 19'' Rack,"2,000","65,000 Û","130,00 Û"
...,...,...,...,...,...
175,84.0,Dedicated Server: FC-36865,"1,000","105,000 Û","105,00 Û"
177,85.0,Dedicated Server - AMD 7763,"1,000","177,000 Û","177,00 Û"
179,86.0,Dedicated Server - AMD 7352,"4,000","100,000 Û","400,00 Û"
181,87.0,Hardware: 1.92 TB SSD Samsung PM893 MZ7L31T9HBLT,4000,5800,"23,20 Û"
183,88.0,Hardware: X520-DA2,2000,10000,"20,00 Û"

In [28]:
df1.index = pd.RangeIndex(start=1, stop=len(df1) + 1, step=1)

In [30]:
df1

,numer,name,quantity,per_unit,TOTAL
1,1.0,Dedicated Server - FC-37113,"1,000","258,000 Û","258,00 Û"
2,2.0,Dedicated Server - Ulta100,"24,000","63,200 Û","1.516,80 Û"
3,3.0,Dedicated Server - FC-36850,"1,000","84,800 Û","84,80 Û"
4,4.0,Hardware: 3.84TB PM893,"2,000","9,600 Û","19,20 Û"
5,5.0,1 HE im 19'' Rack,"2,000","65,000 Û","130,00 Û"
...,...,...,...,...,...
84,84.0,Dedicated Server: FC-36865,"1,000","105,000 Û","105,00 Û"
85,85.0,Dedicated Server - AMD 7763,"1,000","177,000 Û","177,00 Û"
86,86.0,Dedicated Server - AMD 7352,"4,000","100,000 Û","400,00 Û"
87,87.0,Hardware: 1.92 TB SSD Samsung PM893 MZ7L31T9HBLT,4000,5800,"23,20 Û"
88,88.0,Hardware: X520-DA2,2000,10000,"20,00 Û"

In [31]:
df1.drop("numer",axis=1,inplace=True)

C:\Users\aviji\AppData\Local\Temp\ipykernel_10464\978694699.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop("numer",axis=1,inplace=True)

In [37]:
df1["quantity"]=df1["quantity"].str.replace(",","")

C:\Users\aviji\AppData\Local\Temp\ipykernel_10464\2856172912.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["quantity"]=df1["quantity"].str.replace(",","")

In [41]:
df1["quantity"]=df1["quantity"].str.replace(".","")

C:\Users\aviji\AppData\Local\Temp\ipykernel_10464\384852000.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["quantity"]=df1["quantity"].str.replace(".","")

In [42]:
df1["quantity"].dtype

dtype('O')

In [47]:
df1["per_unit"].str.replace({".",","},"")

1     258,000 Û
2      63,200 Û
3      84,800 Û
4       9,600 Û
5      65,000 Û
        ...
84    105,000 Û
85    177,000 Û
86    100,000 Û
87         5800
88        10000
Name: per_unit, Length: 88, dtype: object

In [50]:
df1["per_unit"]=df1["per_unit"].str.replace("[.,Û]", "", regex=True)

C:\Users\aviji\AppData\Local\Temp\ipykernel_10464\3724678874.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["per_unit"]=df1["per_unit"].str.replace("[.,Û]", "", regex=True)

In [54]:
df1["TOTAL"]=df1["TOTAL"].str.replace("[.,Û]", "", regex=True)

C:\Users\aviji\AppData\Local\Temp\ipykernel_10464\37243705.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["TOTAL"]=df1["TOTAL"].str.replace("[.,Û]", "", regex=True)

In [55]:
df1

,name,quantity,per_unit,TOTAL
1,Dedicated Server - FC-37113,1000,258000,25800
2,Dedicated Server - Ulta100,24000,63200,151680
3,Dedicated Server - FC-36850,1000,84800,8480
4,Hardware: 3.84TB PM893,2000,9600,1920
5,1 HE im 19'' Rack,2000,65000,13000
...,...,...,...,...
84,Dedicated Server: FC-36865,1000,105000,10500
85,Dedicated Server - AMD 7763,1000,177000,17700
86,Dedicated Server - AMD 7352,4000,100000,40000
87,Hardware: 1.92 TB SSD Samsung PM893 MZ7L31T9HBLT,4000,5800,2320
88,Hardware: X520-DA2,2000,10000,2000

In [56]:
df1.to_csv("data1.csv")

In [2]:
with open("output1.txt", 'r') as file:
    # Read the contents of the file
    file_contents = file.read()
print(file_contents)

Invoice Page 1 of 7firstcolo GmbH
Kruppstraße 105
60388 Frankfurt am Main
Germany
Tel: +49-69-120069-0
Fax: +49-69-120069-30
Mail: billing@first-colo.net
UltaHost, inc
Elin Doughous
651 N Broad St. Suite 206.
Middletown/Delaware, 19709
USCustomer id: 10618
Invoice id: 230749996
Date of invoice: 05.07.2023
Location:Hanauer Landstr. 291b
60314 Frankfurt am Main, DE
----
Product Quantity per Unit Total VAT
1.Dedicated Server - FC-37113 1,000 258,000 € 258,00 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
2.Dedicated Server - Ulta100 24,000 63,200 € 1.516,80 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
3.Dedicated Server - FC-36850 1,000 84,800 € 84,80 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
4.Hardware: 3.84TB PM893 2,000 9,600 € 19,20 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
5.1 HE im 19'' Rack 2,000 65,000 € 130,00 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
6.IP-Net (159.100.29.0/24, 212.224.86.0/24, 212.224.88.0/24, 9,000 128,000 € 1.152,00 €
31.172.80.0/24, 31.172.83.0/24, 79.133.41.0/24, 79.133.51.0/24,
79.133.56.0/24, 159.100.9.0/24)
accounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
7.Remote Hands - Service fee 1,000 35,000 € 35,00 €
you order from ticket #FC-37568 - 02.06.2023 (+ 0,00 €) 0%
8.Remote Hands - Service fee 1,000 35,000 € 35,00 €
you order from ticket #FC-37816 - 15.06.2023 (+ 0,00 €) 0%
9.Remote Hands - Service fee 1,000 35,000 € 35,00 €
you order from ticket #FC-37138 - 23.06.2023 (+ 0,00 €) 0%
10.Remote Hands - Service fee 1,000 35,000 € 35,00 €
you order from ticket #FC-37568 - 02.06.2023 (+ 0,00 €) 0%
11.Network Card extension + cabling (FC-24908) 5,000 11,000 € 55,00 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
Account Holder: firstcolo GmbH
Bank Name: Sparkasse Rhein-Nahe
BIC: MALADE51KRE
IBAN: DE06 5605 0180 0017 1137 21VAT id: DE314364770
Register id: HRB 113867, Frankfurt am Main
Managing director: Jerome Evans, Nicolaj Kamensek
Website: https://first-colo.net
Invoice Page 2 of 7firstcolo GmbH
Kruppstraße 105
60388 Frankfurt am Main
Germany
Tel: +49-69-120069-0
Fax: +49-69-120069-30
Mail: billing@first-colo.net
12.Hardware: Samsung PM883 3840GB (FC-24821, FC-24995) 4,000 22,000 € 88,00 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
13.Hardware: Samsung PM883 1920GB (FC-25256) 1,000 12,500 € 12,50 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
14.Hardware: RAM-Upgrade AMD7452-1 (FC-25362) 1,000 91,500 € 91,50 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
15.19'' Rack inkl. Klima (M8) 1,000 752,850 € 752,85 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
16.commited power usage 1.000,000 0,550 € 550,00 €
accounting for 01.07.2023 - 31.07.2023 - incl. USV, Generator and Cooling (+ 0,00 €) 0%
17.rental equipment: Network Switch Juniper EX4300-48T (FC-213814D 2,000 55,590 € 111,18 €
, FC-2137599)
accounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
18.rental server Ulta AX160-NVMe 32 Core (lease-purchase) (FC-23943) 1,000 151,270 € 151,27 €
accounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
19.rental server Ulta AX160-NVMe 24 Core (lease-purchase) 14,000 110,540 € 1.547,56 €
(FC-23944-57)
accounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
20.rental server Ulta100 Xeon SSD (lease-purchase) (FC-23958-62) 5,000 59,800 € 299,00 €
accounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
21.rental server Ulta100 Xeon No-SSD (lease-purchase) (FC-23963-67) 5,000 48,530 € 242,65 €
accounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
22.power usage per kW/h additional: total 8.269,000 0,570 € 4.713,33 €
accounting for 01.06.2023 - 30.06.2023 - inkl. USV, Generator and Cooling (+ 0,00 €) 0%
23.power usage per kW/h on circuit: UV-RZ-Vario-B/F2.4 348,000 0,000 € 0,00 €
accounting for 01.06.2023 - 30.06.2023 - incl. USV, Generator and Cooling (+ 0,00 €) 0%
24.power usage per kW/h on circuit: UV-RZ-Vario-B/F1.8 2.428,000 0,000 € 0,00 €
accounting for 01.06.2023 - 30.06.2023 - incl. USV, Generator and Cooling (+ 0,00 €) 0%
25.power usage per kW/h on circuit: UV-RZ-Vario-A/F1.8 2.341,000 0,000 € 0,00 €
accounting for 01.06.2023 - 30.06.2023 - incl. USV, Generator and Cooling (+ 0,00 €) 0%
26.power usage per kW/h on circuit: UV-RZ-Vario-A/F2.4 379,000 0,000 € 0,00 €
accounting for 01.06.2023 - 30.06.2023 - incl. USV, Generator and Cooling (+ 0,00 €) 0%
Account Holder: firstcolo GmbH
Bank Name: Sparkasse Rhein-Nahe
BIC: MALADE51KRE
IBAN: DE06 5605 0180 0017 1137 21VAT id: DE314364770
Register id: HRB 113867, Frankfurt am Main
Managing director: Jerome Evans, Nicolaj Kamensek
Website: https://first-colo.net
Invoice Page 3 of 7firstcolo GmbH
Kruppstraße 105
60388 Frankfurt am Main
Germany
Tel: +49-69-120069-0
Fax: +49-69-120069-30
Mail: billing@first-colo.net
27.power usage per kW/h on circuit: UV2/11F9 1.818,000 0,000 € 0,00 €
accounting for 01.06.2023 - 30.06.2023 - incl. USV, Generator and Cooling (+ 0,00 €) 0%
28.power usage per kW/h on circuit: UV2/11F10 1.955,000 0,000 € 0,00 €
accounting for 01.06.2023 - 30.06.2023 - incl. USV, Generator and Cooling (+ 0,00 €) 0%
29.rental server Private Company Server (Ulta AX160-NVMe 1,000 110,540 € 110,54 €
24 Core) (FC-25599)
accounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
30.Hardware: Samsung 970 EVO M.2 with 2TB (FC-25684) 9,000 12,500 € 112,50 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
31.rental server [KS] Ulta AX160-NVMe 24 Core (AMD7402-15, 3,000 123,520 € 370,56 €
AMD7402-16, AMD7402-17)
accounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
32.rental server [KS] Ulta100 Xeon NVMe SSD (E-2276G-11 2,000 59,630 € 119,26 €
E-2276G-12)
accounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
33.Hardware: RAM-Upgrade 128 GB AMD 7402-11 (FC-26693) 1,000 30,500 € 30,50 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
34.Hardware: Server-Upgrade (2x 960 GB PM883) (FC-26713) 2,000 11,270 € 22,54 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
35.Traffic Flatrate 6 Gbit 1,000 2.650,000 € 2.650,00 €
accounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
36.Shared Housing Ultahost-A3 1,000 65,000 € 65,00 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
37.Hardware: Server-Upgrade: SSD (FC-29004) 1,000 415,000 € 415,00 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
38.Hardware: Server-Upgrade: RAM (FC-29004) 1,000 399,000 € 399,00 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
39.1G Uplink Ultahost-A3 (FC-30128) 1,000 10,000 € 10,00 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
40.Hardware: 64 GB RAM Ultahost-A1 (FC-29564) 1,000 27,000 € 27,00 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
Account Holder: firstcolo GmbH
Bank Name: Sparkasse Rhein-Nahe
BIC: MALADE51KRE
IBAN: DE06 5605 0180 0017 1137 21VAT id: DE314364770
Register id: HRB 113867, Frankfurt am Main
Managing director: Jerome Evans, Nicolaj Kamensek
Website: https://first-colo.net
Invoice Page 4 of 7firstcolo GmbH
Kruppstraße 105
60388 Frankfurt am Main
Germany
Tel: +49-69-120069-0
Fax: +49-69-120069-30
Mail: billing@first-colo.net
41.Hardware: Server-Upgrade AMD 7451-1 (FC-31437) 1,000 90,000 € 90,00 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
42.DDoS Protection Arbor Lite (FC-31602) 1,000 99,000 € 99,00 €
accounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
43.rental server Dell Server Hardware (FC-31772) 1,000 698,000 € 698,00 €
accounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
44.Hardware: Server-Upgrade E-2276G-1 (FC-32269) 1,000 130,000 € 130,00 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
45.Hardware: Server-Upgrade AMD7402-5 (FC-32606) 1,000 13,600 € 13,60 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
46.Hardware: Serverupgrade A2 (FC-32852) 1,000 374,000 € 374,00 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
47.Hardware: FC-33801 1,000 172,800 € 172,80 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
48.1/1 Rack (R1/3.16) 1,000 495,000 € 495,00 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
49.Power Feeds Rack R1/3.16 1,000 160,000 € 160,00 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
50.Uplinks Rack R1/3.16 1,000 129,000 € 129,00 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
51.rental equipment: Juniper QFX5100-48T (FC-2291D2A, FC-2291EB8) 2,000 175,000 € 350,00 €
accounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
52.rental server Ulta 100-Xeon no SSD (FC-33243-57) 15,000 49,000 € 735,00 €
accounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
53.Mietserver: VPS Host (FC-33262-64) 1,000 433,000 € 433,00 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
54.Hardware Components 1,000 323,000 € 323,00 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
55.Storage-Upgrade 1,000 15,000 € 15,00 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
56.Hardware: Intel X540-T2 (Dual 10GbE) 2,000 24,000 € 48,00 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
Account Holder: firstcolo GmbH
Bank Name: Sparkasse Rhein-Nahe
BIC: MALADE51KRE
IBAN: DE06 5605 0180 0017 1137 21VAT id: DE314364770
Register id: HRB 113867, Frankfurt am Main
Managing director: Jerome Evans, Nicolaj Kamensek
Website: https://first-colo.net
Invoice Page 5 of 7firstcolo GmbH
Kruppstraße 105
60388 Frankfurt am Main
Germany
Tel: +49-69-120069-0
Fax: +49-69-120069-30
Mail: billing@first-colo.net
57.IP-Net (159.100.30.0/24, 212.224.107.0/24) 2,000 128,000 € 256,00 €
accounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
58.1TB SSD for server AMD7402-16 1,000 5,000 € 5,00 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
59.Dedicated Server: VPS Host (NVMe based) 1,000 618,000 € 618,00 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
60.3U Supermicro Server - Modification 1,000 204,650 € 204,65 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
61.Dedicated Server FC-35348, FC-35624 2,000 130,000 € 260,00 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
62.Dedicated Server FC-35349 1,000 140,000 € 140,00 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
63.Serverupgrade 276G-1 1,000 33,450 € 33,45 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
64.LSI 9560-16i Raid Controller 1,000 45,000 € 45,00 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
65.1.92TB PM983 Samsung NVMe SSD 1,000 8,300 € 8,30 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
66.1x 960GB PM893 SSD 1,000 5,500 € 5,50 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
67.Dedicated Server FC-35583 bis FC-35597 15,000 49,290 € 739,35 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
68.Dedicated Server FC-35865 1,000 88,000 € 88,00 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
69.rental server [KS] Ulta100 Xeon No-SSD (lease purchase) 5,000 48,530 € 242,65 €
(E-2276G-13, E-2276G-14, E-2276G-15, E-2276G-16, E-2276G-17)
accounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
70.Stromleistung Standort Kruppstraße je kW/h zusätzlich 2.183,000 0,570 € 1.244,31 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
71.Dedicated Server: FC-36099 1,000 130,000 € 130,00 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
Account Holder: firstcolo GmbH
Bank Name: Sparkasse Rhein-Nahe
BIC: MALADE51KRE
IBAN: DE06 5605 0180 0017 1137 21VAT id: DE314364770
Register id: HRB 113867, Frankfurt am Main
Managing director: Jerome Evans, Nicolaj Kamensek
Website: https://first-colo.net
Invoice Page 6 of 7firstcolo GmbH
Kruppstraße 105
60388 Frankfurt am Main
Germany
Tel: +49-69-120069-0
Fax: +49-69-120069-30
Mail: billing@first-colo.net
72.Dedicated Server: FC-36067, FC-36068 2,000 125,000 € 250,00 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
73.Dedicated Server: FC-36035 1,000 140,000 € 140,00 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
74.Hardware: 960GB M.2 PM983 NVMe 5,000 4,250 € 21,25 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
75.1/1 Colocation Rack: R3/3.17 1,000 495,000 € 495,00 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
76.Power Feeds for 5KW Colocation Racks 1,000 160,000 € 160,00 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
77.Fiber Uplinks for 5KW Colocation Racks 1,000 129,000 € 129,00 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
78.Network Switch: Juniper QFX5100-48T 1,000 175,000 € 175,00 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
79.3.84TB Samsung Enterprise SDD PM893 10,000 13,100 € 131,00 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
80.Hardware: 1.92TB Samsung PM983 NVMe 1,000 11,500 € 11,50 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
81.Dedicted Server - VPS Host: FC-35579, FC-35580, FC-35581, 4,000 705,000 € 2.820,00 €
FC-35582
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
82.Hardware: 960GB PM893 SS 1,000 4,700 € 4,70 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
83./24 Subnet 212.224.93.0/24, 159.100.13.0/24 2,000 128,000 € 256,00 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
84.Dedicated Server: FC-36865 1,000 105,000 € 105,00 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
85.Dedicated Server - AMD 7763 1,000 177,000 € 177,00 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
86.Dedicated Server - AMD 7352 4,000 100,000 € 400,00 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
Account Holder: firstcolo GmbH
Bank Name: Sparkasse Rhein-Nahe
BIC: MALADE51KRE
IBAN: DE06 5605 0180 0017 1137 21VAT id: DE314364770
Register id: HRB 113867, Frankfurt am Main
Managing director: Jerome Evans, Nicolaj Kamensek
Website: https://first-colo.net
Invoice Page 7 of 7firstcolo GmbH
Kruppstraße 105
60388 Frankfurt am Main
Germany
Tel: +49-69-120069-0
Fax: +49-69-120069-30
Mail: billing@first-colo.net
87.Hardware: 1.92 TB SSD Samsung PM893 MZ7L31T9HBLT 4,000 5,800 € 23,20 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
88.Hardware: X520-DA2 2,000 10,000 € 20,00 €
01.07.2023 - 31.07.2023 (+ 0,00 €) 0%
subtotal: 29.851,80 €
Contains Exempted transactions pursuant to German §13b UStG.
invoice amount: 29.851,80 €
The invoice amount is due immediately without deduction. Please transfer this to the account listed below.
The recipient is liable for VAT under the reverse charge mechnism!
Account Holder: firstcolo GmbH
Bank Name: Sparkasse Rhein-Nahe
BIC: MALADE51KRE
IBAN: DE06 5605 0180 0017 1137 21VAT id: DE314364770
Register id: HRB 113867, Frankfurt am Main
Managing director: Jerome Evans, Nicolaj Kamensek
Website: https://first-colo.net

In [59]:
for i in file_contents:
    print(i)

R
e
c
h
n
u
n
g

S
e
i
t
e

1

v
o
n

6
f
i
r
s
t
c
o
l
o

G
m
b
H


K
r
u
p
p
s
t
r
a
ß
e

1
0
5


6
0
3
8
8

F
r
a
n
k
f
u
r
t

a
m

M
a
i
n


G
e
r
m
a
n
y


T
e
l
:

+
4
9
-
6
9
-
1
2
0
0
6
9
-
0


F
a
x
:

+
4
9
-
6
9
-
1
2
0
0
6
9
-
3
0


M
a
i
l
:

b
i
l
l
i
n
g
@
f
i
r
s
t
-
c
o
l
o
.
n
e
t


U
l
t
a
H
o
s
t
,

i
n
c


E
l
i
n

D
o
u
g
h
o
u
s


6
5
1

N

B
r
o
a
d

S
t
.

S
u
i
t
e

2
0
6
.


M
i
d
d
l
e
t
o
w
n
/
D
e
l
a
w
a
r
e
,

1
9
7
0
9


U
S
K
u
n
d
e
n
-
N
r
:

1
0
6
1
8


R
e
c
h
n
u
n
g
s
-
N
r
:

2
3
0
3
4
8
7
5
8


R
e
c
h
n
u
n
g
s
d
a
t
u
m
:

0
3
.
0
3
.
2
0
2
3


L
e
i
s
t
u
n
g
s
o
r
t
:
H
a
n
a
u
e
r

L
a
n
d
s
t
r
.

2
9
1
b


6
0
3
1
4

F
r
a
n
k
f
u
r
t

a
m

M
a
i
n
,

D
E


-
-
-
-


A
r
t
i
k
e
l

A
n
z
a
h
l

E
.

N
e
t
t
o

G
e
s
.

N
e
t
t
o

M
w
S
t


1
.
1

H
E

i
m

1
9
'
'

R
a
c
k

2
,
0
0
0

6
5
,
0
0
0

€

1
3
0
,
0
0

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


2
.
I
P
-
N
e
t
z

(
1
5
9
.
1
0
0
.
2
9
.
0
/
2
4
,

2
1
2
.
2
2
4
.
8
6
.
0
/
2
4
,

2
1
2
.
2
2
4
.
8
8
.
0
/
2
4
,

8
,
0
0
0

1
5
4
,
5
0
0

€

1
.
2
3
6
,
0
0

€


3
1
.
1
7
2
.
8
0
.
0
/
2
4
,

3
1
.
1
7
2
.
8
3
.
0
/
2
4
,

7
9
.
1
3
3
.
4
1
.
0
/
2
4
,

7
9
.
1
3
3
.
5
1
.
0
/
2
4
,


7
9
.
1
3
3
.
5
6
.
0
/
2
4
)


A
b
r
e
c
h
n
u
n
g

f
ü
r

0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


3
.
R
e
m
o
t
e

H
a
n
d
s

-

S
e
r
v
i
c
e

D
i
e
n
s
t
l
e
i
s
t
u
n
g

1
,
0
0
0

4
5
,
0
0
0

€

4
5
,
0
0

€


I
h
r

A
u
f
t
r
a
g

i
m

T
i
c
k
e
t

#
F
C
-
3
5
7
8
0

-

2
4
.
0
2
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


4
.
R
e
m
o
t
e

H
a
n
d
s

-

S
e
r
v
i
c
e

D
i
e
n
s
t
l
e
i
s
t
u
n
g

3
,
0
0
0

4
5
,
0
0
0

€

1
3
5
,
0
0

€


I
h
r

A
u
f
t
r
a
g

i
m

T
i
c
k
e
t

#
F
C
-
3
5
8
3
0

-

0
8
.
0
2
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


5
.
R
e
m
o
t
e

H
a
n
d
s

-

S
e
r
v
i
c
e

D
i
e
n
s
t
l
e
i
s
t
u
n
g

1
,
0
0
0

4
5
,
0
0
0

€

4
5
,
0
0

€


I
h
r

A
u
f
t
r
a
g

i
m

T
i
c
k
e
t

#
F
C
-
3
5
9
7
5

-

0
8
.
0
2
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


6
.
R
e
m
o
t
e

H
a
n
d
s

-

S
e
r
v
i
c
e

D
i
e
n
s
t
l
e
i
s
t
u
n
g

8
,
0
0
0

4
5
,
0
0
0

€

3
6
0
,
0
0

€


I
h
r

A
u
f
t
r
a
g

i
m

T
i
c
k
e
t

#
F
C
-
3
5
8
2
2

-

0
1
.
0
2
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


7
.
R
e
m
o
t
e

H
a
n
d
s

-

S
e
r
v
i
c
e

D
i
e
n
s
t
l
e
i
s
t
u
n
g

3
,
0
0
0

4
5
,
0
0
0

€

1
3
5
,
0
0

€


I
h
r

A
u
f
t
r
a
g

i
m

T
i
c
k
e
t

#
F
C
-
3
6
1
6
7

-

2
3
.
0
2
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


8
.
R
e
m
o
t
e

H
a
n
d
s

-

S
e
r
v
i
c
e

D
i
e
n
s
t
l
e
i
s
t
u
n
g

1
,
0
0
0

4
5
,
0
0
0

€

4
5
,
0
0

€


I
h
r

A
u
f
t
r
a
g

i
m

T
i
c
k
e
t

#
F
C
-
3
6
1
6
7

-

2
4
.
0
2
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


9
.
R
e
m
o
t
e

H
a
n
d
s

-

S
e
r
v
i
c
e

D
i
e
n
s
t
l
e
i
s
t
u
n
g

2
,
0
0
0

4
5
,
0
0
0

€

9
0
,
0
0

€


I
h
r

A
u
f
t
r
a
g

i
m

T
i
c
k
e
t

#
F
C
-
3
5
7
8
0

-

2
2
.
0
2
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


1
0
.
R
e
m
o
t
e

H
a
n
d
s

-

S
e
r
v
i
c
e

D
i
e
n
s
t
l
e
i
s
t
u
n
g

3
,
0
0
0

4
5
,
0
0
0

€

1
3
5
,
0
0

€


I
h
r

A
u
f
t
r
a
g

i
m

T
i
c
k
e
t

#
F
C
-
3
6
1
6
7

-

2
4
.
0
2
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


1
1
.
N
e
t
w
o
r
k

C
a
r
d

e
x
t
e
n
s
i
o
n

+

c
a
b
l
i
n
g

(
F
C
-
2
4
9
0
8
)

5
,
0
0
0

1
1
,
0
0
0

€

5
5
,
0
0

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


K
o
n
t
o
i
n
h
a
b
e
r
:

f
i
r
s
t
c
o
l
o

G
m
b
H


B
a
n
k
:

S
p
a
r
k
a
s
s
e

R
h
e
i
n
-
N
a
h
e


B
I
C
:

M
A
L
A
D
E
5
1
K
R
E


I
B
A
N
:

D
E
0
6

5
6
0
5

0
1
8
0

0
0
1
7

1
1
3
7

2
1
U
S
t
-
I
d
N
r
.
:

D
E
3
1
4
3
6
4
7
7
0


R
e
g
i
s
t
e
r
-
N
r
:

H
R
B

1
1
3
8
6
7
,

F
r
a
n
k
f
u
r
t

a
m

M
a
i
n


G
e
s
c
h
ä
f
t
s
f
ü
h
r
u
n
g
:

J
e
r
o
m
e

E
v
a
n
s
,

N
i
c
o
l
a
j

K
a
m
e
n
s
e
k


W
e
b
s
e
i
t
e
:

h
t
t
p
s
:
/
/
f
i
r
s
t
-
c
o
l
o
.
n
e
t


R
e
c
h
n
u
n
g

S
e
i
t
e

2

v
o
n

6
f
i
r
s
t
c
o
l
o

G
m
b
H


K
r
u
p
p
s
t
r
a
ß
e

1
0
5


6
0
3
8
8

F
r
a
n
k
f
u
r
t

a
m

M
a
i
n


G
e
r
m
a
n
y


T
e
l
:

+
4
9
-
6
9
-
1
2
0
0
6
9
-
0


F
a
x
:

+
4
9
-
6
9
-
1
2
0
0
6
9
-
3
0


M
a
i
l
:

b
i
l
l
i
n
g
@
f
i
r
s
t
-
c
o
l
o
.
n
e
t


1
2
.
H
a
r
d
w
a
r
e
:

S
a
m
s
u
n
g

P
M
8
8
3

3
8
4
0
G
B

(
F
C
-
2
4
8
2
1
,

F
C
-
2
4
9
9
5
)

4
,
0
0
0

2
2
,
0
0
0

€

8
8
,
0
0

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


1
3
.
H
a
r
d
w
a
r
e
:

S
a
m
s
u
n
g

P
M
8
8
3

1
9
2
0
G
B

(
F
C
-
2
5
2
5
6
)

1
,
0
0
0

1
2
,
5
0
0

€

1
2
,
5
0

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


1
4
.
H
a
r
d
w
a
r
e
:

R
A
M
-
U
p
g
r
a
d
e

A
M
D
7
4
5
2
-
1

(
F
C
-
2
5
3
6
2
)

1
,
0
0
0

9
1
,
5
0
0

€

9
1
,
5
0

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


1
5
.
1
9
'
'

R
a
c
k

i
n
k
l
.

K
l
i
m
a

(
M
8
)

1
,
0
0
0

7
5
2
,
8
5
0

€

7
5
2
,
8
5

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


1
6
.
S
t
r
o
m
l
e
i
s
t
u
n
g

j
e

k
W
/
h

M
i
n
d
e
s
t
a
b
n
a
h
m
e

1
.
0
0
0
,
0
0
0

0
,
5
5
0

€

5
5
0
,
0
0

€


A
b
r
e
c
h
n
u
n
g

f
ü
r

0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

-

i
n
k
l
.

U
S
V
,

N
o
t
s
t
r
o
m

u
n
d

K
ü
h
l
u
n
g

(
+

0
,
0
0

€
)

0
%


1
7
.
M
i
e
t
g
e
r
ä
t
:

N
e
t
w
o
r
k

S
w
i
t
c
h

J
u
n
i
p
e
r

E
X
4
3
0
0
-
4
8
T

(
F
C
-
2
1
3
8
1
4
D
,

2
,
0
0
0

5
5
,
5
9
0

€

1
1
1
,
1
8

€


F
C
-
2
1
3
7
5
9
9
)


A
b
r
e
c
h
n
u
n
g

f
ü
r

0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


1
8
.
M
i
e
t
s
e
r
v
e
r

U
l
t
a

A
X
1
6
0
-
N
V
M
e

3
2

C
o
r
e

(
l
e
a
s
e
-
p
u
r
c
h
a
s
e
)

(
F
C
-
2
3
9
4
3
)

1
,
0
0
0

1
5
1
,
2
7
0

€

1
5
1
,
2
7

€


A
b
r
e
c
h
n
u
n
g

f
ü
r

0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


1
9
.
M
i
e
t
s
e
r
v
e
r

U
l
t
a

A
X
1
6
0
-
N
V
M
e

2
4

C
o
r
e

(
l
e
a
s
e
-
p
u
r
c
h
a
s
e
)

(
F
C
-
2
3
9
4
4
-
5
7

1
4
,
0
0
0

1
1
0
,
5
4
0

€

1
.
5
4
7
,
5
6

€


)


A
b
r
e
c
h
n
u
n
g

f
ü
r

0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


2
0
.
M
i
e
t
s
e
r
v
e
r

U
l
t
a
1
0
0

X
e
o
n

S
S
D

(
l
e
a
s
e
-
p
u
r
c
h
a
s
e
)

(
F
C
-
2
3
9
5
8
-
6
2
)

5
,
0
0
0

5
9
,
8
0
0

€

2
9
9
,
0
0

€


A
b
r
e
c
h
n
u
n
g

f
ü
r

0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


2
1
.
M
i
e
t
s
e
r
v
e
r

U
l
t
a
1
0
0

X
e
o
n

N
o
-
S
S
D

(
l
e
a
s
e
-
p
u
r
c
h
a
s
e
)

(
F
C
-
2
3
9
6
3
-
6
7
)

5
,
0
0
0

4
8
,
5
3
0

€

2
4
2
,
6
5

€


A
b
r
e
c
h
n
u
n
g

f
ü
r

0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


2
2
.
S
t
r
o
m
l
e
i
s
t
u
n
g

j
e

k
W
/
h

z
u
s
ä
t
z
l
i
c
h
:

g
e
s
a
m
t

2
.
1
0
6
,
0
0
0

0
,
5
7
0

€

1
.
2
0
0
,
4
2

€


A
b
r
e
c
h
n
u
n
g

f
ü
r

0
1
.
0
2
.
2
0
2
3

-

2
8
.
0
2
.
2
0
2
3

-

i
n
k
l
.

U
S
V
,

N
o
t
s
t
r
o
m

u
n
d

K
ü
h
l
u
n
g

(
+

0
,
0
0

€
)

0
%


2
3
.
S
t
r
o
m
l
e
i
s
t
u
n
g

j
e

k
W
/
h

a
u
f

S
t
r
o
m
k
r
e
i
s
:

U
V
2
/
1
1
F
9

1
.
5
3
9
,
0
0
0

0
,
0
0
0

€

0
,
0
0

€


A
b
r
e
c
h
n
u
n
g

f
ü
r

0
1
.
0
2
.
2
0
2
3

-

2
8
.
0
2
.
2
0
2
3

-

i
n
k
l
.

U
S
V
,

N
o
t
s
t
r
o
m

u
n
d

K
ü
h
l
u
n
g

(
+

0
,
0
0

€
)

0
%


2
4
.
S
t
r
o
m
l
e
i
s
t
u
n
g

j
e

k
W
/
h

a
u
f

S
t
r
o
m
k
r
e
i
s
:

U
V
2
/
1
1
F
1
0

1
.
5
6
7
,
0
0
0

0
,
0
0
0

€

0
,
0
0

€


A
b
r
e
c
h
n
u
n
g

f
ü
r

0
1
.
0
2
.
2
0
2
3

-

2
8
.
0
2
.
2
0
2
3

-

i
n
k
l
.

U
S
V
,

N
o
t
s
t
r
o
m

u
n
d

K
ü
h
l
u
n
g

(
+

0
,
0
0

€
)

0
%


2
5
.
M
i
e
t
s
e
r
v
e
r

P
r
i
v
a
t
e

C
o
m
p
a
n
y

S
e
r
v
e
r

(
U
l
t
a

A
X
1
6
0
-
N
V
M
e

2
4

1
,
0
0
0

1
1
0
,
5
4
0

€

1
1
0
,
5
4

€


C
o
r
e
)

(
F
C
-
2
5
5
9
9
)


A
b
r
e
c
h
n
u
n
g

f
ü
r

0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


K
o
n
t
o
i
n
h
a
b
e
r
:

f
i
r
s
t
c
o
l
o

G
m
b
H


B
a
n
k
:

S
p
a
r
k
a
s
s
e

R
h
e
i
n
-
N
a
h
e


B
I
C
:

M
A
L
A
D
E
5
1
K
R
E


I
B
A
N
:

D
E
0
6

5
6
0
5

0
1
8
0

0
0
1
7

1
1
3
7

2
1
U
S
t
-
I
d
N
r
.
:

D
E
3
1
4
3
6
4
7
7
0


R
e
g
i
s
t
e
r
-
N
r
:

H
R
B

1
1
3
8
6
7
,

F
r
a
n
k
f
u
r
t

a
m

M
a
i
n


G
e
s
c
h
ä
f
t
s
f
ü
h
r
u
n
g
:

J
e
r
o
m
e

E
v
a
n
s
,

N
i
c
o
l
a
j

K
a
m
e
n
s
e
k


W
e
b
s
e
i
t
e
:

h
t
t
p
s
:
/
/
f
i
r
s
t
-
c
o
l
o
.
n
e
t


R
e
c
h
n
u
n
g

S
e
i
t
e

3

v
o
n

6
f
i
r
s
t
c
o
l
o

G
m
b
H


K
r
u
p
p
s
t
r
a
ß
e

1
0
5


6
0
3
8
8

F
r
a
n
k
f
u
r
t

a
m

M
a
i
n


G
e
r
m
a
n
y


T
e
l
:

+
4
9
-
6
9
-
1
2
0
0
6
9
-
0


F
a
x
:

+
4
9
-
6
9
-
1
2
0
0
6
9
-
3
0


M
a
i
l
:

b
i
l
l
i
n
g
@
f
i
r
s
t
-
c
o
l
o
.
n
e
t


2
6
.
H
a
r
d
w
a
r
e
:

S
a
m
s
u
n
g

9
7
0

E
V
O

M
.
2

w
i
t
h

2
T
B

(
F
C
-
2
5
6
8
4
)

9
,
0
0
0

1
2
,
5
0
0

€

1
1
2
,
5
0

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


2
7
.
M
i
e
t
s
e
r
v
e
r

[
K
S
]

U
l
t
a

A
X
1
6
0
-
N
V
M
e

2
4

C
o
r
e

(
A
M
D
7
4
0
2
-
1
5
,

3
,
0
0
0

1
2
3
,
5
2
0

€

3
7
0
,
5
6

€


A
M
D
7
4
0
2
-
1
6
,

A
M
D
7
4
0
2
-
1
7
)


A
b
r
e
c
h
n
u
n
g

f
ü
r

0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


2
8
.
M
i
e
t
s
e
r
v
e
r

[
K
S
]

U
l
t
a
1
0
0

X
e
o
n

N
V
M
e

S
S
D

(
E
-
2
2
7
6
G
-
1
1

E
-
2
2
7
6
G
-
1
2
)

2
,
0
0
0

5
9
,
6
3
0

€

1
1
9
,
2
6

€


A
b
r
e
c
h
n
u
n
g

f
ü
r

0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


2
9
.
H
a
r
d
w
a
r
e
:

R
A
M
-
U
p
g
r
a
d
e

1
2
8

G
B

A
M
D

7
4
0
2
-
1
1

(
F
C
-
2
6
6
9
3
)

1
,
0
0
0

3
0
,
5
0
0

€

3
0
,
5
0

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


3
0
.
H
a
r
d
w
a
r
e
:

S
e
r
v
e
r
-
U
p
g
r
a
d
e

(
2
x

9
6
0

G
B

P
M
8
8
3
)

(
F
C
-
2
6
7
1
3
)

2
,
0
0
0

1
1
,
2
7
0

€

2
2
,
5
4

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


3
1
.
T
r
a
f
f
i
c

F
l
a
t
r
a
t
e

4

G
b
i
t

1
,
0
0
0

1
.
9
0
0
,
0
0
0

€

1
.
9
0
0
,
0
0

€


A
b
r
e
c
h
n
u
n
g

f
ü
r

0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


3
2
.
S
h
a
r
e
d

H
o
u
s
i
n
g

U
l
t
a
h
o
s
t
-
A
3

1
,
0
0
0

6
5
,
0
0
0

€

6
5
,
0
0

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


3
3
.
H
a
r
d
w
a
r
e
:

S
e
r
v
e
r
-
U
p
g
r
a
d
e
:

S
S
D

(
F
C
-
2
9
0
0
4
)

1
,
0
0
0

4
1
5
,
0
0
0

€

4
1
5
,
0
0

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


3
4
.
H
a
r
d
w
a
r
e
:

S
e
r
v
e
r
-
U
p
g
r
a
d
e
:

R
A
M

(
F
C
-
2
9
0
0
4
)

1
,
0
0
0

3
9
9
,
0
0
0

€

3
9
9
,
0
0

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


3
5
.
1
G

U
p
l
i
n
k

U
l
t
a
h
o
s
t
-
A
3

(
F
C
-
3
0
1
2
8
)

1
,
0
0
0

1
0
,
0
0
0

€

1
0
,
0
0

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


3
6
.
H
a
r
d
w
a
r
e
:

6
4

G
B

R
A
M

U
l
t
a
h
o
s
t
-
A
1

(
F
C
-
2
9
5
6
4
)

1
,
0
0
0

2
7
,
0
0
0

€

2
7
,
0
0

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


3
7
.
H
a
r
d
w
a
r
e
:

S
e
r
v
e
r
-
U
p
g
r
a
d
e

A
M
D

7
4
5
1
-
1

(
F
C
-
3
1
4
3
7
)

1
,
0
0
0

9
0
,
0
0
0

€

9
0
,
0
0

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


3
8
.
D
D
o
S

P
r
o
t
e
c
t
i
o
n

A
r
b
o
r

L
i
t
e

(
F
C
-
3
1
6
0
2
)

1
,
0
0
0

9
9
,
0
0
0

€

9
9
,
0
0

€


A
b
r
e
c
h
n
u
n
g

f
ü
r

0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


3
9
.
M
i
e
t
s
e
r
v
e
r

D
e
l
l

S
e
r
v
e
r

H
a
r
d
w
a
r
e

(
F
C
-
3
1
7
7
2
)

1
,
0
0
0

6
9
8
,
0
0
0

€

6
9
8
,
0
0

€


A
b
r
e
c
h
n
u
n
g

f
ü
r

0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


4
0
.
S
e
r
v
i
c
e
:

S
V
C
-
C
O
R
-
S
R
X
3
0
0
J
B

1
,
0
0
0

7
,
0
0
0

€

7
,
0
0

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


K
o
n
t
o
i
n
h
a
b
e
r
:

f
i
r
s
t
c
o
l
o

G
m
b
H


B
a
n
k
:

S
p
a
r
k
a
s
s
e

R
h
e
i
n
-
N
a
h
e


B
I
C
:

M
A
L
A
D
E
5
1
K
R
E


I
B
A
N
:

D
E
0
6

5
6
0
5

0
1
8
0

0
0
1
7

1
1
3
7

2
1
U
S
t
-
I
d
N
r
.
:

D
E
3
1
4
3
6
4
7
7
0


R
e
g
i
s
t
e
r
-
N
r
:

H
R
B

1
1
3
8
6
7
,

F
r
a
n
k
f
u
r
t

a
m

M
a
i
n


G
e
s
c
h
ä
f
t
s
f
ü
h
r
u
n
g
:

J
e
r
o
m
e

E
v
a
n
s
,

N
i
c
o
l
a
j

K
a
m
e
n
s
e
k


W
e
b
s
e
i
t
e
:

h
t
t
p
s
:
/
/
f
i
r
s
t
-
c
o
l
o
.
n
e
t


R
e
c
h
n
u
n
g

S
e
i
t
e

4

v
o
n

6
f
i
r
s
t
c
o
l
o

G
m
b
H


K
r
u
p
p
s
t
r
a
ß
e

1
0
5


6
0
3
8
8

F
r
a
n
k
f
u
r
t

a
m

M
a
i
n


G
e
r
m
a
n
y


T
e
l
:

+
4
9
-
6
9
-
1
2
0
0
6
9
-
0


F
a
x
:

+
4
9
-
6
9
-
1
2
0
0
6
9
-
3
0


M
a
i
l
:

b
i
l
l
i
n
g
@
f
i
r
s
t
-
c
o
l
o
.
n
e
t


4
1
.
S
e
r
v
i
c
e
:

S
V
C
-
C
O
R
-
S
R
X
3
2
0
J
B

1
,
0
0
0

7
,
0
0
0

€

7
,
0
0

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


4
2
.
H
a
r
d
w
a
r
e
:

S
e
r
v
e
r
-
U
p
g
r
a
d
e

E
-
2
2
7
6
G
-
1

(
F
C
-
3
2
2
6
9
)

1
,
0
0
0

1
3
0
,
0
0
0

€

1
3
0
,
0
0

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


4
3
.
H
a
r
d
w
a
r
e
:

S
e
r
v
e
r
-
U
p
g
r
a
d
e

A
M
D
7
4
0
2
-
5

(
F
C
-
3
2
6
0
6
)

1
,
0
0
0

1
3
,
6
0
0

€

1
3
,
6
0

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


4
4
.
H
a
r
d
w
a
r
e
:

S
e
r
v
e
r
u
p
g
r
a
d
e

A
2

(
F
C
-
3
2
8
5
2
)

1
,
0
0
0

3
7
4
,
0
0
0

€

3
7
4
,
0
0

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


4
5
.
H
a
r
d
w
a
r
e
:

F
C
-
3
3
8
0
1

1
,
0
0
0

1
7
2
,
8
0
0

€

1
7
2
,
8
0

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


4
6
.
1
/
1

R
a
c
k

(
R
1
/
3
.
1
6
)

1
,
0
0
0

0
,
0
0
0

€

0
,
0
0

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


4
7
.
P
o
w
e
r

F
e
e
d
s

R
a
c
k

R
1
/
3
.
1
6

1
,
0
0
0

0
,
0
0
0

€

0
,
0
0

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


4
8
.
U
p
l
i
n
k
s

R
a
c
k

R
1
/
3
.
1
6

1
,
0
0
0

0
,
0
0
0

€

0
,
0
0

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


4
9
.
M
i
e
t
g
e
r
ä
t
:

J
u
n
i
p
e
r

Q
F
X
5
1
0
0
-
4
8
T

(
F
C
-
2
2
9
1
D
2
A
,

F
C
-
2
2
9
1
E
B
8
)

1
,
0
0
0

1
7
5
,
0
0
0

€

1
7
5
,
0
0

€


A
b
r
e
c
h
n
u
n
g

f
ü
r

0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


5
0
.
M
i
e
t
s
e
r
v
e
r

U
l
t
a

1
0
0
-
X
e
o
n

n
o

S
S
D

(
F
C
-
3
3
2
4
3
-
5
7
)

1
5
,
0
0
0

4
9
,
0
0
0

€

7
3
5
,
0
0

€


A
b
r
e
c
h
n
u
n
g

f
ü
r

0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


5
1
.
M
i
e
t
s
e
r
v
e
r
:

V
P
S

H
o
s
t

(
F
C
-
3
3
2
6
2
-
6
4
)

1
,
0
0
0

4
3
3
,
0
0
0

€

4
3
3
,
0
0

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


5
2
.
H
a
r
d
w
a
r
e

C
o
m
p
o
n
e
n
t
s

1
,
0
0
0

3
2
3
,
0
0
0

€

3
2
3
,
0
0

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


5
3
.
S
t
o
r
a
g
e
-
U
p
g
r
a
d
e

1
,
0
0
0

1
5
,
0
0
0

€

1
5
,
0
0

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


5
4
.
H
a
r
d
w
a
r
e
:

I
n
t
e
l

X
5
4
0
-
T
2

(
D
u
a
l

1
0
G
b
E
)

2
,
0
0
0

2
4
,
0
0
0

€

4
8
,
0
0

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


5
5
.
I
P
-
N
e
t
z

(
1
5
9
.
1
0
0
.
3
0
.
0
/
2
4
,

2
1
2
.
2
2
4
.
1
0
7
.
0
/
2
4
)

2
,
0
0
0

1
8
9
,
0
0
0

€

3
7
8
,
0
0

€


A
b
r
e
c
h
n
u
n
g

f
ü
r

0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


5
6
.
1
T
B

S
S
D

f
o
r

s
e
r
v
e
r

A
M
D
7
4
0
2
-
1
6

1
,
0
0
0

5
,
0
0
0

€

5
,
0
0

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


K
o
n
t
o
i
n
h
a
b
e
r
:

f
i
r
s
t
c
o
l
o

G
m
b
H


B
a
n
k
:

S
p
a
r
k
a
s
s
e

R
h
e
i
n
-
N
a
h
e


B
I
C
:

M
A
L
A
D
E
5
1
K
R
E


I
B
A
N
:

D
E
0
6

5
6
0
5

0
1
8
0

0
0
1
7

1
1
3
7

2
1
U
S
t
-
I
d
N
r
.
:

D
E
3
1
4
3
6
4
7
7
0


R
e
g
i
s
t
e
r
-
N
r
:

H
R
B

1
1
3
8
6
7
,

F
r
a
n
k
f
u
r
t

a
m

M
a
i
n


G
e
s
c
h
ä
f
t
s
f
ü
h
r
u
n
g
:

J
e
r
o
m
e

E
v
a
n
s
,

N
i
c
o
l
a
j

K
a
m
e
n
s
e
k


W
e
b
s
e
i
t
e
:

h
t
t
p
s
:
/
/
f
i
r
s
t
-
c
o
l
o
.
n
e
t


R
e
c
h
n
u
n
g

S
e
i
t
e

5

v
o
n

6
f
i
r
s
t
c
o
l
o

G
m
b
H


K
r
u
p
p
s
t
r
a
ß
e

1
0
5


6
0
3
8
8

F
r
a
n
k
f
u
r
t

a
m

M
a
i
n


G
e
r
m
a
n
y


T
e
l
:

+
4
9
-
6
9
-
1
2
0
0
6
9
-
0


F
a
x
:

+
4
9
-
6
9
-
1
2
0
0
6
9
-
3
0


M
a
i
l
:

b
i
l
l
i
n
g
@
f
i
r
s
t
-
c
o
l
o
.
n
e
t


5
7
.
D
e
d
i
c
a
t
e
d

S
e
r
v
e
r
:

V
P
S

H
o
s
t

(
N
V
M
e

b
a
s
e
d
)

1
,
0
0
0

6
1
8
,
0
0
0

€

6
1
8
,
0
0

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


5
8
.
3
U

S
u
p
e
r
m
i
c
r
o

S
e
r
v
e
r

-

M
o
d
i
f
i
c
a
t
i
o
n

1
,
0
0
0

2
0
4
,
6
5
0

€

2
0
4
,
6
5

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


5
9
.
D
e
d
i
c
a
t
e
d

S
e
r
v
e
r

F
C
-
3
5
3
4
8
,

F
C
-
3
5
6
2
4

2
,
0
0
0

1
3
0
,
0
0
0

€

2
6
0
,
0
0

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


6
0
.
D
e
d
i
c
a
t
e
d

S
e
r
v
e
r

F
C
-
3
5
3
4
9

1
,
0
0
0

1
4
0
,
0
0
0

€

1
4
0
,
0
0

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


6
1
.
S
e
r
v
e
r
u
p
g
r
a
d
e

2
7
6
G
-
1

1
,
0
0
0

3
3
,
4
5
0

€

3
3
,
4
5

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


6
2
.
L
S
I

9
5
6
0
-
1
6
i

R
a
i
d

C
o
n
t
r
o
l
l
e
r

1
,
0
0
0

4
5
,
0
0
0

€

4
5
,
0
0

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


6
3
.
1
.
9
2
T
B

P
M
9
8
3

S
a
m
s
u
n
g

N
V
M
e

S
S
D

1
,
0
0
0

8
,
3
0
0

€

8
,
3
0

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


6
4
.
1
x

9
6
0
G
B

P
M
8
9
3

S
S
D

1
,
0
0
0

5
,
5
0
0

€

5
,
5
0

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


6
5
.
D
e
d
i
c
a
t
e
d

S
e
r
v
e
r

F
C
-
3
5
5
8
3
,

F
C
-
3
5
5
8
4
,

F
C
-
3
5
5
8
5
,

F
C
-
3
5
5
8
6
,

5
,
0
0
0

4
9
,
2
9
0

€

2
4
6
,
4
5

€


F
C
-
3
5
5
8
7


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


6
6
.
D
e
d
i
c
a
t
e
d

S
e
r
v
e
r

F
C
-
3
5
8
6
5

1
,
0
0
0

8
8
,
0
0
0

€

8
8
,
0
0

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


6
7
.
M
i
e
t
s
e
r
v
e
r

[
K
S
]

U
l
t
a
1
0
0

X
e
o
n

N
o
-
S
S
D

(
l
e
a
s
e

p
u
r
c
h
a
s
e
)

(
E
-
2
2
7
6
G
-
1
3

5
,
0
0
0

4
8
,
5
3
0

€

2
4
2
,
6
5

€


,

E
-
2
2
7
6
G
-
1
4
,

E
-
2
2
7
6
G
-
1
5
,

E
-
2
2
7
6
G
-
1
6
,

E
-
2
2
7
6
G
-
1
7
)


A
b
r
e
c
h
n
u
n
g

f
ü
r

0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


6
8
.
S
t
r
o
m
l
e
i
s
t
u
n
g

S
t
a
n
d
o
r
t

K
r
u
p
p
s
t
r
a
ß
e

j
e

k
W
/
h

z
u
s
ä
t
z
l
i
c
h

1
.
9
8
7
,
0
0
0

0
,
5
7
0

€

1
.
1
3
2
,
5
9

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


6
9
.
D
e
d
i
c
a
t
e
d

S
e
r
v
e
r
:

F
C
-
3
6
0
9
9

1
,
0
0
0

1
3
0
,
0
0
0

€

1
3
0
,
0
0

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


7
0
.
D
e
d
i
c
a
t
e
d

S
e
r
v
e
r
:

F
C
-
3
6
0
6
7
,

F
C
-
3
6
0
6
8

2
,
0
0
0

1
2
5
,
0
0
0

€

2
5
0
,
0
0

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


7
1
.
D
e
d
i
c
a
t
e
d

S
e
r
v
e
r
:

F
C
-
3
6
0
3
5

1
,
0
0
0

1
4
0
,
0
0
0

€

1
4
0
,
0
0

€


0
1
.
0
3
.
2
0
2
3

-

3
1
.
0
3
.
2
0
2
3

(
+

0
,
0
0

€
)

0
%


K
o
n
t
o
i
n
h
a
b
e
r
:

f
i
r
s
t
c
o
l
o

G
m
b
H


B
a
n
k
:

S
p
a
r
k
a
s
s
e

R
h
e
i
n
-
N
a
h
e


B
I
C
:

M
A
L
A
D
E
5
1
K
R
E


I
B
A
N
:

D
E
0
6

5
6
0
5

0
1
8
0

0
0
1
7

1
1
3
7

2
1
U
S
t
-
I
d
N
r
.
:

D
E
3
1
4
3
6
4
7
7
0


R
e
g
i
s
t
e
r
-
N
r
:

H
R
B

1
1
3
8
6
7
,

F
r
a
n
k
f
u
r
t

a
m

M
a
i
n


G
e
s
c
h
ä
f
t
s
f
ü
h
r
u
n
g
:

J
e
r
o
m
e

E
v
a
n
s
,

N
i
c
o
l
a
j

K
a
m
e
n
s
e
k


W
e
b
s
e
i
t
e
:

h
t
t
p
s
:
/
/
f
i
r
s
t
-
c
o
l
o
.
n
e
t


R
e
c
h
n
u
n
g

S
e
i
t
e

6

v
o
n

6
f
i
r
s
t
c
o
l
o

G
m
b
H


K
r
u
p
p
s
t
r
a
ß
e

1
0
5


6
0
3
8
8

F
r
a
n
k
f
u
r
t

a
m

M
a
i
n


G
e
r
m
a
n
y


T
e
l
:

+
4
9
-
6
9
-
1
2
0
0
6
9
-
0


F
a
x
:

+
4
9
-
6
9
-
1
2
0
0
6
9
-
3
0


M
a
i
l
:

b
i
l
l
i
n
g
@
f

In [129]:
lines

['Rechnung Seite 1 von 7firstcolo GmbH',
 'Kruppstraße 105',
 '60388 Frankfurt am Main',
 'Germany',
 'Tel: +49-69-120069-0',
 'Fax: +49-69-120069-30',
 'Mail: billing@first-colo.net',
 'UltaHost, inc',
 'Elin Doughous',
 '651 N Broad St. Suite 206.',
 'Middletown/Delaware, 19709',
 'USKunden-Nr: 10618',
 'Rechnungs-Nr: 230649686',
 'Rechnungsdatum: 06.06.2023',
 'Leistungsort:Hanauer Landstr. 291b',
 '60314 Frankfurt am Main, DE',
 '----',
 'Artikel Anzahl E. Netto Ges. Netto MwSt',
 "1.1 HE im 19'' Rack 2,000 65,000 € 130,00 €",
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '2.IP-Netz (159.100.29.0/24, 212.224.86.0/24, 212.224.88.0/24, 9,000 154,500 € 1.390,50 €',
 '31.172.80.0/24, 31.172.83.0/24, 79.133.41.0/24, 79.133.51.0/24,',
 '79.133.56.0/24, 159.100.9.0/24)',
 'Abrechnung für 01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '3.Remote Hands - Service Dienstleistung 1,000 45,000 € 45,00 €',
 'Ihr Auftrag im Ticket #FC-37138 - 05.05.2023 (+ 0,00 €) 0%',
 '4.Remote Hands - Service Dienstleistung 1,000 45,000 € 45,00 €',
 'Ihr Auftrag im Ticket #FC-37498 - 28.05.2023 (+ 0,00 €) 0%',
 '5.Remote Hands - Service Dienstleistung 1,000 45,000 € 45,00 €',
 'Ihr Auftrag im Ticket #FC-36790 - 18.05.2023 (+ 0,00 €) 0%',
 '6.Remote Hands - Service Dienstleistung 1,000 45,000 € 45,00 €',
 'Ihr Auftrag im Ticket #FC-37510 - 29.05.2023 (+ 0,00 €) 0%',
 '7.Remote Hands - Service Dienstleistung 1,000 45,000 € 45,00 €',
 'Ihr Auftrag im Ticket #FC-37150 - 05.05.2023 (+ 0,00 €) 0%',
 '8.Remote Hands - Service Dienstleistung 2,000 45,000 € 90,00 €',
 'Ihr Auftrag im Ticket #FC-37331 - 16.05.2023 (+ 0,00 €) 0%',
 '9.Network Card extension + cabling (FC-24908) 5,000 11,000 € 55,00 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '10.Hardware: Samsung PM883 3840GB (FC-24821, FC-24995) 4,000 22,000 € 88,00 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '11.Hardware: Samsung PM883 1920GB (FC-25256) 1,000 12,500 € 12,50 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 'Kontoinhaber: firstcolo GmbH',
 'Bank: Sparkasse Rhein-Nahe',
 'BIC: MALADE51KRE',
 'IBAN: DE06 5605 0180 0017 1137 21USt-IdNr.: DE314364770',
 'Register-Nr: HRB 113867, Frankfurt am Main',
 'Geschäftsführung: Jerome Evans, Nicolaj Kamensek',
 'Webseite: https://first-colo.net',
 'Rechnung Seite 2 von 7firstcolo GmbH',
 'Kruppstraße 105',
 '60388 Frankfurt am Main',
 'Germany',
 'Tel: +49-69-120069-0',
 'Fax: +49-69-120069-30',
 'Mail: billing@first-colo.net',
 '12.Hardware: RAM-Upgrade AMD7452-1 (FC-25362) 1,000 91,500 € 91,50 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 "13.19'' Rack inkl. Klima (M8) 1,000 752,850 € 752,85 €",
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '14.Stromleistung je kW/h Mindestabnahme 1.000,000 0,550 € 550,00 €',
 'Abrechnung für 01.06.2023 - 30.06.2023 - inkl. USV, Notstrom und Kühlung (+ 0,00 €) 0%',
 '15.Mietgerät: Network Switch Juniper EX4300-48T (FC-213814D, 2,000 55,590 € 111,18 €',
 'FC-2137599)',
 'Abrechnung für 01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '16.Mietserver Ulta AX160-NVMe 32 Core (lease-purchase) (FC-23943) 1,000 151,270 € 151,27 €',
 'Abrechnung für 01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '17.Mietserver Ulta AX160-NVMe 24 Core (lease-purchase) (FC-23944-57 14,000 110,540 € 1.547,56 €',
 ')',
 'Abrechnung für 01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '18.Mietserver Ulta100 Xeon SSD (lease-purchase) (FC-23958-62) 5,000 59,800 € 299,00 €',
 'Abrechnung für 01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '19.Mietserver Ulta100 Xeon No-SSD (lease-purchase) (FC-23963-67) 5,000 48,530 € 242,65 €',
 'Abrechnung für 01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '20.Stromleistung je kW/h zusätzlich: gesamt 6.942,000 0,570 € 3.956,94 €',
 'Abrechnung für 01.05.2023 - 31.05.2023 - inkl. USV, Notstrom und Kühlung (+ 0,00 €) 0%',
 '21.Stromleistung je kW/h auf Stromkreis: UV-RZ-Vario-B/F2.4 48,000 0,000 € 0,00 €',
 'Abrechnung für 01.05.2023 - 31.05.2023 - inkl. USV, Notstrom und Kühlung (+ 0,00 €) 0%',
 '22.Stromleistung je kW/h auf Stromkreis: UV-RZ-Vario-B/F1.8 2.145,000 0,000 € 0,00 €',
 'Abrechnung für 01.05.2023 - 31.05.2023 - inkl. USV, Notstrom und Kühlung (+ 0,00 €) 0%',
 '23.Stromleistung je kW/h auf Stromkreis: UV-RZ-Vario-A/F2.4 58,000 0,000 € 0,00 €',
 'Abrechnung für 01.05.2023 - 31.05.2023 - inkl. USV, Notstrom und Kühlung (+ 0,00 €) 0%',
 '24.Stromleistung je kW/h auf Stromkreis: UV-RZ-Vario-A/F1.8 2.042,000 0,000 € 0,00 €',
 'Abrechnung für 01.05.2023 - 31.05.2023 - inkl. USV, Notstrom und Kühlung (+ 0,00 €) 0%',
 '25.Stromleistung je kW/h auf Stromkreis: UV2/11F9 1.736,000 0,000 € 0,00 €',
 'Abrechnung für 01.05.2023 - 31.05.2023 - inkl. USV, Notstrom und Kühlung (+ 0,00 €) 0%',
 '26.Stromleistung je kW/h auf Stromkreis: UV2/11F10 1.913,000 0,000 € 0,00 €',
 'Abrechnung für 01.05.2023 - 31.05.2023 - inkl. USV, Notstrom und Kühlung (+ 0,00 €) 0%',
 'Kontoinhaber: firstcolo GmbH',
 'Bank: Sparkasse Rhein-Nahe',
 'BIC: MALADE51KRE',
 'IBAN: DE06 5605 0180 0017 1137 21USt-IdNr.: DE314364770',
 'Register-Nr: HRB 113867, Frankfurt am Main',
 'Geschäftsführung: Jerome Evans, Nicolaj Kamensek',
 'Webseite: https://first-colo.net',
 'Rechnung Seite 3 von 7firstcolo GmbH',
 'Kruppstraße 105',
 '60388 Frankfurt am Main',
 'Germany',
 'Tel: +49-69-120069-0',
 'Fax: +49-69-120069-30',
 'Mail: billing@first-colo.net',
 '27.Mietserver Private Company Server (Ulta AX160-NVMe 24 1,000 110,540 € 110,54 €',
 'Core) (FC-25599)',
 'Abrechnung für 01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '28.Hardware: Samsung 970 EVO M.2 with 2TB (FC-25684) 9,000 12,500 € 112,50 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '29.Mietserver [KS] Ulta AX160-NVMe 24 Core (AMD7402-15, 3,000 123,520 € 370,56 €',
 'AMD7402-16, AMD7402-17)',
 'Abrechnung für 01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '30.Mietserver [KS] Ulta100 Xeon NVMe SSD (E-2276G-11 E-2276G-12) 2,000 59,630 € 119,26 €',
 'Abrechnung für 01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '31.Hardware: RAM-Upgrade 128 GB AMD 7402-11 (FC-26693) 1,000 30,500 € 30,50 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '32.Hardware: Server-Upgrade (2x 960 GB PM883) (FC-26713) 2,000 11,270 € 22,54 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '33.Traffic Flatrate 6 Gbit 1,000 2.650,000 € 2.650,00 €',
 'Abrechnung für 01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '34.Shared Housing Ultahost-A3 1,000 65,000 € 65,00 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '35.Hardware: Server-Upgrade: SSD (FC-29004) 1,000 415,000 € 415,00 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '36.Hardware: Server-Upgrade: RAM (FC-29004) 1,000 399,000 € 399,00 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '37.1G Uplink Ultahost-A3 (FC-30128) 1,000 10,000 € 10,00 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '38.Hardware: 64 GB RAM Ultahost-A1 (FC-29564) 1,000 27,000 € 27,00 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '39.Hardware: Server-Upgrade AMD 7451-1 (FC-31437) 1,000 90,000 € 90,00 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '40.DDoS Protection Arbor Lite (FC-31602) 1,000 99,000 € 99,00 €',
 'Abrechnung für 01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '41.Mietserver Dell Server Hardware (FC-31772) 1,000 698,000 € 698,00 €',
 'Abrechnung für 01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 'Kontoinhaber: firstcolo GmbH',
 'Bank: Sparkasse Rhein-Nahe',
 'BIC: MALADE51KRE',
 'IBAN: DE06 5605 0180 0017 1137 21USt-IdNr.: DE314364770',
 'Register-Nr: HRB 113867, Frankfurt am Main',
 'Geschäftsführung: Jerome Evans, Nicolaj Kamensek',
 'Webseite: https://first-colo.net',
 'Rechnung Seite 4 von 7firstcolo GmbH',
 'Kruppstraße 105',
 '60388 Frankfurt am Main',
 'Germany',
 'Tel: +49-69-120069-0',
 'Fax: +49-69-120069-30',
 'Mail: billing@first-colo.net',
 '42.Hardware: Server-Upgrade E-2276G-1 (FC-32269) 1,000 130,000 € 130,00 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '43.Hardware: Server-Upgrade AMD7402-5 (FC-32606) 1,000 13,600 € 13,60 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '44.Hardware: Serverupgrade A2 (FC-32852) 1,000 374,000 € 374,00 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '45.Hardware: FC-33801 1,000 172,800 € 172,80 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '46.1/1 Rack (R1/3.16) 1,000 495,000 € 495,00 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '47.Power Feeds Rack R1/3.16 1,000 160,000 € 160,00 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '48.Uplinks Rack R1/3.16 1,000 129,000 € 129,00 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '49.Mietgerät: Juniper QFX5100-48T (FC-2291D2A, FC-2291EB8) 2,000 175,000 € 350,00 €',
 'Abrechnung für 01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '50.Mietserver Ulta 100-Xeon no SSD (FC-33243-57) 15,000 49,000 € 735,00 €',
 'Abrechnung für 01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '51.Mietserver: VPS Host (FC-33262-64) 1,000 433,000 € 433,00 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '52.Hardware Components 1,000 323,000 € 323,00 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '53.Storage-Upgrade 1,000 15,000 € 15,00 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '54.Hardware: Intel X540-T2 (Dual 10GbE) 2,000 24,000 € 48,00 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '55.IP-Netz (159.100.30.0/24, 212.224.107.0/24) 2,000 189,000 € 378,00 €',
 'Abrechnung für 01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '56.1TB SSD for server AMD7402-16 1,000 5,000 € 5,00 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '57.Dedicated Server: VPS Host (NVMe based) 1,000 618,000 € 618,00 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 'Kontoinhaber: firstcolo GmbH',
 'Bank: Sparkasse Rhein-Nahe',
 'BIC: MALADE51KRE',
 'IBAN: DE06 5605 0180 0017 1137 21USt-IdNr.: DE314364770',
 'Register-Nr: HRB 113867, Frankfurt am Main',
 'Geschäftsführung: Jerome Evans, Nicolaj Kamensek',
 'Webseite: https://first-colo.net',
 'Rechnung Seite 5 von 7firstcolo GmbH',
 'Kruppstraße 105',
 '60388 Frankfurt am Main',
 'Germany',
 'Tel: +49-69-120069-0',
 'Fax: +49-69-120069-30',
 'Mail: billing@first-colo.net',
 '58.3U Supermicro Server - Modification 1,000 204,650 € 204,65 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '59.Dedicated Server FC-35348, FC-35624 2,000 130,000 € 260,00 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '60.Dedicated Server FC-35349 1,000 140,000 € 140,00 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '61.Serverupgrade 276G-1 1,000 33,450 € 33,45 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '62.LSI 9560-16i Raid Controller 1,000 45,000 € 45,00 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '63.1.92TB PM983 Samsung NVMe SSD 1,000 8,300 € 8,30 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '64.1x 960GB PM893 SSD 1,000 5,500 € 5,50 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '65.Dedicated Server FC-35583 bis FC-35597 15,000 49,290 € 739,35 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '66.Dedicated Server FC-35865 1,000 88,000 € 88,00 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '67.Mietserver [KS] Ulta100 Xeon No-SSD (lease purchase) (E-2276G-13 5,000 48,530 € 242,65 €',
 ', E-2276G-14, E-2276G-15, E-2276G-16, E-2276G-17)',
 'Abrechnung für 01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '68.Stromleistung Standort Kruppstraße je kW/h zusätzlich 2.221,000 0,570 € 1.265,97 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '69.Dedicated Server: FC-36099 1,000 130,000 € 130,00 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '70.Dedicated Server: FC-36067, FC-36068 2,000 125,000 € 250,00 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '71.Dedicated Server: FC-36035 1,000 140,000 € 140,00 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '72.Hardware: 960GB M.2 PM983 NVMe 5,000 4,250 € 21,25 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 'Kontoinhaber: firstcolo GmbH',
 'Bank: Sparkasse Rhein-Nahe',
 'BIC: MALADE51KRE',
 'IBAN: DE06 5605 0180 0017 1137 21USt-IdNr.: DE314364770',
 'Register-Nr: HRB 113867, Frankfurt am Main',
 'Geschäftsführung: Jerome Evans, Nicolaj Kamensek',
 'Webseite: https://first-colo.net',
 'Rechnung Seite 6 von 7firstcolo GmbH',
 'Kruppstraße 105',
 '60388 Frankfurt am Main',
 'Germany',
 'Tel: +49-69-120069-0',
 'Fax: +49-69-120069-30',
 'Mail: billing@first-colo.net',
 '73.1/1 Colocation Rack: R3/3.17 1,000 495,000 € 495,00 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '74.Power Feeds for 5KW Colocation Racks 1,000 160,000 € 160,00 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '75.Fiber Uplinks for 5KW Colocation Racks 1,000 129,000 € 129,00 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '76.Network Switch: Juniper QFX5100-48T 1,000 175,000 € 175,00 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '77.3.84TB Samsung Enterprise SDD PM893 10,000 13,100 € 131,00 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '78.Hardware: 1.92TB Samsung PM983 NVMe 1,000 11,500 € 11,50 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '79.Dedicted Server - VPS Host: FC-35579, FC-35580, FC-35581 3,000 705,000 € 2.115,00 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '80.Hardware: 960GB PM893 SS 1,000 4,700 € 4,70 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '81./24 Subnet 212.224.93.0/24, 159.100.13.0/24 2,000 154,500 € 309,00 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '82.Dedicated Server: FC-36865 1,000 105,000 € 105,00 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '83.Dedicated Server - AMD 7763 1,000 177,000 € 177,00 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '84.Dedicated Server - AMD 7352 4,000 100,000 € 400,00 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '85.Hardware: 1.92 TB SSD Samsung PM893 MZ7L31T9HBLT 4,000 5,800 € 23,20 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '86.Hardware: X520-DA2 2,000 10,000 € 20,00 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '87.Dedicated Server - FC-37113 1,000 258,000 € 258,00 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '88.Dedicated Server - Ulta100 24,000 63,200 € 1.516,80 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 'Kontoinhaber: firstcolo GmbH',
 'Bank: Sparkasse Rhein-Nahe',
 'BIC: MALADE51KRE',
 'IBAN: DE06 5605 0180 0017 1137 21USt-IdNr.: DE314364770',
 'Register-Nr: HRB 113867, Frankfurt am Main',
 'Geschäftsführung: Jerome Evans, Nicolaj Kamensek',
 'Webseite: https://first-colo.net',
 'Rechnung Seite 7 von 7firstcolo GmbH',
 'Kruppstraße 105',
 '60388 Frankfurt am Main',
 'Germany',
 'Tel: +49-69-120069-0',
 'Fax: +49-69-120069-30',
 'Mail: billing@first-colo.net',
 '89.Dedicated Server - FC-36850 1,000 84,800 € 84,80 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 '90.Hardware: 3.84TB PM893 2,000 9,600 € 19,20 €',
 '01.06.2023 - 30.06.2023 (+ 0,00 €) 0%',
 'Zwischensumme: 29.000,57 €',
 'Enthält Steuerbefreite Umsätze nach § 13b UStG.',
 'Rechnungsbetrag: 29.000,57 €',
 'Der Rechnungsbetrag ist sofort ohne Abzug fällig. Bitte überweisen Sie diesen auf das unten aufgeführte Konto.',
 'The recipient is liable for VAT under the reverse charge mechnism!',
 'Kontoinhaber: firstcolo GmbH',
 'Bank: Sparkasse Rhein-Nahe',
 'BIC: MALADE51KRE',
 'IBAN: DE06 5605 0180 0017 1137 21USt-IdNr.: DE314364770',
 'Register-Nr: HRB 113867, Frankfurt am Main',
 'Geschäftsführung: Jerome Evans, Nicolaj Kamensek',
 'Webseite: https://first-colo.net']

In [67]:
import re

In [69]:
# Apply splitting conditions to the string
parts = re.split('|'.join(split_conditions), lie[0])

In [77]:
re.split('|'.join(split_conditions), lie[0])

['1.1', 'HE', 'im', "19''", 'Rack', '2,000', '65,000', '€', '130,00', '€']

In [76]:
re.split('|'.join(split_conditions), lie[0])[-2]

'130,00'

In [78]:
re.split('|'.join(split_conditions), lie[0])[-4]

'65,000'

In [79]:
re.split('|'.join(split_conditions), lie[0])[-5]

'2,000'

In [81]:
re.split('|'.join(split_conditions), lie[0])[0]

'1.1'

In [87]:
re.split('|'.join(split_conditions), lie[0])[1:-5]

['HE', 'im', "19''", 'Rack']

In [86]:
" ".join(re.split('|'.join(split_conditions), lie[0])[1:-5])

"HE im 19'' Rack"

In [68]:
split_conditions = [
    r'(?<=\d)\s',
    r'(?<=\D)\s',
    r'(?<=\d|,)\s',
    r'(?<=\d|,)\s',
]

In [83]:
import pandas as pd
for i in lie:
# Create list of dictionaries
    data = [{'Number': re.split('|'.join(split_conditions), i)[0]},
        {'Name': re.split('|'.join(split_conditions), i)[1:-5]},
        {'quantity': re.split('|'.join(split_conditions), i)[-5]},
        {'per_unit': re.split('|'.join(split_conditions), i)[-4]},
        {'total': re.split('|'.join(split_conditions), i)[-2]}]

# Create DataFrame from list of dictionaries
df = pd.DataFrame(data)

# Print DataFrame
print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [90]:
data = []

# Iterate over each item in the list
for i in lie:
    # Split the string using the defined splitting conditions
    parts = re.split('|'.join(split_conditions), i)

    # Create a dictionary for each row of data
    row_data = {
        'Number': parts[0],
        'Name': " ".join(parts[1:-5]),
        'quantity': parts[-5],
        'per_unit': parts[-4],
        'total': parts[-2]
    }

    # Append the dictionary to the list
    data.append(row_data)
df = pd.DataFrame(data)

IndexError: list index out of range

In [138]:
eu

["1.1 HE im 19'' Rack 2,000 65,000 € 130,00 €",
 '2.IP-Netz (159.100.29.0/24, 212.224.86.0/24, 212.224.88.0/24, 9,000 154,500 € 1.390,50 €',
 '3.Remote Hands - Service Dienstleistung 1,000 45,000 € 45,00 €',
 '4.Remote Hands - Service Dienstleistung 1,000 45,000 € 45,00 €',
 '5.Remote Hands - Service Dienstleistung 1,000 45,000 € 45,00 €',
 '6.Remote Hands - Service Dienstleistung 1,000 45,000 € 45,00 €',
 '7.Remote Hands - Service Dienstleistung 1,000 45,000 € 45,00 €',
 '8.Remote Hands - Service Dienstleistung 2,000 45,000 € 90,00 €',
 '9.Network Card extension + cabling (FC-24908) 5,000 11,000 € 55,00 €',
 '10.Hardware: Samsung PM883 3840GB (FC-24821, FC-24995) 4,000 22,000 € 88,00 €',
 '11.Hardware: Samsung PM883 1920GB (FC-25256) 1,000 12,500 € 12,50 €',
 '12.Hardware: RAM-Upgrade AMD7452-1 (FC-25362) 1,000 91,500 € 91,50 €',
 "13.19'' Rack inkl. Klima (M8) 1,000 752,850 € 752,85 €",
 '14.Stromleistung je kW/h Mindestabnahme 1.000,000 0,550 € 550,00 €',
 '15.Mietgerät: Network Switch Juniper EX4300-48T (FC-213814D, 2,000 55,590 € 111,18 €',
 '16.Mietserver Ulta AX160-NVMe 32 Core (lease-purchase) (FC-23943) 1,000 151,270 € 151,27 €',
 '17.Mietserver Ulta AX160-NVMe 24 Core (lease-purchase) (FC-23944-57 14,000 110,540 € 1.547,56 €',
 '18.Mietserver Ulta100 Xeon SSD (lease-purchase) (FC-23958-62) 5,000 59,800 € 299,00 €',
 '19.Mietserver Ulta100 Xeon No-SSD (lease-purchase) (FC-23963-67) 5,000 48,530 € 242,65 €',
 '20.Stromleistung je kW/h zusätzlich: gesamt 6.942,000 0,570 € 3.956,94 €',
 '21.Stromleistung je kW/h auf Stromkreis: UV-RZ-Vario-B/F2.4 48,000 0,000 € 0,00 €',
 '22.Stromleistung je kW/h auf Stromkreis: UV-RZ-Vario-B/F1.8 2.145,000 0,000 € 0,00 €',
 '23.Stromleistung je kW/h auf Stromkreis: UV-RZ-Vario-A/F2.4 58,000 0,000 € 0,00 €',
 '24.Stromleistung je kW/h auf Stromkreis: UV-RZ-Vario-A/F1.8 2.042,000 0,000 € 0,00 €',
 '25.Stromleistung je kW/h auf Stromkreis: UV2/11F9 1.736,000 0,000 € 0,00 €',
 '26.Stromleistung je kW/h auf Stromkreis: UV2/11F10 1.913,000 0,000 € 0,00 €',
 '27.Mietserver Private Company Server (Ulta AX160-NVMe 24 1,000 110,540 € 110,54 €',
 '28.Hardware: Samsung 970 EVO M.2 with 2TB (FC-25684) 9,000 12,500 € 112,50 €',
 '29.Mietserver [KS] Ulta AX160-NVMe 24 Core (AMD7402-15, 3,000 123,520 € 370,56 €',
 '30.Mietserver [KS] Ulta100 Xeon NVMe SSD (E-2276G-11 E-2276G-12) 2,000 59,630 € 119,26 €',
 '31.Hardware: RAM-Upgrade 128 GB AMD 7402-11 (FC-26693) 1,000 30,500 € 30,50 €',
 '32.Hardware: Server-Upgrade (2x 960 GB PM883) (FC-26713) 2,000 11,270 € 22,54 €',
 '33.Traffic Flatrate 6 Gbit 1,000 2.650,000 € 2.650,00 €',
 '34.Shared Housing Ultahost-A3 1,000 65,000 € 65,00 €',
 '35.Hardware: Server-Upgrade: SSD (FC-29004) 1,000 415,000 € 415,00 €',
 '36.Hardware: Server-Upgrade: RAM (FC-29004) 1,000 399,000 € 399,00 €',
 '37.1G Uplink Ultahost-A3 (FC-30128) 1,000 10,000 € 10,00 €',
 '38.Hardware: 64 GB RAM Ultahost-A1 (FC-29564) 1,000 27,000 € 27,00 €',
 '39.Hardware: Server-Upgrade AMD 7451-1 (FC-31437) 1,000 90,000 € 90,00 €',
 '40.DDoS Protection Arbor Lite (FC-31602) 1,000 99,000 € 99,00 €',
 '41.Mietserver Dell Server Hardware (FC-31772) 1,000 698,000 € 698,00 €',
 '42.Hardware: Server-Upgrade E-2276G-1 (FC-32269) 1,000 130,000 € 130,00 €',
 '43.Hardware: Server-Upgrade AMD7402-5 (FC-32606) 1,000 13,600 € 13,60 €',
 '44.Hardware: Serverupgrade A2 (FC-32852) 1,000 374,000 € 374,00 €',
 '45.Hardware: FC-33801 1,000 172,800 € 172,80 €',
 '46.1/1 Rack (R1/3.16) 1,000 495,000 € 495,00 €',
 '47.Power Feeds Rack R1/3.16 1,000 160,000 € 160,00 €',
 '48.Uplinks Rack R1/3.16 1,000 129,000 € 129,00 €',
 '49.Mietgerät: Juniper QFX5100-48T (FC-2291D2A, FC-2291EB8) 2,000 175,000 € 350,00 €',
 '50.Mietserver Ulta 100-Xeon no SSD (FC-33243-57) 15,000 49,000 € 735,00 €',
 '51.Mietserver: VPS Host (FC-33262-64) 1,000 433,000 € 433,00 €',
 '52.Hardware Components 1,000 323,000 € 323,00 €',
 '53.Storage-Upgrade 1,000 15,000 € 15,00 €',
 '54.Hardware: Intel X540-T2 (Dual 10GbE) 2,000 24,000 € 48,00 €',
 '55.IP-Netz (159.100.30.0/24, 212.224.107.0/24) 2,000 189,000 € 378,00 €',
 '56.1TB SSD for server AMD7402-16 1,000 5,000 € 5,00 €',
 '57.Dedicated Server: VPS Host (NVMe based) 1,000 618,000 € 618,00 €',
 '58.3U Supermicro Server - Modification 1,000 204,650 € 204,65 €',
 '59.Dedicated Server FC-35348, FC-35624 2,000 130,000 € 260,00 €',
 '60.Dedicated Server FC-35349 1,000 140,000 € 140,00 €',
 '61.Serverupgrade 276G-1 1,000 33,450 € 33,45 €',
 '62.LSI 9560-16i Raid Controller 1,000 45,000 € 45,00 €',
 '63.1.92TB PM983 Samsung NVMe SSD 1,000 8,300 € 8,30 €',
 '64.1x 960GB PM893 SSD 1,000 5,500 € 5,50 €',
 '65.Dedicated Server FC-35583 bis FC-35597 15,000 49,290 € 739,35 €',
 '66.Dedicated Server FC-35865 1,000 88,000 € 88,00 €',
 '67.Mietserver [KS] Ulta100 Xeon No-SSD (lease purchase) (E-2276G-13 5,000 48,530 € 242,65 €',
 '68.Stromleistung Standort Kruppstraße je kW/h zusätzlich 2.221,000 0,570 € 1.265,97 €',
 '69.Dedicated Server: FC-36099 1,000 130,000 € 130,00 €',
 '70.Dedicated Server: FC-36067, FC-36068 2,000 125,000 € 250,00 €',
 '71.Dedicated Server: FC-36035 1,000 140,000 € 140,00 €',
 '72.Hardware: 960GB M.2 PM983 NVMe 5,000 4,250 € 21,25 €',
 '73.1/1 Colocation Rack: R3/3.17 1,000 495,000 € 495,00 €',
 '74.Power Feeds for 5KW Colocation Racks 1,000 160,000 € 160,00 €',
 '75.Fiber Uplinks for 5KW Colocation Racks 1,000 129,000 € 129,00 €',
 '76.Network Switch: Juniper QFX5100-48T 1,000 175,000 € 175,00 €',
 '77.3.84TB Samsung Enterprise SDD PM893 10,000 13,100 € 131,00 €',
 '78.Hardware: 1.92TB Samsung PM983 NVMe 1,000 11,500 € 11,50 €',
 '79.Dedicted Server - VPS Host: FC-35579, FC-35580, FC-35581 3,000 705,000 € 2.115,00 €',
 '80.Hardware: 960GB PM893 SS 1,000 4,700 € 4,70 €',
 '81./24 Subnet 212.224.93.0/24, 159.100.13.0/24 2,000 154,500 € 309,00 €',
 '82.Dedicated Server: FC-36865 1,000 105,000 € 105,00 €',
 '83.Dedicated Server - AMD 7763 1,000 177,000 € 177,00 €',
 '84.Dedicated Server - AMD 7352 4,000 100,000 € 400,00 €',
 '85.Hardware: 1.92 TB SSD Samsung PM893 MZ7L31T9HBLT 4,000 5,800 € 23,20 €',
 '86.Hardware: X520-DA2 2,000 10,000 € 20,00 €',
 '87.Dedicated Server - FC-37113 1,000 258,000 € 258,00 €',
 '88.Dedicated Server - Ulta100 24,000 63,200 € 1.516,80 €',
 '89.Dedicated Server - FC-36850 1,000 84,800 € 84,80 €',
 '90.Hardware: 3.84TB PM893 2,000 9,600 € 19,20 €',
 'Zwischensumme: 29.000,57 €',
 'Rechnungsbetrag: 29.000,57 €']

In [95]:
import pandas as pd
import re

# Sample data
# lie = ["1.1 HE im 19'' Rack 2,000 65,000 € 130,00 €"]

# Define splitting conditions using regular expressions
split_conditions = [
    r'(?<=\d)\s',              # Split at the first space after a digit
    r'(?<=\D)\s',              # Split at the second space after a non-digit character
    r'(?<=\d|,)\s',            # Split at the third space after a digit or a comma
    r'(?<=\d|,)\s',            # Split at the fourth space after a digit or a comma
]

# Initialize an empty list to store dictionaries
data = []

# Iterate over each item in the list
for i in eu:
    # Split the string using the defined splitting conditions
    parts = re.split('|'.join(split_conditions), i)

    # Print the parts to debug
    print("Parts:", parts)

    # Create a dictionary for each row of data
    row_data = {
        'Number': parts[0],
        'Name': " ".join(parts[1:-5]),  # Adjust slicing here
        'quantity': parts[-5],
        'per_unit': parts[-4],
        'total': parts[-2]
    }

    # Append the dictionary to the list
    data.append(row_data)

# Create DataFrame from list of dictionaries
df = pd.DataFrame(data)

# Print DataFrame
print(df)

Parts: ['1.1', 'HE', 'im', "19''", 'Rack', '2,000', '65,000', '€', '130,00', '€']
Parts: ['2.IP-Netz', '(159.100.29.0/24,', '212.224.86.0/24,', '212.224.88.0/24,', '8,000', '154,500', '€', '1.236,00', '€']
Parts: ['3.Remote', 'Hands', '-', 'Service', 'Dienstleistung', '1,000', '45,000', '€', '45,00', '€']
Parts: ['4.Remote', 'Hands', '-', 'Service', 'Dienstleistung', '3,000', '45,000', '€', '135,00', '€']
Parts: ['5.Remote', 'Hands', '-', 'Service', 'Dienstleistung', '1,000', '45,000', '€', '45,00', '€']
Parts: ['6.Remote', 'Hands', '-', 'Service', 'Dienstleistung', '8,000', '45,000', '€', '360,00', '€']
Parts: ['7.Remote', 'Hands', '-', 'Service', 'Dienstleistung', '3,000', '45,000', '€', '135,00', '€']
Parts: ['8.Remote', 'Hands', '-', 'Service', 'Dienstleistung', '1,000', '45,000', '€', '45,00', '€']
Parts: ['9.Remote', 'Hands', '-', 'Service', 'Dienstleistung', '2,000', '45,000', '€', '90,00', '€']
Parts: ['10.Remote', 'Hands', '-', 'Service', 'Dienstleistung', '3,000', '45,000', '€', '135,00', '€']
Parts: ['11.Network', 'Card', 'extension', '+', 'cabling', '(FC-24908)', '5,000', '11,000', '€', '55,00', '€']
Parts: ['12.Hardware:', 'Samsung', 'PM883', '3840GB', '(FC-24821,', 'FC-24995)', '4,000', '22,000', '€', '88,00', '€']
Parts: ['13.Hardware:', 'Samsung', 'PM883', '1920GB', '(FC-25256)', '1,000', '12,500', '€', '12,50', '€']
Parts: ['14.Hardware:', 'RAM-Upgrade', 'AMD7452-1', '(FC-25362)', '1,000', '91,500', '€', '91,50', '€']
Parts: ["15.19''", 'Rack', 'inkl.', 'Klima', '(M8)', '1,000', '752,850', '€', '752,85', '€']
Parts: ['16.Stromleistung', 'je', 'kW/h', 'Mindestabnahme', '1.000,000', '0,550', '€', '550,00', '€']
Parts: ['17.Mietgerät:', 'Network', 'Switch', 'Juniper', 'EX4300-48T', '(FC-213814D,', '2,000', '55,590', '€', '111,18', '€']
Parts: ['18.Mietserver', 'Ulta', 'AX160-NVMe', '32', 'Core', '(lease-purchase)', '(FC-23943)', '1,000', '151,270', '€', '151,27', '€']
Parts: ['19.Mietserver', 'Ulta', 'AX160-NVMe', '24', 'Core', '(lease-purchase)', '(FC-23944-57', '14,000', '110,540', '€', '1.547,56', '€']
Parts: ['20.Mietserver', 'Ulta100', 'Xeon', 'SSD', '(lease-purchase)', '(FC-23958-62)', '5,000', '59,800', '€', '299,00', '€']
Parts: ['21.Mietserver', 'Ulta100', 'Xeon', 'No-SSD', '(lease-purchase)', '(FC-23963-67)', '5,000', '48,530', '€', '242,65', '€']
Parts: ['22.Stromleistung', 'je', 'kW/h', 'zusätzlich:', 'gesamt', '2.106,000', '0,570', '€', '1.200,42', '€']
Parts: ['23.Stromleistung', 'je', 'kW/h', 'auf', 'Stromkreis:', 'UV2/11F9', '1.539,000', '0,000', '€', '0,00', '€']
Parts: ['24.Stromleistung', 'je', 'kW/h', 'auf', 'Stromkreis:', 'UV2/11F10', '1.567,000', '0,000', '€', '0,00', '€']
Parts: ['25.Mietserver', 'Private', 'Company', 'Server', '(Ulta', 'AX160-NVMe', '24', '1,000', '110,540', '€', '110,54', '€']
Parts: ['26.Hardware:', 'Samsung', '970', 'EVO', 'M.2', 'with', '2TB', '(FC-25684)', '9,000', '12,500', '€', '112,50', '€']
Parts: ['27.Mietserver', '[KS]', 'Ulta', 'AX160-NVMe', '24', 'Core', '(AMD7402-15,', '3,000', '123,520', '€', '370,56', '€']
Parts: ['28.Mietserver', '[KS]', 'Ulta100', 'Xeon', 'NVMe', 'SSD', '(E-2276G-11', 'E-2276G-12)', '2,000', '59,630', '€', '119,26', '€']
Parts: ['29.Hardware:', 'RAM-Upgrade', '128', 'GB', 'AMD', '7402-11', '(FC-26693)', '1,000', '30,500', '€', '30,50', '€']
Parts: ['30.Hardware:', 'Server-Upgrade', '(2x', '960', 'GB', 'PM883)', '(FC-26713)', '2,000', '11,270', '€', '22,54', '€']
Parts: ['31.Traffic', 'Flatrate', '4', 'Gbit', '1,000', '1.900,000', '€', '1.900,00', '€']
Parts: ['32.Shared', 'Housing', 'Ultahost-A3', '1,000', '65,000', '€', '65,00', '€']
Parts: ['33.Hardware:', 'Server-Upgrade:', 'SSD', '(FC-29004)', '1,000', '415,000', '€', '415,00', '€']
Parts: ['34.Hardware:', 'Server-Upgrade:', 'RAM', '(FC-29004)', '1,000', '399,000', '€', '399,00', '€']
Parts: ['35.1G', 'Uplink', 'Ultahost-A3', '(FC-30128)', '1,000', '10,000', '€', '10,00', '€']
Parts: ['36.Hardware:', '64', 'GB', 'RAM', 'Ultahost-A1', '(FC-29564)', '1,000', '27,000', '€', '27,00', '€']
Parts: ['37.Hardware:', 'Server-Upgrade', 'AMD', '7451-1', '(FC-31437)', '1,000', '90,000', '€', '90,00', '€']
Parts: ['38.DDoS', 'Protection', 'Arbor', 'Lite', '(FC-31602)', '1,000', '99,000', '€', '99,00', '€']
Parts: ['39.Mietserver', 'Dell', 'Server', 'Hardware', '(FC-31772)', '1,000', '698,000', '€', '698,00', '€']
Parts: ['40.Service:', 'SVC-COR-SRX300JB', '1,000', '7,000', '€', '7,00', '€']
Parts: ['41.Service:', 'SVC-COR-SRX320JB', '1,000', '7,000', '€', '7,00', '€']
Parts: ['42.Hardware:', 'Server-Upgrade', 'E-2276G-1', '(FC-32269)', '1,000', '130,000', '€', '130,00', '€']
Parts: ['43.Hardware:', 'Server-Upgrade', 'AMD7402-5', '(FC-32606)', '1,000', '13,600', '€', '13,60', '€']
Parts: ['44.Hardware:', 'Serverupgrade', 'A2', '(FC-32852)', '1,000', '374,000', '€', '374,00', '€']
Parts: ['45.Hardware:', 'FC-33801', '1,000', '172,800', '€', '172,80', '€']
Parts: ['46.1/1', 'Rack', '(R1/3.16)', '1,000', '0,000', '€', '0,00', '€']
Parts: ['47.Power', 'Feeds', 'Rack', 'R1/3.16', '1,000', '0,000', '€', '0,00', '€']
Parts: ['48.Uplinks', 'Rack', 'R1/3.16', '1,000', '0,000', '€', '0,00', '€']
Parts: ['49.Mietgerät:', 'Juniper', 'QFX5100-48T', '(FC-2291D2A,', 'FC-2291EB8)', '1,000', '175,000', '€', '175,00', '€']
Parts: ['50.Mietserver', 'Ulta', '100-Xeon', 'no', 'SSD', '(FC-33243-57)', '15,000', '49,000', '€', '735,00', '€']
Parts: ['51.Mietserver:', 'VPS', 'Host', '(FC-33262-64)', '1,000', '433,000', '€', '433,00', '€']
Parts: ['52.Hardware', 'Components', '1,000', '323,000', '€', '323,00', '€']
Parts: ['53.Storage-Upgrade', '1,000', '15,000', '€', '15,00', '€']
Parts: ['54.Hardware:', 'Intel', 'X540-T2', '(Dual', '10GbE)', '2,000', '24,000', '€', '48,00', '€']
Parts: ['55.IP-Netz', '(159.100.30.0/24,', '212.224.107.0/24)', '2,000', '189,000', '€', '378,00', '€']
Parts: ['56.1TB', 'SSD', 'for', 'server', 'AMD7402-16', '1,000', '5,000', '€', '5,00', '€']
Parts: ['57.Dedicated', 'Server:', 'VPS', 'Host', '(NVMe', 'based)', '1,000', '618,000', '€', '618,00', '€']
Parts: ['58.3U', 'Supermicro', 'Server', '-', 'Modification', '1,000', '204,650', '€', '204,65', '€']
Parts: ['59.Dedicated', 'Server', 'FC-35348,', 'FC-35624', '2,000', '130,000', '€', '260,00', '€']
Parts: ['60.Dedicated', 'Server', 'FC-35349', '1,000', '140,000', '€', '140,00', '€']
Parts: ['61.Serverupgrade', '276G-1', '1,000', '33,450', '€', '33,45', '€']
Parts: ['62.LSI', '9560-16i', 'Raid', 'Controller', '1,000', '45,000', '€', '45,00', '€']
Parts: ['63.1.92TB', 'PM983', 'Samsung', 'NVMe', 'SSD', '1,000', '8,300', '€', '8,30', '€']
Parts: ['64.1x', '960GB', 'PM893', 'SSD', '1,000', '5,500', '€', '5,50', '€']
Parts: ['65.Dedicated', 'Server', 'FC-35583,', 'FC-35584,', 'FC-35585,', 'FC-35586,', '5,000', '49,290', '€', '246,45', '€']
Parts: ['66.Dedicated', 'Server', 'FC-35865', '1,000', '88,000', '€', '88,00', '€']
Parts: ['67.Mietserver', '[KS]', 'Ulta100', 'Xeon', 'No-SSD', '(lease', 'purchase)', '(E-2276G-13', '5,000', '48,530', '€', '242,65', '€']
Parts: ['68.Stromleistung', 'Standort', 'Kruppstraße', 'je', 'kW/h', 'zusätzlich', '1.987,000', '0,570', '€', '1.132,59', '€']
Parts: ['69.Dedicated', 'Server:', 'FC-36099', '1,000', '130,000', '€', '130,00', '€']
Parts: ['70.Dedicated', 'Server:', 'FC-36067,', 'FC-36068', '2,000', '125,000', '€', '250,00', '€']
Parts: ['71.Dedicated', 'Server:', 'FC-36035', '1,000', '140,000', '€', '140,00', '€']
Parts: ['72.Hardware:', '960GB', 'M.2', 'PM983', 'NVMe', '5,000', '4,250', '€', '21,25', '€']
Parts: ['73.1/1', 'Colocation', 'Rack:', 'R3/3.17', '1,000', '0,000', '€', '0,00', '€']
Parts: ['74.Power', 'Feeds', 'for', '5KW', 'Colocation', 'Racks', '1,000', '0,000', '€', '0,00', '€']
Parts: ['75.Fiber', 'Uplinks', 'for', '5KW', 'Colocation', 'Racks', '1,000', '0,000', '€', '0,00', '€']
Parts: ['76.Network', 'Switch:', 'Juniper', 'QFX5100-48T', '1,000', '0,000', '€', '0,00', '€']
Parts: ['77.Remotehands', 'Kruppstraße', '3,000', '45,000', '€', '135,00', '€']
Parts: ['Zwischensumme:', '18.444,07', '€']

IndexError: list index out of range

In [96]:
    row_data = {
        'Number': parts[0],
        'Name': " ".join(parts[1:-5]),  # Adjust slicing here
        'quantity': parts[-5],
        'per_unit': parts[-4],
        'total': parts[-2]
    }

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [97]:
row_data

{'Number': '77.Remotehands',
 'Name': 'Kruppstraße',
 'quantity': '3,000',
 'per_unit': '45,000',
 'total': '135,00'}

In [91]:
lines=[]
with open("output2.txt", 'r') as file:
    # Read each line of the file and append it to the list
    for line in file:
        lines.append(line.strip())

In [69]:
lie=[]
for i in lines:
    if "€" in i:
        lie.append(i)

In [70]:
eu=[]
for i in lie:
    if "%" not in i:
        eu.append(i)

In [71]:
import pandas as pd
import re

split_conditions = [
    r'(?<=\d)\s',              # Split at the first space after a digit
    r'(?<=\D)\s',              # Split at the second space after a non-digit character
    r'(?<=\d|,)\s',            # Split at the third space after a digit or a comma
    r'(?<=\d|,)\s',            # Split at the fourth space after a digit or a comma
]

In [72]:
Number=[]
Name=[]
quantity=[]
per_unit=[]
total=[]
for i in eu[:-2]:
    Number.append(re.split('|'.join(split_conditions), i)[0])
    Name.append(" ".join(re.split('|'.join(split_conditions), i)[1:-5]))
    quantity.append(re.split('|'.join(split_conditions), i)[-5])
    per_unit.append(re.split('|'.join(split_conditions), i)[-4])
    total.append(re.split('|'.join(split_conditions), i)[-2])
 # Create list of dictionaries
data = {'Number': Number,
        'Name': Name,
        'quantity':quantity,
        'per_unit': per_unit,
        'total': total}

In [101]:
data

{'Number': ['1.Dedicated',
  '2.Dedicated',
  '3.Dedicated',
  '4.Hardware:',
  '5.1',
  '6.IP-Net',
  '7.Remote',
  '8.Remote',
  '9.Remote',
  '10.Remote',
  '11.Network',
  '12.Hardware:',
  '13.Hardware:',
  '14.Hardware:',
  "15.19''",
  '16.commited',
  '17.rental',
  '18.rental',
  '19.rental',
  '20.rental',
  '21.rental',
  '22.power',
  '23.power',
  '24.power',
  '25.power',
  '26.power',
  '27.power',
  '28.power',
  '29.rental',
  '30.Hardware:',
  '31.rental',
  '32.rental',
  '33.Hardware:',
  '34.Hardware:',
  '35.Traffic',
  '36.Shared',
  '37.Hardware:',
  '38.Hardware:',
  '39.1G',
  '40.Hardware:',
  '41.Hardware:',
  '42.DDoS',
  '43.rental',
  '44.Hardware:',
  '45.Hardware:',
  '46.Hardware:',
  '47.Hardware:',
  '48.1/1',
  '49.Power',
  '50.Uplinks',
  '51.rental',
  '52.rental',
  '53.Mietserver:',
  '54.Hardware',
  '55.Storage-Upgrade',
  '56.Hardware:',
  '57.IP-Net',
  '58.1TB',
  '59.Dedicated',
  '60.3U',
  '61.Dedicated',
  '62.Dedicated',
  '63.Serverupgrade',
  '64.LSI',
  '65.1.92TB',
  '66.1x',
  '67.Dedicated',
  '68.Dedicated',
  '69.rental',
  '70.Stromleistung',
  '71.Dedicated',
  '72.Dedicated',
  '73.Dedicated',
  '74.Hardware:',
  '75.1/1',
  '76.Power',
  '77.Fiber',
  '78.Network',
  '79.3.84TB',
  '80.Hardware:',
  '81.Dedicted',
  '82.Hardware:',
  '83./24',
  '84.Dedicated',
  '85.Dedicated',
  '86.Dedicated',
  '87.Hardware:',
  '88.Hardware:'],
 'Name': ['Server - FC-37113',
  'Server - Ulta100',
  'Server - FC-36850',
  '3.84TB PM893',
  "HE im 19'' Rack",
  '(159.100.29.0/24, 212.224.86.0/24, 212.224.88.0/24,',
  'Hands - Service fee',
  'Hands - Service fee',
  'Hands - Service fee',
  'Hands - Service fee',
  'Card extension + cabling (FC-24908)',
  'Samsung PM883 3840GB (FC-24821, FC-24995)',
  'Samsung PM883 1920GB (FC-25256)',
  'RAM-Upgrade AMD7452-1 (FC-25362)',
  'Rack inkl. Klima (M8)',
  'power usage',
  'equipment: Network Switch Juniper EX4300-48T (FC-213814D',
  'server Ulta AX160-NVMe 32 Core (lease-purchase) (FC-23943)',
  'server Ulta AX160-NVMe 24 Core (lease-purchase)',
  'server Ulta100 Xeon SSD (lease-purchase) (FC-23958-62)',
  'server Ulta100 Xeon No-SSD (lease-purchase) (FC-23963-67)',
  'usage per kW/h additional: total',
  'usage per kW/h on circuit: UV-RZ-Vario-B/F2.4',
  'usage per kW/h on circuit: UV-RZ-Vario-B/F1.8',
  'usage per kW/h on circuit: UV-RZ-Vario-A/F1.8',
  'usage per kW/h on circuit: UV-RZ-Vario-A/F2.4',
  'usage per kW/h on circuit: UV2/11F9',
  'usage per kW/h on circuit: UV2/11F10',
  'server Private Company Server (Ulta AX160-NVMe',
  'Samsung 970 EVO M.2 with 2TB (FC-25684)',
  'server [KS] Ulta AX160-NVMe 24 Core (AMD7402-15,',
  'server [KS] Ulta100 Xeon NVMe SSD (E-2276G-11',
  'RAM-Upgrade 128 GB AMD 7402-11 (FC-26693)',
  'Server-Upgrade (2x 960 GB PM883) (FC-26713)',
  'Flatrate 6 Gbit',
  'Housing Ultahost-A3',
  'Server-Upgrade: SSD (FC-29004)',
  'Server-Upgrade: RAM (FC-29004)',
  'Uplink Ultahost-A3 (FC-30128)',
  '64 GB RAM Ultahost-A1 (FC-29564)',
  'Server-Upgrade AMD 7451-1 (FC-31437)',
  'Protection Arbor Lite (FC-31602)',
  'server Dell Server Hardware (FC-31772)',
  'Server-Upgrade E-2276G-1 (FC-32269)',
  'Server-Upgrade AMD7402-5 (FC-32606)',
  'Serverupgrade A2 (FC-32852)',
  'FC-33801',
  'Rack (R1/3.16)',
  'Feeds Rack R1/3.16',
  'Rack R1/3.16',
  'equipment: Juniper QFX5100-48T (FC-2291D2A, FC-2291EB8)',
  'server Ulta 100-Xeon no SSD (FC-33243-57)',
  'VPS Host (FC-33262-64)',
  'Components',
  '',
  'Intel X540-T2 (Dual 10GbE)',
  '(159.100.30.0/24, 212.224.107.0/24)',
  'SSD for server AMD7402-16',
  'Server: VPS Host (NVMe based)',
  'Supermicro Server - Modification',
  'Server FC-35348, FC-35624',
  'Server FC-35349',
  '276G-1',
  '9560-16i Raid Controller',
  'PM983 Samsung NVMe SSD',
  '960GB PM893 SSD',
  'Server FC-35583 bis FC-35597',
  'Server FC-35865',
  'server [KS] Ulta100 Xeon No-SSD (lease purchase)',
  'Standort Kruppstraße je kW/h zusätzlich',
  'Server: FC-36099',
  'Server: FC-36067, FC-36068',
  'Server: FC-36035',
  '960GB M.2 PM983 NVMe',
  'Colocation Rack: R3/3.17',
  'Feeds for 5KW Colocation Racks',
  'Uplinks for 5KW Colocation Racks',
  'Switch: Juniper QFX5100-48T',
  'Samsung Enterprise SDD PM893',
  '1.92TB Samsung PM983 NVMe',
  'Server - VPS Host: FC-35579, FC-35580, FC-35581,',
  '960GB PM893 SS',
  'Subnet 212.224.93.0/24, 159.100.13.0/24',
  'Server: FC-36865',
  'Server - AMD 7763',
  'Server - AMD 7352',
  '1.92 TB SSD Samsung PM893 MZ7L31T9HBLT',
  'X520-DA2'],
 'quantity': ['1,000',
  '24,000',
  '1,000',
  '2,000',
  '2,000',
  '9,000',
  '1,000',
  '1,000',
  '1,000',
  '1,000',
  '5,000',
  '4,000',
  '1,000',
  '1,000',
  '1,000',
  '1.000,000',
  '2,000',
  '1,000',
  '14,000',
  '5,000',
  '5,000',
  '8.269,000',
  '348,000',
  '2.428,000',
  '2.341,000',
  '379,000',
  '1.818,000',
  '1.955,000',
  '1,000',
  '9,000',
  '3,000',
  '2,000',
  '1,000',
  '2,000',
  '1,000',
  '1,000',
  '1,000',
  '1,000',
  '1,000',
  '1,000',
  '1,000',
  '1,000',
  '1,000',
  '1,000',
  '1,000',
  '1,000',
  '1,000',
  '1,000',
  '1,000',
  '1,000',
  '2,000',
  '15,000',
  '1,000',
  '1,000',
  '1,000',
  '2,000',
  '2,000',
  '1,000',
  '1,000',
  '1,000',
  '2,000',
  '1,000',
  '1,000',
  '1,000',
  '1,000',
  '1,000',
  '15,000',
  '1,000',
  '5,000',
  '2.183,000',
  '1,000',
  '2,000',
  '1,000',
  '5,000',
  '1,000',
  '1,000',
  '1,000',
  '1,000',
  '10,000',
  '1,000',
  '4,000',
  '1,000',
  '2,000',
  '1,000',
  '1,000',
  '4,000',
  '4,000',
  '2,000'],
 'per_unit': ['258,000',
  '63,200',
  '84,800',
  '9,600',
  '65,000',
  '128,000',
  '35,000',
  '35,000',
  '35,000',
  '35,000',
  '11,000',
  '22,000',
  '12,500',
  '91,500',
  '752,850',
  '0,550',
  '55,590',
  '151,270',
  '110,540',
  '59,800',
  '48,530',
  '0,570',
  '0,000',
  '0,000',
  '0,000',
  '0,000',
  '0,000',
  '0,000',
  '110,540',
  '12,500',
  '123,520',
  '59,630',
  '30,500',
  '11,270',
  '2.650,000',
  '65,000',
  '415,000',
  '399,000',
  '10,000',
  '27,000',
  '90,000',
  '99,000',
  '698,000',
  '130,000',
  '13,600',
  '374,000',
  '172,800',
  '495,000',
  '160,000',
  '129,000',
  '175,000',
  '49,000',
  '433,000',
  '323,000',
  '15,000',
  '24,000',
  '128,000',
  '5,000',
  '618,000',
  '204,650',
  '130,000',
  '140,000',
  '33,450',
  '45,000',
  '8,300',
  '5,500',
  '49,290',
  '88,000',
  '48,530',
  '0,570',
  '130,000',
  '125,000',
  '140,000',
  '4,250',
  '495,000',
  '160,000',
  '129,000',
  '175,000',
  '13,100',
  '11,500',
  '705,000',
  '4,700',
  '128,000',
  '105,000',
  '177,000',
  '100,000',
  '5,800',
  '10,000'],
 'total': ['258,00',
  '1.516,80',
  '84,80',
  '19,20',
  '130,00',
  '1.152,00',
  '35,00',
  '35,00',
  '35,00',
  '35,00',
  '55,00',
  '88,00',
  '12,50',
  '91,50',
  '752,85',
  '550,00',
  '111,18',
  '151,27',
  '1.547,56',
  '299,00',
  '242,65',
  '4.713,33',
  '0,00',
  '0,00',
  '0,00',
  '0,00',
  '0,00',
  '0,00',
  '110,54',
  '112,50',
  '370,56',
  '119,26',
  '30,50',
  '22,54',
  '2.650,00',
  '65,00',
  '415,00',
  '399,00',
  '10,00',
  '27,00',
  '90,00',
  '99,00',
  '698,00',
  '130,00',
  '13,60',
  '374,00',
  '172,80',
  '495,00',
  '160,00',
  '129,00',
  '350,00',
  '735,00',
  '433,00',
  '323,00',
  '15,00',
  '48,00',
  '256,00',
  '5,00',
  '618,00',
  '204,65',
  '260,00',
  '140,00',
  '33,45',
  '45,00',
  '8,30',
  '5,50',
  '739,35',
  '88,00',
  '242,65',
  '1.244,31',
  '130,00',
  '250,00',
  '140,00',
  '21,25',
  '495,00',
  '160,00',
  '129,00',
  '175,00',
  '131,00',
  '11,50',
  '2.820,00',
  '4,70',
  '256,00',
  '105,00',
  '177,00',
  '400,00',
  '23,20',
  '20,00']}

In [74]:
df1 = pd.DataFrame(data)

In [75]:
eu[:-2]

['1.Dedicated Server - FC-37113 1,000 258,000 € 258,00 €',
 '2.Dedicated Server - Ulta100 24,000 63,200 € 1.516,80 €',
 '3.Dedicated Server - FC-36850 1,000 84,800 € 84,80 €',
 '4.Hardware: 3.84TB PM893 2,000 9,600 € 19,20 €',
 "5.1 HE im 19'' Rack 2,000 65,000 € 130,00 €",
 '6.IP-Net (159.100.29.0/24, 212.224.86.0/24, 212.224.88.0/24, 9,000 128,000 € 1.152,00 €',
 '7.Remote Hands - Service fee 1,000 35,000 € 35,00 €',
 '8.Remote Hands - Service fee 1,000 35,000 € 35,00 €',
 '9.Remote Hands - Service fee 1,000 35,000 € 35,00 €',
 '10.Remote Hands - Service fee 1,000 35,000 € 35,00 €',
 '11.Network Card extension + cabling (FC-24908) 5,000 11,000 € 55,00 €',
 '12.Hardware: Samsung PM883 3840GB (FC-24821, FC-24995) 4,000 22,000 € 88,00 €',
 '13.Hardware: Samsung PM883 1920GB (FC-25256) 1,000 12,500 € 12,50 €',
 '14.Hardware: RAM-Upgrade AMD7452-1 (FC-25362) 1,000 91,500 € 91,50 €',
 "15.19'' Rack inkl. Klima (M8) 1,000 752,850 € 752,85 €",
 '16.commited power usage 1.000,000 0,550 € 550,00 €',
 '17.rental equipment: Network Switch Juniper EX4300-48T (FC-213814D 2,000 55,590 € 111,18 €',
 '18.rental server Ulta AX160-NVMe 32 Core (lease-purchase) (FC-23943) 1,000 151,270 € 151,27 €',
 '19.rental server Ulta AX160-NVMe 24 Core (lease-purchase) 14,000 110,540 € 1.547,56 €',
 '20.rental server Ulta100 Xeon SSD (lease-purchase) (FC-23958-62) 5,000 59,800 € 299,00 €',
 '21.rental server Ulta100 Xeon No-SSD (lease-purchase) (FC-23963-67) 5,000 48,530 € 242,65 €',
 '22.power usage per kW/h additional: total 8.269,000 0,570 € 4.713,33 €',
 '23.power usage per kW/h on circuit: UV-RZ-Vario-B/F2.4 348,000 0,000 € 0,00 €',
 '24.power usage per kW/h on circuit: UV-RZ-Vario-B/F1.8 2.428,000 0,000 € 0,00 €',
 '25.power usage per kW/h on circuit: UV-RZ-Vario-A/F1.8 2.341,000 0,000 € 0,00 €',
 '26.power usage per kW/h on circuit: UV-RZ-Vario-A/F2.4 379,000 0,000 € 0,00 €',
 '27.power usage per kW/h on circuit: UV2/11F9 1.818,000 0,000 € 0,00 €',
 '28.power usage per kW/h on circuit: UV2/11F10 1.955,000 0,000 € 0,00 €',
 '29.rental server Private Company Server (Ulta AX160-NVMe 1,000 110,540 € 110,54 €',
 '30.Hardware: Samsung 970 EVO M.2 with 2TB (FC-25684) 9,000 12,500 € 112,50 €',
 '31.rental server [KS] Ulta AX160-NVMe 24 Core (AMD7402-15, 3,000 123,520 € 370,56 €',
 '32.rental server [KS] Ulta100 Xeon NVMe SSD (E-2276G-11 2,000 59,630 € 119,26 €',
 '33.Hardware: RAM-Upgrade 128 GB AMD 7402-11 (FC-26693) 1,000 30,500 € 30,50 €',
 '34.Hardware: Server-Upgrade (2x 960 GB PM883) (FC-26713) 2,000 11,270 € 22,54 €',
 '35.Traffic Flatrate 6 Gbit 1,000 2.650,000 € 2.650,00 €',
 '36.Shared Housing Ultahost-A3 1,000 65,000 € 65,00 €',
 '37.Hardware: Server-Upgrade: SSD (FC-29004) 1,000 415,000 € 415,00 €',
 '38.Hardware: Server-Upgrade: RAM (FC-29004) 1,000 399,000 € 399,00 €',
 '39.1G Uplink Ultahost-A3 (FC-30128) 1,000 10,000 € 10,00 €',
 '40.Hardware: 64 GB RAM Ultahost-A1 (FC-29564) 1,000 27,000 € 27,00 €',
 '41.Hardware: Server-Upgrade AMD 7451-1 (FC-31437) 1,000 90,000 € 90,00 €',
 '42.DDoS Protection Arbor Lite (FC-31602) 1,000 99,000 € 99,00 €',
 '43.rental server Dell Server Hardware (FC-31772) 1,000 698,000 € 698,00 €',
 '44.Hardware: Server-Upgrade E-2276G-1 (FC-32269) 1,000 130,000 € 130,00 €',
 '45.Hardware: Server-Upgrade AMD7402-5 (FC-32606) 1,000 13,600 € 13,60 €',
 '46.Hardware: Serverupgrade A2 (FC-32852) 1,000 374,000 € 374,00 €',
 '47.Hardware: FC-33801 1,000 172,800 € 172,80 €',
 '48.1/1 Rack (R1/3.16) 1,000 495,000 € 495,00 €',
 '49.Power Feeds Rack R1/3.16 1,000 160,000 € 160,00 €',
 '50.Uplinks Rack R1/3.16 1,000 129,000 € 129,00 €',
 '51.rental equipment: Juniper QFX5100-48T (FC-2291D2A, FC-2291EB8) 2,000 175,000 € 350,00 €',
 '52.rental server Ulta 100-Xeon no SSD (FC-33243-57) 15,000 49,000 € 735,00 €',
 '53.Mietserver: VPS Host (FC-33262-64) 1,000 433,000 € 433,00 €',
 '54.Hardware Components 1,000 323,000 € 323,00 €',
 '55.Storage-Upgrade 1,000 15,000 € 15,00 €',
 '56.Hardware: Intel X540-T2 (Dual 10GbE) 2,000 24,000 € 48,00 €',
 '57.IP-Net (159.100.30.0/24, 212.224.107.0/24) 2,000 128,000 € 256,00 €',
 '58.1TB SSD for server AMD7402-16 1,000 5,000 € 5,00 €',
 '59.Dedicated Server: VPS Host (NVMe based) 1,000 618,000 € 618,00 €',
 '60.3U Supermicro Server - Modification 1,000 204,650 € 204,65 €',
 '61.Dedicated Server FC-35348, FC-35624 2,000 130,000 € 260,00 €',
 '62.Dedicated Server FC-35349 1,000 140,000 € 140,00 €',
 '63.Serverupgrade 276G-1 1,000 33,450 € 33,45 €',
 '64.LSI 9560-16i Raid Controller 1,000 45,000 € 45,00 €',
 '65.1.92TB PM983 Samsung NVMe SSD 1,000 8,300 € 8,30 €',
 '66.1x 960GB PM893 SSD 1,000 5,500 € 5,50 €',
 '67.Dedicated Server FC-35583 bis FC-35597 15,000 49,290 € 739,35 €',
 '68.Dedicated Server FC-35865 1,000 88,000 € 88,00 €',
 '69.rental server [KS] Ulta100 Xeon No-SSD (lease purchase) 5,000 48,530 € 242,65 €',
 '70.Stromleistung Standort Kruppstraße je kW/h zusätzlich 2.183,000 0,570 € 1.244,31 €',
 '71.Dedicated Server: FC-36099 1,000 130,000 € 130,00 €',
 '72.Dedicated Server: FC-36067, FC-36068 2,000 125,000 € 250,00 €',
 '73.Dedicated Server: FC-36035 1,000 140,000 € 140,00 €',
 '74.Hardware: 960GB M.2 PM983 NVMe 5,000 4,250 € 21,25 €',
 '75.1/1 Colocation Rack: R3/3.17 1,000 495,000 € 495,00 €',
 '76.Power Feeds for 5KW Colocation Racks 1,000 160,000 € 160,00 €',
 '77.Fiber Uplinks for 5KW Colocation Racks 1,000 129,000 € 129,00 €',
 '78.Network Switch: Juniper QFX5100-48T 1,000 175,000 € 175,00 €',
 '79.3.84TB Samsung Enterprise SDD PM893 10,000 13,100 € 131,00 €',
 '80.Hardware: 1.92TB Samsung PM983 NVMe 1,000 11,500 € 11,50 €',
 '81.Dedicted Server - VPS Host: FC-35579, FC-35580, FC-35581, 4,000 705,000 € 2.820,00 €',
 '82.Hardware: 960GB PM893 SS 1,000 4,700 € 4,70 €',
 '83./24 Subnet 212.224.93.0/24, 159.100.13.0/24 2,000 128,000 € 256,00 €',
 '84.Dedicated Server: FC-36865 1,000 105,000 € 105,00 €',
 '85.Dedicated Server - AMD 7763 1,000 177,000 € 177,00 €',
 '86.Dedicated Server - AMD 7352 4,000 100,000 € 400,00 €',
 '87.Hardware: 1.92 TB SSD Samsung PM893 MZ7L31T9HBLT 4,000 5,800 € 23,20 €',
 '88.Hardware: X520-DA2 2,000 10,000 € 20,00 €']

In [76]:
df1

,Number,Name,quantity,per_unit,total
0,1.Dedicated,Server - FC-37113,"1,000","258,000","258,00"
1,2.Dedicated,Server - Ulta100,"24,000","63,200","1.516,80"
2,3.Dedicated,Server - FC-36850,"1,000","84,800","84,80"
3,4.Hardware:,3.84TB PM893,"2,000","9,600","19,20"
4,5.1,HE im 19'' Rack,"2,000","65,000","130,00"
...,...,...,...,...,...
83,84.Dedicated,Server: FC-36865,"1,000","105,000","105,00"
84,85.Dedicated,Server - AMD 7763,"1,000","177,000","177,00"
85,86.Dedicated,Server - AMD 7352,"4,000","100,000","400,00"
86,87.Hardware:,1.92 TB SSD Samsung PM893 MZ7L31T9HBLT,"4,000","5,800","23,20"
87,88.Hardware:,X520-DA2,"2,000","10,000","20,00"

In [143]:
for i in df1.iloc[:,2:].columns:
    df1[i]=df1[i].str.replace("[.,Û]", "", regex=True)

In [144]:
df1["Number"].str.split(".").str[-1]

0             1
1       IP-Netz
2        Remote
3        Remote
4        Remote
        ...
85    Hardware:
86    Dedicated
87    Dedicated
88    Dedicated
89    Hardware:
Name: Number, Length: 90, dtype: object

In [145]:
df1

,Number,Name,quantity,per_unit,total
0,1.1,HE im 19'' Rack,2000,65000,13000
1,2.IP-Netz,"(159.100.29.0/24, 212.224.86.0/24, 212.224.88....",9000,154500,139050
2,3.Remote,Hands - Service Dienstleistung,1000,45000,4500
3,4.Remote,Hands - Service Dienstleistung,1000,45000,4500
4,5.Remote,Hands - Service Dienstleistung,1000,45000,4500
...,...,...,...,...,...
85,86.Hardware:,X520-DA2,2000,10000,2000
86,87.Dedicated,Server - FC-37113,1000,258000,25800
87,88.Dedicated,Server - Ulta100,24000,63200,151680
88,89.Dedicated,Server - FC-36850,1000,84800,8480
89,90.Hardware:,3.84TB PM893,2000,9600,1920

In [77]:
df1["Name"]=df1["Number"].str.split(".").str[-1]+df1["Name"]

In [78]:
df1.drop("Number",axis=1,inplace=True)

In [79]:
df1

,Name,quantity,per_unit,total
0,DedicatedServer - FC-37113,"1,000","258,000","258,00"
1,DedicatedServer - Ulta100,"24,000","63,200","1.516,80"
2,DedicatedServer - FC-36850,"1,000","84,800","84,80"
3,Hardware:3.84TB PM893,"2,000","9,600","19,20"
4,1HE im 19'' Rack,"2,000","65,000","130,00"
...,...,...,...,...
83,DedicatedServer: FC-36865,"1,000","105,000","105,00"
84,DedicatedServer - AMD 7763,"1,000","177,000","177,00"
85,DedicatedServer - AMD 7352,"4,000","100,000","400,00"
86,Hardware:1.92 TB SSD Samsung PM893 MZ7L31T9HBLT,"4,000","5,800","23,20"
87,Hardware:X520-DA2,"2,000","10,000","20,00"

In [87]:
for i in df1.columns[1:]:
    df1[i]=df1[i].str.replace("[.,Û]", "", regex=True)
    df1[i]=df1[i].astype(int)

In [88]:
df1

,Name,quantity,per_unit,total
0,DedicatedServer - FC-37113,1000,258000,25800
1,DedicatedServer - Ulta100,24000,63200,151680
2,DedicatedServer - FC-36850,1000,84800,8480
3,Hardware:3.84TB PM893,2000,9600,1920
4,1HE im 19'' Rack,2000,65000,13000
...,...,...,...,...
83,DedicatedServer: FC-36865,1000,105000,10500
84,DedicatedServer - AMD 7763,1000,177000,17700
85,DedicatedServer - AMD 7352,4000,100000,40000
86,Hardware:1.92 TB SSD Samsung PM893 MZ7L31T9HBLT,4000,5800,2320
87,Hardware:X520-DA2,2000,10000,2000

In [89]:
df1.dtypes

Name        object
quantity     int32
per_unit     int32
total        int32
dtype: object

In [90]:
df1.to_csv("newdata2.csv",index=False)

In [ ]:
duplicates = df[df.duplicated(subset='ID')]

In [150]:
df2.drop_duplicates()

,Name,quantity,per_unit,total
0,1HE im 19'' Rack,2000,65000,13000
1,"IP-Netz(159.100.29.0/24, 212.224.86.0/24, 212....",9000,154500,139050
2,RemoteHands - Service Dienstleistung,1000,45000,4500
7,RemoteHands - Service Dienstleistung,2000,45000,9000
8,NetworkCard extension + cabling (FC-24908),5000,11000,5500
...,...,...,...,...
85,Hardware:X520-DA2,2000,10000,2000
86,DedicatedServer - FC-37113,1000,258000,25800
87,DedicatedServer - Ulta100,24000,63200,151680
88,DedicatedServer - FC-36850,1000,84800,8480
89,Hardware:3.84TB PM893,2000,9600,1920

In [151]:
df2.to_csv("data3dropdupli.csv")

In [2]:
df1=pd.read_csv("data1.csv")

In [3]:
df1.drop("Unnamed: 0",axis=1,inplace=True)

In [4]:
df1

,name,quantity,per_unit,TOTAL
0,Dedicated Server - FC-37113,1000,258000,25800
1,Dedicated Server - Ulta100,24000,63200,151680
2,Dedicated Server - FC-36850,1000,84800,8480
3,Hardware: 3.84TB PM893,2000,9600,1920
4,1 HE im 19'' Rack,2000,65000,13000
...,...,...,...,...
83,Dedicated Server: FC-36865,1000,105000,10500
84,Dedicated Server - AMD 7763,1000,177000,17700
85,Dedicated Server - AMD 7352,4000,100000,40000
86,Hardware: 1.92 TB SSD Samsung PM893 MZ7L31T9HBLT,4000,5800,2320
87,Hardware: X520-DA2,2000,10000,2000

In [5]:
df1.dtypes

name        object
quantity     int64
per_unit     int64
TOTAL        int64
dtype: object

In [6]:
df2=pd.read_csv("data2.csv")

In [7]:
df2.drop("Unnamed: 0",axis=1,inplace=True)

In [8]:
df2

,Name,quantity,per_unit,total
0,1HE im 19'' Rack,2000,65000,13000
1,"IP-Netz(159.100.29.0/24, 212.224.86.0/24, 212....",8000,154500,123600
2,RemoteHands - Service Dienstleistung,1000,45000,4500
3,RemoteHands - Service Dienstleistung,3000,45000,13500
4,RemoteHands - Service Dienstleistung,1000,45000,4500
...,...,...,...,...
72,1/1Colocation Rack: R3/3.17,1000,0,0
73,PowerFeeds for 5KW Colocation Racks,1000,0,0
74,FiberUplinks for 5KW Colocation Racks,1000,0,0
75,NetworkSwitch: Juniper QFX5100-48T,1000,0,0
76,RemotehandsKruppstraße,3000,45000,13500

In [9]:
df3=pd.read_csv("data3.csv", encoding='latin-1')

In [10]:
df3.drop("Unnamed: 0",axis=1,inplace=True)

In [11]:
df3.dtypes

Name         object
quantity    float64
per_unit    float64
total         int64
dtype: object

In [12]:
df3.drop(df3.index[-1], axis=0, inplace=True)

In [13]:
df3["quantity"]=df3["quantity"].astype(int)
df3["per_unit"]=df3["per_unit"].astype(int)

In [14]:
df3

,Name,quantity,per_unit,total
0,1HE im 19'' Rack,2000,65000,13000
1,"IP-Netz(159.100.29.0/24, 212.224.86.0/24, 212....",9000,154500,139050
2,RemoteHands - Service Dienstleistung,1000,45000,4500
3,RemoteHands - Service Dienstleistung,1000,45000,4500
4,RemoteHands - Service Dienstleistung,1000,45000,4500
...,...,...,...,...
85,Hardware:X520-DA2,2000,10000,2000
86,DedicatedServer - FC-37113,1000,258000,25800
87,DedicatedServer - Ulta100,24000,63200,151680
88,DedicatedServer - FC-36850,1000,84800,8480
89,Hardware:3.84TB PM893,2000,9600,1920

In [15]:
df2

,Name,quantity,per_unit,total
0,1HE im 19'' Rack,2000,65000,13000
1,"IP-Netz(159.100.29.0/24, 212.224.86.0/24, 212....",8000,154500,123600
2,RemoteHands - Service Dienstleistung,1000,45000,4500
3,RemoteHands - Service Dienstleistung,3000,45000,13500
4,RemoteHands - Service Dienstleistung,1000,45000,4500
...,...,...,...,...
72,1/1Colocation Rack: R3/3.17,1000,0,0
73,PowerFeeds for 5KW Colocation Racks,1000,0,0
74,FiberUplinks for 5KW Colocation Racks,1000,0,0
75,NetworkSwitch: Juniper QFX5100-48T,1000,0,0
76,RemotehandsKruppstraße,3000,45000,13500

In [16]:
df2.dtypes

Name        object
quantity     int64
per_unit     int64
total        int64
dtype: object

2. df2 duplicate rows name

In [17]:
df2[df2.duplicated()==True]

                                   Name  quantity  per_unit  total
4  RemoteHands - Service Dienstleistung      1000     45000   4500
6  RemoteHands - Service Dienstleistung      3000     45000  13500
7  RemoteHands - Service Dienstleistung      1000     45000   4500
9  RemoteHands - Service Dienstleistung      3000     45000  13500

In [18]:
df3[df3.duplicated()==True].iloc[1:2,:]

                                   Name  quantity  per_unit  total
4  RemoteHands - Service Dienstleistung      1000     45000   4500

In [19]:
df88=df3.drop_duplicates()

1. df88 is after drop duplicate of df3

In [20]:
df3.shape

(90, 4)

In [21]:
df88[df88["Name"]=="RemoteHands - Service Dienstleistung"]

                                   Name  quantity  per_unit  total
2  RemoteHands - Service Dienstleistung      1000     45000   4500
7  RemoteHands - Service Dienstleistung      2000     45000   9000

In [22]:
df1

,name,quantity,per_unit,TOTAL
0,Dedicated Server - FC-37113,1000,258000,25800
1,Dedicated Server - Ulta100,24000,63200,151680
2,Dedicated Server - FC-36850,1000,84800,8480
3,Hardware: 3.84TB PM893,2000,9600,1920
4,1 HE im 19'' Rack,2000,65000,13000
...,...,...,...,...
83,Dedicated Server: FC-36865,1000,105000,10500
84,Dedicated Server - AMD 7763,1000,177000,17700
85,Dedicated Server - AMD 7352,4000,100000,40000
86,Hardware: 1.92 TB SSD Samsung PM893 MZ7L31T9HBLT,4000,5800,2320
87,Hardware: X520-DA2,2000,10000,2000

In [23]:
df1.dtypes

name        object
quantity     int64
per_unit     int64
TOTAL        int64
dtype: object

In [24]:
df1.columns

Index(['name', 'quantity', 'per_unit', 'TOTAL'], dtype='object')

In [25]:
df2.columns

Index(['Name', 'quantity', 'per_unit', 'total'], dtype='object')

In [26]:
df3.columns

Index(['Name', 'quantity', 'per_unit', 'total'], dtype='object')

In [27]:
df1.rename(columns={"name": "Name",
                    "TOTAL": "total" },inplace=True)

In [28]:
df1.head()

                          Name  quantity  per_unit   total
0  Dedicated Server - FC-37113      1000    258000   25800
1   Dedicated Server - Ulta100     24000     63200  151680
2  Dedicated Server - FC-36850      1000     84800    8480
3       Hardware: 3.84TB PM893      2000      9600    1920
4            1 HE im 19'' Rack      2000     65000   13000

In [29]:
print("Aviji")

Aviji

In [30]:
df1

,Name,quantity,per_unit,total
0,Dedicated Server - FC-37113,1000,258000,25800
1,Dedicated Server - Ulta100,24000,63200,151680
2,Dedicated Server - FC-36850,1000,84800,8480
3,Hardware: 3.84TB PM893,2000,9600,1920
4,1 HE im 19'' Rack,2000,65000,13000
...,...,...,...,...
83,Dedicated Server: FC-36865,1000,105000,10500
84,Dedicated Server - AMD 7763,1000,177000,17700
85,Dedicated Server - AMD 7352,4000,100000,40000
86,Hardware: 1.92 TB SSD Samsung PM893 MZ7L31T9HBLT,4000,5800,2320
87,Hardware: X520-DA2,2000,10000,2000

In [31]:
df1.columns

Index(['Name', 'quantity', 'per_unit', 'total'], dtype='object')

In [32]:
df2.columns

Index(['Name', 'quantity', 'per_unit', 'total'], dtype='object')

In [33]:
df3.columns

Index(['Name', 'quantity', 'per_unit', 'total'], dtype='object')

In [38]:
df1.merge(df2,how="inner",on="Name")

,Name,quantity_x,per_unit_x,total_x,quantity_y,per_unit_y,total_y
0,Storage-Upgrade,1000,15000,1500,1000,15000,1500

In [43]:
df2.merge(df3,how="inner",on="Name")

,Name,quantity_x,per_unit_x,total_x,quantity_y,per_unit_y,total_y
0,1HE im 19'' Rack,2000,65000,13000,2000,65000,13000
1,"IP-Netz(159.100.29.0/24, 212.224.86.0/24, 212....",8000,154500,123600,9000,154500,139050
2,RemoteHands - Service Dienstleistung,1000,45000,4500,1000,45000,4500
3,RemoteHands - Service Dienstleistung,1000,45000,4500,1000,45000,4500
4,RemoteHands - Service Dienstleistung,1000,45000,4500,1000,45000,4500
...,...,...,...,...,...,...,...
103,Hardware:960GB M.2 PM983 NVMe,5000,4250,2125,5000,4250,2125
104,1/1Colocation Rack: R3/3.17,1000,0,0,1000,495000,49500
105,PowerFeeds for 5KW Colocation Racks,1000,0,0,1000,160000,16000
106,FiberUplinks for 5KW Colocation Racks,1000,0,0,1000,129000,12900
107,NetworkSwitch: Juniper QFX5100-48T,1000,0,0,1000,175000,17500

In [40]:
df1.merge(df2, how='cross')

,Name_x,quantity_x,per_unit_x,total_x,Name_y,quantity_y,per_unit_y,total_y
0,Dedicated Server - FC-37113,1000,258000,25800,1HE im 19'' Rack,2000,65000,13000
1,Dedicated Server - FC-37113,1000,258000,25800,"IP-Netz(159.100.29.0/24, 212.224.86.0/24, 212....",8000,154500,123600
2,Dedicated Server - FC-37113,1000,258000,25800,RemoteHands - Service Dienstleistung,1000,45000,4500
3,Dedicated Server - FC-37113,1000,258000,25800,RemoteHands - Service Dienstleistung,3000,45000,13500
4,Dedicated Server - FC-37113,1000,258000,25800,RemoteHands - Service Dienstleistung,1000,45000,4500
...,...,...,...,...,...,...,...,...
6771,Hardware: X520-DA2,2000,10000,2000,1/1Colocation Rack: R3/3.17,1000,0,0
6772,Hardware: X520-DA2,2000,10000,2000,PowerFeeds for 5KW Colocation Racks,1000,0,0
6773,Hardware: X520-DA2,2000,10000,2000,FiberUplinks for 5KW Colocation Racks,1000,0,0
6774,Hardware: X520-DA2,2000,10000,2000,NetworkSwitch: Juniper QFX5100-48T,1000,0,0
6775,Hardware: X520-DA2,2000,10000,2000,RemotehandsKruppstraße,3000,45000,13500

In [41]:
df1.merge(df3,how="inner",on="Name")

,Name,quantity_x,per_unit_x,total_x,quantity_y,per_unit_y,total_y
0,Storage-Upgrade,1000,15000,1500,1000,15000,1500

In [47]:
df1.shape

(88, 4)

In [57]:
df1.drop_duplicates(inplace=True)

In [58]:
df1.shape

(85, 4)

In [51]:
df2.shape

(77, 4)

In [53]:
df2.drop_duplicates(inplace=True)

In [59]:
df2.shape

(73, 4)

In [54]:
df3.shape

(90, 4)

In [60]:
df3.drop_duplicates(inplace=True)

In [61]:
df3.shape

(86, 4)

In [63]:
df1.to_csv("data1.csv")
df2.to_csv("data2.csv")
df3.to_csv("data3.csv")

In [92]:
lines

['Rechnung Seite 1 von 6firstcolo GmbH',
 'Kruppstraße 105',
 '60388 Frankfurt am Main',
 'Germany',
 'Tel: +49-69-120069-0',
 'Fax: +49-69-120069-30',
 'Mail: billing@first-colo.net',
 'UltaHost, inc',
 'Elin Doughous',
 '651 N Broad St. Suite 206.',
 'Middletown/Delaware, 19709',
 'USKunden-Nr: 10618',
 'Rechnungs-Nr: 230348758',
 'Rechnungsdatum: 03.03.2023',
 'Leistungsort:Hanauer Landstr. 291b',
 '60314 Frankfurt am Main, DE',
 '----',
 'Artikel Anzahl E. Netto Ges. Netto MwSt',
 "1.1 HE im 19'' Rack 2,000 65,000 € 130,00 €",
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '2.IP-Netz (159.100.29.0/24, 212.224.86.0/24, 212.224.88.0/24, 8,000 154,500 € 1.236,00 €',
 '31.172.80.0/24, 31.172.83.0/24, 79.133.41.0/24, 79.133.51.0/24,',
 '79.133.56.0/24)',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '3.Remote Hands - Service Dienstleistung 1,000 45,000 € 45,00 €',
 'Ihr Auftrag im Ticket #FC-35780 - 24.02.2023 (+ 0,00 €) 0%',
 '4.Remote Hands - Service Dienstleistung 3,000 45,000 € 135,00 €',
 'Ihr Auftrag im Ticket #FC-35830 - 08.02.2023 (+ 0,00 €) 0%',
 '5.Remote Hands - Service Dienstleistung 1,000 45,000 € 45,00 €',
 'Ihr Auftrag im Ticket #FC-35975 - 08.02.2023 (+ 0,00 €) 0%',
 '6.Remote Hands - Service Dienstleistung 8,000 45,000 € 360,00 €',
 'Ihr Auftrag im Ticket #FC-35822 - 01.02.2023 (+ 0,00 €) 0%',
 '7.Remote Hands - Service Dienstleistung 3,000 45,000 € 135,00 €',
 'Ihr Auftrag im Ticket #FC-36167 - 23.02.2023 (+ 0,00 €) 0%',
 '8.Remote Hands - Service Dienstleistung 1,000 45,000 € 45,00 €',
 'Ihr Auftrag im Ticket #FC-36167 - 24.02.2023 (+ 0,00 €) 0%',
 '9.Remote Hands - Service Dienstleistung 2,000 45,000 € 90,00 €',
 'Ihr Auftrag im Ticket #FC-35780 - 22.02.2023 (+ 0,00 €) 0%',
 '10.Remote Hands - Service Dienstleistung 3,000 45,000 € 135,00 €',
 'Ihr Auftrag im Ticket #FC-36167 - 24.02.2023 (+ 0,00 €) 0%',
 '11.Network Card extension + cabling (FC-24908) 5,000 11,000 € 55,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 'Kontoinhaber: firstcolo GmbH',
 'Bank: Sparkasse Rhein-Nahe',
 'BIC: MALADE51KRE',
 'IBAN: DE06 5605 0180 0017 1137 21USt-IdNr.: DE314364770',
 'Register-Nr: HRB 113867, Frankfurt am Main',
 'Geschäftsführung: Jerome Evans, Nicolaj Kamensek',
 'Webseite: https://first-colo.net',
 'Rechnung Seite 2 von 6firstcolo GmbH',
 'Kruppstraße 105',
 '60388 Frankfurt am Main',
 'Germany',
 'Tel: +49-69-120069-0',
 'Fax: +49-69-120069-30',
 'Mail: billing@first-colo.net',
 '12.Hardware: Samsung PM883 3840GB (FC-24821, FC-24995) 4,000 22,000 € 88,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '13.Hardware: Samsung PM883 1920GB (FC-25256) 1,000 12,500 € 12,50 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '14.Hardware: RAM-Upgrade AMD7452-1 (FC-25362) 1,000 91,500 € 91,50 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 "15.19'' Rack inkl. Klima (M8) 1,000 752,850 € 752,85 €",
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '16.Stromleistung je kW/h Mindestabnahme 1.000,000 0,550 € 550,00 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 - inkl. USV, Notstrom und Kühlung (+ 0,00 €) 0%',
 '17.Mietgerät: Network Switch Juniper EX4300-48T (FC-213814D, 2,000 55,590 € 111,18 €',
 'FC-2137599)',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '18.Mietserver Ulta AX160-NVMe 32 Core (lease-purchase) (FC-23943) 1,000 151,270 € 151,27 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '19.Mietserver Ulta AX160-NVMe 24 Core (lease-purchase) (FC-23944-57 14,000 110,540 € 1.547,56 €',
 ')',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '20.Mietserver Ulta100 Xeon SSD (lease-purchase) (FC-23958-62) 5,000 59,800 € 299,00 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '21.Mietserver Ulta100 Xeon No-SSD (lease-purchase) (FC-23963-67) 5,000 48,530 € 242,65 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '22.Stromleistung je kW/h zusätzlich: gesamt 2.106,000 0,570 € 1.200,42 €',
 'Abrechnung für 01.02.2023 - 28.02.2023 - inkl. USV, Notstrom und Kühlung (+ 0,00 €) 0%',
 '23.Stromleistung je kW/h auf Stromkreis: UV2/11F9 1.539,000 0,000 € 0,00 €',
 'Abrechnung für 01.02.2023 - 28.02.2023 - inkl. USV, Notstrom und Kühlung (+ 0,00 €) 0%',
 '24.Stromleistung je kW/h auf Stromkreis: UV2/11F10 1.567,000 0,000 € 0,00 €',
 'Abrechnung für 01.02.2023 - 28.02.2023 - inkl. USV, Notstrom und Kühlung (+ 0,00 €) 0%',
 '25.Mietserver Private Company Server (Ulta AX160-NVMe 24 1,000 110,540 € 110,54 €',
 'Core) (FC-25599)',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 'Kontoinhaber: firstcolo GmbH',
 'Bank: Sparkasse Rhein-Nahe',
 'BIC: MALADE51KRE',
 'IBAN: DE06 5605 0180 0017 1137 21USt-IdNr.: DE314364770',
 'Register-Nr: HRB 113867, Frankfurt am Main',
 'Geschäftsführung: Jerome Evans, Nicolaj Kamensek',
 'Webseite: https://first-colo.net',
 'Rechnung Seite 3 von 6firstcolo GmbH',
 'Kruppstraße 105',
 '60388 Frankfurt am Main',
 'Germany',
 'Tel: +49-69-120069-0',
 'Fax: +49-69-120069-30',
 'Mail: billing@first-colo.net',
 '26.Hardware: Samsung 970 EVO M.2 with 2TB (FC-25684) 9,000 12,500 € 112,50 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '27.Mietserver [KS] Ulta AX160-NVMe 24 Core (AMD7402-15, 3,000 123,520 € 370,56 €',
 'AMD7402-16, AMD7402-17)',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '28.Mietserver [KS] Ulta100 Xeon NVMe SSD (E-2276G-11 E-2276G-12) 2,000 59,630 € 119,26 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '29.Hardware: RAM-Upgrade 128 GB AMD 7402-11 (FC-26693) 1,000 30,500 € 30,50 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '30.Hardware: Server-Upgrade (2x 960 GB PM883) (FC-26713) 2,000 11,270 € 22,54 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '31.Traffic Flatrate 4 Gbit 1,000 1.900,000 € 1.900,00 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '32.Shared Housing Ultahost-A3 1,000 65,000 € 65,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '33.Hardware: Server-Upgrade: SSD (FC-29004) 1,000 415,000 € 415,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '34.Hardware: Server-Upgrade: RAM (FC-29004) 1,000 399,000 € 399,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '35.1G Uplink Ultahost-A3 (FC-30128) 1,000 10,000 € 10,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '36.Hardware: 64 GB RAM Ultahost-A1 (FC-29564) 1,000 27,000 € 27,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '37.Hardware: Server-Upgrade AMD 7451-1 (FC-31437) 1,000 90,000 € 90,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '38.DDoS Protection Arbor Lite (FC-31602) 1,000 99,000 € 99,00 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '39.Mietserver Dell Server Hardware (FC-31772) 1,000 698,000 € 698,00 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '40.Service: SVC-COR-SRX300JB 1,000 7,000 € 7,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 'Kontoinhaber: firstcolo GmbH',
 'Bank: Sparkasse Rhein-Nahe',
 'BIC: MALADE51KRE',
 'IBAN: DE06 5605 0180 0017 1137 21USt-IdNr.: DE314364770',
 'Register-Nr: HRB 113867, Frankfurt am Main',
 'Geschäftsführung: Jerome Evans, Nicolaj Kamensek',
 'Webseite: https://first-colo.net',
 'Rechnung Seite 4 von 6firstcolo GmbH',
 'Kruppstraße 105',
 '60388 Frankfurt am Main',
 'Germany',
 'Tel: +49-69-120069-0',
 'Fax: +49-69-120069-30',
 'Mail: billing@first-colo.net',
 '41.Service: SVC-COR-SRX320JB 1,000 7,000 € 7,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '42.Hardware: Server-Upgrade E-2276G-1 (FC-32269) 1,000 130,000 € 130,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '43.Hardware: Server-Upgrade AMD7402-5 (FC-32606) 1,000 13,600 € 13,60 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '44.Hardware: Serverupgrade A2 (FC-32852) 1,000 374,000 € 374,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '45.Hardware: FC-33801 1,000 172,800 € 172,80 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '46.1/1 Rack (R1/3.16) 1,000 0,000 € 0,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '47.Power Feeds Rack R1/3.16 1,000 0,000 € 0,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '48.Uplinks Rack R1/3.16 1,000 0,000 € 0,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '49.Mietgerät: Juniper QFX5100-48T (FC-2291D2A, FC-2291EB8) 1,000 175,000 € 175,00 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '50.Mietserver Ulta 100-Xeon no SSD (FC-33243-57) 15,000 49,000 € 735,00 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '51.Mietserver: VPS Host (FC-33262-64) 1,000 433,000 € 433,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '52.Hardware Components 1,000 323,000 € 323,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '53.Storage-Upgrade 1,000 15,000 € 15,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '54.Hardware: Intel X540-T2 (Dual 10GbE) 2,000 24,000 € 48,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '55.IP-Netz (159.100.30.0/24, 212.224.107.0/24) 2,000 189,000 € 378,00 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '56.1TB SSD for server AMD7402-16 1,000 5,000 € 5,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 'Kontoinhaber: firstcolo GmbH',
 'Bank: Sparkasse Rhein-Nahe',
 'BIC: MALADE51KRE',
 'IBAN: DE06 5605 0180 0017 1137 21USt-IdNr.: DE314364770',
 'Register-Nr: HRB 113867, Frankfurt am Main',
 'Geschäftsführung: Jerome Evans, Nicolaj Kamensek',
 'Webseite: https://first-colo.net',
 'Rechnung Seite 5 von 6firstcolo GmbH',
 'Kruppstraße 105',
 '60388 Frankfurt am Main',
 'Germany',
 'Tel: +49-69-120069-0',
 'Fax: +49-69-120069-30',
 'Mail: billing@first-colo.net',
 '57.Dedicated Server: VPS Host (NVMe based) 1,000 618,000 € 618,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '58.3U Supermicro Server - Modification 1,000 204,650 € 204,65 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '59.Dedicated Server FC-35348, FC-35624 2,000 130,000 € 260,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '60.Dedicated Server FC-35349 1,000 140,000 € 140,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '61.Serverupgrade 276G-1 1,000 33,450 € 33,45 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '62.LSI 9560-16i Raid Controller 1,000 45,000 € 45,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '63.1.92TB PM983 Samsung NVMe SSD 1,000 8,300 € 8,30 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '64.1x 960GB PM893 SSD 1,000 5,500 € 5,50 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '65.Dedicated Server FC-35583, FC-35584, FC-35585, FC-35586, 5,000 49,290 € 246,45 €',
 'FC-35587',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '66.Dedicated Server FC-35865 1,000 88,000 € 88,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '67.Mietserver [KS] Ulta100 Xeon No-SSD (lease purchase) (E-2276G-13 5,000 48,530 € 242,65 €',
 ', E-2276G-14, E-2276G-15, E-2276G-16, E-2276G-17)',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '68.Stromleistung Standort Kruppstraße je kW/h zusätzlich 1.987,000 0,570 € 1.132,59 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '69.Dedicated Server: FC-36099 1,000 130,000 € 130,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '70.Dedicated Server: FC-36067, FC-36068 2,000 125,000 € 250,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '71.Dedicated Server: FC-36035 1,000 140,000 € 140,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 'Kontoinhaber: firstcolo GmbH',
 'Bank: Sparkasse Rhein-Nahe',
 'BIC: MALADE51KRE',
 'IBAN: DE06 5605 0180 0017 1137 21USt-IdNr.: DE314364770',
 'Register-Nr: HRB 113867, Frankfurt am Main',
 'Geschäftsführung: Jerome Evans, Nicolaj Kamensek',
 'Webseite: https://first-colo.net',
 'Rechnung Seite 6 von 6firstcolo GmbH',
 'Kruppstraße 105',
 '60388 Frankfurt am Main',
 'Germany',
 'Tel: +49-69-120069-0',
 'Fax: +49-69-120069-30',
 'Mail: billing@first-colo.net',
 '72.Hardware: 960GB M.2 PM983 NVMe 5,000 4,250 € 21,25 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '73.1/1 Colocation Rack: R3/3.17 1,000 0,000 € 0,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '74.Power Feeds for 5KW Colocation Racks 1,000 0,000 € 0,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '75.Fiber Uplinks for 5KW Colocation Racks 1,000 0,000 € 0,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '76.Network Switch: Juniper QFX5100-48T 1,000 0,000 € 0,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '77.Remotehands Kruppstraße 3,000 45,000 € 135,00 €',
 '01.02.2023 - 28.02.2023 (+ 0,00 €) 0%',
 'Zwischensumme: 18.444,07 €',
 'Enthält Steuerbefreite Umsätze nach § 13b UStG.',
 'Rechnungsbetrag: 18.444,07 €',
 'Der Rechnungsbetrag ist sofort ohne Abzug fällig. Bitte überweisen Sie diesen auf das unten aufgeführte Konto.',
 'The recipient is liable for VAT under the reverse charge mechnism!',
 'Kontoinhaber: firstcolo GmbH',
 'Bank: Sparkasse Rhein-Nahe',
 'BIC: MALADE51KRE',
 'IBAN: DE06 5605 0180 0017 1137 21USt-IdNr.: DE314364770',
 'Register-Nr: HRB 113867, Frankfurt am Main',
 'Geschäftsführung: Jerome Evans, Nicolaj Kamensek',
 'Webseite: https://first-colo.net']

In [93]:
lie=[]
for i in lines:
    if "€" in i:
        lie.append(i)

In [99]:
lipe=[]
for i in lie:
    if "%" in i:
        lipe.append(i)

In [98]:
lie

["1.1 HE im 19'' Rack 2,000 65,000 € 130,00 €",
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '2.IP-Netz (159.100.29.0/24, 212.224.86.0/24, 212.224.88.0/24, 8,000 154,500 € 1.236,00 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '3.Remote Hands - Service Dienstleistung 1,000 45,000 € 45,00 €',
 'Ihr Auftrag im Ticket #FC-35780 - 24.02.2023 (+ 0,00 €) 0%',
 '4.Remote Hands - Service Dienstleistung 3,000 45,000 € 135,00 €',
 'Ihr Auftrag im Ticket #FC-35830 - 08.02.2023 (+ 0,00 €) 0%',
 '5.Remote Hands - Service Dienstleistung 1,000 45,000 € 45,00 €',
 'Ihr Auftrag im Ticket #FC-35975 - 08.02.2023 (+ 0,00 €) 0%',
 '6.Remote Hands - Service Dienstleistung 8,000 45,000 € 360,00 €',
 'Ihr Auftrag im Ticket #FC-35822 - 01.02.2023 (+ 0,00 €) 0%',
 '7.Remote Hands - Service Dienstleistung 3,000 45,000 € 135,00 €',
 'Ihr Auftrag im Ticket #FC-36167 - 23.02.2023 (+ 0,00 €) 0%',
 '8.Remote Hands - Service Dienstleistung 1,000 45,000 € 45,00 €',
 'Ihr Auftrag im Ticket #FC-36167 - 24.02.2023 (+ 0,00 €) 0%',
 '9.Remote Hands - Service Dienstleistung 2,000 45,000 € 90,00 €',
 'Ihr Auftrag im Ticket #FC-35780 - 22.02.2023 (+ 0,00 €) 0%',
 '10.Remote Hands - Service Dienstleistung 3,000 45,000 € 135,00 €',
 'Ihr Auftrag im Ticket #FC-36167 - 24.02.2023 (+ 0,00 €) 0%',
 '11.Network Card extension + cabling (FC-24908) 5,000 11,000 € 55,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '12.Hardware: Samsung PM883 3840GB (FC-24821, FC-24995) 4,000 22,000 € 88,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '13.Hardware: Samsung PM883 1920GB (FC-25256) 1,000 12,500 € 12,50 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '14.Hardware: RAM-Upgrade AMD7452-1 (FC-25362) 1,000 91,500 € 91,50 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 "15.19'' Rack inkl. Klima (M8) 1,000 752,850 € 752,85 €",
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '16.Stromleistung je kW/h Mindestabnahme 1.000,000 0,550 € 550,00 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 - inkl. USV, Notstrom und Kühlung (+ 0,00 €) 0%',
 '17.Mietgerät: Network Switch Juniper EX4300-48T (FC-213814D, 2,000 55,590 € 111,18 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '18.Mietserver Ulta AX160-NVMe 32 Core (lease-purchase) (FC-23943) 1,000 151,270 € 151,27 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '19.Mietserver Ulta AX160-NVMe 24 Core (lease-purchase) (FC-23944-57 14,000 110,540 € 1.547,56 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '20.Mietserver Ulta100 Xeon SSD (lease-purchase) (FC-23958-62) 5,000 59,800 € 299,00 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '21.Mietserver Ulta100 Xeon No-SSD (lease-purchase) (FC-23963-67) 5,000 48,530 € 242,65 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '22.Stromleistung je kW/h zusätzlich: gesamt 2.106,000 0,570 € 1.200,42 €',
 'Abrechnung für 01.02.2023 - 28.02.2023 - inkl. USV, Notstrom und Kühlung (+ 0,00 €) 0%',
 '23.Stromleistung je kW/h auf Stromkreis: UV2/11F9 1.539,000 0,000 € 0,00 €',
 'Abrechnung für 01.02.2023 - 28.02.2023 - inkl. USV, Notstrom und Kühlung (+ 0,00 €) 0%',
 '24.Stromleistung je kW/h auf Stromkreis: UV2/11F10 1.567,000 0,000 € 0,00 €',
 'Abrechnung für 01.02.2023 - 28.02.2023 - inkl. USV, Notstrom und Kühlung (+ 0,00 €) 0%',
 '25.Mietserver Private Company Server (Ulta AX160-NVMe 24 1,000 110,540 € 110,54 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '26.Hardware: Samsung 970 EVO M.2 with 2TB (FC-25684) 9,000 12,500 € 112,50 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '27.Mietserver [KS] Ulta AX160-NVMe 24 Core (AMD7402-15, 3,000 123,520 € 370,56 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '28.Mietserver [KS] Ulta100 Xeon NVMe SSD (E-2276G-11 E-2276G-12) 2,000 59,630 € 119,26 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '29.Hardware: RAM-Upgrade 128 GB AMD 7402-11 (FC-26693) 1,000 30,500 € 30,50 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '30.Hardware: Server-Upgrade (2x 960 GB PM883) (FC-26713) 2,000 11,270 € 22,54 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '31.Traffic Flatrate 4 Gbit 1,000 1.900,000 € 1.900,00 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '32.Shared Housing Ultahost-A3 1,000 65,000 € 65,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '33.Hardware: Server-Upgrade: SSD (FC-29004) 1,000 415,000 € 415,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '34.Hardware: Server-Upgrade: RAM (FC-29004) 1,000 399,000 € 399,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '35.1G Uplink Ultahost-A3 (FC-30128) 1,000 10,000 € 10,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '36.Hardware: 64 GB RAM Ultahost-A1 (FC-29564) 1,000 27,000 € 27,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '37.Hardware: Server-Upgrade AMD 7451-1 (FC-31437) 1,000 90,000 € 90,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '38.DDoS Protection Arbor Lite (FC-31602) 1,000 99,000 € 99,00 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '39.Mietserver Dell Server Hardware (FC-31772) 1,000 698,000 € 698,00 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '40.Service: SVC-COR-SRX300JB 1,000 7,000 € 7,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '41.Service: SVC-COR-SRX320JB 1,000 7,000 € 7,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '42.Hardware: Server-Upgrade E-2276G-1 (FC-32269) 1,000 130,000 € 130,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '43.Hardware: Server-Upgrade AMD7402-5 (FC-32606) 1,000 13,600 € 13,60 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '44.Hardware: Serverupgrade A2 (FC-32852) 1,000 374,000 € 374,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '45.Hardware: FC-33801 1,000 172,800 € 172,80 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '46.1/1 Rack (R1/3.16) 1,000 0,000 € 0,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '47.Power Feeds Rack R1/3.16 1,000 0,000 € 0,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '48.Uplinks Rack R1/3.16 1,000 0,000 € 0,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '49.Mietgerät: Juniper QFX5100-48T (FC-2291D2A, FC-2291EB8) 1,000 175,000 € 175,00 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '50.Mietserver Ulta 100-Xeon no SSD (FC-33243-57) 15,000 49,000 € 735,00 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '51.Mietserver: VPS Host (FC-33262-64) 1,000 433,000 € 433,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '52.Hardware Components 1,000 323,000 € 323,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '53.Storage-Upgrade 1,000 15,000 € 15,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '54.Hardware: Intel X540-T2 (Dual 10GbE) 2,000 24,000 € 48,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '55.IP-Netz (159.100.30.0/24, 212.224.107.0/24) 2,000 189,000 € 378,00 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '56.1TB SSD for server AMD7402-16 1,000 5,000 € 5,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '57.Dedicated Server: VPS Host (NVMe based) 1,000 618,000 € 618,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '58.3U Supermicro Server - Modification 1,000 204,650 € 204,65 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '59.Dedicated Server FC-35348, FC-35624 2,000 130,000 € 260,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '60.Dedicated Server FC-35349 1,000 140,000 € 140,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '61.Serverupgrade 276G-1 1,000 33,450 € 33,45 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '62.LSI 9560-16i Raid Controller 1,000 45,000 € 45,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '63.1.92TB PM983 Samsung NVMe SSD 1,000 8,300 € 8,30 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '64.1x 960GB PM893 SSD 1,000 5,500 € 5,50 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '65.Dedicated Server FC-35583, FC-35584, FC-35585, FC-35586, 5,000 49,290 € 246,45 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '66.Dedicated Server FC-35865 1,000 88,000 € 88,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '67.Mietserver [KS] Ulta100 Xeon No-SSD (lease purchase) (E-2276G-13 5,000 48,530 € 242,65 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '68.Stromleistung Standort Kruppstraße je kW/h zusätzlich 1.987,000 0,570 € 1.132,59 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '69.Dedicated Server: FC-36099 1,000 130,000 € 130,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '70.Dedicated Server: FC-36067, FC-36068 2,000 125,000 € 250,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '71.Dedicated Server: FC-36035 1,000 140,000 € 140,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '72.Hardware: 960GB M.2 PM983 NVMe 5,000 4,250 € 21,25 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '73.1/1 Colocation Rack: R3/3.17 1,000 0,000 € 0,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '74.Power Feeds for 5KW Colocation Racks 1,000 0,000 € 0,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '75.Fiber Uplinks for 5KW Colocation Racks 1,000 0,000 € 0,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '76.Network Switch: Juniper QFX5100-48T 1,000 0,000 € 0,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '77.Remotehands Kruppstraße 3,000 45,000 € 135,00 €',
 '01.02.2023 - 28.02.2023 (+ 0,00 €) 0%',
 'Zwischensumme: 18.444,07 €',
 'Rechnungsbetrag: 18.444,07 €']

In [100]:
lipe

['01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 'Ihr Auftrag im Ticket #FC-35780 - 24.02.2023 (+ 0,00 €) 0%',
 'Ihr Auftrag im Ticket #FC-35830 - 08.02.2023 (+ 0,00 €) 0%',
 'Ihr Auftrag im Ticket #FC-35975 - 08.02.2023 (+ 0,00 €) 0%',
 'Ihr Auftrag im Ticket #FC-35822 - 01.02.2023 (+ 0,00 €) 0%',
 'Ihr Auftrag im Ticket #FC-36167 - 23.02.2023 (+ 0,00 €) 0%',
 'Ihr Auftrag im Ticket #FC-36167 - 24.02.2023 (+ 0,00 €) 0%',
 'Ihr Auftrag im Ticket #FC-35780 - 22.02.2023 (+ 0,00 €) 0%',
 'Ihr Auftrag im Ticket #FC-36167 - 24.02.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 'Abrechnung für 01.03.2023 - 31.03.2023 - inkl. USV, Notstrom und Kühlung (+ 0,00 €) 0%',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 'Abrechnung für 01.02.2023 - 28.02.2023 - inkl. USV, Notstrom und Kühlung (+ 0,00 €) 0%',
 'Abrechnung für 01.02.2023 - 28.02.2023 - inkl. USV, Notstrom und Kühlung (+ 0,00 €) 0%',
 'Abrechnung für 01.02.2023 - 28.02.2023 - inkl. USV, Notstrom und Kühlung (+ 0,00 €) 0%',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '01.02.2023 - 28.02.2023 (+ 0,00 €) 0%']

In [102]:
import pandas as pd

# Extracted data
data = {
    'Circuit': ['UV2/11F9', 'UV2/11F10'],
    'Power Usage (kW/h)': [1.818, 1.955],
    'Cost (€)': [0.000, 0.000],
    'Additional Cost (€)': [0.00, 0.00],
    'Period': ['01.06.2023 - 30.06.2023', '01.06.2023 - 30.06.2023'],
    'Inclusions': ['incl. USV, Generator and Cooling', 'incl. USV, Generator and Cooling'],
    'Additional Cost Percentage': ['(+ 0,00 €) 0%', '(+ 0,00 €) 0%']
}

# Create DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

     Circuit  Power Usage (kW/h)  Cost (€)  Additional Cost (€)  \
0   UV2/11F9               1.818       0.0                  0.0
1  UV2/11F10               1.955       0.0                  0.0

                    Period                        Inclusions  \
0  01.06.2023 - 30.06.2023  incl. USV, Generator and Cooling
1  01.06.2023 - 30.06.2023  incl. USV, Generator and Cooling

  Additional Cost Percentage
0              (+ 0,00 €) 0%
1              (+ 0,00 €) 0%

In [103]:
df

,Circuit,Power Usage (kW/h),Cost (€),Additional Cost (€),Period,Inclusions,Additional Cost Percentage
0,UV2/11F9,1.818,0.0,0.0,01.06.2023 - 30.06.2023,"incl. USV, Generator and Cooling","(+ 0,00 €) 0%"
1,UV2/11F10,1.955,0.0,0.0,01.06.2023 - 30.06.2023,"incl. USV, Generator and Cooling","(+ 0,00 €) 0%"

In [105]:
import pandas as pd

# Provided list data
data = [
    "1.1 HE im 19'' Rack 2,000 65,000 € 130,00 €",
    "01.03.2023 - 31.03.2023 (+ 0,00 €) 0%",
    "2.IP-Netz (159.100.29.0/24, 212.224.86.0/24, 212.224.88.0/24, 8,000 154,500 € 1.236,00 €",
    "Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%",
    "3.Remote Hands - Service Dienstleistung 1,000 45,000 € 45,00 €",
    "Ihr Auftrag im Ticket #FC-35780 - 24.02.2023 (+ 0,00 €) 0%",
    "4.Remote Hands - Service Dienstleistung 3,000 45,000 € 135,00 €",
    "Ihr Auftrag im Ticket #FC-35830 - 08.02.2023 (+ 0,00 €) 0%",
    "5.Remote Hands - Service Dienstleistung 1,000 45,000 € 45,00 €",
    "Ihr Auftrag im Ticket #FC-35975 - 08.02.2023 (+ 0,00 €) 0%",
    "6.Remote Hands - Service Dienstleistung 8,000 45,000 € 360,00 €",
    "Ihr Auftrag im Ticket #FC-35822 - 01.02.2023 (+ 0,00 €) 0%",
    "7.Remote Hands - Service Dienstleistung 3,000 45,000 € 135,00 €",
    "Ihr Auftrag im Ticket #FC-36167 - 23.02.2023 (+ 0,00 €) 0%"
]

# Parsing the list into structured data
parsed_data = []

for i in range(0, len(data), 2):
    description = data[i]
    date_and_cost = data[i + 1]

    # Split the description to extract numeric values and cost
    desc_parts = description.split()
    numeric_values = [part for part in desc_parts if ',' in part or part.isdigit()]
    description_text = " ".join(part for part in desc_parts if part not in numeric_values)

    # Extracting individual numeric values
    value_1 = numeric_values[-3].replace(',', '.')
    value_2 = numeric_values[-2].replace(',', '.').replace('€', '')
    value_3 = numeric_values[-1].replace(',', '.').replace('€', '')

    # Extract date range and additional costs
    date_range = date_and_cost.split(' (+')[0]
    additional_cost = date_and_cost.split(' (+')[1].replace(') 0%', '')

    # Append parsed data to the list
    parsed_data.append([description_text, str(value_1), str(value_2), str(value_3), date_range, additional_cost])

# Creating DataFrame
df = pd.DataFrame(parsed_data, columns=['Description', 'Value1', 'Value2', 'Value3', 'Date Range', 'Additional Cost'])

# # Display the DataFrame
# print(df)

In [106]:
df

,Description,Value1,Value2,Value3,Date Range,Additional Cost
0,1.1 HE im 19'' Rack € €,2.000,65.000,130.00,01.03.2023 - 31.03.2023,"0,00 €"
1,2.IP-Netz € €,8.000,154.500,1.236.00,Abrechnung für 01.03.2023 - 31.03.2023,"0,00 €"
2,3.Remote Hands - Service Dienstleistung € €,1.000,45.000,45.00,Ihr Auftrag im Ticket #FC-35780 - 24.02.2023,"0,00 €"
3,4.Remote Hands - Service Dienstleistung € €,3.000,45.000,135.00,Ihr Auftrag im Ticket #FC-35830 - 08.02.2023,"0,00 €"
4,5.Remote Hands - Service Dienstleistung € €,1.000,45.000,45.00,Ihr Auftrag im Ticket #FC-35975 - 08.02.2023,"0,00 €"
5,6.Remote Hands - Service Dienstleistung € €,8.000,45.000,360.00,Ihr Auftrag im Ticket #FC-35822 - 01.02.2023,"0,00 €"
6,7.Remote Hands - Service Dienstleistung € €,3.000,45.000,135.00,Ihr Auftrag im Ticket #FC-36167 - 23.02.2023,"0,00 €"

In [107]:
data=lie.copy()

In [108]:
# Parsing the list into structured data
parsed_data = []

for i in range(0, len(data), 2):
    description = data[i]
    date_and_cost = data[i + 1]

    # Split the description to extract numeric values and cost
    desc_parts = description.split()
    numeric_values = [part for part in desc_parts if ',' in part or part.isdigit()]
    description_text = " ".join(part for part in desc_parts if part not in numeric_values)

    # Extracting individual numeric values
    value_1 = numeric_values[-3].replace(',', '.')
    value_2 = numeric_values[-2].replace(',', '.').replace('€', '')
    value_3 = numeric_values[-1].replace(',', '.').replace('€', '')

    # Extract date range and additional costs
    date_range = date_and_cost.split(' (+')[0]
    additional_cost = date_and_cost.split(' (+')[1].replace(') 0%', '')

    # Append parsed data to the list
    parsed_data.append([description_text, str(value_1), str(value_2), str(value_3), date_range, additional_cost])

# Creating DataFrame
df = pd.DataFrame(parsed_data, columns=['Description', 'Value1', 'Value2', 'Value3', 'Date Range', 'Additional Cost'])

# # Display the DataFrame
# print(df)

IndexError: list index out of range

In [109]:
lie

["1.1 HE im 19'' Rack 2,000 65,000 € 130,00 €",
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '2.IP-Netz (159.100.29.0/24, 212.224.86.0/24, 212.224.88.0/24, 8,000 154,500 € 1.236,00 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '3.Remote Hands - Service Dienstleistung 1,000 45,000 € 45,00 €',
 'Ihr Auftrag im Ticket #FC-35780 - 24.02.2023 (+ 0,00 €) 0%',
 '4.Remote Hands - Service Dienstleistung 3,000 45,000 € 135,00 €',
 'Ihr Auftrag im Ticket #FC-35830 - 08.02.2023 (+ 0,00 €) 0%',
 '5.Remote Hands - Service Dienstleistung 1,000 45,000 € 45,00 €',
 'Ihr Auftrag im Ticket #FC-35975 - 08.02.2023 (+ 0,00 €) 0%',
 '6.Remote Hands - Service Dienstleistung 8,000 45,000 € 360,00 €',
 'Ihr Auftrag im Ticket #FC-35822 - 01.02.2023 (+ 0,00 €) 0%',
 '7.Remote Hands - Service Dienstleistung 3,000 45,000 € 135,00 €',
 'Ihr Auftrag im Ticket #FC-36167 - 23.02.2023 (+ 0,00 €) 0%',
 '8.Remote Hands - Service Dienstleistung 1,000 45,000 € 45,00 €',
 'Ihr Auftrag im Ticket #FC-36167 - 24.02.2023 (+ 0,00 €) 0%',
 '9.Remote Hands - Service Dienstleistung 2,000 45,000 € 90,00 €',
 'Ihr Auftrag im Ticket #FC-35780 - 22.02.2023 (+ 0,00 €) 0%',
 '10.Remote Hands - Service Dienstleistung 3,000 45,000 € 135,00 €',
 'Ihr Auftrag im Ticket #FC-36167 - 24.02.2023 (+ 0,00 €) 0%',
 '11.Network Card extension + cabling (FC-24908) 5,000 11,000 € 55,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '12.Hardware: Samsung PM883 3840GB (FC-24821, FC-24995) 4,000 22,000 € 88,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '13.Hardware: Samsung PM883 1920GB (FC-25256) 1,000 12,500 € 12,50 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '14.Hardware: RAM-Upgrade AMD7452-1 (FC-25362) 1,000 91,500 € 91,50 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 "15.19'' Rack inkl. Klima (M8) 1,000 752,850 € 752,85 €",
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '16.Stromleistung je kW/h Mindestabnahme 1.000,000 0,550 € 550,00 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 - inkl. USV, Notstrom und Kühlung (+ 0,00 €) 0%',
 '17.Mietgerät: Network Switch Juniper EX4300-48T (FC-213814D, 2,000 55,590 € 111,18 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '18.Mietserver Ulta AX160-NVMe 32 Core (lease-purchase) (FC-23943) 1,000 151,270 € 151,27 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '19.Mietserver Ulta AX160-NVMe 24 Core (lease-purchase) (FC-23944-57 14,000 110,540 € 1.547,56 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '20.Mietserver Ulta100 Xeon SSD (lease-purchase) (FC-23958-62) 5,000 59,800 € 299,00 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '21.Mietserver Ulta100 Xeon No-SSD (lease-purchase) (FC-23963-67) 5,000 48,530 € 242,65 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '22.Stromleistung je kW/h zusätzlich: gesamt 2.106,000 0,570 € 1.200,42 €',
 'Abrechnung für 01.02.2023 - 28.02.2023 - inkl. USV, Notstrom und Kühlung (+ 0,00 €) 0%',
 '23.Stromleistung je kW/h auf Stromkreis: UV2/11F9 1.539,000 0,000 € 0,00 €',
 'Abrechnung für 01.02.2023 - 28.02.2023 - inkl. USV, Notstrom und Kühlung (+ 0,00 €) 0%',
 '24.Stromleistung je kW/h auf Stromkreis: UV2/11F10 1.567,000 0,000 € 0,00 €',
 'Abrechnung für 01.02.2023 - 28.02.2023 - inkl. USV, Notstrom und Kühlung (+ 0,00 €) 0%',
 '25.Mietserver Private Company Server (Ulta AX160-NVMe 24 1,000 110,540 € 110,54 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '26.Hardware: Samsung 970 EVO M.2 with 2TB (FC-25684) 9,000 12,500 € 112,50 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '27.Mietserver [KS] Ulta AX160-NVMe 24 Core (AMD7402-15, 3,000 123,520 € 370,56 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '28.Mietserver [KS] Ulta100 Xeon NVMe SSD (E-2276G-11 E-2276G-12) 2,000 59,630 € 119,26 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '29.Hardware: RAM-Upgrade 128 GB AMD 7402-11 (FC-26693) 1,000 30,500 € 30,50 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '30.Hardware: Server-Upgrade (2x 960 GB PM883) (FC-26713) 2,000 11,270 € 22,54 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '31.Traffic Flatrate 4 Gbit 1,000 1.900,000 € 1.900,00 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '32.Shared Housing Ultahost-A3 1,000 65,000 € 65,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '33.Hardware: Server-Upgrade: SSD (FC-29004) 1,000 415,000 € 415,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '34.Hardware: Server-Upgrade: RAM (FC-29004) 1,000 399,000 € 399,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '35.1G Uplink Ultahost-A3 (FC-30128) 1,000 10,000 € 10,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '36.Hardware: 64 GB RAM Ultahost-A1 (FC-29564) 1,000 27,000 € 27,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '37.Hardware: Server-Upgrade AMD 7451-1 (FC-31437) 1,000 90,000 € 90,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '38.DDoS Protection Arbor Lite (FC-31602) 1,000 99,000 € 99,00 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '39.Mietserver Dell Server Hardware (FC-31772) 1,000 698,000 € 698,00 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '40.Service: SVC-COR-SRX300JB 1,000 7,000 € 7,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '41.Service: SVC-COR-SRX320JB 1,000 7,000 € 7,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '42.Hardware: Server-Upgrade E-2276G-1 (FC-32269) 1,000 130,000 € 130,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '43.Hardware: Server-Upgrade AMD7402-5 (FC-32606) 1,000 13,600 € 13,60 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '44.Hardware: Serverupgrade A2 (FC-32852) 1,000 374,000 € 374,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '45.Hardware: FC-33801 1,000 172,800 € 172,80 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '46.1/1 Rack (R1/3.16) 1,000 0,000 € 0,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '47.Power Feeds Rack R1/3.16 1,000 0,000 € 0,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '48.Uplinks Rack R1/3.16 1,000 0,000 € 0,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '49.Mietgerät: Juniper QFX5100-48T (FC-2291D2A, FC-2291EB8) 1,000 175,000 € 175,00 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '50.Mietserver Ulta 100-Xeon no SSD (FC-33243-57) 15,000 49,000 € 735,00 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '51.Mietserver: VPS Host (FC-33262-64) 1,000 433,000 € 433,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '52.Hardware Components 1,000 323,000 € 323,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '53.Storage-Upgrade 1,000 15,000 € 15,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '54.Hardware: Intel X540-T2 (Dual 10GbE) 2,000 24,000 € 48,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '55.IP-Netz (159.100.30.0/24, 212.224.107.0/24) 2,000 189,000 € 378,00 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '56.1TB SSD for server AMD7402-16 1,000 5,000 € 5,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '57.Dedicated Server: VPS Host (NVMe based) 1,000 618,000 € 618,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '58.3U Supermicro Server - Modification 1,000 204,650 € 204,65 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '59.Dedicated Server FC-35348, FC-35624 2,000 130,000 € 260,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '60.Dedicated Server FC-35349 1,000 140,000 € 140,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '61.Serverupgrade 276G-1 1,000 33,450 € 33,45 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '62.LSI 9560-16i Raid Controller 1,000 45,000 € 45,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '63.1.92TB PM983 Samsung NVMe SSD 1,000 8,300 € 8,30 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '64.1x 960GB PM893 SSD 1,000 5,500 € 5,50 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '65.Dedicated Server FC-35583, FC-35584, FC-35585, FC-35586, 5,000 49,290 € 246,45 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '66.Dedicated Server FC-35865 1,000 88,000 € 88,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '67.Mietserver [KS] Ulta100 Xeon No-SSD (lease purchase) (E-2276G-13 5,000 48,530 € 242,65 €',
 'Abrechnung für 01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '68.Stromleistung Standort Kruppstraße je kW/h zusätzlich 1.987,000 0,570 € 1.132,59 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '69.Dedicated Server: FC-36099 1,000 130,000 € 130,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '70.Dedicated Server: FC-36067, FC-36068 2,000 125,000 € 250,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '71.Dedicated Server: FC-36035 1,000 140,000 € 140,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '72.Hardware: 960GB M.2 PM983 NVMe 5,000 4,250 € 21,25 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '73.1/1 Colocation Rack: R3/3.17 1,000 0,000 € 0,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '74.Power Feeds for 5KW Colocation Racks 1,000 0,000 € 0,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '75.Fiber Uplinks for 5KW Colocation Racks 1,000 0,000 € 0,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '76.Network Switch: Juniper QFX5100-48T 1,000 0,000 € 0,00 €',
 '01.03.2023 - 31.03.2023 (+ 0,00 €) 0%',
 '77.Remotehands Kruppstraße 3,000 45,000 € 135,00 €',
 '01.02.2023 - 28.02.2023 (+ 0,00 €) 0%',
 'Zwischensumme: 18.444,07 €',
 'Rechnungsbetrag: 18.444,07 €']

In [111]:
list

list

In [3]:
file_contents

"Invoice Page 1 of 7firstcolo GmbH\nKruppstraße 105\n60388 Frankfurt am Main\nGermany\nTel: +49-69-120069-0\nFax: +49-69-120069-30\nMail: billing@first-colo.net\nUltaHost, inc\nElin Doughous\n651 N Broad St. Suite 206.\nMiddletown/Delaware, 19709\nUSCustomer id: 10618\nInvoice id: 230749996\nDate of invoice: 05.07.2023\nLocation:Hanauer Landstr. 291b\n60314 Frankfurt am Main, DE\n----\nProduct Quantity per Unit Total VAT\n1.Dedicated Server - FC-37113 1,000 258,000 € 258,00 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n2.Dedicated Server - Ulta100 24,000 63,200 € 1.516,80 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n3.Dedicated Server - FC-36850 1,000 84,800 € 84,80 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n4.Hardware: 3.84TB PM893 2,000 9,600 € 19,20 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n5.1 HE im 19'' Rack 2,000 65,000 € 130,00 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n6.IP-Net (159.100.29.0/24, 212.224.86.0/24, 212.224.88.0/24, 9,000 128,000 € 1.152,00 €\n31.172.80.0/24, 31.172.83.0/24, 79.133.41.0/24, 79.133.51.0/24,\n79.133.56.0/24, 159.100.9.0/24)\naccounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n7.Remote Hands - Service fee 1,000 35,000 € 35,00 €\nyou order from ticket #FC-37568 - 02.06.2023 (+ 0,00 €) 0%\n8.Remote Hands - Service fee 1,000 35,000 € 35,00 €\nyou order from ticket #FC-37816 - 15.06.2023 (+ 0,00 €) 0%\n9.Remote Hands - Service fee 1,000 35,000 € 35,00 €\nyou order from ticket #FC-37138 - 23.06.2023 (+ 0,00 €) 0%\n10.Remote Hands - Service fee 1,000 35,000 € 35,00 €\nyou order from ticket #FC-37568 - 02.06.2023 (+ 0,00 €) 0%\n11.Network Card extension + cabling (FC-24908) 5,000 11,000 € 55,00 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\nAccount Holder: firstcolo GmbH\nBank Name: Sparkasse Rhein-Nahe\nBIC: MALADE51KRE\nIBAN: DE06 5605 0180 0017 1137 21VAT id: DE314364770\nRegister id: HRB 113867, Frankfurt am Main\nManaging director: Jerome Evans, Nicolaj Kamensek\nWebsite: https://first-colo.net\nInvoice Page 2 of 7firstcolo GmbH\nKruppstraße 105\n60388 Frankfurt am Main\nGermany\nTel: +49-69-120069-0\nFax: +49-69-120069-30\nMail: billing@first-colo.net\n12.Hardware: Samsung PM883 3840GB (FC-24821, FC-24995) 4,000 22,000 € 88,00 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n13.Hardware: Samsung PM883 1920GB (FC-25256) 1,000 12,500 € 12,50 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n14.Hardware: RAM-Upgrade AMD7452-1 (FC-25362) 1,000 91,500 € 91,50 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n15.19'' Rack inkl. Klima (M8) 1,000 752,850 € 752,85 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n16.commited power usage 1.000,000 0,550 € 550,00 €\naccounting for 01.07.2023 - 31.07.2023 - incl. USV, Generator and Cooling (+ 0,00 €) 0%\n17.rental equipment: Network Switch Juniper EX4300-48T (FC-213814D 2,000 55,590 € 111,18 €\n, FC-2137599)\naccounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n18.rental server Ulta AX160-NVMe 32 Core (lease-purchase) (FC-23943) 1,000 151,270 € 151,27 €\naccounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n19.rental server Ulta AX160-NVMe 24 Core (lease-purchase) 14,000 110,540 € 1.547,56 €\n(FC-23944-57)\naccounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n20.rental server Ulta100 Xeon SSD (lease-purchase) (FC-23958-62) 5,000 59,800 € 299,00 €\naccounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n21.rental server Ulta100 Xeon No-SSD (lease-purchase) (FC-23963-67) 5,000 48,530 € 242,65 €\naccounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n22.power usage per kW/h additional: total 8.269,000 0,570 € 4.713,33 €\naccounting for 01.06.2023 - 30.06.2023 - inkl. USV, Generator and Cooling (+ 0,00 €) 0%\n23.power usage per kW/h on circuit: UV-RZ-Vario-B/F2.4 348,000 0,000 € 0,00 €\naccounting for 01.06.2023 - 30.06.2023 - incl. USV, Generator and Cooling (+ 0,00 €) 0%\n24.power usage per kW/h on circuit: UV-RZ-Vario-B/F1.8 2.428,000 0,000 € 0,00 €\naccounting for 01.06.2023 - 30.06.2023 - incl. USV, Generator and Cooling (+ 0,00 €) 0%\n25.power usage per kW/h on circuit: UV-RZ-Vario-A/F1.8 2.341,000 0,000 € 0,00 €\naccounting for 01.06.2023 - 30.06.2023 - incl. USV, Generator and Cooling (+ 0,00 €) 0%\n26.power usage per kW/h on circuit: UV-RZ-Vario-A/F2.4 379,000 0,000 € 0,00 €\naccounting for 01.06.2023 - 30.06.2023 - incl. USV, Generator and Cooling (+ 0,00 €) 0%\nAccount Holder: firstcolo GmbH\nBank Name: Sparkasse Rhein-Nahe\nBIC: MALADE51KRE\nIBAN: DE06 5605 0180 0017 1137 21VAT id: DE314364770\nRegister id: HRB 113867, Frankfurt am Main\nManaging director: Jerome Evans, Nicolaj Kamensek\nWebsite: https://first-colo.net\nInvoice Page 3 of 7firstcolo GmbH\nKruppstraße 105\n60388 Frankfurt am Main\nGermany\nTel: +49-69-120069-0\nFax: +49-69-120069-30\nMail: billing@first-colo.net\n27.power usage per kW/h on circuit: UV2/11F9 1.818,000 0,000 € 0,00 €\naccounting for 01.06.2023 - 30.06.2023 - incl. USV, Generator and Cooling (+ 0,00 €) 0%\n28.power usage per kW/h on circuit: UV2/11F10 1.955,000 0,000 € 0,00 €\naccounting for 01.06.2023 - 30.06.2023 - incl. USV, Generator and Cooling (+ 0,00 €) 0%\n29.rental server Private Company Server (Ulta AX160-NVMe 1,000 110,540 € 110,54 €\n24 Core) (FC-25599)\naccounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n30.Hardware: Samsung 970 EVO M.2 with 2TB (FC-25684) 9,000 12,500 € 112,50 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n31.rental server [KS] Ulta AX160-NVMe 24 Core (AMD7402-15, 3,000 123,520 € 370,56 €\nAMD7402-16, AMD7402-17)\naccounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n32.rental server [KS] Ulta100 Xeon NVMe SSD (E-2276G-11 2,000 59,630 € 119,26 €\nE-2276G-12)\naccounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n33.Hardware: RAM-Upgrade 128 GB AMD 7402-11 (FC-26693) 1,000 30,500 € 30,50 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n34.Hardware: Server-Upgrade (2x 960 GB PM883) (FC-26713) 2,000 11,270 € 22,54 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n35.Traffic Flatrate 6 Gbit 1,000 2.650,000 € 2.650,00 €\naccounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n36.Shared Housing Ultahost-A3 1,000 65,000 € 65,00 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n37.Hardware: Server-Upgrade: SSD (FC-29004) 1,000 415,000 € 415,00 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n38.Hardware: Server-Upgrade: RAM (FC-29004) 1,000 399,000 € 399,00 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n39.1G Uplink Ultahost-A3 (FC-30128) 1,000 10,000 € 10,00 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n40.Hardware: 64 GB RAM Ultahost-A1 (FC-29564) 1,000 27,000 € 27,00 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\nAccount Holder: firstcolo GmbH\nBank Name: Sparkasse Rhein-Nahe\nBIC: MALADE51KRE\nIBAN: DE06 5605 0180 0017 1137 21VAT id: DE314364770\nRegister id: HRB 113867, Frankfurt am Main\nManaging director: Jerome Evans, Nicolaj Kamensek\nWebsite: https://first-colo.net\nInvoice Page 4 of 7firstcolo GmbH\nKruppstraße 105\n60388 Frankfurt am Main\nGermany\nTel: +49-69-120069-0\nFax: +49-69-120069-30\nMail: billing@first-colo.net\n41.Hardware: Server-Upgrade AMD 7451-1 (FC-31437) 1,000 90,000 € 90,00 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n42.DDoS Protection Arbor Lite (FC-31602) 1,000 99,000 € 99,00 €\naccounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n43.rental server Dell Server Hardware (FC-31772) 1,000 698,000 € 698,00 €\naccounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n44.Hardware: Server-Upgrade E-2276G-1 (FC-32269) 1,000 130,000 € 130,00 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n45.Hardware: Server-Upgrade AMD7402-5 (FC-32606) 1,000 13,600 € 13,60 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n46.Hardware: Serverupgrade A2 (FC-32852) 1,000 374,000 € 374,00 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n47.Hardware: FC-33801 1,000 172,800 € 172,80 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n48.1/1 Rack (R1/3.16) 1,000 495,000 € 495,00 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n49.Power Feeds Rack R1/3.16 1,000 160,000 € 160,00 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n50.Uplinks Rack R1/3.16 1,000 129,000 € 129,00 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n51.rental equipment: Juniper QFX5100-48T (FC-2291D2A, FC-2291EB8) 2,000 175,000 € 350,00 €\naccounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n52.rental server Ulta 100-Xeon no SSD (FC-33243-57) 15,000 49,000 € 735,00 €\naccounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n53.Mietserver: VPS Host (FC-33262-64) 1,000 433,000 € 433,00 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n54.Hardware Components 1,000 323,000 € 323,00 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n55.Storage-Upgrade 1,000 15,000 € 15,00 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n56.Hardware: Intel X540-T2 (Dual 10GbE) 2,000 24,000 € 48,00 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\nAccount Holder: firstcolo GmbH\nBank Name: Sparkasse Rhein-Nahe\nBIC: MALADE51KRE\nIBAN: DE06 5605 0180 0017 1137 21VAT id: DE314364770\nRegister id: HRB 113867, Frankfurt am Main\nManaging director: Jerome Evans, Nicolaj Kamensek\nWebsite: https://first-colo.net\nInvoice Page 5 of 7firstcolo GmbH\nKruppstraße 105\n60388 Frankfurt am Main\nGermany\nTel: +49-69-120069-0\nFax: +49-69-120069-30\nMail: billing@first-colo.net\n57.IP-Net (159.100.30.0/24, 212.224.107.0/24) 2,000 128,000 € 256,00 €\naccounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n58.1TB SSD for server AMD7402-16 1,000 5,000 € 5,00 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n59.Dedicated Server: VPS Host (NVMe based) 1,000 618,000 € 618,00 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n60.3U Supermicro Server - Modification 1,000 204,650 € 204,65 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n61.Dedicated Server FC-35348, FC-35624 2,000 130,000 € 260,00 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n62.Dedicated Server FC-35349 1,000 140,000 € 140,00 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n63.Serverupgrade 276G-1 1,000 33,450 € 33,45 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n64.LSI 9560-16i Raid Controller 1,000 45,000 € 45,00 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n65.1.92TB PM983 Samsung NVMe SSD 1,000 8,300 € 8,30 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n66.1x 960GB PM893 SSD 1,000 5,500 € 5,50 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n67.Dedicated Server FC-35583 bis FC-35597 15,000 49,290 € 739,35 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n68.Dedicated Server FC-35865 1,000 88,000 € 88,00 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n69.rental server [KS] Ulta100 Xeon No-SSD (lease purchase) 5,000 48,530 € 242,65 €\n(E-2276G-13, E-2276G-14, E-2276G-15, E-2276G-16, E-2276G-17)\naccounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n70.Stromleistung Standort Kruppstraße je kW/h zusätzlich 2.183,000 0,570 € 1.244,31 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n71.Dedicated Server: FC-36099 1,000 130,000 € 130,00 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\nAccount Holder: firstcolo GmbH\nBank Name: Sparkasse Rhein-Nahe\nBIC: MALADE51KRE\nIBAN: DE06 5605 0180 0017 1137 21VAT id: DE314364770\nRegister id: HRB 113867, Frankfurt am Main\nManaging director: Jerome Evans, Nicolaj Kamensek\nWebsite: https://first-colo.net\nInvoice Page 6 of 7firstcolo GmbH\nKruppstraße 105\n60388 Frankfurt am Main\nGermany\nTel: +49-69-120069-0\nFax: +49-69-120069-30\nMail: billing@first-colo.net\n72.Dedicated Server: FC-36067, FC-36068 2,000 125,000 € 250,00 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n73.Dedicated Server: FC-36035 1,000 140,000 € 140,00 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n74.Hardware: 960GB M.2 PM983 NVMe 5,000 4,250 € 21,25 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n75.1/1 Colocation Rack: R3/3.17 1,000 495,000 € 495,00 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n76.Power Feeds for 5KW Colocation Racks 1,000 160,000 € 160,00 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n77.Fiber Uplinks for 5KW Colocation Racks 1,000 129,000 € 129,00 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n78.Network Switch: Juniper QFX5100-48T 1,000 175,000 € 175,00 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n79.3.84TB Samsung Enterprise SDD PM893 10,000 13,100 € 131,00 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n80.Hardware: 1.92TB Samsung PM983 NVMe 1,000 11,500 € 11,50 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n81.Dedicted Server - VPS Host: FC-35579, FC-35580, FC-35581, 4,000 705,000 € 2.820,00 €\nFC-35582\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n82.Hardware: 960GB PM893 SS 1,000 4,700 € 4,70 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n83./24 Subnet 212.224.93.0/24, 159.100.13.0/24 2,000 128,000 € 256,00 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n84.Dedicated Server: FC-36865 1,000 105,000 € 105,00 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n85.Dedicated Server - AMD 7763 1,000 177,000 € 177,00 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n86.Dedicated Server - AMD 7352 4,000 100,000 € 400,00 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\nAccount Holder: firstcolo GmbH\nBank Name: Sparkasse Rhein-Nahe\nBIC: MALADE51KRE\nIBAN: DE06 5605 0180 0017 1137 21VAT id: DE314364770\nRegister id: HRB 113867, Frankfurt am Main\nManaging director: Jerome Evans, Nicolaj Kamensek\nWebsite: https://first-colo.net\nInvoice Page 7 of 7firstcolo GmbH\nKruppstraße 105\n60388 Frankfurt am Main\nGermany\nTel: +49-69-120069-0\nFax: +49-69-120069-30\nMail: billing@first-colo.net\n87.Hardware: 1.92 TB SSD Samsung PM893 MZ7L31T9HBLT 4,000 5,800 € 23,20 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\n88.Hardware: X520-DA2 2,000 10,000 € 20,00 €\n01.07.2023 - 31.07.2023 (+ 0,00 €) 0%\nsubtotal: 29.851,80 €\nContains Exempted transactions pursuant to German §13b UStG.\ninvoice amount: 29.851,80 €\nThe invoice amount is due immediately without deduction. Please transfer this to the account listed below.\nThe recipient is liable for VAT under the reverse charge mechnism!\nAccount Holder: firstcolo GmbH\nBank Name: Sparkasse Rhein-Nahe\nBIC: MALADE51KRE\nIBAN: DE06 5605 0180 0017 1137 21VAT id: DE314364770\nRegister id: HRB 113867, Frankfurt am Main\nManaging director: Jerome Evans, Nicolaj Kamensek\nWebsite: https://first-colo.net\n"

In [5]:
nelist=file_contents.split("\n")

In [7]:
len(nelist)

300

In [15]:
nelist=nelist[17:287]

In [16]:
nelist

['Product Quantity per Unit Total VAT',
 '1.Dedicated Server - FC-37113 1,000 258,000 € 258,00 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '2.Dedicated Server - Ulta100 24,000 63,200 € 1.516,80 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '3.Dedicated Server - FC-36850 1,000 84,800 € 84,80 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '4.Hardware: 3.84TB PM893 2,000 9,600 € 19,20 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 "5.1 HE im 19'' Rack 2,000 65,000 € 130,00 €",
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '6.IP-Net (159.100.29.0/24, 212.224.86.0/24, 212.224.88.0/24, 9,000 128,000 € 1.152,00 €',
 '31.172.80.0/24, 31.172.83.0/24, 79.133.41.0/24, 79.133.51.0/24,',
 '79.133.56.0/24, 159.100.9.0/24)',
 'accounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '7.Remote Hands - Service fee 1,000 35,000 € 35,00 €',
 'you order from ticket #FC-37568 - 02.06.2023 (+ 0,00 €) 0%',
 '8.Remote Hands - Service fee 1,000 35,000 € 35,00 €',
 'you order from ticket #FC-37816 - 15.06.2023 (+ 0,00 €) 0%',
 '9.Remote Hands - Service fee 1,000 35,000 € 35,00 €',
 'you order from ticket #FC-37138 - 23.06.2023 (+ 0,00 €) 0%',
 '10.Remote Hands - Service fee 1,000 35,000 € 35,00 €',
 'you order from ticket #FC-37568 - 02.06.2023 (+ 0,00 €) 0%',
 '11.Network Card extension + cabling (FC-24908) 5,000 11,000 € 55,00 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 'Account Holder: firstcolo GmbH',
 'Bank Name: Sparkasse Rhein-Nahe',
 'BIC: MALADE51KRE',
 'IBAN: DE06 5605 0180 0017 1137 21VAT id: DE314364770',
 'Register id: HRB 113867, Frankfurt am Main',
 'Managing director: Jerome Evans, Nicolaj Kamensek',
 'Website: https://first-colo.net',
 'Invoice Page 2 of 7firstcolo GmbH',
 'Kruppstraße 105',
 '60388 Frankfurt am Main',
 'Germany',
 'Tel: +49-69-120069-0',
 'Fax: +49-69-120069-30',
 'Mail: billing@first-colo.net',
 '12.Hardware: Samsung PM883 3840GB (FC-24821, FC-24995) 4,000 22,000 € 88,00 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '13.Hardware: Samsung PM883 1920GB (FC-25256) 1,000 12,500 € 12,50 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '14.Hardware: RAM-Upgrade AMD7452-1 (FC-25362) 1,000 91,500 € 91,50 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 "15.19'' Rack inkl. Klima (M8) 1,000 752,850 € 752,85 €",
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '16.commited power usage 1.000,000 0,550 € 550,00 €',
 'accounting for 01.07.2023 - 31.07.2023 - incl. USV, Generator and Cooling (+ 0,00 €) 0%',
 '17.rental equipment: Network Switch Juniper EX4300-48T (FC-213814D 2,000 55,590 € 111,18 €',
 ', FC-2137599)',
 'accounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '18.rental server Ulta AX160-NVMe 32 Core (lease-purchase) (FC-23943) 1,000 151,270 € 151,27 €',
 'accounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '19.rental server Ulta AX160-NVMe 24 Core (lease-purchase) 14,000 110,540 € 1.547,56 €',
 '(FC-23944-57)',
 'accounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '20.rental server Ulta100 Xeon SSD (lease-purchase) (FC-23958-62) 5,000 59,800 € 299,00 €',
 'accounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '21.rental server Ulta100 Xeon No-SSD (lease-purchase) (FC-23963-67) 5,000 48,530 € 242,65 €',
 'accounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '22.power usage per kW/h additional: total 8.269,000 0,570 € 4.713,33 €',
 'accounting for 01.06.2023 - 30.06.2023 - inkl. USV, Generator and Cooling (+ 0,00 €) 0%',
 '23.power usage per kW/h on circuit: UV-RZ-Vario-B/F2.4 348,000 0,000 € 0,00 €',
 'accounting for 01.06.2023 - 30.06.2023 - incl. USV, Generator and Cooling (+ 0,00 €) 0%',
 '24.power usage per kW/h on circuit: UV-RZ-Vario-B/F1.8 2.428,000 0,000 € 0,00 €',
 'accounting for 01.06.2023 - 30.06.2023 - incl. USV, Generator and Cooling (+ 0,00 €) 0%',
 '25.power usage per kW/h on circuit: UV-RZ-Vario-A/F1.8 2.341,000 0,000 € 0,00 €',
 'accounting for 01.06.2023 - 30.06.2023 - incl. USV, Generator and Cooling (+ 0,00 €) 0%',
 '26.power usage per kW/h on circuit: UV-RZ-Vario-A/F2.4 379,000 0,000 € 0,00 €',
 'accounting for 01.06.2023 - 30.06.2023 - incl. USV, Generator and Cooling (+ 0,00 €) 0%',
 'Account Holder: firstcolo GmbH',
 'Bank Name: Sparkasse Rhein-Nahe',
 'BIC: MALADE51KRE',
 'IBAN: DE06 5605 0180 0017 1137 21VAT id: DE314364770',
 'Register id: HRB 113867, Frankfurt am Main',
 'Managing director: Jerome Evans, Nicolaj Kamensek',
 'Website: https://first-colo.net',
 'Invoice Page 3 of 7firstcolo GmbH',
 'Kruppstraße 105',
 '60388 Frankfurt am Main',
 'Germany',
 'Tel: +49-69-120069-0',
 'Fax: +49-69-120069-30',
 'Mail: billing@first-colo.net',
 '27.power usage per kW/h on circuit: UV2/11F9 1.818,000 0,000 € 0,00 €',
 'accounting for 01.06.2023 - 30.06.2023 - incl. USV, Generator and Cooling (+ 0,00 €) 0%',
 '28.power usage per kW/h on circuit: UV2/11F10 1.955,000 0,000 € 0,00 €',
 'accounting for 01.06.2023 - 30.06.2023 - incl. USV, Generator and Cooling (+ 0,00 €) 0%',
 '29.rental server Private Company Server (Ulta AX160-NVMe 1,000 110,540 € 110,54 €',
 '24 Core) (FC-25599)',
 'accounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '30.Hardware: Samsung 970 EVO M.2 with 2TB (FC-25684) 9,000 12,500 € 112,50 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '31.rental server [KS] Ulta AX160-NVMe 24 Core (AMD7402-15, 3,000 123,520 € 370,56 €',
 'AMD7402-16, AMD7402-17)',
 'accounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '32.rental server [KS] Ulta100 Xeon NVMe SSD (E-2276G-11 2,000 59,630 € 119,26 €',
 'E-2276G-12)',
 'accounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '33.Hardware: RAM-Upgrade 128 GB AMD 7402-11 (FC-26693) 1,000 30,500 € 30,50 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '34.Hardware: Server-Upgrade (2x 960 GB PM883) (FC-26713) 2,000 11,270 € 22,54 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '35.Traffic Flatrate 6 Gbit 1,000 2.650,000 € 2.650,00 €',
 'accounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '36.Shared Housing Ultahost-A3 1,000 65,000 € 65,00 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '37.Hardware: Server-Upgrade: SSD (FC-29004) 1,000 415,000 € 415,00 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '38.Hardware: Server-Upgrade: RAM (FC-29004) 1,000 399,000 € 399,00 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '39.1G Uplink Ultahost-A3 (FC-30128) 1,000 10,000 € 10,00 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '40.Hardware: 64 GB RAM Ultahost-A1 (FC-29564) 1,000 27,000 € 27,00 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 'Account Holder: firstcolo GmbH',
 'Bank Name: Sparkasse Rhein-Nahe',
 'BIC: MALADE51KRE',
 'IBAN: DE06 5605 0180 0017 1137 21VAT id: DE314364770',
 'Register id: HRB 113867, Frankfurt am Main',
 'Managing director: Jerome Evans, Nicolaj Kamensek',
 'Website: https://first-colo.net',
 'Invoice Page 4 of 7firstcolo GmbH',
 'Kruppstraße 105',
 '60388 Frankfurt am Main',
 'Germany',
 'Tel: +49-69-120069-0',
 'Fax: +49-69-120069-30',
 'Mail: billing@first-colo.net',
 '41.Hardware: Server-Upgrade AMD 7451-1 (FC-31437) 1,000 90,000 € 90,00 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '42.DDoS Protection Arbor Lite (FC-31602) 1,000 99,000 € 99,00 €',
 'accounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '43.rental server Dell Server Hardware (FC-31772) 1,000 698,000 € 698,00 €',
 'accounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '44.Hardware: Server-Upgrade E-2276G-1 (FC-32269) 1,000 130,000 € 130,00 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '45.Hardware: Server-Upgrade AMD7402-5 (FC-32606) 1,000 13,600 € 13,60 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '46.Hardware: Serverupgrade A2 (FC-32852) 1,000 374,000 € 374,00 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '47.Hardware: FC-33801 1,000 172,800 € 172,80 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '48.1/1 Rack (R1/3.16) 1,000 495,000 € 495,00 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '49.Power Feeds Rack R1/3.16 1,000 160,000 € 160,00 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '50.Uplinks Rack R1/3.16 1,000 129,000 € 129,00 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '51.rental equipment: Juniper QFX5100-48T (FC-2291D2A, FC-2291EB8) 2,000 175,000 € 350,00 €',
 'accounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '52.rental server Ulta 100-Xeon no SSD (FC-33243-57) 15,000 49,000 € 735,00 €',
 'accounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '53.Mietserver: VPS Host (FC-33262-64) 1,000 433,000 € 433,00 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '54.Hardware Components 1,000 323,000 € 323,00 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '55.Storage-Upgrade 1,000 15,000 € 15,00 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '56.Hardware: Intel X540-T2 (Dual 10GbE) 2,000 24,000 € 48,00 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 'Account Holder: firstcolo GmbH',
 'Bank Name: Sparkasse Rhein-Nahe',
 'BIC: MALADE51KRE',
 'IBAN: DE06 5605 0180 0017 1137 21VAT id: DE314364770',
 'Register id: HRB 113867, Frankfurt am Main',
 'Managing director: Jerome Evans, Nicolaj Kamensek',
 'Website: https://first-colo.net',
 'Invoice Page 5 of 7firstcolo GmbH',
 'Kruppstraße 105',
 '60388 Frankfurt am Main',
 'Germany',
 'Tel: +49-69-120069-0',
 'Fax: +49-69-120069-30',
 'Mail: billing@first-colo.net',
 '57.IP-Net (159.100.30.0/24, 212.224.107.0/24) 2,000 128,000 € 256,00 €',
 'accounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '58.1TB SSD for server AMD7402-16 1,000 5,000 € 5,00 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '59.Dedicated Server: VPS Host (NVMe based) 1,000 618,000 € 618,00 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '60.3U Supermicro Server - Modification 1,000 204,650 € 204,65 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '61.Dedicated Server FC-35348, FC-35624 2,000 130,000 € 260,00 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '62.Dedicated Server FC-35349 1,000 140,000 € 140,00 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '63.Serverupgrade 276G-1 1,000 33,450 € 33,45 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '64.LSI 9560-16i Raid Controller 1,000 45,000 € 45,00 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '65.1.92TB PM983 Samsung NVMe SSD 1,000 8,300 € 8,30 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '66.1x 960GB PM893 SSD 1,000 5,500 € 5,50 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '67.Dedicated Server FC-35583 bis FC-35597 15,000 49,290 € 739,35 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '68.Dedicated Server FC-35865 1,000 88,000 € 88,00 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '69.rental server [KS] Ulta100 Xeon No-SSD (lease purchase) 5,000 48,530 € 242,65 €',
 '(E-2276G-13, E-2276G-14, E-2276G-15, E-2276G-16, E-2276G-17)',
 'accounting for 01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '70.Stromleistung Standort Kruppstraße je kW/h zusätzlich 2.183,000 0,570 € 1.244,31 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '71.Dedicated Server: FC-36099 1,000 130,000 € 130,00 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 'Account Holder: firstcolo GmbH',
 'Bank Name: Sparkasse Rhein-Nahe',
 'BIC: MALADE51KRE',
 'IBAN: DE06 5605 0180 0017 1137 21VAT id: DE314364770',
 'Register id: HRB 113867, Frankfurt am Main',
 'Managing director: Jerome Evans, Nicolaj Kamensek',
 'Website: https://first-colo.net',
 'Invoice Page 6 of 7firstcolo GmbH',
 'Kruppstraße 105',
 '60388 Frankfurt am Main',
 'Germany',
 'Tel: +49-69-120069-0',
 'Fax: +49-69-120069-30',
 'Mail: billing@first-colo.net',
 '72.Dedicated Server: FC-36067, FC-36068 2,000 125,000 € 250,00 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '73.Dedicated Server: FC-36035 1,000 140,000 € 140,00 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '74.Hardware: 960GB M.2 PM983 NVMe 5,000 4,250 € 21,25 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '75.1/1 Colocation Rack: R3/3.17 1,000 495,000 € 495,00 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '76.Power Feeds for 5KW Colocation Racks 1,000 160,000 € 160,00 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '77.Fiber Uplinks for 5KW Colocation Racks 1,000 129,000 € 129,00 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '78.Network Switch: Juniper QFX5100-48T 1,000 175,000 € 175,00 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '79.3.84TB Samsung Enterprise SDD PM893 10,000 13,100 € 131,00 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '80.Hardware: 1.92TB Samsung PM983 NVMe 1,000 11,500 € 11,50 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '81.Dedicted Server - VPS Host: FC-35579, FC-35580, FC-35581, 4,000 705,000 € 2.820,00 €',
 'FC-35582',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '82.Hardware: 960GB PM893 SS 1,000 4,700 € 4,70 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '83./24 Subnet 212.224.93.0/24, 159.100.13.0/24 2,000 128,000 € 256,00 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '84.Dedicated Server: FC-36865 1,000 105,000 € 105,00 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '85.Dedicated Server - AMD 7763 1,000 177,000 € 177,00 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '86.Dedicated Server - AMD 7352 4,000 100,000 € 400,00 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 'Account Holder: firstcolo GmbH',
 'Bank Name: Sparkasse Rhein-Nahe',
 'BIC: MALADE51KRE',
 'IBAN: DE06 5605 0180 0017 1137 21VAT id: DE314364770',
 'Register id: HRB 113867, Frankfurt am Main',
 'Managing director: Jerome Evans, Nicolaj Kamensek',
 'Website: https://first-colo.net',
 'Invoice Page 7 of 7firstcolo GmbH',
 'Kruppstraße 105',
 '60388 Frankfurt am Main',
 'Germany',
 'Tel: +49-69-120069-0',
 'Fax: +49-69-120069-30',
 'Mail: billing@first-colo.net',
 '87.Hardware: 1.92 TB SSD Samsung PM893 MZ7L31T9HBLT 4,000 5,800 € 23,20 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%',
 '88.Hardware: X520-DA2 2,000 10,000 € 20,00 €',
 '01.07.2023 - 31.07.2023 (+ 0,00 €) 0%']

In [24]:
datape=pd.read_csv(r"rechnung_230348758_de.csv", encoding='latin-1')

In [20]:
!pip install pandas openpyxl

No Python at '"C:\Python311\python.exe'

In [25]:
datape

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,firstcolo GmbH\nKruppstraße 105\n60388 Frankfu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tel: +49-69-120069-0\nFax: +49-69-120069-30\nM...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"UltaHost, inc",NaN,NaN,Kunden-Nr:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10618,NaN,NaN,NaN,NaN
3,Elin Doughous,NaN,NaN,Rechnungs-Nr:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,230348758,NaN,NaN,NaN,NaN
4,651 N Broad St. Suite 206.,NaN,NaN,Rechnungsdatum:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03.03.2023,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,77,Remotehands Kruppstraße,"3,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"45,000 ",NaN,"135,00 ",NaN,NaN,NaN,NaN,NaN
196,NaN,01.02.2023 - 28.02.2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(+ 0,00 )",NaN,NaN,0%,NaN,NaN
197,"Zwischensumme: 18.444,07 \n\nEnth...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,Kontoinhaber: firstcolo GmbH\nBank: Sparkasse ...,NaN,NaN,NaN,USt-IdNr.: DE314364770\nRegister-Nr: HRB 11386...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
datape['Unnamed: 0'].fillna(datape['Unnamed: 1'])

0      firstcolo GmbH\nKruppstraße 105\n60388 Frankfu...
1      Tel: +49-69-120069-0\nFax: +49-69-120069-30\nM...
2                                          UltaHost, inc
3                                          Elin Doughous
4                             651 N Broad St. Suite 206.
                             ...
195                                                   77
196                              01.02.2023 - 28.02.2023
197    Zwischensumme:             18.444,07 \n\nEnth...
198                                                  NaN
199    Kontoinhaber: firstcolo GmbH\nBank: Sparkasse ...
Name: Unnamed: 0, Length: 200, dtype: object

In [28]:
data = {
    'A': [1, 2, pd.NA, 4],
    'B': [pd.NA, 2, 3, pd.NA],
    'C': [1, pd.NA, pd.NA, 4]
}

df = pd.DataFrame(data)

In [30]:
df_filled = df.ffill(axis=1)

In [29]:
df

      A     B     C
0     1  <NA>     1
1     2     2  <NA>
2  <NA>     3  <NA>
3     4  <NA>     4

In [31]:
df_filled

      A  B  C
0     1  1  1
1     2  2  2
2  <NA>  3  3
3     4  4  4

In [32]:
datape.ffill(axis=1)

In [ ]:
datape['Unnamed: 0'].fillna(datape['Unnamed: 1'])

In [39]:
datape[['Unnamed: 0', 'Unnamed: 1']]=datape[['Unnamed: 0', 'Unnamed: 1']].ffill(axis=1)

In [38]:
da1.isna().sum()

Unnamed: 0    97
Unnamed: 1    11
dtype: int64

In [63]:
datape.drop("Unnamed: 6",axis=1,inplace=True)

In [44]:
datape.isna().sum()

Unnamed: 1      11
Unnamed: 2     194
Unnamed: 3     197
Unnamed: 4     195
Unnamed: 5     184
Unnamed: 6     199
Unnamed: 7     159
Unnamed: 8     185
Unnamed: 9     185
Unnamed: 10    143
Unnamed: 11    194
Unnamed: 12    177
Unnamed: 13     68
Unnamed: 14    197
Unnamed: 15    188
Unnamed: 16    134
Unnamed: 17    200
Unnamed: 18    200
dtype: int64

In [60]:
datape

,Unnamed: 1,Unnamed: 2,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,firstcolo GmbH\nKruppstraße 105\n60388 Frankfu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tel: +49-69-120069-0\nFax: +49-69-120069-30\nM...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"UltaHost, inc",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10618,NaN,NaN,NaN,NaN
3,Elin Doughous,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,230348758,NaN,NaN,NaN,NaN
4,651 N Broad St. Suite 206.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03.03.2023,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,Remotehands Kruppstraße,"3,000",NaN,NaN,NaN,NaN,NaN,NaN,"45,000 ",NaN,"135,00 ",NaN,NaN,NaN,NaN,NaN
196,01.02.2023 - 28.02.2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(+ 0,00 )",NaN,NaN,0%,NaN,NaN
197,"Zwischensumme: 18.444,07 \n\nEnth...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,Kontoinhaber: firstcolo GmbH\nBank: Sparkasse ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
datape[datape["Unnamed: 12"].isna()==False]

,Unnamed: 1,Unnamed: 2,Unnamed: 5,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
10,1 HE im 19'' Rack,NaN,NaN,"2,000",NaN,NaN,"65,000 ",NaN,"130,00 ",NaN,NaN,NaN,NaN,NaN,NaN
11,01.03.2023 - 31.03.2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(+ 0,00 )",NaN,NaN,0%,NaN,NaN,NaN
12,"IP-Netz (159.100.29.0/24, 212.224.86.0/24, 212...",NaN,NaN,"8,000",NaN,NaN,"154,500 ",NaN,"1.236,00 ",NaN,NaN,NaN,NaN,NaN,NaN
15,Abrechnung für 01.03.2023 - 31.03.2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(+ 0,00 )",NaN,NaN,0%,NaN,NaN,NaN
16,Remote Hands - Service Dienstleistung,NaN,NaN,"1,000",NaN,NaN,"45,000 ",NaN,"45,00 ",NaN,NaN,NaN,NaN,NaN,NaN
17,Ihr Auftrag im Ticket #FC-35780 - 24.02.2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(+ 0,00 )",NaN,NaN,0%,NaN,NaN,NaN
18,Remote Hands - Service Dienstleistung,NaN,NaN,"3,000",NaN,NaN,"45,000 ",NaN,"135,00 ",NaN,NaN,NaN,NaN,NaN,NaN
19,Ihr Auftrag im Ticket #FC-35830 - 08.02.2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(+ 0,00 )",NaN,NaN,0%,NaN,NaN,NaN
20,Remote Hands - Service Dienstleistung,NaN,NaN,"1,000",NaN,NaN,"45,000 ",NaN,"45,00 ",NaN,NaN,NaN,NaN,NaN,NaN
21,Ihr Auftrag im Ticket #FC-35975 - 08.02.2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(+ 0,00 )",NaN,NaN,0%,NaN,NaN,NaN
22,Remote Hands - Service Dienstleistung,NaN,NaN,"8,000",NaN,NaN,"45,000 ",NaN,"360,00 ",NaN,NaN,NaN,NaN,NaN,NaN
23,Ihr Auftrag im Ticket #FC-35822 - 01.02.2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(+ 0,00 )",NaN,NaN,0%,NaN,NaN,NaN
24,Remote Hands - Service Dienstleistung,NaN,NaN,"3,000",NaN,NaN,"45,000 ",NaN,"135,00 ",NaN,NaN,NaN,NaN,NaN,NaN
25,Ihr Auftrag im Ticket #FC-36167 - 23.02.2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(+ 0,00 )",NaN,NaN,0%,NaN,NaN,NaN
26,Remote Hands - Service Dienstleistung,NaN,NaN,"1,000",NaN,NaN,"45,000 ",NaN,"45,00 ",NaN,NaN,NaN,NaN,NaN,NaN
27,Ihr Auftrag im Ticket #FC-36167 - 24.02.2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(+ 0,00 )",NaN,NaN,0%,NaN,NaN,NaN
28,Remote Hands - Service Dienstleistung,NaN,NaN,"2,000",NaN,NaN,"45,000 ",NaN,"90,00 ",NaN,NaN,NaN,NaN,NaN,NaN
29,Ihr Auftrag im Ticket #FC-35780 - 22.02.2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(+ 0,00 )",NaN,NaN,0%,NaN,NaN,NaN
30,Remote Hands - Service Dienstleistung,NaN,NaN,"3,000",NaN,NaN,"45,000 ",NaN,"135,00 ",NaN,NaN,NaN,NaN,NaN,NaN
31,Ihr Auftrag im Ticket #FC-36167 - 24.02.2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(+ 0,00 )",NaN,NaN,0%,NaN,NaN,NaN
32,Network Card extension + cabling (FC-24908),NaN,NaN,"5,000",NaN,NaN,"11,000 ",NaN,"55,00 ",NaN,NaN,NaN,NaN,NaN,NaN
33,01.03.2023 - 31.03.2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(+ 0,00 )",NaN,NaN,0%,NaN,NaN,NaN

In [74]:
datape.drop(index=9,axis=0,inplace=True)

In [81]:
datape.to_csv("datape.csv",index=False)

In [2]:
datape=pd.read_csv("datape.csv")

In [5]:
datape

,Unnamed: 1,Unnamed: 2,Unnamed: 5,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,firstcolo GmbH\nKruppstraße 105\n60388 Frankfu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tel: +49-69-120069-0\nFax: +49-69-120069-30\nM...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"UltaHost, inc",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10618,NaN,NaN,NaN,NaN
3,Elin Doughous,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,230348758,NaN,NaN,NaN,NaN
4,651 N Broad St. Suite 206.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03.03.2023,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,Remotehands Kruppstraße,"3,000",NaN,NaN,NaN,NaN,NaN,"45,000 ",NaN,"135,00 ",NaN,NaN,NaN,NaN,NaN
195,01.02.2023 - 28.02.2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(+ 0,00 )",NaN,NaN,0%,NaN,NaN
196,"Zwischensumme: 18.444,07 \n\nEnth...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,Kontoinhaber: firstcolo GmbH\nBank: Sparkasse ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
import pandas as pd

# Sample data with multiple columns
data1 = {'Name': ['A', 'B', 'C', 'D']}
data2 = {'Name': ['B', 'C', 'D', 'E'], 'Value': [1, 2, 3, 4], 'Other': [5, 6, 7, 8]}

# Creating DataFrames
newdata1 = pd.DataFrame(data1)
newdata2 = pd.DataFrame(data2)

# Assuming merged_data is similar to newdata2 for this example
merged_data = pd.DataFrame(data2)

# If you need to select columns in merged_data based on names in newdata1["Name"]
# Here we assume that newdata1["Name"] contains the names of columns to select, which is typically not the case,
# but if we follow the example strictly, let's proceed:

# First, make sure that the names in newdata1["Name"] are valid column names in merged_data
# This is unusual and typically you'd know the columns you want to select
column_names_to_select = [name for name in newdata1["Name"] if name in merged_data.columns]

# Select the columns
selected_columns = merged_data[column_names_to_select]

print(selected_columns)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [7]:
selected_columns

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [8]:
data1

{'Name': ['A', 'B', 'C', 'D']}

In [9]:
data2

{'Name': ['B', 'C', 'D', 'E'], 'Value': [1, 2, 3, 4], 'Other': [5, 6, 7, 8]}

In [11]:
merged_data

  Name  Value  Other
0    B      1      5
1    C      2      6
2    D      3      7
3    E      4      8

In [13]:
column_names_to_select = [name for name in newdata1["Name"] if name in merged_data["Name"]]

In [12]:
merged_data.columns

Index(['Name', 'Value', 'Other'], dtype='object')

In [14]:
column_names_to_select

[]

In [18]:
merged_data.iloc[:,:1]

  Name
0    B
1    C
2    D
3    E

In [21]:
da=pd.read_csv("D:\Downloads\Book2.csv")

In [22]:
da

      avijit   25
0     biswas   55
1     barune   55
2      jahar  254
3  saraswati   14