In [1]:
from nselib import capital_market as cm

In [2]:
import nselib

In [3]:
datacal=nselib.trading_holiday_calendar()

In [5]:
datacal.columns

Index(['Product', 'tradingDate', 'weekDay', 'description', 'Sr_no'], dtype='object')

In [6]:
datacal.Product

0                            Corporate Bonds
1                            Corporate Bonds
2                            Corporate Bonds
3                            Corporate Bonds
4                            Corporate Bonds
                       ...
15    Securities Lending & Borrowing Schemes
16    Securities Lending & Borrowing Schemes
17    Securities Lending & Borrowing Schemes
18    Securities Lending & Borrowing Schemes
19    Securities Lending & Borrowing Schemes
Name: Product, Length: 237, dtype: object

In [7]:
datacal.Product.value_counts()

Product
Corporate Bonds                           25
Currency Derivatives                      25
Interest Rate Derivatives                 25
New Debt Segment                          25
Negotiated Trade Reporting Platform       25
Equities                                  20
CMOT                                      20
Equity Derivatives                        20
Mutual Funds                              20
Securities Lending & Borrowing Schemes    20
Commodity Derivatives                     12
Name: count, dtype: int64

In [8]:
datacal

,Product,tradingDate,weekDay,description,Sr_no
0,Corporate Bonds,22-Jan-2024,Monday,Special Holiday\r,1
1,Corporate Bonds,26-Jan-2024,Friday,Republic Day\r,2
2,Corporate Bonds,19-Feb-2024,Monday,Chatrapati Shivaji Maharaj Jayanti\r,3
3,Corporate Bonds,08-Mar-2024,Friday,Mahashivratri\r,4
4,Corporate Bonds,25-Mar-2024,Monday,Holi\r,5
...,...,...,...,...,...
15,Securities Lending & Borrowing Schemes,12-Oct-2024,Saturday,Dussehra\r,16
16,Securities Lending & Borrowing Schemes,01-Nov-2024,Friday,Diwali Laxmi Pujan*\r,17
17,Securities Lending & Borrowing Schemes,02-Nov-2024,Saturday,Diwali-Balipratipada\r,18
18,Securities Lending & Borrowing Schemes,15-Nov-2024,Friday,Gurunanak Jayanti\r,19
19,Securities Lending & Borrowing Schemes,25-Dec-2024,Wednesday,Christmas\r,20

In [9]:
data1=cm.nifty50_equity_list()

In [10]:
data1

,Company Name,Industry,Symbol
0,Adani Enterprises Ltd.,Metals & Mining,ADANIENT
1,Adani Ports and Special Economic Zone Ltd.,Services,ADANIPORTS
2,Apollo Hospitals Enterprise Ltd.,Healthcare,APOLLOHOSP
3,Asian Paints Ltd.,Consumer Durables,ASIANPAINT
4,Axis Bank Ltd.,Financial Services,AXISBANK
5,Bajaj Auto Ltd.,Automobile and Auto Components,BAJAJ-AUTO
6,Bajaj Finance Ltd.,Financial Services,BAJFINANCE
7,Bajaj Finserv Ltd.,Financial Services,BAJAJFINSV
8,Bharat Petroleum Corporation Ltd.,Oil Gas & Consumable Fuels,BPCL
9,Bharti Airtel Ltd.,Telecommunication,BHARTIARTL
10,Britannia Industries Ltd.,Fast Moving Consumer Goods,BRITANNIA
11,Cipla Ltd.,Healthcare,CIPLA
12,Coal India Ltd.,Oil Gas & Consumable Fuels,COALINDIA
13,Divi's Laboratories Ltd.,Healthcare,DIVISLAB
14,Dr. Reddy's Laboratories Ltd.,Healthcare,DRREDDY
15,Eicher Motors Ltd.,Automobile and Auto Components,EICHERMOT
16,Grasim Industries Ltd.,Construction Materials,GRASIM
17,HCL Technologies Ltd.,Information Technology,HCLTECH
18,HDFC Bank Ltd.,Financial Services,HDFCBANK
19,HDFC Life Insurance Company Ltd.,Financial Services,HDFCLIFE
20,Hero MotoCorp Ltd.,Automobile and Auto Components,HEROMOTOCO
21,Hindalco Industries Ltd.,Metals & Mining,HINDALCO
22,Hindustan Unilever Ltd.,Fast Moving Consumer Goods,HINDUNILVR
23,ICICI Bank Ltd.,Financial Services,ICICIBANK
24,ITC Ltd.,Fast Moving Consumer Goods,ITC
25,IndusInd Bank Ltd.,Financial Services,INDUSINDBK
26,Infosys Ltd.,Information Technology,INFY
27,JSW Steel Ltd.,Metals & Mining,JSWSTEEL
28,Kotak Mahindra Bank Ltd.,Financial Services,KOTAKBANK
29,LTIMindtree Ltd.,Information Technology,LTIM
30,Larsen & Toubro Ltd.,Construction,LT
31,Mahindra & Mahindra Ltd.,Automobile and Auto Components,M&M
32,Maruti Suzuki India Ltd.,Automobile and Auto Components,MARUTI
33,NTPC Ltd.,Power,NTPC
34,Nestle India Ltd.,Fast Moving Consumer Goods,NESTLEIND
35,Oil & Natural Gas Corporation Ltd.,Oil Gas & Consumable Fuels,ONGC
36,Power Grid Corporation of India Ltd.,Power,POWERGRID
37,Reliance Industries Ltd.,Oil Gas & Consumable Fuels,RELIANCE
38,SBI Life Insurance Company Ltd.,Financial Services,SBILIFE
39,Shriram Finance Ltd.,Financial Services,SHRIRAMFIN
40,State Bank of India,Financial Services,SBIN
41,Sun Pharmaceutical Industries Ltd.,Healthcare,SUNPHARMA
42,Tata Consultancy Services Ltd.,Information Technology,TCS
43,Tata Consumer Products Ltd.,Fast Moving Consumer Goods,TATACONSUM
44,Tata Motors Ltd.,Automobile and Auto Components,TATAMOTORS
45,Tata Steel Ltd.,Metals & Mining,TATASTEEL
46,Tech Mahindra Ltd.,Information Technology,TECHM
47,Titan Company Ltd.,Consumer Durables,TITAN
48,UltraTech Cement Ltd.,Construction Materials,ULTRACEMCO
49,Wipro Ltd.,Information Technology,WIPRO

In [11]:
data1.Symbol

0       ADANIENT
1     ADANIPORTS
2     APOLLOHOSP
3     ASIANPAINT
4       AXISBANK
5     BAJAJ-AUTO
6     BAJFINANCE
7     BAJAJFINSV
8           BPCL
9     BHARTIARTL
10     BRITANNIA
11         CIPLA
12     COALINDIA
13      DIVISLAB
14       DRREDDY
15     EICHERMOT
16        GRASIM
17       HCLTECH
18      HDFCBANK
19      HDFCLIFE
20    HEROMOTOCO
21      HINDALCO
22    HINDUNILVR
23     ICICIBANK
24           ITC
25    INDUSINDBK
26          INFY
27      JSWSTEEL
28     KOTAKBANK
29          LTIM
30            LT
31           M&M
32        MARUTI
33          NTPC
34     NESTLEIND
35          ONGC
36     POWERGRID
37      RELIANCE
38       SBILIFE
39    SHRIRAMFIN
40          SBIN
41     SUNPHARMA
42           TCS
43    TATACONSUM
44    TATAMOTORS
45     TATASTEEL
46         TECHM
47         TITAN
48    ULTRACEMCO
49         WIPRO
Name: Symbol, dtype: object

In [12]:
data=cm.bhav_copy_equities("10-04-2024")

In [13]:
data[data["SYMBOL"]=="ADANIENT"]

,SYMBOL,SERIES,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES
122,ADANIENT,EQ,3200.0,3254.6,3192.5,3242.0,3245.0,3198.45,1441138,4.656932e+09,10-APR-2024,55670

In [14]:
cm.block_deals_data(period="1M")

,Date,Symbol,SecurityName,ClientName,Buy/Sell,QuantityTraded,TradePrice/Wght.Avg.Price,Remarks
0,12-MAR-2024,INFIBEAM,Infibeam Avenues Limited,ABHISHEK MAYUR DESAI,SELL,"60,00,000",39.60,-
1,12-MAR-2024,INFIBEAM,Infibeam Avenues Limited,ABHISHEK MAYUR DESAI,SELL,"60,00,000",39.60,-
2,12-MAR-2024,INFIBEAM,Infibeam Avenues Limited,SONAL DESAI,BUY,"60,00,000",39.60,-
3,12-MAR-2024,INFIBEAM,Infibeam Avenues Limited,SONAL DESAI,BUY,"60,00,000",39.60,-
4,14-MAR-2024,INFIBEAM,Infibeam Avenues Limited,ABHISHEK MAYUR DESAI,SELL,"70,00,000",36.95,-
5,14-MAR-2024,INFIBEAM,Infibeam Avenues Limited,SONAL DESAI,BUY,"70,00,000",36.95,-
6,18-MAR-2024,INFIBEAM,Infibeam Avenues Limited,ABHISHEK MAYUR DESAI,SELL,"70,00,000",37.05,-
7,18-MAR-2024,INFIBEAM,Infibeam Avenues Limited,SONAL DESAI,BUY,"70,00,000",37.05,-
8,19-MAR-2024,LORDSCHLO,Lords Chloro Alkali Ltd,MADHAV DHIR,BUY,"11,50,000",127.80,-
9,19-MAR-2024,LORDSCHLO,Lords Chloro Alkali Ltd,SHIVA CONSULTANTS PRIVATE LIMITED,SELL,"11,50,000",127.80,-
10,20-MAR-2024,INFIBEAM,Infibeam Avenues Limited,ABHISHEK MAYUR DESAI,SELL,"60,00,000",35.90,-
11,20-MAR-2024,INFIBEAM,Infibeam Avenues Limited,SONAL DESAI,BUY,"60,00,000",35.90,-
12,22-MAR-2024,INFIBEAM,Infibeam Avenues Limited,ABHISHEK MAYUR DESAI,SELL,"60,00,000",35.00,-
13,22-MAR-2024,INFIBEAM,Infibeam Avenues Limited,SONAL DESAI,BUY,"60,00,000",35.00,-
14,22-MAR-2024,SHRIRAMFIN,Shriram Finance Limited,SHRIRAM OWNERSHIP TRUST,SELL,"77,78,000","2,310.00",-
15,22-MAR-2024,SHRIRAMFIN,Shriram Finance Limited,SHRIRAM VALUE SERVICES LIMITED,BUY,"77,78,000","2,310.00",-
16,22-MAR-2024,SOTL,Savita Oil Technologies L,MEHRA SYNDICATE,SELL,"20,73,000",408.00,-
17,22-MAR-2024,SOTL,Savita Oil Technologies L,SBI MUTUAL FUND,BUY,"20,73,000",408.00,-
18,22-MAR-2024,SUNDARMHLD,Sundaram Finance Hold Ltd,ARJUN RANGARAJAN,BUY,"9,00,000",191.00,-
19,22-MAR-2024,SUNDARMHLD,Sundaram Finance Hold Ltd,SRIVATS RAM,BUY,"6,83,000",191.00,-
20,22-MAR-2024,SUNDARMHLD,Sundaram Finance Hold Ltd,SUNDARAM FINANCE LTD,SELL,"55,56,529",191.00,-
21,22-MAR-2024,SUNDARMHLD,Sundaram Finance Hold Ltd,TRICHUR SUNDARAM SANTHANAM & FAMILY PRIVATE LI...,BUY,"39,73,529",191.00,-
22,27-MAR-2024,SAMHI,Samhi Hotels Limited,BLUE CHANDRA PTE. LTD,SELL,"1,01,73,756",206.10,-
23,27-MAR-2024,SAMHI,Samhi Hotels Limited,DNB FUND - ASIAN SMALL CAP,BUY,"3,94,700",206.10,-
24,27-MAR-2024,SAMHI,Samhi Hotels Limited,DNB FUND - INDIA,BUY,"3,44,600",206.10,-
25,27-MAR-2024,SAMHI,Samhi Hotels Limited,SOCIETE GENERALE,BUY,"11,51,677",206.10,-
26,27-MAR-2024,SAMHI,Samhi Hotels Limited,TT ASIA-PACIFIC EQUITY FUND,BUY,"82,82,779",206.10,-
27,27-MAR-2024,VIJAYA,Vijaya Diagnostic Cen Ltd,KOTAK MAHINDRA MUTUAL FUND,BUY,"8,10,000",630.00,-
28,27-MAR-2024,VIJAYA,Vijaya Diagnostic Cen Ltd,SUNIL CHANDRA KONDAPALLY,SELL,"5,10,000",630.00,-
29,27-MAR-2024,VIJAYA,Vijaya Diagnostic Cen Ltd,SURENDRANATH REDDY SURA,SELL,"3,00,000",630.00,-
30,28-MAR-2024,DHANI,Dhani Services Limited,ACM GLOBAL FUND VCC,BUY,"1,00,00,000",39.20,-
31,28-MAR-2024,DHANI,Dhani Services Limited,INUUS DEVELOPERS PRIVATE LIMITED,SELL,"1,00,00,000",39.20,-
32,28-MAR-2024,SHRIRAMFIN,Shriram Finance Limited,SANLAM LIFE INSURANCE LIMITED,SELL,"59,80,000","2,386.00",-
33,28-MAR-2024,SHRIRAMFIN,Shriram Finance Limited,SHRIRAM VALUE SERVICES LIMITED,BUY,"59,80,000","2,386.00",-
34,09-APR-2024,AXISBANK,Axis Bank Limited,STICHTING CUST ROBECO INST RE:CALYP,SELL,"4,58,401","1,076.05",-
35,09-APR-2024,AXISBANK,Axis Bank Limited,STICHTING CUST ROBECO INST RE:CALYP,SELL,"4,58,401","1,076.05",-
36,09-APR-2024,AXISBANK,Axis Bank Limited,STICHTING PENSIOENFONDS RAIL & OPENBAAR VERVOER,BUY,"4,58,401","1,076.05",-
37,09-APR-2024,AXISBANK,Axis Bank Limited,STICHTING PENSIOENFONDS RAIL & OPENBAAR VERVOER,BUY,"4,58,401","1,076.05",-
38,09-APR-2024,HCLTECH,HCL Technologies Ltd.,STICHTING CUST ROBECO INST RE:CALYP,SELL,"4,46,825","1,540.05",-
39,09-APR-2024,HCLTECH,HCL Technologies Ltd.,STICHTING CUST ROBECO INST RE:CALYP,SELL,"4,46,825","1,540.05",-
40,09-APR-2024,HCLTECH,HCL Technologies Ltd.,STICHTING PENSIOENFONDS RAIL & OPENBAAR VERVOER,BUY,"4,46,825","1,540.05",-
41,09-APR-2024,HCLTECH,HCL Technologies Ltd.,STICHTING PENSIOENFONDS RAIL & OPENBAAR VERVOER,BUY,"4,46,825","1,540.05",-
42,09-APR-2024,HDFCBANK,HDFC Bank Ltd.,STICHTING CUST ROBECO INST RE:CALYP,SELL,"4,09,783","1,546.60",-
43,09-APR-2024,HDFCBANK,HDFC Bank Ltd.,STICHTING CUST ROBECO INST RE:CALYP,SELL,"4,09,783","1,546.60",-
44,09-APR-2024,HDFCBANK,HDFC Bank Ltd.,STICHTING PENSIOENFONDS RAIL & OPENBAAR VERVOER,BUY,"4,09,783","1,546.60",-
45,09-APR-2024,HDFCBANK,HDFC Bank Ltd.,STICHTING PENSIOENFONDS RAIL & OPENBAAR VERVOER,BUY,"4,09,783","1,546.60",-
46,09-APR-2024,M&M,Mah & Mah Ltd.,STICHTING CUST ROBECO INST RE:CALYP,SELL,"2,80,386","2,078.10",-
47,09-APR-2024,M&M,Mah & Mah Ltd.,STICHTING CUST ROBECO INST RE:CALYP,SELL,"2,80,386","2,078.10",-
48,09-APR-2024,M&M,Mah & Mah Ltd.,STICHTING PENSIOENFONDS RAIL & OPENBAAR VERVOER,BUY,"2,80,386","2,078.10",-
49,09-APR-2024,M&M,Mah & Mah Ltd.,STICHTING PENSIOENFONDS RAIL & OPENBAAR VERVOER,BUY,"2,80,386","2,078.10",-
50,09-APR-2024,MGL,Mahanagar Gas Ltd.,STICHTING CUST ROBECO INST RE:CALYP,SELL,"1,33,121","1,483.10",-
51,09-APR-2024,MGL,Mahanagar Gas Ltd.,STICHTING CUST ROBECO INST RE:CALYP,SELL,"1,33,121","1,483.10",-
52,09-APR-2024,MGL,Mahanagar Gas Ltd.,STICHTING PENSIOENFONDS RAIL & OPENBAAR VERVOER,BUY,"1,33,121","1,483.10",-
53,09-APR-2024,MGL,Mahanagar Gas Ltd.,STICHTING PENSIOENFONDS RAIL & OPENBAAR VERVOER,BUY,"1,33,121","1,483.10",-
54,09-APR-2024,PETRONET,Petronet LNG Limited,STICHTING CUST ROBECO INST RE:CALYP,SELL,"6,05,855",281.00,-
55,09-APR-2024,PETRONET,Petronet LNG Limited,STICHTING CUST ROBECO INST RE:CALYP,SELL,"6,05,855",281.00,-
56,09-APR-2024,PETRONET,Petronet LNG Limited,STICHTING PENSIOENFONDS RAIL & OPENBAAR VERVOER,BUY,"6,05,855",281.00,-
57,09-APR-2024,PETRONET,Petronet LNG Limited,STICHTING PENSIOENFONDS RAIL & OPENBAAR VERVOER,BUY,"6,05,855",281.00,-

In [15]:
cm.price_volume_and_deliverable_position_data("SBIN",period="1Y")

,Symbol,Series,Date,PrevClose,OpenPrice,HighPrice,LowPrice,LastPrice,ClosePrice,AveragePrice,TotalTradedQuantity,TurnoverInRs,No.ofTrades,DeliverableQty,%DlyQttoTradedQty
0,SBIN,EQ,11-Apr-2023,526.30,530.85,535.70,527.15,532.50,532.10,533.07,"2,64,14,406","14,08,08,36,565.45","1,76,416","45,16,279",17.10
1,SBIN,EQ,12-Apr-2023,532.10,533.20,534.00,526.00,529.15,528.20,529.65,"2,12,92,441","11,27,75,64,811.00","1,70,950","62,08,271",29.16
2,SBIN,EQ,13-Apr-2023,528.20,529.30,534.25,527.15,533.40,532.95,530.40,"2,85,97,560","15,16,82,46,670.05","1,68,188","45,76,910",16.00
3,SBIN,EQ,17-Apr-2023,532.95,528.00,545.00,528.00,544.40,544.00,539.11,"3,24,76,990","17,50,87,92,556.85","2,29,953","78,32,609",24.12
4,SBIN,EQ,18-Apr-2023,544.00,545.35,548.50,540.50,545.25,545.85,545.32,"2,22,83,456","12,15,16,54,395.50","2,18,269","58,57,265",26.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,SBIN,EQ,05-Apr-2024,759.30,757.95,767.70,752.60,765.90,764.75,760.39,"99,39,620","7,55,79,66,836.05","1,59,848","32,84,683",33.05
250,SBIN,EQ,08-Apr-2024,764.75,766.05,770.00,761.80,767.60,768.30,766.03,"97,97,174","7,50,49,31,342.05","1,93,392","45,73,077",46.68
251,SBIN,T0,08-Apr-2024,764.75,762.00,762.00,762.00,762.00,768.30,762.00,1,762.00,1,1,100.00
252,SBIN,EQ,09-Apr-2024,768.30,768.45,772.45,761.10,765.05,764.20,766.79,"74,65,892","5,72,47,66,013.05","1,27,868","22,70,132",30.41
253,SBIN,EQ,10-Apr-2024,764.20,766.50,780.70,763.65,777.40,779.05,772.90,"1,45,30,669","11,23,07,49,541.10","2,01,570","60,83,772",41.87

In [18]:
import nselib.derivatives as de

In [19]:
de.participant_wise_open_interest()

TypeError: participant_wise_open_interest() missing 1 required positional argument: 'trade_date'

In [20]:
ye=de.expiry_dates_option_index()

In [21]:
type(ye)

dict

In [22]:
len(ye)

3

In [23]:
ye.keys()

dict_keys(['NIFTY', 'FINNIFTY', 'BANKNIFTY'])

In [24]:
ye.values()

dict_values([['10-Apr-2024', '18-Apr-2024', '25-Apr-2024', '02-May-2024', '09-May-2024', '30-May-2024', '27-Jun-2024', '26-Sep-2024', '26-Dec-2024', '27-Mar-2025', '26-Jun-2025', '24-Dec-2025', '25-Jun-2026', '31-Dec-2026', '24-Jun-2027', '30-Dec-2027', '29-Jun-2028', '28-Dec-2028'], ['16-Apr-2024', '23-Apr-2024', '30-Apr-2024', '07-May-2024', '14-May-2024', '28-May-2024', '25-Jun-2024'], ['10-Apr-2024', '16-Apr-2024', '24-Apr-2024', '30-Apr-2024', '08-May-2024', '29-May-2024', '26-Jun-2024', '25-Sep-2024', '24-Dec-2024', '26-Mar-2025']])

In [25]:
ye["NIFTY"]

['10-Apr-2024',
 '18-Apr-2024',
 '25-Apr-2024',
 '02-May-2024',
 '09-May-2024',
 '30-May-2024',
 '27-Jun-2024',
 '26-Sep-2024',
 '26-Dec-2024',
 '27-Mar-2025',
 '26-Jun-2025',
 '24-Dec-2025',
 '25-Jun-2026',
 '31-Dec-2026',
 '24-Jun-2027',
 '30-Dec-2027',
 '29-Jun-2028',
 '28-Dec-2028']

In [30]:
de.fii_derivatives_statistics()

TypeError: fii_derivatives_statistics() missing 1 required positional argument: 'trade_date'

In [31]:
import nselib.debt as db

In [32]:
print(db)

<module 'nselib.debt' from 'C:\\Users\\aviji\\AppData\\Roaming\\Python\\Python310\\site-packages\\nselib\\debt\\__init__.py'>

In [33]:
cm.deliverable_position_data("SBIN",period="1M")

NSEdataNotFound:  Resource not available MSG: 'charmap' codec can't encode character '\x82' in position 178: character maps to <undefined>

In [ ]:
cm.index_data()

In [36]:
cm.short_selling_data(from_date="10-03-2023", to_date="10-04-2024")

            Date      Symbol               SecurityName Quantity
0    29-Mar-2023  BERGEPAINT  BERGER PAINTS (I) LIMITED   58,300
1    10-Mar-2023     MPHASIS            MPHASIS LIMITED   10,450
2    09-Mar-2023     POLYCAB      POLYCAB INDIA LIMITED      300
3    09-Mar-2023  INDUSTOWER                      INDUS   70,000
4    10-Mar-2023   DEEPAKNTR     DEEPAK NITRITE LIMITED   14,000
..           ...         ...                        ...      ...
369  15-Mar-2024        ZEEL  ZEE ENTERTAINMENT ENT LTD   12,000
370  20-Mar-2024         PEL    PIRAMAL ENTERPRISES LTD    2,170
371  20-Mar-2024  BAJAJ-AUTO         BAJAJ AUTO LIMITED   17,000
372  01-Apr-2024  HINDCOPPER   HINDUSTAN COPPER LIMITED   21,200
373  01-Apr-2024         IGL       INDRAPRASTHA GAS LTD    1,375

[374 rows x 4 columns]

In [38]:
equity=cm.equity_list()
equity

,SYMBOL,NAME OF COMPANY,SERIES,DATE OF LISTING,FACE VALUE
0,20MICRONS,20 Microns Limited,EQ,06-OCT-2008,5
1,21STCENMGM,21st Century Management Services Limited,BE,03-MAY-1995,10
2,360ONE,360 ONE WAM LIMITED,EQ,19-SEP-2019,1
3,3IINFOLTD,3i Infotech Limited,EQ,22-OCT-2021,10
4,3MINDIA,3M India Limited,EQ,13-AUG-2004,10
...,...,...,...,...,...
1965,ZOTA,Zota Health Care LImited,EQ,19-AUG-2019,10
1966,ZUARI,Zuari Agro Chemicals Limited,EQ,27-NOV-2012,10
1967,ZUARIIND,ZUARI INDUSTRIES LIMITED,EQ,12-APR-1995,10
1968,ZYDUSLIFE,Zydus Lifesciences Limited,EQ,18-APR-2000,1
1969,ZYDUSWELL,Zydus Wellness Limited,EQ,13-NOV-2009,10

In [39]:
data1

,Company Name,Industry,Symbol
0,Adani Enterprises Ltd.,Metals & Mining,ADANIENT
1,Adani Ports and Special Economic Zone Ltd.,Services,ADANIPORTS
2,Apollo Hospitals Enterprise Ltd.,Healthcare,APOLLOHOSP
3,Asian Paints Ltd.,Consumer Durables,ASIANPAINT
4,Axis Bank Ltd.,Financial Services,AXISBANK
5,Bajaj Auto Ltd.,Automobile and Auto Components,BAJAJ-AUTO
6,Bajaj Finance Ltd.,Financial Services,BAJFINANCE
7,Bajaj Finserv Ltd.,Financial Services,BAJAJFINSV
8,Bharat Petroleum Corporation Ltd.,Oil Gas & Consumable Fuels,BPCL
9,Bharti Airtel Ltd.,Telecommunication,BHARTIARTL
10,Britannia Industries Ltd.,Fast Moving Consumer Goods,BRITANNIA
11,Cipla Ltd.,Healthcare,CIPLA
12,Coal India Ltd.,Oil Gas & Consumable Fuels,COALINDIA
13,Divi's Laboratories Ltd.,Healthcare,DIVISLAB
14,Dr. Reddy's Laboratories Ltd.,Healthcare,DRREDDY
15,Eicher Motors Ltd.,Automobile and Auto Components,EICHERMOT
16,Grasim Industries Ltd.,Construction Materials,GRASIM
17,HCL Technologies Ltd.,Information Technology,HCLTECH
18,HDFC Bank Ltd.,Financial Services,HDFCBANK
19,HDFC Life Insurance Company Ltd.,Financial Services,HDFCLIFE
20,Hero MotoCorp Ltd.,Automobile and Auto Components,HEROMOTOCO
21,Hindalco Industries Ltd.,Metals & Mining,HINDALCO
22,Hindustan Unilever Ltd.,Fast Moving Consumer Goods,HINDUNILVR
23,ICICI Bank Ltd.,Financial Services,ICICIBANK
24,ITC Ltd.,Fast Moving Consumer Goods,ITC
25,IndusInd Bank Ltd.,Financial Services,INDUSINDBK
26,Infosys Ltd.,Information Technology,INFY
27,JSW Steel Ltd.,Metals & Mining,JSWSTEEL
28,Kotak Mahindra Bank Ltd.,Financial Services,KOTAKBANK
29,LTIMindtree Ltd.,Information Technology,LTIM
30,Larsen & Toubro Ltd.,Construction,LT
31,Mahindra & Mahindra Ltd.,Automobile and Auto Components,M&M
32,Maruti Suzuki India Ltd.,Automobile and Auto Components,MARUTI
33,NTPC Ltd.,Power,NTPC
34,Nestle India Ltd.,Fast Moving Consumer Goods,NESTLEIND
35,Oil & Natural Gas Corporation Ltd.,Oil Gas & Consumable Fuels,ONGC
36,Power Grid Corporation of India Ltd.,Power,POWERGRID
37,Reliance Industries Ltd.,Oil Gas & Consumable Fuels,RELIANCE
38,SBI Life Insurance Company Ltd.,Financial Services,SBILIFE
39,Shriram Finance Ltd.,Financial Services,SHRIRAMFIN
40,State Bank of India,Financial Services,SBIN
41,Sun Pharmaceutical Industries Ltd.,Healthcare,SUNPHARMA
42,Tata Consultancy Services Ltd.,Information Technology,TCS
43,Tata Consumer Products Ltd.,Fast Moving Consumer Goods,TATACONSUM
44,Tata Motors Ltd.,Automobile and Auto Components,TATAMOTORS
45,Tata Steel Ltd.,Metals & Mining,TATASTEEL
46,Tech Mahindra Ltd.,Information Technology,TECHM
47,Titan Company Ltd.,Consumer Durables,TITAN
48,UltraTech Cement Ltd.,Construction Materials,ULTRACEMCO
49,Wipro Ltd.,Information Technology,WIPRO

In [40]:
data

,SYMBOL,SERIES,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES
0,1018GS2026,GS,112.00,112.00,112.00,112.00,112.00,112.00,4000,4.480000e+05,10-APR-2024,10
1,182D010824,TB,97.44,97.45,97.44,97.45,97.45,98.00,400,3.897800e+04,10-APR-2024,3
2,182D040724,TB,98.07,98.07,98.06,98.06,98.06,97.95,200,1.961300e+04,10-APR-2024,2
3,182D050924,TB,96.80,97.10,96.80,97.10,97.10,96.75,300,2.910000e+04,10-APR-2024,2
4,182D060624,TB,98.71,98.72,98.71,98.72,98.72,98.25,300,2.961500e+04,10-APR-2024,2
...,...,...,...,...,...,...,...,...,...,...,...,...
2704,ZOTA,EQ,499.00,511.15,495.95,502.25,500.00,497.95,27716,1.399223e+07,10-APR-2024,2066
2705,ZUARI,EQ,197.00,199.40,194.15,197.45,197.00,196.40,139768,2.756992e+07,10-APR-2024,7229
2706,ZUARIIND,EQ,335.25,344.05,329.20,340.90,342.20,335.25,129085,4.341046e+07,10-APR-2024,8667
2707,ZYDUSLIFE,EQ,994.70,999.40,984.65,994.20,992.05,989.15,594164,5.900131e+08,10-APR-2024,36494
2708,ZYDUSWELL,EQ,1564.35,1599.00,1552.10,1593.75,1597.35,1559.65,33798,5.340361e+07,10-APR-2024,4958