In [1]:
import pandas as pd

In [2]:
cmpany_name=pd.read_csv("D:\Pyn\online learning\INURAN_DATA\FSDS_September\TEST_WORK\STOCKS\DATA ANALYSIS\Payment1.csv")

In [5]:
cmpany_name.head()

,type_of_company,company_name,company_link
0,Alcoholic Beverages companies,United Spirits,https://www.screener.in/company/MCDOWELL-N/con...
1,Alcoholic Beverages companies,United Breweries,https://www.screener.in/company/UBL/consolidated/
2,Alcoholic Beverages companies,Radico Khaitan,https://www.screener.in/company/RADICO/
3,Alcoholic Beverages companies,Tilaknagar Inds.,https://www.screener.in/company/TI/consolidated/
4,Alcoholic Beverages companies,Sula Vineyards,https://www.screener.in/company/SULA/

In [26]:
cmpany_name1=pd.read_csv("D:\Pyn\online learning\INURAN_DATA\FSDS_September\TEST_WORK\STOCKS\FINAL_DATA\SCRNER_DATA\download_data\companydata.csv")

In [27]:
cmpany_name["company_link"]=cmpany_name["company_link"].str.split("/").str[:5].str.join("/")

KeyError: 'company_link'

In [28]:
cmpany_name.shape

(3592, 3)

In [29]:
cmpany_name1.shape

(3758, 3)

In [30]:
cmpany_name1["company_link"]=cmpany_name1["company_link"].str.split("/").str[:5].str.join("/")

In [34]:
cmpany_name1.to_csv("D:\Pyn\online learning\INURAN_DATA\FSDS_September\TEST_WORK\STOCKS\FINAL_DATA\SCRNER_DATA\download_data\Allcompanyname1.csv",index=False)

In [31]:
cmpany_name1

,type_of_company,company_name,company_link
0,Alcoholic Beverages companies,United Spirits,https://www.screener.in/company/UNITDSPR
1,Alcoholic Beverages companies,United Breweries,https://www.screener.in/company/UBL
2,Alcoholic Beverages companies,Radico Khaitan,https://www.screener.in/company/RADICO
3,Alcoholic Beverages companies,Piccadily Agro,https://www.screener.in/company/530305
4,Alcoholic Beverages companies,Tilaknagar Inds.,https://www.screener.in/company/TI
...,...,...,...
3753,Tyres companies,Goodyear India,https://www.screener.in/company/500168
3754,Tyres companies,Dolfin Rubbers,https://www.screener.in/company/542013
3755,Tyres companies,Viaz Tyres,https://www.screener.in/company/VIAZ
3756,Tyres companies,Krypton Industri,https://www.screener.in/company/523550
3757,Tyres companies,Innovative Tyres,https://www.screener.in/company/INNOVATIVE

In [33]:
cmpany_name1.rename(columns={"company_link": "company_url"}, inplace=True)

In [25]:
cmpany_name["type_of_company"].value_counts()

type_of_company                                 company_name      company_url
Packaging companies                             Anuroop Packagin  https://www.screener.in/company/542865        2
Entertainment companies                         Creative Eye      https://www.screener.in/company/CREATIVEYE    2
Capital Goods - Electrical Equipment companies  Cospower Engine.  https://www.screener.in/company/543172        2
                                                Dhanashree Elect  https://www.screener.in/company/542679        2
                                                Epic Energy       https://www.screener.in/company/530407        2
                                                                                                               ..
FMCG companies                                  Dangee Dums       https://www.screener.in/company/DANGEE        1
                                                Dodla Dairy       https://www.screener.in/company/DODLA         1
                                                Eco Friendly      https://www.screener.in/company/534839        1
                                                Emami             https://www.screener.in/company/EMAMILTD      1
Tyres companies                                 TVS Srichakra     https://www.screener.in/company/TVSSRICHAK    1
Name: count, Length: 3430, dtype: int64

In [1]:
print("Avijit")

Avijit

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("D:\Pyn\online learning\INURAN_DATA\FSDS_September\TEST_WORK\STOCKS\FINAL_DATA\SCRNER_DATA\download_data\comalltest20240617.csv")

In [4]:
df

,company_url,Market_cap,Current_Price,High,Low,P_E,Book_Value,Dividend_Yield,ROCE,ROE,...,Up_from_52w_low,Industry_PE,No_Eq_Shares,Sales_growth_3Years,Down_from_52w_high,RSI,EPS_latest_quarter,From_52w_high,Debt_to_equity,Intrinsic_Value
0,https://www.screener.in/company/UNITDSPR,"92,301","1,269","1,335",878,69.7,95.7,0.71,26.7,20.5,...,44.4,32.3,72.7,10.7,4.93,58.8,5.28,0.95,0.03,193
1,https://www.screener.in/company/UBL,"55,765","2,109","2,182","1,470",136,158,0.47,13.5,10.1,...,43.5,32.3,26.4,24.2,3.36,68.9,3.06,0.97,0.02,214
2,https://www.screener.in/company/RADICO,"23,032","1,722","1,885","1,141",90.0,178,0.17,13.2,11.3,...,51.0,32.3,13.4,20.2,8.63,56.3,4.25,0.91,0.34,401
3,https://www.screener.in/company/530305,"7,314",775,903,63.6,81.4,36.1,0.03,30.0,31.4,...,"1,118",32.3,9.43,16.9,14.20,55.3,4.61,0.86,0.50,152
4,https://www.screener.in/company/TI,"5,181",269,291,140,35.5,34.5,0.09,22.8,25.6,...,91.9,32.3,19.3,36.4,7.79,62.4,2.01,0.92,0.18,131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3093,https://www.screener.in/company/MANYAVAR,"27,874","1,148","1,488",886,67.2,65.8,0.78,31.8,27.7,...,29.5,58.1,24.3,36.0,22.90,72.7,4.76,0.77,0.28,308
3094,https://www.screener.in/company/REDTAPE,"10,284",744,806,411,60.6,45.7,0.00,28.3,30.9,...,81.2,58.1,13.8,NaN,7.68,51.1,2.79,0.92,0.76,285
3095,https://www.screener.in/company/EMIL,"9,241",240,250,78.0,50.2,35.6,0.00,12.7,14.4,...,208,58.1,38.5,25.2,3.92,65.6,1.05,0.96,1.15,104
3096,https://www.screener.in/company/MEDPLUS,"8,335",697,978,598,870,98.1,0.00,1.24,0.83,...,16.6,58.1,12.0,89.8,28.70,48.3,0.83,0.71,0.08,88.7
3097,https://www.screener.in/company/SHOPERSTOP,"8,140",740,890,616,104,29.5,0.00,11.7,28.3,...,20.2,88.5,11.0,34.7,16.80,50.4,1.96,0.83,8.43,39.9

In [6]:
df1=pd.read_csv("D:\Pyn\online learning\INURAN_DATA\FSDS_September\TEST_WORK\STOCKS\FINAL_DATA\SCRNER_DATA\download_data\Allcompanyname1.csv")

In [7]:
df1

,type_of_company,company_name,company_url
0,Alcoholic Beverages companies,United Spirits,https://www.screener.in/company/UNITDSPR
1,Alcoholic Beverages companies,United Breweries,https://www.screener.in/company/UBL
2,Alcoholic Beverages companies,Radico Khaitan,https://www.screener.in/company/RADICO
3,Alcoholic Beverages companies,Piccadily Agro,https://www.screener.in/company/530305
4,Alcoholic Beverages companies,Tilaknagar Inds.,https://www.screener.in/company/TI
...,...,...,...
3753,Tyres companies,Goodyear India,https://www.screener.in/company/500168
3754,Tyres companies,Dolfin Rubbers,https://www.screener.in/company/542013
3755,Tyres companies,Viaz Tyres,https://www.screener.in/company/VIAZ
3756,Tyres companies,Krypton Industri,https://www.screener.in/company/523550
3757,Tyres companies,Innovative Tyres,https://www.screener.in/company/INNOVATIVE

In [8]:
result = pd.concat([df1, df], axis=1)

In [9]:
result

,type_of_company,company_name,company_url,company_url,Market_cap,Current_Price,High,Low,P_E,Book_Value,...,Up_from_52w_low,Industry_PE,No_Eq_Shares,Sales_growth_3Years,Down_from_52w_high,RSI,EPS_latest_quarter,From_52w_high,Debt_to_equity,Intrinsic_Value
0,Alcoholic Beverages companies,United Spirits,https://www.screener.in/company/UNITDSPR,https://www.screener.in/company/UNITDSPR,"92,301","1,269","1,335",878,69.7,95.7,...,44.4,32.3,72.7,10.7,4.93,58.8,5.28,0.95,0.03,193
1,Alcoholic Beverages companies,United Breweries,https://www.screener.in/company/UBL,https://www.screener.in/company/UBL,"55,765","2,109","2,182","1,470",136,158,...,43.5,32.3,26.4,24.2,3.36,68.9,3.06,0.97,0.02,214
2,Alcoholic Beverages companies,Radico Khaitan,https://www.screener.in/company/RADICO,https://www.screener.in/company/RADICO,"23,032","1,722","1,885","1,141",90.0,178,...,51.0,32.3,13.4,20.2,8.63,56.3,4.25,0.91,0.34,401
3,Alcoholic Beverages companies,Piccadily Agro,https://www.screener.in/company/530305,https://www.screener.in/company/530305,"7,314",775,903,63.6,81.4,36.1,...,"1,118",32.3,9.43,16.9,14.20,55.3,4.61,0.86,0.50,152
4,Alcoholic Beverages companies,Tilaknagar Inds.,https://www.screener.in/company/TI,https://www.screener.in/company/TI,"5,181",269,291,140,35.5,34.5,...,91.9,32.3,19.3,36.4,7.79,62.4,2.01,0.92,0.18,131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3753,Tyres companies,Goodyear India,https://www.screener.in/company/500168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3754,Tyres companies,Dolfin Rubbers,https://www.screener.in/company/542013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3755,Tyres companies,Viaz Tyres,https://www.screener.in/company/VIAZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3756,Tyres companies,Krypton Industri,https://www.screener.in/company/523550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3757,Tyres companies,Innovative Tyres,https://www.screener.in/company/INNOVATIVE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
result.to_csv("D:\Pyn\online learning\INURAN_DATA\FSDS_September\TEST_WORK\STOCKS\FINAL_DATA\SCRNER_DATA\download_data\concat20240617.csv")

In [11]:
result1 = pd.concat([df1, df], axis=1, join="inner")

In [12]:
result1

,type_of_company,company_name,company_url,company_url,Market_cap,Current_Price,High,Low,P_E,Book_Value,...,Up_from_52w_low,Industry_PE,No_Eq_Shares,Sales_growth_3Years,Down_from_52w_high,RSI,EPS_latest_quarter,From_52w_high,Debt_to_equity,Intrinsic_Value
0,Alcoholic Beverages companies,United Spirits,https://www.screener.in/company/UNITDSPR,https://www.screener.in/company/UNITDSPR,"92,301","1,269","1,335",878,69.7,95.7,...,44.4,32.3,72.7,10.7,4.93,58.8,5.28,0.95,0.03,193
1,Alcoholic Beverages companies,United Breweries,https://www.screener.in/company/UBL,https://www.screener.in/company/UBL,"55,765","2,109","2,182","1,470",136,158,...,43.5,32.3,26.4,24.2,3.36,68.9,3.06,0.97,0.02,214
2,Alcoholic Beverages companies,Radico Khaitan,https://www.screener.in/company/RADICO,https://www.screener.in/company/RADICO,"23,032","1,722","1,885","1,141",90.0,178,...,51.0,32.3,13.4,20.2,8.63,56.3,4.25,0.91,0.34,401
3,Alcoholic Beverages companies,Piccadily Agro,https://www.screener.in/company/530305,https://www.screener.in/company/530305,"7,314",775,903,63.6,81.4,36.1,...,"1,118",32.3,9.43,16.9,14.20,55.3,4.61,0.86,0.50,152
4,Alcoholic Beverages companies,Tilaknagar Inds.,https://www.screener.in/company/TI,https://www.screener.in/company/TI,"5,181",269,291,140,35.5,34.5,...,91.9,32.3,19.3,36.4,7.79,62.4,2.01,0.92,0.18,131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3093,Retail companies,Vedant Fashions,https://www.screener.in/company/MANYAVAR,https://www.screener.in/company/MANYAVAR,"27,874","1,148","1,488",886,67.2,65.8,...,29.5,58.1,24.3,36.0,22.90,72.7,4.76,0.77,0.28,308
3094,Retail companies,Redtape,https://www.screener.in/company/REDTAPE,https://www.screener.in/company/REDTAPE,"10,284",744,806,411,60.6,45.7,...,81.2,58.1,13.8,NaN,7.68,51.1,2.79,0.92,0.76,285
3095,Retail companies,Electronics Mart,https://www.screener.in/company/EMIL,https://www.screener.in/company/EMIL,"9,241",240,250,78.0,50.2,35.6,...,208,58.1,38.5,25.2,3.92,65.6,1.05,0.96,1.15,104
3096,Retail companies,Medplus Health,https://www.screener.in/company/MEDPLUS,https://www.screener.in/company/MEDPLUS,"8,335",697,978,598,870,98.1,...,16.6,58.1,12.0,89.8,28.70,48.3,0.83,0.71,0.08,88.7
3097,Retail companies,Shoppers Stop,https://www.screener.in/company/SHOPERSTOP,https://www.screener.in/company/SHOPERSTOP,"8,140",740,890,616,104,29.5,...,20.2,88.5,11.0,34.7,16.80,50.4,1.96,0.83,8.43,39.9

In [13]:
result1.to_csv("D:\Pyn\online learning\INURAN_DATA\FSDS_September\TEST_WORK\STOCKS\FINAL_DATA\SCRNER_DATA\download_data\concatinner20240617.csv")

In [14]:
result1

,type_of_company,company_name,company_url,company_url,Market_cap,Current_Price,High,Low,P_E,Book_Value,...,Up_from_52w_low,Industry_PE,No_Eq_Shares,Sales_growth_3Years,Down_from_52w_high,RSI,EPS_latest_quarter,From_52w_high,Debt_to_equity,Intrinsic_Value
0,Alcoholic Beverages companies,United Spirits,https://www.screener.in/company/UNITDSPR,https://www.screener.in/company/UNITDSPR,"92,301","1,269","1,335",878,69.7,95.7,...,44.4,32.3,72.7,10.7,4.93,58.8,5.28,0.95,0.03,193
1,Alcoholic Beverages companies,United Breweries,https://www.screener.in/company/UBL,https://www.screener.in/company/UBL,"55,765","2,109","2,182","1,470",136,158,...,43.5,32.3,26.4,24.2,3.36,68.9,3.06,0.97,0.02,214
2,Alcoholic Beverages companies,Radico Khaitan,https://www.screener.in/company/RADICO,https://www.screener.in/company/RADICO,"23,032","1,722","1,885","1,141",90.0,178,...,51.0,32.3,13.4,20.2,8.63,56.3,4.25,0.91,0.34,401
3,Alcoholic Beverages companies,Piccadily Agro,https://www.screener.in/company/530305,https://www.screener.in/company/530305,"7,314",775,903,63.6,81.4,36.1,...,"1,118",32.3,9.43,16.9,14.20,55.3,4.61,0.86,0.50,152
4,Alcoholic Beverages companies,Tilaknagar Inds.,https://www.screener.in/company/TI,https://www.screener.in/company/TI,"5,181",269,291,140,35.5,34.5,...,91.9,32.3,19.3,36.4,7.79,62.4,2.01,0.92,0.18,131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3093,Retail companies,Vedant Fashions,https://www.screener.in/company/MANYAVAR,https://www.screener.in/company/MANYAVAR,"27,874","1,148","1,488",886,67.2,65.8,...,29.5,58.1,24.3,36.0,22.90,72.7,4.76,0.77,0.28,308
3094,Retail companies,Redtape,https://www.screener.in/company/REDTAPE,https://www.screener.in/company/REDTAPE,"10,284",744,806,411,60.6,45.7,...,81.2,58.1,13.8,NaN,7.68,51.1,2.79,0.92,0.76,285
3095,Retail companies,Electronics Mart,https://www.screener.in/company/EMIL,https://www.screener.in/company/EMIL,"9,241",240,250,78.0,50.2,35.6,...,208,58.1,38.5,25.2,3.92,65.6,1.05,0.96,1.15,104
3096,Retail companies,Medplus Health,https://www.screener.in/company/MEDPLUS,https://www.screener.in/company/MEDPLUS,"8,335",697,978,598,870,98.1,...,16.6,58.1,12.0,89.8,28.70,48.3,0.83,0.71,0.08,88.7
3097,Retail companies,Shoppers Stop,https://www.screener.in/company/SHOPERSTOP,https://www.screener.in/company/SHOPERSTOP,"8,140",740,890,616,104,29.5,...,20.2,88.5,11.0,34.7,16.80,50.4,1.96,0.83,8.43,39.9

In [2]:
print("Avijit")

Avijit

In [3]:
d={"col1":[1,2],"col2":[3,4]}

In [4]:
d

{'col1': [1, 2], 'col2': [3, 4]}

In [6]:
import pandas as pd
df=pd.DataFrame(data=d)

In [7]:
df

   col1  col2
0     1     3
1     2     4

In [8]:
df.dtypes

col1    int64
col2    int64
dtype: object

In [9]:
import numpy as np

In [10]:
df=pd.DataFrame(data=d)

In [11]:
df

   col1  col2
0     1     3
1     2     4

In [12]:
d={"col1":[0,1,2,3],"clo2":pd.Series([2,3],index=[2,3])}

In [13]:
d

{'col1': [0, 1, 2, 3],
 'clo2': 2    2
 3    3
 dtype: int64}

In [14]:
pd.DataFrame(data=d,index=[0,1,2,3])

   col1  clo2
0     0   NaN
1     1   NaN
2     2   2.0
3     3   3.0

In [15]:
d

{'col1': [0, 1, 2, 3],
 'clo2': 2    2
 3    3
 dtype: int64}

In [17]:
pd.DataFrame(d)

ValueError: array length 4 does not match index length 2

In [18]:
import numpy as np

In [21]:
d1=np.array(range(10))
print(d1)

[0 1 2 3 4 5 6 7 8 9]

In [29]:
d2=np.array([range(20,30),range(35,45)],dtype=float)

In [30]:
d2

array([[20., 21., 22., 23., 24., 25., 26., 27., 28., 29.],
       [35., 36., 37., 38., 39., 40., 41., 42., 43., 44.]])

In [31]:
d2.dtype

dtype('float64')

In [33]:
a=["a","b","c","d"]
for i in a:
    print(i)
[i for i in a]

a
b
c
d

['a', 'b', 'c', 'd']

In [36]:
df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
                   columns=['a', 'b', 'c'],index=["m","n","p"])

In [37]:
df2

   a  b  c
m  1  2  3
n  4  5  6
p  7  8  9

In [42]:
data=[[i for i in range(10)] for j in range(5)]

In [43]:
pd.DataFrame(data)

   0  1  2  3  4  5  6  7  8  9
0  0  1  2  3  4  5  6  7  8  9
1  0  1  2  3  4  5  6  7  8  9
2  0  1  2  3  4  5  6  7  8  9
3  0  1  2  3  4  5  6  7  8  9
4  0  1  2  3  4  5  6  7  8  9

In [45]:
da=pd.read_json(r"D:\Pyn\online learning\INURAN_DATA\FSDS_September\TEST_WORK\STOCKS\scrapy_stokes\scrapdata\scrnerdata\data12.json")

ValueError: Trailing data

In [46]:
import pandas as pd

file_path = r"D:\Pyn\online learning\INURAN_DATA\FSDS_September\TEST_WORK\STOCKS\scrapy_stokes\scrapdata\scrnerdata\data12.json"

try:
    da = pd.read_json(file_path)
    print(da.head())  # To check if the data is loaded correctly
except ValueError as e:
    print(f"ValueError: {e}")  # For JSON format errors
except FileNotFoundError as e:
    print(f"FileNotFoundError: {e}")  # If the file is not found
except Exception as e:
    print(f"An error occurred: {e}")  # For any other errors

ValueError: Trailing data

In [1]:
a=['Mar 2021', 'Jun 2021', 'Sep 2021', 'Dec 2021', 'Mar 2022', 'Jun 2022', 'Sep 2022', 'Dec 2022', 'Mar 2023', 'Jun 2023', 'Sep 2023', 'Dec 2023', 'Mar 2024']

In [2]:
print(a)

['Mar 2021', 'Jun 2021', 'Sep 2021', 'Dec 2021', 'Mar 2022', 'Jun 2022', 'Sep 2022', 'Dec 2022', 'Mar 2023', 'Jun 2023', 'Sep 2023', 'Dec 2023', 'Mar 2024']

In [3]:
import numpy as np

In [4]:
np.array(a)

array(['Mar 2021', 'Jun 2021', 'Sep 2021', 'Dec 2021', 'Mar 2022',
       'Jun 2022', 'Sep 2022', 'Dec 2022', 'Mar 2023', 'Jun 2023',
       'Sep 2023', 'Dec 2023', 'Mar 2024'], dtype='<U8')

In [9]:
data=np.array([range(13),range(13)])

In [10]:
import pandas as pd

In [11]:
pd.DataFrame(data,columns=np.array(a))

,Mar 2021,Jun 2021,Sep 2021,Dec 2021,Mar 2022,Jun 2022,Sep 2022,Dec 2022,Mar 2023,Jun 2023,Sep 2023,Dec 2023,Mar 2024
0,0,1,2,3,4,5,6,7,8,9,10,11,12
1,0,1,2,3,4,5,6,7,8,9,10,11,12

In [5]:
len(a)

13

In [5]:
cmpany_name=cmpany_name.T

In [9]:
cmpany_name=cmpany_name.reset_index().T

In [18]:
cmpany_name[cmpany_name[6].isna().sum()][:]

index    237915
0        254821
1        234919
2        240614
3        243160
          ...
3990     257595
3991     241814
3992     253598
3993     249158
3994     257595
Name: 1, Length: 3996, dtype: object

In [16]:
cmpany_name[6]

index    02/28/2004
0        01-08-2004
1        02-08-2004
2        01/26/2004
3        03/25/2004
            ...
3990     01/18/2005
3991     03/26/2005
3992     02-09-2005
3993     03-04-2005
3994     01/18/2005
Name: 6, Length: 3996, dtype: object

In [19]:
cmpany_name

,0,1,2,3,4,5,6,7,8,9,10,11
index,P-00001,237915,173640036807,01-02-2004,25448.38,Paid,02/28/2004,25448.38.1,Jack,01-02-2004.1,James,01-05-2004
0,P-00002,254821,173640036810,01-01-2004,0.0,Paid,01-08-2004,6811.11,Michael,01-01-2004,James,01-02-2004
1,P-00003,234919,173640036812,01-01-2004,7092.45,Paid,02-08-2004,7092.45,Mr. Jack,01-01-2004,Joshua,01-05-2004
2,P-00004,240614,173640036816,01-09-2004,2429.97,Paid,01/26/2004,2429.97,Mr. Joshua,01-09-2004,Joshua,01/13/2004
3,P-00005,243160,173640036818,01-06-2004,4586.11,Paid,03/25/2004,4586.11,Jack,01-06-2004,Joshua,01-09-2004
...,...,...,...,...,...,...,...,...,...,...,...,...
3990,P-03994,257595,173640040928,12/30/2004,14318.6,Paid,01/18/2005,14318.6,Jackson,12/30/2004,Joshua,12/31/2004
3991,P-03995,241814,173640040921,12/28/2004,12438.1,Paid,03/26/2005,12438.1,Aiden,12/28/2004,James,12/31/2004
3992,P-03996,253598,173640040923,12/28/2004,12793.02,Paid,02-09-2005,12793.02,Aiden,12/28/2004,Joshua,12/31/2004
3993,P-03997,249158,173640040925,12/30/2004,27497.78,Paid,03-04-2005,27497.78,Jackson,12/30/2004,James,01-04-2005
3994,P-03998,257595,173640040928,12/30/2004,14318.6,Paid,01/18/2005,14318.6,Jackson,12/30/2004,Joshua,12/31/2004

In [21]:
cmpany_name[4].sum()

TypeError: can only concatenate str (not "float") to str

In [28]:
list(cmpany_name[cmpany_name[2].duplicated()==True][2])

[173640040921, 173640040923, 173640040925, 173640040928]

In [30]:
cmpany_name.isna().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     1
7     0
8     0
9     0
10    1
11    1
dtype: int64

In [36]:
for i in cmpany_name[8]:
    if if i == "Mr." or i == "Ms." or i == "Dr." or i == "Miss" or i == "Sir":
        print(i)

SyntaxError: invalid syntax (1657340342.py, line 2)

In [40]:
for i in cmpany_name[8]:
    if i in "Mr." :
        print(i)
       # or i == "Ms." or i == "Dr." or i == "Miss" or i == "Sir"

In [42]:
def omit_personal_titles(name):
    # List of personal name titles to be omitted
    titles = ["Mr.", "Ms.", "Dr.", "Miss", "Sir"]

    # Split the name into words
    words = name.split()

    # Filter out words that are not personal name titles
    filtered_words = [word for word in words if word not in titles]

    # Join the filtered words back into a single string
    cleaned_name = ' '.join(filtered_words)

    return cleaned_name

# Example usage
__init__=="__main__":
for created_by in cmpany_name[8]:
    cleaned_name = omit_personal_titles(created_by)
print(cleaned_name)

Jackson

In [43]:
def omit_personal_titles(name):
    # List of personal name titles to be omitted
    titles = ["Mr.", "Ms.", "Dr.", "Miss", "Sir"]

    # Split the name into words
    words = name.split()

    # Filter out words that are not personal name titles
    filtered_words = [word for word in words if word not in titles]

    # Join the filtered words back into a single string
    cleaned_name = ' '.join(filtered_words)

    return cleaned_name

# Example usage
if __name__ == "__main__":
    for created_by in cmpany_name[8]:
        cleaned_name = omit_personal_titles(created_by)
        print(cleaned_name)

Jack
Michael
Jack
Joshua
Jack
Jackson
Lucas
Owen
Caden
Jackson
Michael
Jackson
Jack
Aiden
Aiden
Noah
Jack
Owen
Jackson
Jack
Liam
Aiden
Caden
Noah
Caden
Owen
Lucas
Lucas
Liam
Aiden
Caden
Owen
Noah
Jack
Jackson
Jackson
Lucas
Owen
Caden
Michael
Owen
Mason
Jackson
Jackson
Aiden
Jackson
Mason
Liam
Caden
Owen
Caden
Logan
Jack
Mason
Logan
Logan
Liam
Noah
Owen
Lucas
Aiden
Lucas
Noah
Jack
Lucas
Owen
Aiden
Lucas
Owen
Logan
Mason
NOHA
Michael
Owen
Noah
Liam
Jackson
Michael
Liam
Jack
Noah
Lucas
Noah
Lucas
Michael
Jackson
Logan
Noah
Michael
Noah
Jack
Aiden
Liam
Michael
Noah
Jackson
Owen
Aiden
Michael
Noah
Jack
Lucas
Logan
Aiden
Mason
Owen
Jack
Owen
Mason
Michael
Michael
Jack
Lucas
Noah
Caden
Mason
Liam
Lucas
Caden
Lucas
Logan
Owen
Lucas
Michael
Caden
Aiden
Liam
Aiden
Mason
Owen
Logan
Owen
Mason
Michael
Jackson
Logan
Noah
Michael
Lucas
Noah
Jackson
Lucas
Caden
Logan
Caden
Aiden
Michael
Jackson
Noah
Noah
Owen
Aiden
Jackson
Lucas
Michael
Jackson
Caden
Noah
Michael
Jackson
Jackson
Michael
Caden
Noah
Noah
Caden
Noah
Owen
Liam
Caden
Liam
Noah
Jayden
Lucas
Noah
Logan
Liam
Noah
Liam
Mason
Logan
Logan
Lucas
Michael
Jackson
Liam
Jackson
Mason
Aiden
Noah
Logan
Michael
Owen
Michael
Mason
Liam
Caden
Aiden
Caden
Liam
Jackson
Mason
Jackson
Noah
Owen
Noah
Owen
Lucas
Mason
Michael
Noah
Caden
Noah
Liam
Michael
Jackson
Jack
Noah
Jayden
Owen
Lucas
Mason
Owen
Jack
Jackson
Jack
Michael
Liam
Aiden
Caden
Jack
Jackson
Noah
Logan
Jack
Michael
Noah
Caden
Aiden
Noah
Caden
Caden
Michael
Noah
Logan
Mason
Aiden
Liam
Owen
Caden
Jackson
Mason
Logan
Michael
Jack
Caden
Michael
Michael
Owen
Caden
Jackson
Noah
Mason
Owen
Lucas
Aiden
Logan
Noah
Liam
Jackson
Lucas
Lucas
Jackson
Michael
Noah
Mason
Logan
Noah
Jack
Logan
Michael
Michael
Michael
Liam
Noah
Logan
Mason
Michael
Logan
Mason
Mason
Caden
Aiden
Noah
Jack
Caden
Mason
Jackson
Logan
Michael
Lucas
Lucas
Jackson
Mason
Mason
Lucas
Owen
Liam
Caden
Mason
Owen
Logan
Jackson
Logan
Michael
Jack
Logan
Jack
Jackson
Liam
Lucas
Jack
Jackson
Jack
Owen
Noah
Liam
Logan
Michael
Caden
Owen
Noah
Caden
Logan
Owen
Jack
Caden
Aiden
Lucas
Owen
Caden
Mason
Liam
Logan
Jack
Jack
Jack
Michael
Owen
Caden
Jack
Liam
Noah
Lucas
Jack
Lucas
Liam
Lucas
Jack
Owen
Caden
Aiden
Aiden
Caden
Michael
Michael
Liam
Michael
Mason
Caden
Michael
Jackson
Mason
Lucas
Michael
Owen
Michael
Lucas
Michael
Owen
Owen
Michael
Michael
Michael
Lucas
Noah
Jackson
Logan
Michael
Jackson
Owen
Mason
Jackson
Lucas
Michael
Mason
Logan
Noah
Noah
Michael
Caden
Liam
Jack
Noah
Liam
Mason
Liam
Noah
Noah
Aiden
Jack
Noah
Mason
Caden
Jackson
Owen
Michael
Liam
Michael
Logan
Jackson
Michael
Jacob
Aiden
Caden
Owen
Jacob
Owen
Logan
Caden
Noah
Liam
Jackson
Jackson
Jack
Mason
Michael
Logan
Michael
Jackson
Aiden
Owen
Jayden
Logan
Aiden
Liam
Jacob
Michael
Liam
Logan
Jackson
Noah
Owen
Mason
Aiden
Lucas
Lucas
Jacob
Liam
Jackson
Jackson
Jack
Lucas
Owen
Liam
Jack
Michael
Mason
Logan
Jayden
Owen
Aiden
Ethan
Jackson
Jack
Michael
Ethan
Michael
Owen
Jayden
Michael
Noah
Caden
Owen
Lucas
Owen
Jacob
Logan
Michael
Liam
Noah
Michael
Aiden
Liam
Jacob
Jacob
Jack
Lucas
Michael
Jacob
Liam
Mason
Lucas
Michael
Jack
Jayden
Jackson
Aiden
JACK
JACK
Mason
Michael
Jacob
Jackson
Liam
Aiden
Ethan
Lucas
Mason
Michael
Owen
Jack
JACK
Logan
Jayden
Mason
Jayden
Aiden
Lucas
Aiden
Michael
Owen
Mason
Jacob
Michael
Liam
Jackson
Aiden
Michael
Jack
Jack
Jackson
Noah
Michael
Owen
Michael
Jack
Mason
Logan
Liam
Michael
Michael
Liam
Jacob
Ethan
Lucas
Mason
Michael
Aiden
Michael
Jack
Ethan
Mason
Lucas
Aiden
Logan
Mason
Owen
Owen
Owen
Mason
Michael
Michael
Michael
Jayden
Lucas
Logan
Jack
Owen
Michael
Caden
Ethan
Michael
Jackson
JACK
Owen
Mason
Liam
Owen
Jayden
Caden
Lucas
Noah
Jackson
Caden
Logan
Jack
Noah
Aiden
Logan
Ethan
Jacob
JACK
Mason
Caden
Noah
Michael
Jackson
Jackson
Noah
Liam
Ethan
Michael
Aiden
Ethan
Liam
Caden
Jacob
Caden
Jackson
Lucas
Logan
Logan
Liam
Michael
Michael
Logan
Owen
Michael
Lucas
Owen
Jayden
Owen
Jack
Lucas
Michael
Michael
Caden
Michael
Jacob
Michael
Owen
Michael
Lucas
Caden
Jack
Mason
Liam
Noah
Michael
Jack
Aiden
Lucas
Caden
Michael
Lucas
Jacob
Caden
Michael
Jack
Jackson
Caden
Jackson
Logan
Mason
Liam
Michael
Michael
Aiden
Lucas
Jackson
Michael
Ethan
Jack
JACK
Logan
Liam
Liam
Liam
Michael
Owen
Jackson
Jackson
Owen
Noah
Ethan
Michael
Jayden
Aiden
Owen
Aiden
Liam
Mason
Liam
Aiden
Michael
Noah
Noah
Owen
Aiden
Mason
Mason
Owen
Michael
Jayden
Michael
Ethan
Michael
Liam
Jayden
Jacob
Caden
Lucas
Lucas
Michael
Noah
Jackson
Owen
Lucas
Logan
Jayden
Michael
Jack
Noah
Jackson
Noah
Lucas
Logan
Mason
Liam
Logan
Michael
Caden
Jack
Michael
Aiden
Noah
Michael
Jack
Michael
Owen
Noah
Logan
Logan
Logan
Owen
Michael
Mason
Aiden
Michael
Jack
Jack
Michael
Logan
Noah
JACK
Jacob
Jackson
Lucas
Jack
Noah
Michael
Liam
Michael
Jacob
Michael
Mason
Michael
Michael
Michael
Owen
Owen
Jackson
Michael
Mason
Logan
Jackson
Aiden
Jackson
Lucas
Caden
Michael
JACK
Michael
Aiden
Lucas
Jacob
Lucas
Michael
Jackson
Jacob
Jack
Liam
Logan
Jackson
Jacob
Lucas
Caden
Caden
Ethan
Michael
Michael
Caden
Caden
Logan
Owen
Caden
Jack
Lucas
Michael
Aiden
Mason
Owen
Mason
Noah
Michael
Jacob
Jack
Liam
Michael
Logan
Michael
JACK
Michael
Logan
Michael
Owen
Jack
Aiden
Mason
Michael
Michael
Liam
Jacob
Noah
Jackson
Caden
Logan
Aiden
Noah
Caden
Michael
Liam
Noah
JACK
Aiden
Michael
Jackson
Jacob
JACK
Mason
Logan
Jayden
Michael
Ethan
Jackson
Michael
Michael
Jackson
Lucas
Lucas
Michael
Jacob
Mason
Jack
Michael
Michael
Caden
Lucas
Michael
Michael
Michael
JACK
Liam
Jayden
Noah
Caden
Jack
Aiden
Jayden
Aiden
Logan
Jackson
Logan
Noah
Noah
Jack
Owen
Michael
Aiden
Jackson
Jackson
Jack
Lucas
Jack
Noah
Noah
Jacob
Jack
Jack
Mason
Jack
Michael
Jackson
Caden
Michael
Jackson
Jackson
Jack
Noah
Jayden
Aiden
Ethan
Noah
Aiden
Michael
Jack
Jacob
Ethan
Jack
Jackson
Caden
Mason
Mason
Owen
Michael
Ethan
Logan
Jack
JACK
Noah
Noah
Aiden
JACK
JACK
Jackson
Jayden
Jack
Liam
Ethan
Noah
Owen
Owen
Caden
Logan
Jackson
Noah
Mason
Michael
Ethan
Owen
Noah
Michael
Michael
Jackson
Jack
Logan
Michael
Owen
Logan
Michael
Ethan
Mason
Michael
Michael
Michael
Owen
Ethan
Lucas
Liam
Jacob
Michael
Logan
Jacob
Jack
Noah
Lucas
Jack
Owen
Lucas
Caden
Ethan
Mason
Jacob
Owen
Caden
Noah
Jacob
Mason
Michael
Aiden
Michael
Liam
Michael
Caden
Jackson
Liam
Caden
Logan
Michael
Noah
Noah
Noah
Aiden
Noah
Lucas
Ethan
Liam
Aiden
Ethan
Noah
Caden
JACK
Aiden
Jayden
Liam
JACK
JACK
Jackson
Owen
Ethan
JACK
Noah
Michael
Michael
Jacob
Lucas
Noah
Michael
Jacob
Lucas
Michael
Owen
Ethan
Ethan
Mason
Ethan
Caden
Michael
Jayden
Liam
Caden
Jacob
Ethan
Liam
Logan
Caden
Liam
Logan
Lucas
Noah
Jack
Logan
JACK
Ethan
Aiden
Ethan
Noah
Caden
Ethan
Owen
JACK
JACK
Jacob
Logan
Michael
Michael
Michael
Ethan
Ethan
Mason
Lucas
Ethan
Michael
JACK
Lucas
Jack
Owen
Logan
Mason
Logan
Michael
Noah
Lucas
Aiden
Liam
Jayden
Michael
Caden
Logan
Jayden
Caden
Mason
Jayden
Mason
Jacob
Logan
Owen
Ethan
Michael
JACK
Owen
Liam
Michael
Aiden
Michael
Aiden
Liam
Noah
Noah
Liam
Logan
Owen
Michael
Jackson
Caden
Ethan
Jacob
Jacob
Mason
Lucas
Michael
Caden
Owen
Jack
Jacob
Lucas
Aiden
JACK
Aiden
Jackson
Caden
Jack
Jack
Mason
Michael
Jacob
Owen
Jacob
Michael
Lucas
JACK
Logan
Lucas
Caden
Lucas
Mason
Liam
Liam
Ethan
JACK
Liam
Jacob
Noah
Caden
Jacob
Michael
Liam
Jackson
Caden
JACK
Noah
Jayden
Lucas
Logan
Owen
Michael
Michael
JACK
Aiden
Jacob
Jayden
Caden
Mason
Jackson
Aiden
Liam
JACK
Lucas
JACK
Michael
Caden
Logan
Michael
Caden
Liam
Mason
Jackson
Jackson
Jackson
Michael
Ethan
Jackson
Mason
Jack
JACK
Mason
Ethan
JACK
Noah
Liam
Jacob
Logan
Michael
Liam
Jackson
Jackson
Michael
Jackson
Caden
Logan
Jacob
Aiden
Jackson
Jacob
Caden
JACK
Caden
Jackson
Liam
Ethan
Jack
Ethan
Mason
Caden
Michael
Jayden
JACK
Aiden
Ethan
Mason
Jackson
Jack
Liam
Caden
Liam
Caden
Logan
Liam
Michael
JACK
Jackson
Caden
Lucas
Michael
Owen
JACK
Aiden
Ethan
Jacob
Logan
Owen
Caden
Noah
Owen
Jack
Jack
Noah
Noah
Aiden
JACK
Caden
Aiden
Aiden
Jackson
Jack
Noah
Owen
Owen
Jacob
Michael
Michael
Jack
Liam
Lucas
Jackson
Liam
Mason
Mason
Jayden
Aiden
Logan
Ethan
Michael
JACK
JACK
Lucas
Mason
Caden
Jackson
Jacob
Noah
Caden
Jackson
Noah
Aiden
Caden
Noah
Jack
Owen
Caden
Jackson
Mason
Mason
Aiden
Michael
Aiden
Michael
Logan
Michael
Michael
Noah
Ethan
Jacob
Owen
Jackson
Jack
JACK
Logan
Mason
Jackson
Ethan
Aiden
Mason
Jack
Michael
Mason
Jack
Logan
Jackson
Liam
Michael
Jacob
Logan
Logan
Mason
Lucas
Noah
JACK
Liam
Michael
Liam
Michael
Lucas
Caden
Logan
Lucas
Jack
Jayden
Owen
Ethan
Jacob
Owen
Liam
Jayden
Michael
Jacob
Michael
Caden
Noah
Michael
Jacob
JACK
Ethan
Michael
Michael
Aiden
Michael
Logan
JACK
Jackson
Aiden
Michael
Caden
Lucas
Jack
Aiden
Owen
Logan
Michael
Logan
Michael
Caden
Jacob
Mason
Liam
Michael
Aiden
Mason
Aiden
Michael
Ethan
Noah
Lucas
Michael
Aiden
Jayden
Owen
Liam
Ethan
Aiden
Aiden
Ethan
Michael
Mason
Michael
Noah
Caden
Owen
Ethan
Jayden
Jackson
Jayden
Jackson
Caden
Owen
Aiden
Jayden
Caden
Owen
Jayden
Jacob
Jackson
Michael
Aiden
Michael
Jack
Michael
Aiden
Aiden
Lucas
Michael
Mason
Jacob
JACK
Jacob
Logan
Ethan
Ethan
Owen
Logan
Michael
Jayden
Aiden
Owen
Caden
Liam
Jack
Lucas
Michael
Michael
Aiden
Jack
Liam
Logan
Logan
Michael
Jack
Michael
Liam
Aiden
Jacob
Mason
Logan
Lucas
Mason
Aiden
Logan
Michael
Jackson
Jackson
Jayden
Owen
Jayden
Liam
Michael
Jayden
JACK
JACK
Owen
Mason
Logan
Caden
Jayden
Michael
Lucas
Liam
Caden
Michael
Michael
Michael
Jackson
Caden
Jackson
Liam
Ethan
Aiden
Mason
Liam
Aiden
Michael
Mason
JACK
Jack
Ethan
Jacob
Caden
Lucas
Michael
Owen
Jack
Michael
Liam
Jack
Liam
Noah
Liam
Jayden
Jayden
Liam
Michael
Jacob
Noah
Liam
Noah
Mason
Logan
Logan
JACK
Ethan
Mason
Ethan
Mason
Owen
Logan
JACK
Caden
Logan
JACK
Jack
Logan
Jackson
JACK
Lucas
JACK
Owen
Lucas
Michael
Liam
Michael
Michael
Jacob
Caden
Michael
Jacob
Mason
Lucas
Mason
Michael
Mason
Michael
Jayden
Jack
Ethan
Aiden
Lucas
JACK
Jacob
Liam
Logan
JACK
Aiden
Jayden
Jayden
Michael
Mason
Michael
Michael
Caden
Caden
Jacob
Mason
Caden
Michael
Michael
Noah
Lucas
Caden
JACK
Jack
Lucas
Liam
JACK
Caden
Jack
Caden
Mason
Jacob
Ethan
Lucas
Aiden
Jayden
JACK
Michael
Logan
Jackson
Jacob
Liam
Jack
Jack
Jayden
Logan
Owen
Jacob
Jack
Aiden
JACK
Owen
Noah
Aiden
Noah
JACK
Michael
Logan
Michael
Mason
Aiden
Caden
Aiden
Mason
Logan
Mason
Michael
Ethan
Aiden
Mason
Lucas
Mason
JACK
Lucas
Aiden
Jayden
Lucas
Owen
Michael
Aiden
Ethan
Michael
Jacob
Logan
Lucas
Logan
Michael
Caden
Logan
JACK
Ethan
Caden
Michael
Michael
Lucas
Noah
Jackson
Jack
JACK
Mason
Jack
Mason
Jayden
Owen
Michael
Owen
Lucas
Ethan
JACK
Lucas
Lucas
Jacob
Logan
JACK
Owen
Logan
Caden
Michael
Mason
Mason
Ethan
Aiden
Noah
JACK
Caden
Lucas
Jayden
Jayden
Ethan
Lucas
Michael
Jayden
Jacob
Mason
Aiden
Aiden
Logan
Liam
Jacob
Ethan
Michael
Owen
Aiden
Michael
Michael
Caden
Logan
Jack
Logan
JACK
Jackson
Liam
Ethan
Mason
Ethan
Aiden
Lucas
Jacob
Caden
Michael
Aiden
Lucas
Owen
Jackson
Jayden
Caden
Logan
Caden
JACK
Caden
Ethan
Liam
Lucas
JACK
Owen
Caden
Lucas
Jayden
Lucas
Michael
Liam
JACK
Michael
Jack
Jacob
Jackson
Caden
Owen
Ethan
Mason
Michael
JACK
Michael
Logan
JACK
JACK
Aiden
JACK
Jack
Jayden
Jackson
Liam
Liam
Caden
Logan
Mason
Lucas
Jack
Jackson
Ethan
Owen
Jayden
Ethan
Jayden
Caden
Jayden
Jackson
Michael
Michael
Jack
Mason
Jack
Michael
Mason
Noah
Lucas
Jackson
Owen
Jayden
Mason
Liam
Michael
Jack
Lucas
Noah
Caden
Jayden
Michael
Logan
Michael
Michael
Ethan
Liam
Mason
Liam
Michael
Jayden
Caden
Aiden
Michael
Logan
Lucas
JACK
Michael
Michael
Mason
Mason
Caden
Liam
Michael
Liam
Michael
Jayden
Jackson
Michael
Caden
Aiden
Liam
Logan
Jack
Liam
Aiden
Noah
Logan
Aiden
Logan
Mason
Logan
Caden
Jackson
Ethan
Jack
Noah
Jacob
Michael
JACK
Aiden
Logan
Michael
Jack
Jackson
Jacob
Michael
Jackson
Noah
JACK
Jack
Lucas
Aiden
Michael
Jackson
Liam
Liam
Liam
Logan
Ethan
Noah
Lucas
Liam
Lucas
Caden
Jacob
Mason
Caden
Lucas
Owen
Noah
Jayden
Michael
Ethan
Lucas
Noah
Jackson
Jacob
Mason
Michael
Aiden
JACK
Michael
Jack
Noah
Michael
Michael
Mason
Jayden
Jacob
Logan
Aiden
Michael
Michael
Jacob
Caden
Jack
Michael
Caden
Owen
Jackson
JACK
Noah
Michael
Ethan
Logan
Michael
Jack
JACK
Michael
Jacob
Owen
Logan
Ethan
Lucas
Jack
Jayden
Caden
Ethan
Mason
Aiden
Owen
Liam
Michael
Jackson
Ethan
Aiden
Jayden
Michael
Caden
Michael
Michael
Jayden
Michael
JACK
Logan
Ethan
Jayden
Liam
Lucas
Michael
Michael
Michael
Jacob
Michael
Lucas
Aiden
Logan
Logan
Jackson
Lucas
Noah
Jackson
Logan
Aiden
Michael
Michael
Jack
Aiden
Michael
Liam
Mason
Lucas
Lucas
Logan
Michael
JACK
Liam
Caden
Michael
Aiden
Aiden
Michael
JACK
Owen
Noah
Logan
Lucas
Mason
Michael
Ethan
Ethan
Noah
Liam
Ethan
Jack
Ethan
Jackson
Liam
Jackson
Liam
Jacob
Noah
Jackson
Noah
Jackson
Jackson
Owen
Logan
Jacob
Logan
Caden
Caden
Jackson
Liam
Jack
Lucas
Michael
Ethan
Jayden
JACK
Jack
Michael
Lucas
Michael
Liam
Noah
Lucas
Lucas
Jackson
JACK
Michael
Noah
Jack
Liam
Jackson
Logan
Owen
JACK
Ethan
Aiden
Michael
Lucas
Noah
Jack
Noah
Owen
Ethan
Jack
JACK
Michael
Jayden
JACK
Aiden
Michael
Michael
Ethan
Liam
Owen
Jacob
JACK
Michael
Liam
Michael
Mason
Lucas
Mason
Ethan
Owen
Michael
Michael
Michael
Aiden
Liam
Liam
Liam
Ethan
Michael
Michael
Aiden
Mason
Jayden
Lucas
Lucas
Logan
Ethan
Noah
Michael
Jacob
Michael
Lucas
Jayden
Michael
Mason
Caden
Liam
Logan
Lucas
Aiden
Michael
Michael
Noah
Jackson
Michael
Liam
Aiden
Ethan
Michael
Jackson
Mason
Caden
Liam
Ethan
Aiden
Logan
Jack
Lucas
Owen
Noah
Caden
Lucas
Jack
Logan
Jackson
Ethan
Liam
Jacob
Liam
Michael
Mason
Michael
Ethan
Liam
JACK
Owen
Mason
Lucas
Michael
Jack
Caden
Mason
Michael
Logan
JACK
Liam
Jack
Mason
Logan
Mason
Michael
Noah
Ethan
Noah
Noah
Michael
Mason
Caden
Ethan
Jack
Ethan
Lucas
Jack
Jack
Liam
Mason
Ethan
Michael
Jack
Jackson
Jack
Lucas
Michael
Owen
Jacob
Jack
Caden
Jack
Mason
Liam
Michael
Noah
Liam
Mason
Jacob
Michael
Aiden
Owen
Lucas
Mason
Liam
Lucas
Michael
Logan
Michael
Liam
Noah
Logan
Jack
Michael
Logan
Noah
Michael
Aiden
Mason
Liam
Michael
Mason
Michael
Caden
Owen
Caden
Logan
Noah
Aiden
Michael
Jacob
Lucas
Liam
Jacob
Lucas
Michael
Michael
Jackson
Michael
JACK
JACK
Caden
Ethan
Mason
Caden
Ethan
Logan
JACK
Owen
Owen
Jacob
Logan
JACK
Caden
Owen
Michael
Caden
Jackson
Jayden
Jack
Liam
Mason
Jack
Mason
Lucas
Mason
Jack
Ethan
Michael
Ethan
Jayden
Jacob
Lucas
Aiden
Mason
Mason
Michael
Liam
Jacob
Michael
Owen
Aiden
Ethan
Michael
Mason
Mason
Jacob
Owen
Owen
Owen
Michael
Jack
Caden
Logan
Caden
Noah
Liam
Jayden
Ethan
Caden
Caden
Michael
Caden
Noah
Jackson
Noah
Owen
Aiden
Ethan
Ethan
Aiden
Ethan
Jackson
Lucas
Jackson
Liam
Mason
Jayden
Jacob
Mason
Ethan
Lucas
Logan
Logan
Jack
Jacob
Logan
Logan
Jack
Michael
Caden
Jack
Ethan
Michael
Michael
Liam
Michael
Logan
Logan
Jacob
Owen
Mason
Michael
Jack
Jack
Ethan
Noah
Michael
Lucas
Aiden
Noah
Liam
Michael
Aiden
Jayden
Caden
Noah
JACK
Caden
Jackson
Jacob
Aiden
Lucas
Jacob
Aiden
Michael
Liam
Jayden
Liam
Michael
Jacob
Jack
Liam
Aiden
Jayden
Michael
Jackson
Jayden
Jack
Lucas
Noah
Jacob
Michael
Noah
Mason
Michael
Ethan
Lucas
Jackson
Michael
Jayden
Logan
Liam
Jackson
Michael
Ethan
Lucas
Logan
Aiden
Logan
Liam
Noah
Aiden
Owen
Aiden
Liam
Ethan
Lucas
Michael
Michael
Caden
Mason
Michael
Noah
Lucas
Mason
Logan
Liam
JACK
Lucas
Aiden
Lucas
Lucas
JACK
Jack
Noah
Jackson
Caden
Jayden
Jack
Caden
Jayden
Logan
Ethan
Caden
Jayden
Caden
Jacob
Owen
Liam
Michael
Noah
Michael
Michael
Owen
Michael
Jacob
Noah
Jayden
Mason
Logan
Owen
Lucas
Jacob
Mason
Mason
Jayden
Jayden
Michael
Aiden
Michael
Jacob
Michael
Ethan
Michael
Jackson
Logan
Owen
Jackson
Lucas
Jackson
JACK
JACK
Michael
Jack
Caden
Liam
Lucas
Michael
Logan
Jack
Owen
Caden
Aiden
Lucas
Aiden
Aiden
Caden
Aiden
Michael
Michael
Logan
Noah
Aiden
Caden
Ethan
Noah
Caden
Jackson
Noah
Liam
JACK
Aiden
Mason
Michael
Lucas
Jackson
Michael
Noah
Owen
Michael
JACK
Mason
Michael
Liam
Jackson
Noah
Jackson
Liam
Michael
Michael
Caden
Jackson
Jackson
Mason
Michael
Logan
JACK
Logan
Logan
Jayden
Michael
Noah
Liam
Mason
Michael
Owen
Michael
Jacob
Caden
Jackson
Liam
Jayden
Ethan
Noah
Logan
Liam
Jacob
Michael
Jackson
Lucas
Lucas
Lucas
Jayden
Caden
Ethan
Noah
Michael
Lucas
Logan
Liam
Noah
Lucas
Lucas
Jacob
Jack
Mason
Michael
Lucas
Logan
Jack
JACK
Jacob
Mason
Michael
Michael
Logan
Jayden
Jayden
Jayden
Caden
Owen
Jackson
Jackson
Lucas
Logan
Liam
Jackson
Jayden
Jack
Jack
Jackson
Jack
Noah
Mason
Aiden
Ethan
Liam
Michael
Jack
Michael
Michael
Ethan
Michael
Logan
Noah
Aiden
Lucas
Caden
Jack
Jayden
Jayden
Caden
Aiden
Mason
Ethan
Ethan
Mason
Aiden
Caden
Michael
Caden
Aiden
Michael
Noah
Michael
Lucas
Lucas
Mason
Michael
Michael
Ethan
Liam
Jackson
Michael
Owen
Logan
Jayden
Mason
Michael
Jayden
Owen
Liam
Jackson
Jack
Owen
Jackson
Owen
Michael
Mason
Jack
Ethan
Logan
Noah
Mason
Jack
Michael
JACK
Aiden
Aiden
Jack
Ethan
Aiden
Caden
Liam
Jacob
Jacob
JACK
Lucas
Ethan
Ethan
Owen
Logan
Jayden
Michael
Noah
Logan
Michael
Noah
Logan
Jack
Michael
Noah
Jacob
Jayden
Caden
Lucas
Jacob
Michael
Jacob
Jacob
Logan
Jack
Liam
Owen
Michael
Jacob
Logan
Logan
Jayden
Jayden
Liam
Mason
Jackson
Logan
Noah
Jack
Caden
Michael
Noah
Lucas
Jayden
Logan
Jack
JACK
Noah
Liam
Jayden
Lucas
Caden
Mason
Jackson
Owen
Logan
Noah
Michael
Michael
Michael
Jackson
Michael
Aiden
JACK
JACK
Owen
Lucas
Noah
Owen
Noah
Jack
Michael
Jayden
Mason
Michael
Noah
Jack
Jayden
Lucas
Aiden
Owen
Logan
Mason
Aiden
Logan
Caden
Logan
Owen
Caden
Jackson
Lucas
Jackson
Jacob
Jack
Noah
Jayden
Michael
Jayden
JACK
Jackson
Noah
Michael
Mason
Ethan
Logan
Owen
Caden
Mason
Logan
Jacob
Logan
Logan
Logan
Ethan
Jack
Logan
Liam
JACK
Jackson
Owen
Lucas
Jayden
Jacob
Liam
Jacob
Lucas
Jayden
Jacob
Jayden
Lucas
Jackson
Michael
Noah
Jack
Lucas
Owen
Ethan
Mason
Owen
Noah
Liam
Caden
Caden
Logan
Jack
Jayden
Owen
Michael
Logan
Michael
Liam
Mason
Jack
Caden
Jacob
Logan
Logan
Logan
Jayden
Logan
Lucas
Lucas
Logan
Noah
Jackson
Michael
Jack
Aiden
Jacob
Caden
Logan
Michael
Owen
Mason
Jack
Liam
Noah
Jackson
Jack
Michael
Michael
Liam
Jack
Logan
Jack
Michael
Ethan
Jack
Liam
Owen
Michael
Caden
Michael
Liam
Jayden
Ethan
Caden
Lucas
Caden
Lucas
Lucas
Aiden
Michael
Ethan
Aiden
Logan
Lucas
Jack
Caden
Mason
Michael
Jackson
JACK
Jackson
Mason
Jacob
Owen
Jackson
Michael
Ethan
Michael
Michael
Liam
Ethan
JACK
Owen
Noah
Logan
Jacob
Lucas
Owen
Aiden
Lucas
Aiden
Owen
Liam
Logan
Jackson
Michael
Noah
Aiden
Jack
Liam
JACK
Jack
JACK
Michael
Liam
Jayden
Jackson
Michael
Aiden
Noah
Aiden
Noah
Noah
Michael
Owen
Michael
Ethan
Jacob
Michael
Jack
Caden
Caden
Mason
Caden
Logan
Mason
Jayden
Michael
Jackson
Michael
Michael
Jacob
Jack
Michael
Jack
Aiden
Caden
Ethan
Jayden
Aiden
Jackson
Noah
Mason
Liam
Logan
Logan
Mason
Jackson
Michael
Ethan
Michael
Caden
Lucas
Jayden
Jack
Jayden
Liam
Michael
Ethan
Aiden
Noah
Jack
Michael
Owen
Mason
Logan
JACK
Caden
JACK
Noah
Jack
Caden
Michael
Michael
Caden
Lucas
Lucas
Noah
Mason
JACK
Jackson
Owen
Jackson
Michael
Noah
Logan
Jackson
Michael
Michael
Noah
Ethan
JACK
Lucas
JACK
Michael
Mason
Ethan
Michael
Michael
Aiden
Caden
Jayden
Caden
Logan
Ethan
Noah
Jacob
Owen
Michael
Jacob
Noah
Lucas
Jayden
Aiden
Jayden
Liam
Michael
Noah
Michael
Liam
Liam
Aiden
Caden
Noah
Ethan
Caden
JACK
Aiden
Jayden
Logan
Noah
Jayden
Jack
Jacob
Caden
Jayden
Caden
Aiden
Owen
Lucas
Jack
Michael
Caden
Lucas
Michael
Owen
Ethan
Mason
Michael
Logan
Michael
Jacob
JACK
Mason
Caden
Mason
Logan
Jack
Owen
Owen
Aiden
Liam
Jayden
Mason
Caden
Jack
Owen
Liam
Liam
Jackson
Jack
Mason
Michael
Aiden
Michael
Michael
Caden
Jacob
Aiden
Caden
Ethan
Michael
Mason
Ethan
Ethan
Jacob
Caden
Michael
Mason
Logan
Logan
Noah
JACK
Lucas
Logan
Noah
Michael
Mason
Jacob
Mason
JACK
Mason
Lucas
Aiden
Noah
Caden
Lucas
Jackson
Michael
Michael
Jackson
Michael
Logan
Lucas
Jacob
Aiden
Owen
Jackson
Logan
Michael
Jackson
Jackson
Jayden
Noah
Mason
JACK
Caden
Aiden
Lucas
Ethan
Jacob
Owen
Michael
Caden
Aiden
Aiden
Michael
Michael
Lucas
Owen
Jackson
Ethan
Owen
Owen
Michael
Michael
Jackson
Jackson
Logan
Noah
Owen
Michael
Ethan
Jackson
Caden
Jayden
Michael
Ethan
Lucas
Michael
Michael
Lucas
Owen
Liam
Liam
Mason
Logan
Liam
Liam
Ethan
Aiden
Michael
Aiden
JACK
Jack
Jackson
Noah
Liam
Ethan
JACK
Caden
Aiden
Aiden
JACK
Noah
Aiden
Jack
Jayden
Owen
Lucas
JACK
Owen
Michael
Aiden
Michael
Aiden
Noah
Jackson
Noah
Lucas
Owen
Jayden
Jack
Ethan
Jayden
Lucas
Owen
Aiden
Liam
Michael
Noah
Michael
Jack
Lucas
Jacob
Liam
Jack
Noah
Jayden
Michael
Jack
Mason
Logan
JACK
Michael
Jack
JACK
Jack
Jack
Mason
Logan
Michael
Owen
Aiden
Mason
Michael
Jack
JACK
JACK

In [49]:
cmpany_name

,0,1,2,3,4,5,6,7,8,9,10,11
index,P-00001,237915,173640036807,01-02-2004,25448.38,Paid,02/28/2004,25448.38.1,Jack,01-02-2004.1,James,01-05-2004
0,P-00002,254821,173640036810,01-01-2004,0.0,Paid,01-08-2004,6811.11,Michael,01-01-2004,James,01-02-2004
1,P-00003,234919,173640036812,01-01-2004,7092.45,Paid,02-08-2004,7092.45,Mr. Jack,01-01-2004,Joshua,01-05-2004
2,P-00004,240614,173640036816,01-09-2004,2429.97,Paid,01/26/2004,2429.97,Mr. Joshua,01-09-2004,Joshua,01/13/2004
3,P-00005,243160,173640036818,01-06-2004,4586.11,Paid,03/25/2004,4586.11,Jack,01-06-2004,Joshua,01-09-2004
...,...,...,...,...,...,...,...,...,...,...,...,...
3990,P-03994,257595,173640040928,12/30/2004,14318.6,Paid,01/18/2005,14318.6,Jackson,12/30/2004,Joshua,12/31/2004
3991,P-03995,241814,173640040921,12/28/2004,12438.1,Paid,03/26/2005,12438.1,Aiden,12/28/2004,James,12/31/2004
3992,P-03996,253598,173640040923,12/28/2004,12793.02,Paid,02-09-2005,12793.02,Aiden,12/28/2004,Joshua,12/31/2004
3993,P-03997,249158,173640040925,12/30/2004,27497.78,Paid,03-04-2005,27497.78,Jackson,12/30/2004,James,01-04-2005
3994,P-03998,257595,173640040928,12/30/2004,14318.6,Paid,01/18/2005,14318.6,Jackson,12/30/2004,Joshua,12/31/2004