In [1]:
from nselib import capital_market as cm

In [2]:
import nselib

In [5]:
data=cm.bhav_copy_equities("23-04-2024")

In [6]:
data

,SYMBOL,SERIES,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES
0,1018GS2026,GS,113.01,113.01,113.00,113.00,113.00,113.00,15129,1.709627e+06,23-APR-2024,9
1,182D031024,TB,96.65,96.86,96.54,96.83,96.83,96.52,4800,4.640260e+05,23-APR-2024,7
2,182D090524,TB,99.62,99.62,99.62,99.62,99.62,99.62,100,9.962000e+03,23-APR-2024,1
3,182D110724,TB,98.30,98.30,98.30,98.30,98.30,98.30,300,2.949000e+04,23-APR-2024,1
4,182D111024,TB,96.62,96.62,96.62,96.62,96.62,96.27,700,6.763400e+04,23-APR-2024,1
...,...,...,...,...,...,...,...,...,...,...,...,...
2738,ZOTA,EQ,484.25,494.00,482.50,485.55,483.25,483.55,18170,8.850780e+06,23-APR-2024,1624
2739,ZUARI,EQ,193.95,195.60,192.00,193.25,193.00,193.95,116387,2.252678e+07,23-APR-2024,5157
2740,ZUARIIND,EQ,356.00,360.00,347.40,350.70,354.00,354.60,68484,2.417471e+07,23-APR-2024,5666
2741,ZYDUSLIFE,EQ,960.05,968.05,944.60,959.45,956.75,959.70,1094642,1.047229e+09,23-APR-2024,63229
2742,ZYDUSWELL,EQ,1660.20,1660.20,1620.00,1635.20,1634.05,1660.20,22097,3.621160e+07,23-APR-2024,3223

In [9]:
data[data["SYMBOL"]=="SWSOLAR"]

,SYMBOL,SERIES,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES
2437,SWSOLAR,EQ,634.0,679.4,627.0,632.0,632.95,617.65,12689724,8.356157e+09,23-APR-2024,158018

In [21]:
data[(data["HIGH"]-data["LOW"])]

KeyError: "None of [Index([0.010000000000005116,   0.3199999999999932,                  0.0,\n                        0.0,                  0.0,   0.8999999999999915,\n        0.14999999999999147,                  0.0,                  0.0,\n                        0.0,\n       ...\n          19.89999999999999,                  0.0,    6.300000000000011,\n                        0.0,    7.900000000000006,                 11.5,\n         3.5999999999999943,   12.600000000000023,   23.449999999999932,\n         40.200000000000045],\n      dtype='float64', length=2743)] are in the [columns]"

In [22]:
filtered_data = data[data["HIGH"] - data["LOW"] > 10]

In [23]:
filtered_data

,SYMBOL,SERIES,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES
15,360ONE,EQ,778.30,813.10,760.05,766.05,765.00,769.45,793448,6.183903e+08,23-APR-2024,57925
26,3MINDIA,EQ,29831.85,29986.00,29680.15,29755.70,29800.00,29831.85,1215,3.625094e+07,23-APR-2024,729
32,5PAISA,EQ,552.50,569.10,547.00,555.80,555.55,548.90,145886,8.118198e+07,23-APR-2024,11284
34,63MOONS,EQ,419.00,442.15,415.05,427.45,427.00,421.10,316784,1.373504e+08,23-APR-2024,7317
94,AARTECH,EQ,230.00,230.00,214.95,214.95,214.95,226.25,126065,2.733083e+07,23-APR-2024,1126
...,...,...,...,...,...,...,...,...,...,...,...,...
2733,ZIMLAB,EQ,94.40,114.30,94.40,111.15,111.50,95.25,3063170,3.341662e+08,23-APR-2024,21049
2738,ZOTA,EQ,484.25,494.00,482.50,485.55,483.25,483.55,18170,8.850780e+06,23-APR-2024,1624
2740,ZUARIIND,EQ,356.00,360.00,347.40,350.70,354.00,354.60,68484,2.417471e+07,23-APR-2024,5666
2741,ZYDUSLIFE,EQ,960.05,968.05,944.60,959.45,956.75,959.70,1094642,1.047229e+09,23-APR-2024,63229
2742,ZYDUSWELL,EQ,1660.20,1660.20,1620.00,1635.20,1634.05,1660.20,22097,3.621160e+07,23-APR-2024,3223

In [26]:
data[((data["HIGH"] - data["LOW"])/data["LOW"])>5]

Empty DataFrame
Columns: [SYMBOL, SERIES, OPEN, HIGH, LOW, CLOSE, LAST, PREVCLOSE, TOTTRDQTY, TOTTRDVAL, TIMESTAMP, TOTALTRADES]
Index: []

In [28]:
data[(((data["HIGH"] - data["LOW"]) / data["LOW"]) > 5)]

Empty DataFrame
Columns: [SYMBOL, SERIES, OPEN, HIGH, LOW, CLOSE, LAST, PREVCLOSE, TOTTRDQTY, TOTTRDVAL, TIMESTAMP, TOTALTRADES]
Index: []

In [42]:
data[(((((data["HIGH"]-data["LOW"])/data["LOW"])*100).round(2))>10)==True]

,SYMBOL,SERIES,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES
108,ABFRL,EQ,241.95,273.20,237.05,263.50,263.00,240.75,31008521,7.989277e+09,23-APR-2024,183102
147,AGRITECH,EQ,203.10,224.00,203.10,216.45,215.90,202.05,71356,1.534442e+07,23-APR-2024,3005
148,AGROPHOS,EQ,43.50,49.80,43.50,47.65,47.10,43.90,539964,2.600689e+07,23-APR-2024,3525
156,AIIL,EQ,855.00,953.20,775.05,926.20,917.00,794.45,212645,1.926062e+08,23-APR-2024,7241
201,AMNPLST,EQ,199.70,222.00,195.20,212.75,211.80,189.20,454551,9.738020e+07,23-APR-2024,10206
...,...,...,...,...,...,...,...,...,...,...,...,...
2674,VR,SM,123.00,141.40,123.00,140.70,140.65,117.85,115200,1.569448e+07,23-APR-2024,58
2694,WEWIN,BE,93.95,93.95,85.40,87.20,87.95,89.75,14486,1.269147e+06,23-APR-2024,252
2697,WILLAMAGOR,EQ,37.00,39.25,35.45,37.15,37.05,36.00,23337,8.763895e+05,23-APR-2024,271
2721,YUKEN,EQ,1016.50,1119.40,1015.00,1037.40,1035.00,1016.95,26550,2.804308e+07,23-APR-2024,1820
2733,ZIMLAB,EQ,94.40,114.30,94.40,111.15,111.50,95.25,3063170,3.341662e+08,23-APR-2024,21049